$icon-font-path: "/bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";
@import 'bootstrap-sass-official/vendor/assets/stylesheets/bootstrap';
@import url(//fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic|Roboto+Slab:400,100,300,700);
//Error for older browser
.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}
@import url(//fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic|Roboto+Slab:400,100,300,700);

/* Space out content a bit */

body {
    padding-top: 0px;
    padding-bottom: 0px;
    font-family: 'Roboto Slab', serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Droid Serif';
}
.cb-nav {
    background-color: #34495E;
}
.menu {
    position: relative;
}
.menu > .dropdown-menu {
    position: static;
    display: block;
}
.dropdown-submenu {
    position: relative;
}
.dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    width: 100%;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px 6px;
    border-radius: 0 6px 6px 6px;
}
.dropdown-submenu:hover>.dropdown-menu {
    display: block;
}
.dropdown-submenu>a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #cccccc;
    margin-top: 5px;
    margin-right: -10px;
}
.dropdown-submenu:hover>a:after {
    border-left-color: #000000;
}
.dropdown-submenu.pull-left {
    float: none;
}
.dropdown-submenu.pull-left>.dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}
#marker-panel {
    height: 100%;
    float: left;
    width: 300px;
    overflow: auto;
    text-align: left;
}
//.select2-container .select2-choice .select2-arrow b {
//    display: block;
//    width: 100%;
//    height: 100%;
//    margin-top: 7px;
//    background: url("images/piclinks/down-arrow.png") no-repeat 0 1px;
//}
//.select2-container .select2-choice {
//    display: block;
//    height: 26px;
//    padding: 0 0 0 8px;
//    overflow: hidden;
//    position: relative;
//    border: 1px solid #e1e8ee;
//    white-space: nowrap;
//    line-height: 26px;
//    color: #444;
//    text-decoration: none;
//    border-radius: 4px;
//    background-clip: padding-box;
//    -webkit-touch-callout: none;
//    -webkit-user-select: none;
//    -moz-user-select: none;
//    -ms-user-select: none;
//    user-select: none;
//    background-color: #fff;
//    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #eee), color-stop(0.5, #fff));
//    background-image: -webkit-linear-gradient(center bottom, #eee 0%, #fff 50%);
//    background-image: -moz-linear-gradient(center bottom, #eee 0%, #fff 50%);
//    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#eeeeee', GradientType=0);
//    background-image: linear-gradient(to top, #fff 0%, #fff 50%);
//}
//.select2-container .select2-choice .select2-arrow {
//    display: inline-block;
//    width: 20px;
//    height: 100%;
//    position: absolute;
//    right: 0;
//    top: 0;
//    border-left: 1px solid #ffffff;
//    border-radius: 0 4px 4px 0;
//    background-clip: padding-box;
//    background: #ffffff;
//    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #ccc), color-stop(0.6, #eee));
//    background-image: -webkit-linear-gradient(center bottom, #ccc 0%, #eee 60%);
//    background-image: -moz-linear-gradient(center bottom, #ccc 0%, #eee 60%);
//    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#eeeeee', endColorstr='#cccccc', GradientType=0);
//    background-image: linear-gradient(to top, #ffffff 0%, #ffffff 60%);
//}
