<style>
    /*
	.stylelink {
		padding: 3px 10px;
		background: transparent;
		color: #333;
		border-radius: 50px;
		text-decoration: none;
		font-size: 14px;
		display: inline-flex;
		flex-flow: row nowrap;
		max-width: 100%;
	}
	
	.stylelink.active {
		padding: 3px 10px;
		background: #b71c1c;
		color: #fff;
		border-radius: 50px;
		text-decoration: none;
		font-size: 14px;
		font-weight: 600;
		display: inline-flex;
		flex-flow: row nowrap;
		max-width: 100%;
	}
	*/
     
	 .stylelink {
        /*		padding: 3px 10px;*/
        background: transparent;
        color: #9d9eb3;
        font-weight: bold;
        /*		border-radius: 50px;*/
        text-decoration: none;
        font-size: 14px;
        display: inline-flex;
        flex-flow: row nowrap;
        max-width: 100%;
        padding: 20px 10px;
    }
    
    .stylelink.active {
        /*		padding: 3px 10px;*/
        /*		background: #b71c1c;*/
        color: #4a4d72;
        font-weight: bold;
        /*		border-radius: 50px;*/
        text-decoration: none;
        font-size: 14px;
        /*		font-weight: 600;*/
        display: inline-flex;
        flex-flow: row nowrap;
        max-width: 100%;
        padding: 20px 10px;
        border-bottom: 4px solid #e72e5a;
    }
    
	.sub_menu {
		display: inline-flex;
		flex-flow: row nowrap;
		max-width: 100%;
		padding: 10px 10px;
		border-bottom: 2px solid transparent;
		color: #333;
	}
	
	.sub_menu.active {
		display: inline-flex;
		flex-flow: row nowrap;
		max-width: 100%;
		padding: 10px 10px;
		color: #000;
		font-weight: bold;
		border-bottom: 2px solid #01adfb;
	}
	
	#wrapper {
		display: table;
		table-layout: fixed;
		width: 100%;
		height: auto;
         border-bottom: 1px solid #e6e6e6;
/*		background-color: #fff;*/
	}
	
	#wrapper div {
		display: table-cell;
		height: auto;
	}
	/*.main_text {
        width: 100%;
        height: auto;
        position: relative;
        text-align: center;
        color: #333;
        padding: 10px 0;
        display: block;
    }
    .main_text.active {
        color: #000;
        font-weight: 600;
    }
    
    .main_text.active:after {
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        top: 100%;
        margin: 0px auto;
        width: 90px;
        height: 2px;
        background: #01adfb;
    }*/
	
	@media screen and (max-width: 480px) {
		.stylelink {
			font-size: 12px;
		}
		.stylelink.active {
			font-size: 12px;
		}
		.sub_menu {
			font-size: 10px;
		}
		.sub_menu.active {
			font-size: 10px;
		}
	}

</style>


<div style="width:100%;height:auto;background:#ffffff;">
	<div id="wrapper">
		<div style="text-align:center;">
			<a class="stylelink active" href="/facilitymanager"><span style="flex:1;white-space:pre;overflow: hidden;text-overflow: ellipsis;">FACILITY MANAGER/HDF</span></a>
		</div>
		<div style="text-align:center;">
			<a class="stylelink" href="/mentor"><span style="flex:1;white-space:pre;overflow: hidden;text-overflow: ellipsis;">OTHER ROLES</span></a>
		</div>
		<div style="text-align:center;">
			<a class="stylelink" href="/roles"><span style="flex:1;white-space:pre;overflow: hidden;text-overflow: ellipsis;">ROLES</span></a>
		</div>
		<div style="text-align:center;">
			<a class="stylelink" href="/users"><span style="flex:1;white-space:pre;overflow: hidden;text-overflow: ellipsis;">USERS</span></a>
		</div>
		<div style="text-align:center;">
			<a class="stylelink" href="/mentorassign"><span style="flex:1;white-space:pre;overflow: hidden;text-overflow: ellipsis;">FACILITY ASSIGN</span></a>
		</div>
	</div>
</div>


<!-- Horizontal Form -->
<div class="box box-info" style="min-height:450px;border-top:none;">
	<div class="box-header with-border">
<!--		<h3 class="box-title">Facility Manager/HDF Profile</h3>-->
	</div>
	<!-- /.box-header -->
	<!-- form start -->

	<div class="box-body" style="padding:20px;">
		<div align="left">

		</div>
		<br/>
		<form class="form-horizontal" role="form">
			<p align="center" style="color:red">All fields in red are mandatory</p>
			<br/>
			<div class="row" style="margin:0;padding:0">
				<div class="col-sm-6">
					<div class="form-group">
						<label class="col-sm-4" style="font-weight:600;margin-top:0px;">HDF Flag</label>
						<div class="col-sm-6">
							<input type="checkbox" ng-model="partner.hdfflag" ng-value="user.flag" ng-disabled="hfdflagDisabled">
						</div>
					</div>
				</div>

				<div class="col-sm-6"></div>
			</div>
			<div class="row" style="margin:0;padding:0">
				<div class="col-sm-6">
					<div class="form-group">
						<label for="zone" class="col-sm-4" style="font-weight:600;margin-top:7px;color:red">Facility Code </label>
						<div class="col-sm-6">
							<select ui-select2 id="facility" ng-model="partner.facility" data-placeholder="Pick a Facility" style="width:100%;" ng-disabled="fscodedisable">
								<option value=""></option>
								<option data-ng-repeat="employee in employees" value="{{employee.id}}">{{ employee.salesCode }}</option>
							</select>
						</div>
					</div>

				</div>
				<div class="col-sm-6">
					<div class="form-group">
						<label for="zone" class="col-sm-4" style="font-weight:600;margin-top:7px;color:red;">State </label>
						<div class="col-sm-6">
							<input type="text" class="form-control" id="first-name" ng-model="statename" placeholder="State" readonly>
							<!--<select ui-select2 ng-model="partner.state" data-placeholder="Pick a State" style="width:100%;">
								<option value=""></option>
								<option data-ng-repeat="zone in zones" value="{{zone.id}}">{{ zone.name }}</option>
							</select>-->
						</div>
					</div>
				</div>
			</div>


			<div class="row" style="margin:0;padding:0;">
				<div class="col-sm-6">

					<div class="form-group">
						<label for="city" class="col-sm-4" style="font-weight:600;margin-top:7px;color:red;">Name </label>
						<div class="col-sm-6">
							<input type="text" class="form-control" id="name" ng-model="partner.name" placeholder="Manager/HDF Name" ng-disabled="fsnamedisable">
						</div>
					</div>

				</div>

				<div class="col-sm-6">
					<div class="form-group">
						<label for="zone" class="col-sm-4" style="font-weight:600;margin-top:7px;color:red">District </label>
						<div class="col-sm-6">
							<input type="text" class="form-control" id="first-name" ng-model="districtname" placeholder="District" readonly>
							<!--<select ui-select2 ng-model="partner.district" data-placeholder="Pick a District" style="width:100%;">
								<option value=""></option>
								<option data-ng-repeat="salesArea in salesAreas" value="{{salesArea.id}}">{{ salesArea.name }}</option>
							</select>-->
						</div>
					</div>
				</div>
			</div>
			<!--<div class="col-sm-6">
				<div class="form-group">
					<label for="helplineno" class="col-sm-4" style="font-weight:600;margin-top:7px;">Facility Manager/HDF ID</label>
					<div class="col-sm-6">
						<input type="text" class="form-control" id="facilityid" data-ng-model="partner.facilityid" placeholder="Facility Manager/HDF ID">
					</div>
				</div>
			</div>-->


			<div class="row" style="margin:0;padding:0;">
				<div class="col-sm-6">
					<div class="form-group">
						<label for="route" class="col-sm-4" style="font-weight:600;margin-top:7px;">Address</label>
						<div class="col-sm-6">
							<textarea type="text" class="form-control" id="address" data-ng-model="partner.address" placeholder="Address" rows="3"></textarea>
						</div>
					</div>
				</div>
			</div>
			<div class="row" style="margin:0;padding:0;">
				<div class="col-sm-6">
					<div class="form-group">
						<label for="helplineno" class="col-sm-4" style="font-weight:600;margin-top:7px;">Lat/Long</label>
						<div class="col-sm-6">
							<div class="input-group">
								<input type="text" class="form-control" id="latlong" data-ng-model="partner.latitude" placeholder="Lat/Long">
								<span class="input-group-btn">
                                            <button class="btn btn-default" type="button" ng-click="toggleMapModal()" autocomplete="off"><span class="glyphicon glyphicon-search"></span>
								</button>
								</span>
							</div>
						</div>
					</div>
				</div>


				<div class="col-sm-6">
						<div class="form-group">
							<label for="Helplineno" class="col-sm-4" style="font-weight:600;margin-top: 8px;">Mobile No</label>
							<div class="col-sm-6">
								<div class="input-group">
									<input type="text" class="form-control" id="Helplineno" data-ng-model="partner.helpline" placeholder="Mobile No" maxlength="10" numbers-only="true">
									<span class="input-group-btn">
                                            <button class="btn btn-default" type="button" ng-click="AnotherHelpline()" autocomplete="off"><span class="glyphicon glyphicon-plus"></span>
									</button>
									</span>
								</div>
							</div>
						</div>

						<data-ng-switch on="anotherHelplinenumber">
							<div data-ng-switch-when="1">
								<div class="form-group">
									<label for="route" class="col-sm-4" style="font-weight:600;margin-top: 8px;">Another Mobile No</label>
									<div class="col-sm-6">
										<div class="input-group">
											<input type="text" class="form-control" id="Helplineno" data-ng-model="partner.helplineone" placeholder="Another Mobile No" maxlength="10" numbers-only="true">
											<span class="input-group-btn">
                                            <button class="btn btn-default" type="button" ng-click="removeHelpline('one')" autocomplete="off" ng-if="anotherHelplinenumber==1"><span class="glyphicon glyphicon-remove"></span>
											</button>
											</span>
										</div>
									</div>
								</div>
							</div>
							<div data-ng-switch-when="2">
								<div class="form-group">
									<label for="route" class="col-sm-4" style="font-weight:600;margin-top: 8px;">Another Mobile No</label>
									<div class="col-sm-6">
										<div class="input-group">
											<input type="text" class="form-control" id="Helplineno" data-ng-model="partner.helplineone" placeholder="Another Mobile No" maxlength="10" numbers-only="true"><span class="input-group-btn">
                                            <button class="btn btn-default" type="button" ng-click="removeHelpline('one')" autocomplete="off" ng-if="anotherHelplinenumber==1"><span class="glyphicon glyphicon-remove"></span>
											</button>
											</span>
										</div>
									</div>
								</div>

								<div class="form-group">
									<label for="route" class="col-sm-4" style="font-weight:600;margin-top: 8px;">Another Mobile No</label>
									<div class="col-sm-6">
										<div class="input-group">
											<input type="text" class="form-control" id="Helplineno" data-ng-model="partner.helplinetwo" placeholder="Another Mobile No" maxlength="10" numbers-only="true"><span class="input-group-btn">
                                            <button class="btn btn-default" type="button" ng-click="removeHelpline('two')" autocomplete="off" ng-if="anotherHelplinenumber==2"><span class="glyphicon glyphicon-remove"></span>
											</button>
											</span>
										</div>
									</div>
								</div>
							</div>
							<div data-ng-switch-when="3">
								<div class="form-group">
									<label for="route" class="col-sm-4" style="font-weight:600;margin-top: 8px;">Another Mobile No</label>
									<div class="col-sm-6">
										<div class="input-group">
											<input type="text" class="form-control" id="Helplineno" data-ng-model="partner.helplineone" placeholder="Another Mobile No" maxlength="10" numbers-only="true"><span class="input-group-btn">
                                            <button class="btn btn-default" type="button" ng-click="removeHelpline('one')" autocomplete="off" ng-if="anotherHelplinenumber==1"><span class="glyphicon glyphicon-remove"></span>
											</button>
											</span>
										</div>
									</div>
								</div>

								<div class="form-group">
									<label for="route" class="col-sm-4" style="font-weight:600;margin-top: 8px;">Another Mobile No</label>
									<div class="col-sm-6">
										<div class="input-group">
											<input type="text" class="form-control" id="Helplineno" data-ng-model="partner.helplinetwo" placeholder="Another Mobile No" maxlength="10" numbers-only="true"><span class="input-group-btn">
                                            <button class="btn btn-default" type="button" ng-click="removeHelpline('two')" autocomplete="off" ng-if="anotherHelplinenumber==2"><span class="glyphicon glyphicon-remove"></span>
											</button>
											</span>
										</div>
									</div>
								</div>

								<div class="form-group">
									<label for="route" class="col-sm-4" style="font-weight:600;margin-top: 8px;">Another Mobile No</label>
									<div class="col-sm-6">
										<div class="input-group">
											<input type="text" class="form-control" id="Helplineno" data-ng-model="partner.helplinethree" placeholder="Another Mobile No" maxlength="10" numbers-only="true"><span class="input-group-btn">
                                            <button class="btn btn-default" type="button" ng-click="removeHelpline('three')" autocomplete="off" ng-if="anotherHelplinenumber==3"><span class="glyphicon glyphicon-remove"></span>
											</button>
											</span>
										</div>
									</div>
								</div>
							</div>
						</data-ng-switch>
					</div>
				
			</div>

		
			<br/>
			<br/>
			<br/>



			<div align="left">
				<div>
					<a class="btn btn-primary btn-sm " type="submit" role="button" data-ng-click="Save()" data-ng-show="isCreateView" ng-disabled="submitDisable" style="padding:5px 20px;margin-right:10px;">Create </a>

					<a class="btn btn-success btn-sm " type="submit" role="button" data-ng-click="Update()" data-ng-hide="isCreateView" ng-disabled="submitDisable" style="padding:5px 20px;margin-right:10px;">Update </a>

					<a data-ng-href="/facilitymanager" class="btn btn-danger btn-sm " role="button" style="padding:5px 20px;">Cancel</a>

				</div>
			</div>


		</form>

	</div>
	<!-- /.box-body -->
	<div class="box-footer">

	</div>
	<!-- /.box-footer -->
</div>
<!-- /.box -->


<modal2 title1="{{modalTitle}}" visible="stakeholderdataModal">
	<p>{{message}}</p>
</modal2>

<validationmodal title1="Alert!!!" visible="showValidation">
	{{validatestring1}}
</validationmodal>




<script type="text/ng-template" id="template/latlong.html">
	<div class="modal-body">
		<form class="form-horizontal" role="form">
			<div id='map' style="display:block;height:550px" />

			<div align="left">
				<!--                <button type="submit" class="btn btn-success btn-sm ">Save</button>-->
				<button type="submit" class="btn btn-danger btn-sm " ng-click="okFs()" style="padding:5px 20px;margin-right:10px;">Cancel</button>
			</div>
		</form>
	</div>
</script>

<modal1 title1="Get Location" visible="showMapModal">
	<form class="form-horizontal" role="form">
		<div class="row" style="margin:0;padding:0;">
			<div class="col-sm-8">
				<div id="mapCanvas"></div>
			</div>
			<div class="col-sm-4">
				<div id="infoPanel">
					<b>Marker status:</b>
					<div id="markerStatus"><i>Click and drag the marker.</i>
					</div>
					<b>Current position:</b>
					<div id="info"></div>
					<b>Closest matching address:</b>
					<div id="mapaddress"></div>
				</div>
			</div>

		</div>
		<br/>
		<br/>
		<br/>

		<div align="left">
			<div>
				<a class="btn btn-success btn-sm " type="submit" role="button" data-ng-click="SaveMap()" style="padding:5px 20px;margin-right:10px;">Save </a>


				<a data-ng-href="" class="btn btn-danger btn-sm " role="button" data-ng-click="CancelMap()" style="padding:5px 20px;">Cancel</a>
			</div>
		</div>
	</form>


	<style>
		.toggle.android {
			border-radius: 0px;
		}
		
		.toggle.android .toggle-handle {
			border-radius: 0px;
		}
		
		#mapCanvas {
			width: 100%;
			height: 400px;
			float: left;
		}
		/*#infoPanel {
            margin-left: 100px;
        }
        
        #infoPanel div {
            margin-bottom: 5px;
        }*/

	</style>

</modal1>
