<style>
  /*	.stylelink {
                  padding: 3px 10px;
                  background: transparent;
                  color: #333;
                  border-radius: 50px;
                  text-decoration: none;
                  font-size: 14px;
                  display: inline-flex;
                  flex-flow: row nowrap;
                  max-width: 100%;
              }

              .stylelink.active {
                  padding: 3px 10px;
                  background: #b71c1c;
                  color: #fff;
                  border-radius: 50px;
                  text-decoration: none;
                  font-size: 14px;
                  font-weight: 600;
                  display: inline-flex;
                  flex-flow: row nowrap;
                  max-width: 100%;
              }*/

  .stylelink {
    /*		padding: 3px 10px;*/
    background: transparent;
    /*        color: #9d9eb3;*/
    color: #262d57;
    font-weight: bold;
    /*		border-radius: 50px;*/
    text-decoration: none;
    font-size: 14px;
    display: inline-flex;
    flex-flow: row nowrap;
    max-width: 100%;
    padding: 20px 10px!important;
    margin-left: 33%;

  }

  .stylelink.active {
    /*		padding: 3px 10px;*/
    /*		background: #b71c1c;*/
    color: #4a4d72;
    font-weight: bold;
    /*		border-radius: 50px;*/
    text-decoration: none;
    font-size: 14px;
    /*		font-weight: 600;*/
    display: inline-flex;
    flex-flow: row nowrap;
    max-width: 100%;
    padding: 20px 10px;
    border-bottom: 4px solid #e72e5a;
    margin-left: 33%;
  }

  .sub_menu {
    display: inline-flex;
    flex-flow: row nowrap;
    max-width: 100%;
    padding: 20px 10px;
    border-bottom: 2px solid transparent;
    color: #333;
  }

  .sub_menu.active {
    display: inline-flex;
    flex-flow: row nowrap;
    max-width: 100%;
    padding: 10px 10px;
    color: #000;
    font-weight: bold;
    /*		border-bottom: 2px solid #01adfb;*/
  }

  #wrapper {
    display: table;
    table-layout: fixed;
    width: 100%;
    height: auto;
    border-bottom: 1px solid #e6e6e6;
    background-color: #fff;
    margin-top: 1%;
  }

  #wrapper div {
    display: table-cell;
    height: auto;
  }

  .sell {
    position: relative;
    min-width: 45px;
  }

  .sell:after {
    content: url(images/piclinks/down-arrow.png);
    font: 17px "Consolas", monospace;
    color: #333;
    top: 5px;
    margin-left: -22px;
    padding: 0 0 2px;
    position: absolute;
    pointer-events: none;
  }

  .sell select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    display: block;
    width: 100%;
    /*        max-width: 320px;*/
    height: 32px;
    float: left;
    padding: 0px 7px;
    font-size: 14px;
    line-height: 1.75;
    color: #878993;
    border-radius: 4px;
    background-color: #ffffff;
    background-image: none;
    border: 1px solid #d5d7df;
    -ms-word-break: normal;
    word-break: normal;
  }

  .top {
    padding-top: 1.8em;
  }

  table,
  th,
  td {
    fill: #262d57;
    font-size: 14px;
  }

  th {
    background-color: #d5d7df;
    font-weight: normal;
  }

  tr {
    background-color: White;
    color: #262d57;
    font-size: 10px;
  }

  @media screen and (max-width: 480px) {
    .stylelink {
      font-size: 12px;
      padding: 10px 20px;
    }

    .stylelink.active {
      font-size: 12px;
      /*            padding: 10px 20px;*/
      padding: 10px 0px;
    }

    .sub_menu {
      font-size: 10px;
    }

    .sub_menu.active {
      font-size: 10px;
    }

    .ml {
      padding-left: 0px;
    }

    .ml1 {
      margin-left: -5%;
      margin-bottom: 25px;
    }
  }

  @media screen and (max-width:350px) {
    .ml {
      padding-left: 0px;
    }

    .ml1 {
      margin-left: -7%;
      margin-bottom: 25px;
    }
  }

  @media screen and (max-width:376px) and (min-width:355px) {
    .ml {
      padding-left: 0px;
    }

    .ml1 {
      margin-left: -7%;
      margin-bottom: 25px;
    }
  }

  @media screen and (max-width:1024px) and (min-width:1000px) {
    .ml1 {
      margin-left: -2%;
    }
  }

  .inactive {
    color: #dddddd;
    pointer-events: none;
    cursor: default;
  }

  #map {
    width: 100%;
    height: 450px;
    background-color: grey;
  }

  .gm-style .gm-style-iw-c {
    padding: 0px;
    color: #fff;
    box-shadow: none;
  }

  .gm-style-iw-d {
    overflow: auto !important;
  }

  .card {

    margin: 10px;
    width: 100%;
    height: 150px;
    text-align: center;
    font-size: 20px;
    padding-top: 2%;
  }

</style>

<!-- <div style="width:100%;height:auto;background:#ffffff;">
  <div id="wrapper">
    <div style="width: 18%;">
      <a class="stylelink" href="/dashboard"><span
          style="flex:1;white-space:pre;overflow: hidden;text-overflow: ellipsis;">DASHBOARD</span></a>
    </div>

    <div ng-if="showAssign" style="width: 23%;">
      <a class="stylelink" href="/dashboardnew"><span
          style="flex:1;white-space:pre;overflow: hidden;text-overflow: ellipsis;">CUSTOMER DASHBOARD</span></a>
    </div>

    <div ng-if="showAssign">
      <a class="stylelink active" href="/dashboardmap"><span
          style="flex:1;white-space:pre;overflow: hidden;text-overflow: ellipsis;">MAP VIEW</span></a>
    </div>

  </div>

</div> -->

<div style="width:100%;height:auto;background:#ffffff;">
  <div id="wrapper">
    <div style="display: table-cell;">
      <a class="stylelink" href="/main"><span
          style="flex:1;white-space:pre;overflow: hidden;text-overflow: ellipsis;">DASHBOARD</span></a>
    </div>

    <div style="display: table-cell;">
      <a class="stylelink " href="/dashboard"><span
          style="flex:1;white-space:pre;overflow: hidden;text-overflow: ellipsis;">REPORT</span></a>
    </div>

    <div style="display: table-cell;">
      <a class="stylelink active" href="/dashboardmap"><span
          style="flex:1;white-space:pre;overflow: hidden;text-overflow: ellipsis;">SERVICE ORDER</span></a>
    </div>


  </div>
</div>


<!-- <div class="box box-info" style="min-height:335px;border-top:none;margin-top: 3px;">
  <div class="box-body row" style="margin: 0px 0px 0px -4px;">
    <div class="col-sm-4" style="padding-left: 0px;">
      <div class="card" style="border: 1px solid #4363d8;box-shadow: 1px 1px 4px #4363d8;">
        <img src="images/piclinks/opend.png" alt="" style="width: 30%;">
        <p> Open</p>

      </div>
    </div>
    <div class="col-sm-4" style="padding-left: 0px;">
      <div class="card" style="border: 1px solid #800000;box-shadow: 1px 1px 4px #800000;">
        <img src="images/piclinks/backofficed.png" alt="" style="width: 30%;">
        <p> Back Office</p>

      </div>
    </div>
    <div class="col-sm-4" style="padding-left: 0px;">
      <div class="card" style="border: 1px solid #911eb4;box-shadow: 1px 1px 4px #911eb4;">
        <img src="images/piclinks/assignd.png" alt="" style="width: 30%;">
        <p> Assign</p>

      </div>
    </div>
    <div class="col-sm-4" style="padding-left: 0px;">
      <div class="card" style="border: 1px solid #f58231;box-shadow: 1px 1px 4px #f58231;">
        <img src="images/piclinks/inprogressd.png" alt="" style="width: 30%;">
        <p> In Progress</p>

      </div>
    </div>
    <div class="col-sm-4" style="padding-left: 0px;">
      <div class="card" style="border: 1px solid #f032e6;box-shadow: 1px 1px 4px #f032e6;">
        <img src="images/piclinks/completed.png" alt="" style="width: 30%;">
        <p> Complete</p>

      </div>
    </div>
    <div class="col-sm-4" style="padding-left: 0px;">
      <div class="card" style="border: 1px solid #008080;box-shadow: 1px 1px 4px #008080;">
        <img src="images/piclinks/approvalpd.png" alt="" style="width: 30%;">
        <p> Approval Pending</p>

      </div>
    </div>
  </div>
</div> -->

<!-- <div class="box box-info" style="min-height:450px;border-top:none;">
  <div class="box-body">

    <div id="map"></div>
    <div style="position: absolute;bottom: 3%;width: 90%">
      <span style="padding-right: 2%;font-size: 20px;color: #4363d8;"><img src="images/piclinks/open1.png"
          style="width: 16px;margin: 10px;">Open</span>
      <span style="padding-right: 2%;font-size: 20px;color: #800000;"><img src="images/piclinks/back1.png"
          style="width: 16px;margin: 10px;">BACK OFFICE</span>
      <span style="padding-right: 2%;font-size: 20px;color: #911eb4;"><img src="images/piclinks/assing1.png"
          style="width: 16px;margin: 10px;">Assign</span>
      <span style="padding-right: 2%;font-size: 20px;color: #f58231;"><img src="images/piclinks/inprogress1.png"
          style="width: 16px;margin: 10px;">IN Progress</span>
      <span style="padding-right: 2%;font-size: 20px;color: #f032e6;"><img src="images/piclinks/complete1.png"
          style="width: 16px;margin: 10px;">Complete</span>
      <span style="padding-right: 2%;font-size: 20px;color: #008080;"><img src="images/piclinks/approval1.png"
          style="width: 16px;margin: 10px;">Approval Pending</span>
    </div>
  </div>
</div> -->
