<style>
    .stylelink {
        /*		padding: 3px 10px;*/
        background: transparent;
        color: #9d9eb3;
        font-weight: bold;
        /*		border-radius: 50px;*/
        text-decoration: none;
        font-size: 14px;
        display: inline-flex;
        flex-flow: row nowrap;
        max-width: 100%;
        padding: 20px 10px;
    }
    
    .stylelink.active {
        /*		padding: 3px 10px;*/
        /*		background: #b71c1c;*/
        color: #4a4d72;
        font-weight: bold;
        /*		border-radius: 50px;*/
        text-decoration: none;
        font-size: 14px;
        /*		font-weight: 600;*/
        display: inline-flex;
        flex-flow: row nowrap;
        max-width: 100%;
        padding: 20px 10px;
        padding-left: 0px;
        /*        border-bottom: 4px solid #e72e5a;*/
    }
    
    .sell {
        position: relative;
        width: 55px;
    }
    
    .sell:after {
        content: url(images/piclinks/down-arrow.png);
        font: 17px "Consolas", monospace;
        color: #333;
        top: 5px;
        margin-left: -22px;
        padding: 0 0 2px;
        position: absolute;
        pointer-events: none;
    }
    
    .sell select {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        display: block;
        width: 100%;
        /*        max-width: 320px;*/
        height: 32px;
        float: left;
        padding: 0px 7px;
        font-size: 14px;
        line-height: 1.75;
        color: #878993;
        border-radius: 4px;
        background-color: #ffffff;
        background-image: none;
        border: 1px solid #d5d7df;
        -ms-word-break: normal;
        word-break: normal;
    }
    
    .tht:hover {
        color: blue;
    }
    
    #wrapper {
        display: table;
        table-layout: fixed;
        width: 100%;
        height: auto;
        /*        border-bottom: 1px solid #e6e6e6;*/
    }
    
    #wrapper div {
        display: table-cell;
        height: auto;
    }
    
    .nav-tabs-custom>.nav-tabs>li {
        width: 16%;
    }
    /*.main_text {
        width: 100%;
        height: auto;
        position: relative;
        text-align: center;
        color: #333;
        padding: 10px 0;
        display: block;
    }
    .main_text.active {
        color: #000;
        font-weight: 600;
    }
    
    .main_text.active:after {
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        top: 100%;
        margin: 0px auto;
        width: 90px;
        height: 2px;
        background: #01adfb;
    }*/
    
       .top {
        padding-top: 1.8em;
    }

    @media screen and (max-width: 480px) {
        .stylelink {
            font-size: 12px;
            padding: 10px 20px;
        }
        .stylelink.active {
            font-size: 12px;
            /*            padding: 10px 20px;*/
            padding: 10px 0px;
        }
        .sub_menu {
            font-size: 10px;
        }
        .sub_menu.active {
            font-size: 10px;
        }
        .ml {
            padding-left: 0px;
        }
        .ml1 {
            margin-left: -5%;
            margin-bottom: 25px;
        }
        .sell {
            position: relative;
            width: 100%;
        }
    }

    @media screen and (max-width:350px) {
        .ml {
            padding-left: 0px;
        }
        .ml1 {
            margin-left: -7%;
            margin-bottom: 25px;
        }
    }

    @media screen and (max-width:376px) and (min-width:355px) {
        .ml {
            padding-left: 0px;
        }
        .ml1 {
            margin-left: -7%;
            margin-bottom: 25px;
        }
    }

    @media screen and (max-width:769px) {
        .left {
            padding-left: 30px!important;
        }
    }

    @media screen and (max-width:1024px) and (min-width:1000px) {
        .ml1 {
            margin-left: -2%;
        }
        .sell {
            position: relative;
            width: 45px;
        }
    }

</style>

<!-- Horizontal Form -->
<div class="box box-info" style="min-height:450px;border-top:none;">
    <div id="wrapper">
        <div class="stylelink active box-header with-border">
            <h3 class="box-title" style="font-weight:bold;">Field Executives </h3>
        </div>
    </div>

    <div class="box-body">
        <br/>

        <div class="row padding">
            <div class="col-sm-0 col-md-5"></div>
            <div class="col-sm-12 col-md-7">
                <div class="col-sm-0 col-md-2"></div>
                <div data-ng-hide="showForm()" class="col-xs-12 col-sm-2 col-md-1" style=" padding-right:0px;padding-left:0px;">
                <label class="showlabel">Show</label>
                <div class="sell">
                    <select ng-model="pageSize" data-placeholder="Show Entries" ng-change="pageFunction(pageSize)">
                        <option value="25">25</option>
                        <option value="50">50</option>
                        <option value="100">100</option>
                    </select>
                    <!--					<span>Entries</span>-->
                </div>
            </div>
            <div data-ng-hide="showForm()" class="col-xs-12 col-sm-6 col-md-5 top ml" style="padding-right:0px;">
                <form role="form">
                    <div class="input-group">
                        <span class="input-group-btn">
                     <button class="btn btn-default" type="button" style="border-top-left-radius: 4px;border-bottom-left-radius: 4px;border-color:#e1e8ee;background:none;border-right:none;"><span class="glyphicon glyphicon-search"></span></button>
                        </span>
                        <input type="text" class="form-control ng-pristine ng-valid" placeholder="Search" style="z-index:0;border-radius:2px;border-left:none;border-color:#e1e8ee;border-top-right-radius:4px;border-bottom-right-radius: 4px;" data-ng-model="searchUser">

                    </div>
                </form>
            </div>
            <div class="col-xs-12 col-sm-3 col-md-2 top ml1">
              <a data-ng-href="/users/create" class="btn btn-primary btn-sm " role="button"
                 style="padding:5px 20px;margin-right:10px;">Add New
              </a>
            </div>

            </div>
        </div>
       <br/>

<!--        <br>-->
        <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                    <tr style="border-bottom:1px solid #ccc;">
                        <th>S NO.</th>

                        <th ng-click="changeSorting('username')">Name<span style="margin-left:10px;"><i class="fa fa-sort-desc" ng-class="getIcon('username')"></i></span></th>

                        <th ng-click="changeSorting('mobile')">Mobile<span style="margin-left:10px;"><i class="fa fa-sort-desc" ng-class="getIcon('mobile')"></i></span></th>

                        <th ng-click="changeSorting('cityname')">City<span style="margin-left:10px;"><i class="fa fa-sort-desc" ng-class="getIcon('cityname')"></i></span></th>

                        <th ng-click="changeSorting('pincode')">Pin Code<span style="margin-left:10px;"><i class="fa fa-sort-desc" ng-class="getIcon('pincode')"></i></span></th>

                    </tr>
                </thead>

                <tbody>

                    <tr dir-paginate="user in users| filter: searchUser | orderBy:sort.active:sort.descending | itemsPerPage:pageSize" pagination-id="zonesid" current-page="currentPage">
                        <td>{{ user.index }}</td>
                        <td >{{user.username}}</td>
                        <td >{{user.mobile}}</td>
                        <td >{{user.cityname}}</td>
                        <!-- <td >{{user.pincode}}</td> -->
                        <td>{{user.locationname}}</td>
                    </tr>
                </tbody>
            </table>
            <br/>
            <div class="padding" align="right">
                <dir-pagination-controls max-size="25" direction-links="true" boundary-links="true" pagination-id="zonesid" on-page-change="PageChanged(newPageNumber, oldPageNumber)">
                </dir-pagination-controls>
            </div>
        </div>
        <br/>

        <!-- /.box-body -->
        <div class="box-footer">

        </div>
        <!-- /.box-footer -->
    </div>
