<style>
    .stylelink {
        /*		padding: 3px 10px;*/
        background: transparent;
        color: #9d9eb3;
        font-weight: bold;
        /*		border-radius: 50px;*/
        text-decoration: none;
        font-size: 14px;
        display: inline-flex;
        flex-flow: row nowrap;
        max-width: 100%;
        padding: 20px 10px;
    }
    
    .stylelink.active {
        /*		padding: 3px 10px;*/
        /*		background: #b71c1c;*/
        color: #4a4d72;
        font-weight: bold;
        /*		border-radius: 50px;*/
        text-decoration: none;
        font-size: 14px;
        /*		font-weight: 600;*/
        display: inline-flex;
        flex-flow: row nowrap;
        max-width: 100%;
        padding: 20px 10px;
        border-bottom: 4px solid #e72e5a;
    }
    
    #wrapper {
        display: table;
        table-layout: fixed;
        width: 100%;
        height: auto;
        border-bottom: 1px solid #e6e6e6;
    }

</style>

<!-- Horizontal Form -->
<div class="box box-info" style="min-height:450px;border-top:none;">
    <div id="wrapper">
        <div class=" stylelink active box-header with-border" style="padding:20px 10px;">
            <h3 class="  box-title" style="font-weight:600;">{{financialplanning}}</h3>
        </div>
    </div>
    <!-- Horizontal Form -->
    <!-- class="box box-info" style="min-height:450px;border-color:#b71c1c;">
	<div class="box-header with-border">
		<h3 class="box-title">{{applyforscheme}}</h3>
	</div>-->
    <!-- /.box-header -->
    <!-- form start -->

    <div class="box-body">
        <br/>
        <form class="form-horizontal" role="form">
            <p align="center" style="color:red">{{mandatoryfield}}</p>
            <br/>

            <div class="row" style="margin:0;padding:600;align:center">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="zip" class="col-sm-4" style="font-weight:600;margin-top: 8px;color:red;">{{printdate}}</label>
                        <div class="col-sm-6">
                            <p class="input-group">
                                <input type="text" id="{{'datepicker' + $index}}" class="form-control" datepicker-popup="{{format}}" ng-model="financialplaning.datetime" is-open="opened" min="minDate" max="'2015-06-22'" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" close-text="Close" max-date="dtmin" />
                                <span class="input-group-btn"><button type="button" class="btn btn-default" ng-click="open($event, $index)"><i class="glyphicon glyphicon-calendar"></i></button>
                                </span>
                            </p>
                        </div>
                    </div>



                    <div class="form-group">
                        <label for="schememaster-id" class="col-sm-4" style="font-weight:600;margin-top: 4px;color:red;">{{member}}</label>
                        <div class="col-sm-6">
                            {{memberName}}
                        </div>
                    </div>




                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th style="width:50px;">#</th>
                                    <th>{{Financial_Goal}}</th>
                                    <th style="width:100px;">{{ACTION}}</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="finacialgol in financialplannings">
                                    <td>{{ $index + 1}}</td>
                                    <td ng-if="UserLanguage==1">{{finacialgol.FinancialgoalName.name}}</td>
                                    <td ng-if="UserLanguage==2">{{finacialgol.FinancialgoalName.hnname}}</td>
                                    <td ng-if="UserLanguage==3">{{finacialgol.FinancialgoalName.knname}}</td>
                                    <td ng-if="UserLanguage==4">{{finacialgol.FinancialgoalName.taname}}</td>
                                    <td ng-if="UserLanguage==5">{{finacialgol.FinancialgoalName.tename}}</td>
                                    <td ng-if="UserLanguage==6">{{finacialgol.FinancialgoalName.mrname}}</td>
                                    <td>
                                        <a data-ng-click="EditFinancialPlaning(finacialgol.id,finacialgol)"><span class="glyphicon glyphicon-pencil" title="Edit" style="color: black;cursor:pointer;"></span></a>&nbsp;&nbsp;
                                        <a style="color:#b7b8c8;">|</a>&nbsp;&nbsp;
                                        <a confirm-button="removeFP(finacialgol.id)" message="Are you sure? you want to delete?">
                                            <span class="glyphicon glyphicon-remove" style="cursor:pointer;" title="Bin"></span>
                                        </a>&nbsp;
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <br/>

                        <div>
                            <div align="left">
                                <a class="btn btn-primary btn-sm " type="submit" role="button" data-ng-click="openAdd()" style="padding: 5px 20px ">{{printAdd}} </a>

                            </div>
                        </div>
                        <br/>
                        <div align="right">
                            <dir-pagination-controls max-size="25" direction-links="true" boundary-links="true" pagination-id="zonesid" on-page-change="PageChanged(newPageNumber, oldPageNumber)">
                            </dir-pagination-controls>
                        </div>
                    </div>

                </div>
            </div>
            <br/>

            <div style="margin-left:10px">
                <div align="left">
                    <!--
					<a class="btn btn-success btn-sm " type="submit" role="button" data-ng-click="openAdd()">{{printAdd}} </a>
						<br /> <br /><br />
-->
                    <!--					<a data-ng-href="/" class="btn btn-danger btn-sm " role="button">{{printSave}}</a>-->
                    <a class="btn btn-success btn-sm " type="submit" role="button" data-ng-click="SaveButton()" style="padding: 5px 20px ">{{printSave}} </a>
                </div>
            </div>

        </form>
    </div>
    <!-- /.box-body -->
    <div class="box-footer">

    </div>
    <!-- /.box-footer -->
</div>
<!-- /.box -->

<script type="text/ng-template" id="template/FinancialGoal.html">
    <style>
        p {
            white-space: pre;
        }

    </style>
    <div class="modal-header" style="padding:0px;">
        <h4 class="stylelink active modal-title" style="font-weight:600;padding:20px 10px;">{{FinancialGoalDetails}}</h4>
    </div>
    <div class="modal-body">
        <!--		<span style="color:#b71c1c;font-weight:600;">{{PopupInfo}}</span>-->
        <form class="form-horizontal" role="form">

            <div class="row" style="margin:0;padding:600;align:center">
                <!--				<div class="col-sm-6"></div>-->
                <div class="form-group">
                    <label for="schememaster-id" class="col-sm-3" style="font-weight:600;margin-top: 4px;color:red;">{{Financial_Goal}}</label>
                    <div class="col-sm-5">
                        <select ui-select2 id="memberId" ng-model="financialplaning.financialgoal" data-placeholder="{{Financial_Goal}}" style="width:100%;" ng-disabled="DisableFinancialGoal">
							<option value=""></option>
<!--							<option data-ng-repeat="goal in financialgoals" value="{{goal.id}}">{{ goal.name }}</option>-->
                            <option data-ng-repeat="doc in financialgoals" value="{{doc.id}}" ng-if="UserLanguage==1">{{ doc.name }}</option>
									<option data-ng-repeat="doc in financialgoals" value="{{doc.id}}" ng-if="UserLanguage==2">{{ doc.hnname }}</option>
									<option data-ng-repeat="doc in financialgoals" value="{{doc.id}}" ng-if="UserLanguage==3">{{ doc.knname }}</option>
									<option data-ng-repeat="doc in financialgoals" value="{{doc.id}}" ng-if="UserLanguage==4">{{ doc.taname }}</option>
									<option data-ng-repeat="doc in financialgoals" value="{{doc.id}}" ng-if="UserLanguage==5">{{ doc.tename }}</option>
									<option data-ng-repeat="doc in financialgoals" value="{{doc.id}}" ng-if="UserLanguage==6">{{ doc.mrname }}</option>
						</select>
                    </div>
                </div>



                <div class="form-group">
                    <label for="schememaster-id" class="col-sm-3" style="font-weight:600;margin-top: 4px;color:red;">{{Timeinyears}}</label>
                    <div class="col-sm-5">
                        <select ui-select2 id="memberId" ng-model="financialplaning.timeinyears" data-placeholder="{{Timeinyears}}" style="width:100%;">
							<option value=""></option>
							<option data-ng-repeat="tim in newntimesinyears" value="{{tim}}">{{ tim }}</option>
						</select>
                    </div>
                </div>

                <div class="form-group">
                    <label for="name" class="col-sm-3" style="font-weight:600;margin-top:7px;color:red;">{{Target_Amount}} </label>
                    <div class="col-sm-5">
                        <input type="text" class="form-control" id="name" data-ng-model="financialplaning.targetamount" placeholder="{{Target_Amount}}" pattern='[A-Za-z\\s]*'>
                    </div>
                </div>

                <div ng-hide="productinstall">
                    <div class="form-group">
                        <label for="schememaster-id" class="col-sm-3" style="font-weight:600;margin-top: 4px;color:red;">{{Product_Chosen}}</label>
                        <div class="col-sm-5">
                            <select ui-select2 id="memberId" ng-model="financialplaning.productchosen" data-placeholder="{{Product_Chosen}}" style="width:100%;" ng-disabled="DisableProductChosen">
								<option value=""></option>
<!--								<option data-ng-repeat="opar in financialproducts" value="{{opar.id}}">{{ opar.name }}</option>-->
                                <option data-ng-repeat="doc in financialproducts" value="{{doc.id}}" ng-if="UserLanguage==1">{{ doc.name }}</option>
									<option data-ng-repeat="doc in financialproducts" value="{{doc.id}}" ng-if="UserLanguage==2">{{ doc.hnname }}</option>
									<option data-ng-repeat="doc in financialproducts" value="{{doc.id}}" ng-if="UserLanguage==3">{{ doc.knname }}</option>
									<option data-ng-repeat="doc in financialproducts" value="{{doc.id}}" ng-if="UserLanguage==4">{{ doc.taname }}</option>
									<option data-ng-repeat="doc in financialproducts" value="{{doc.id}}" ng-if="UserLanguage==5">{{ doc.tename }}</option>
									<option data-ng-repeat="doc in financialproducts" value="{{doc.id}}" ng-if="UserLanguage==6">{{ doc.mrname }}</option>
							</select>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="name" class="col-sm-3" style="font-weight:600;margin-top:7px;color:red;">{{Installment}} </label>
                        <div class="col-sm-5">
                            <input type="text" class="form-control" id="name" data-ng-model="financialplaning.installment" placeholder="Installment" pattern='[A-Za-z\\s]*'>
                        </div>
                    </div>
                </div>

            </div>

            <div class="modal-footer">
                <div align="left">
                    <button type="button" class="btn btn-success btn-sm " data-ng-hide="calculatebuttonhide" data-ng-click="CalculateButton()">{{Calculate}}</button>
                    <a class="btn btn-success btn-sm " type="submit" role="button" data-ng-click="Save()" data-ng-hide="savebuttonhide">{{printSave}} </a>
                    <a class="btn btn-success btn-sm " type="submit" role="button" data-ng-click="Update()" data-ng-hide="editbuttonhide">{{printEdit}} </a>
                    <a class="btn btn-danger btn-sm " role="button" data-ng-click="Cancel()" data-ng-hide="cancelbuttonhide">{{cancel}}</a>
                    <!-- <button type="button" class="btn btn-danger" ng-click="okDP()">Cancel</button>-->
                </div>
            </div>
        </form>
    </div>
</script>

<script type="text/ng-template" id="template/option.html">
    <style>
        p {
            white-space: pre;
        }

    </style>
    <div class="modal-header" style="padding:0px;">
        <h4 class="stylelink active modal-title" style="font-weight:600;padding:20px 10px;">{{options}}</h4>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="table  ">
            <thead>
                <tr>
                    <th></th>
                    <th ><span style="font-weight:bold;">{{Product_Chosen}}</span></th>
                    <th ><span style="font-weight:bold;">{{Installment}}</span></th>
            </thead>

            <tbody>

                <tr ng-repeat="opt in optArray" ng-click="okOption(opt.id, opt.ammount)" onmouseover="" style="cursor:pointer;">
                    <td></td>
                    <td ng-if="UserLanguage==1">{{opt.name.name}} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </td>
                    <td ng-if="UserLanguage==2">{{opt.name.hnname}} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </td>
                    <td ng-if="UserLanguage==3">{{opt.name.knname}} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </td>
                    <td ng-if="UserLanguage==4">{{opt.name.taname}} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </td>
                    <td ng-if="UserLanguage==5">{{opt.name.tename}} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </td>
                    <td ng-if="UserLanguage==6">{{opt.name.mrname}} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </td>
                    <td>{{opt.ammount}}</td>
                </tr>
            </tbody>
        </table>
        <br/>

    </div>
</script>

<script type="text/ng-template" id="template/validation.html">
    <style>
        p {
            white-space: pre;
        }

    </style>
    <div class="modal-header" style="background:#e85a5a;padding-bottom:22px;color:#ffffff;">
        <h4 class="modal-title" style="color:#fff;font-weight:bold;">Alert<a data-ng-click="OkValidation()" data-dismiss="modal" class="btn btn-info  pull-right" role="button" style="background:#db4242;border-color:#db4242;">{{okbutton}}</a></h4>




    </div>
    <div class="modal-body">
        {{AlertMessage}}
    </div>

</script>
<validationmodal title1="Alert!!!" visible="showValidation">
    {{validatestring1}}
</validationmodal>

<script type="text/ng-template" id="template/Message.html">
    <div class="modal-header">
    </div>

    <div class="modal-body">
        Financial planing Has Been Created
    </div>


    <div class="modal-footer">

    </div>
</script>

<modal2 title1="{{modalTitleShow}}" visible="stakeholderdataModal">
    <p>{{modalTitleShow1}}</p>
</modal2>
