<style>
    .stylelink {
      background: transparent;
      color: #9d9eb3;
      font-weight: bold;
      text-decoration: none;
      font-size: 14px;
      display: inline-flex;
      flex-flow: row nowrap;
      max-width: 100%;
      padding: 20px 10px;
    }
  
    .stylelink.active {
      color: #4a4d72;
      font-weight: bold;
      text-decoration: none;
      font-size: 14px;
      display: inline-flex;
      flex-flow: row nowrap;
      max-width: 100%;
      padding: 20px 0px;
      border-bottom: 4px solid #ec0b6d;
      margin-left: 56px;
    }
  
    .sub_menu {
      display: inline-flex;
      flex-flow: row nowrap;
      max-width: 100%;
      padding: 10px 10px;
      border-bottom: 2px solid transparent;
      color: #333;
    }
  
    .sub_menu.active {
      display: inline-flex;
      flex-flow: row nowrap;
      max-width: 100%;
      padding: 10px 10px;
      color: #000;
      font-weight: bold;
      /*		border-bottom: 2px solid #01adfb;*/
    }
  
    #wrapper {
      display: table;
      table-layout: fixed;
      width: 100%;
      height: auto;
      border-bottom: 4px solid #f4f4f4;
      background-color: #fff;
      margin-top: 12px;
    }
  
    #wrapper div {
      display: table-cell;
      height: auto;
    }
  
    .sell {
      position: relative;
      min-width: 45px;
    }
  
    .sell:after {
      content: url(images/piclinks/down-arrow.png);
      font: 17px "Consolas", monospace;
      color: #333;
      top: 5px;
      margin-left: -22px;
      padding: 0 0 2px;
      position: absolute;
      pointer-events: none;
    }
  
    .sell select {
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      display: block;
      width: 100%;
      /*        max-width: 320px;*/
      height: 32px;
      float: left;
      padding: 0px 7px;
      font-size: 14px;
      line-height: 1.75;
      color: #878993;
      border-radius: 4px;
      background-color: #ffffff;
      background-image: none;
      border: 1px solid #d5d7df;
      -ms-word-break: normal;
      word-break: normal;
    }
  
    .top {
      padding-top: 1.8em;
    }
  
    table,
    th,
    td {
      fill: #262d57;
      font-size: 14px;
    }
  
    th {
      background-color: #d5d7df;
      font-weight: normal;
    }
  
    tr {
      background-color: White;
      color: #262d57;
      font-size: 10px;
    }
  
    @media screen and (max-width: 480px) {
      .stylelink {
        font-size: 12px;
        padding: 10px 20px;
      }
  
      .stylelink.active {
        font-size: 12px;
        /*            padding: 10px 20px;*/
        padding: 10px 0px;
      }
  
      .sub_menu {
        font-size: 10px;
      }
  
      .sub_menu.active {
        font-size: 10px;
      }
  
      .ml {
        padding-left: 0px;
      }
  
      .ml1 {
        margin-left: -5%;
        margin-bottom: 25px;
      }
    }
  
    @media screen and (max-width:350px) {
      .ml {
        padding-left: 0px;
      }
  
      .ml1 {
        margin-left: -7%;
        margin-bottom: 25px;
      }
    }
  
    @media screen and (max-width:376px) and (min-width:355px) {
      .ml {
        padding-left: 0px;
      }
  
      .ml1 {
        margin-left: -7%;
        margin-bottom: 25px;
      }
    }
  
    @media screen and (max-width:1024px) and (min-width:1000px) {
      .ml1 {
        margin-left: -2%;
      }
    }
  
    .inactive {
      color: #dddddd;
      pointer-events: none;
      cursor: default;
    }
  
  </style>
  <!-- <div style="width:100%;height:auto;background:#ffffff;">
      <div id="wrapper">
        <div style="text-align:left;">
          <a class="stylelink active" href="/formlevel"><span
              style="flex:1;white-space:pre;overflow: hidden;text-overflow: ellipsis;">Details</span></a>
        </div>
  
      </div>
    </div> -->
  <div style="width:100%;height:auto;background:#ffffff;">
    <div id="wrapper">
      <div ng-if="hideMenu" style="text-align:left;">
        <a class="stylelink" href="/multilanguagelist"><span
            style="flex:1;white-space:pre;overflow: hidden;text-overflow: ellipsis;">MULTILANGUAGE LIST</span></a>
      </div>
      <div style="text-align:left;">
        <a class="stylelink active" href="/formleveldetailslist"><span
            style="flex:1;white-space:pre;overflow: hidden;text-overflow: ellipsis;">TICKET LIST</span></a>
      </div>
      <div ng-if="hideMenu" style="text-align:left;">
        <a class="stylelink" href="/formlevelactivitieslist"><span
            style="flex:1;white-space:pre;overflow: hidden;text-overflow: ellipsis;">ACTIVITIES LIST</span></a>
      </div>
      <div ng-if="hideMenu" style="text-align:left;">
        <a class="stylelink" href="/formlevellineitemlist"><span
            style="flex:1;white-space:pre;overflow: hidden;text-overflow: ellipsis;">LINE ITEM LIST</span></a>
      </div>
      <div ng-if="hideMenu" style="text-align:left;">
        <a class="stylelink" href="/formlevelschedulehistorylist"><span
            style="flex:1;white-space:pre;overflow: hidden;text-overflow: ellipsis;">SCHEDULE HISTORY LIST</span></a>
      </div>
  
    </div>
  </div>
  
  <div style="width:100%;height:auto;background:#ffffff;">
    <div id="wrapper">
      <div class="col-sm-6" style="text-align:center;">
        <!-- <a class="stylelink" href="/formlevelsummary/create" disabled><span
            style="flex:1;white-space:pre;overflow: hidden;text-overflow: ellipsis;">SUMMARY</span></a> -->
            <a class="stylelink"><span
                style="flex:1;white-space:pre;overflow: hidden;text-overflow: ellipsis;">SUMMARY</span></a>
      </div>
      <div class="col-sm-6" style="text-align:center;">
        <a class="stylelink active"><span
            style="flex:1;white-space:pre;overflow: hidden;text-overflow: ellipsis;">DETAILS</span></a>
      </div>
  
  
    </div>
  </div>
  
  <!-- Horizontal Form -->
  <div class="box box-info" style="min-height:450px;border-top:none;">
  
    <div class="box-body">
      <br />
  
      <form class="form-horizontal" role="form">
        <p align="center">All fields in <sup>*</sup> are mandatory</p>
        <br />
        
        <div class="col-sm-6">

          <div class="form-group">
            <label class="col-sm-6">{{ rcdetailLang.dispatchno }}</label>
            <div class="col-sm-6">
                <input type="text" class="form-control" id="dispatchno" data-ng-model="langrcdetail.dispatchno" placeholder="{{ rcdetailLang.dispatchno }}" >
            </div>
         </div>

         <div class="form-group">
          <label class="col-sm-6">CUSTOMER</label>
          <div class="col-sm-6">
              <select ui-select2 id="customer-area" ng-model="langrcdetail.customerId" data-placeholder="Pick a Customer"
                  style="width:100%">
                  <option value=""></option>
                  <option data-ng-repeat="customer in customers" value="{{customer.id}}">{{ customer.name }}</option>
              </select>
          </div>
      </div>

      <div class="form-group">
          <label class="col-sm-6">CATEGORY</label>
          <div class="col-sm-6">
              <select ui-select2 id="category-area" ng-model="langrcdetail.categoryId" data-placeholder="Pick a category"
                  style="width:100%">
                  <option value=""></option>
                  <option data-ng-repeat="category in categories" value="{{category.id}}">{{ category.name }}</option>
              </select>
          </div>
      </div>

      <div class="form-group">
          <label class="col-sm-6">SUB CATEGORY</label>
          <div class="col-sm-6">
              <select ui-select2 id="subcategory-area" ng-model="langrcdetail.subcategoryId"
                  data-placeholder="Pick a subcategory" style="width:100%">
                  <option value=""></option>
                  <option data-ng-repeat="subcategory in subcategories" value="{{subcategory.id}}">{{ subcategory.name }}</option>
              </select>
          </div>
      </div>

      <div class="form-group">
        <label class="col-sm-6">{{ rcdetailLang.customernamenew }}</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" id="customername" data-ng-model="langrcdetail.customername" placeholder="{{ rcdetailLang.customernamenew }}" >
        </div>
    </div>

    <div class="form-group">
      <label class="col-sm-6">{{ rcdetailLang.customerno }}</label>
      <div class="col-sm-6">
          <input type="text" class="form-control" id="customerno" data-ng-model="langrcdetail.customerno" maxlength="10" numbers-only="numbers-only" placeholder="{{ rcdetailLang.customerno }}" >
      </div>
    </div>

    <div class="form-group">
      <label class="col-sm-6">{{ rcdetailLang.serviceaddress1 }}</label>
      <div class="col-sm-6">
          <!-- <input type="text" class="form-control" id="serviceaddress1" data-ng-model="langrcdetail.serviceaddress1" placeholder="{{ rcdetailLang.serviceaddress1 }}" > -->
          <textarea class="form-control" id="serviceaddress1" data-ng-model="langrcdetail.serviceaddress1" placeholder="{{ rcdetailLang.serviceaddress1 }}"></textarea>
          <button style="margin-top: 5px;" ng-click="myAddressFunction()">Get Coordinates</button>
      </div>
  </div>

  <!-- <div class="form-group">
      <label class="col-sm-6">{{ rcdetailLang.serviceaddress2 }}</label>
      <div class="col-sm-6">
          <input type="text" class="form-control" id="serviceaddress2" data-ng-model="langrcdetail.serviceaddress2" placeholder="{{ rcdetailLang.serviceaddress2 }}" >
      </div>
  </div> -->

  <div class="form-group">
    <label class="col-sm-6">LATITUDE</label>
    <div class="col-sm-6">
        <input type="text" class="form-control" id="latitude" data-ng-model="langrcdetail.latitude" placeholder="LATITUDE" >
    </div>
</div>

<div class="form-group">
    <label class="col-sm-6">LONGITUDE</label>
    <div class="col-sm-6">
        <input type="text" class="form-control" id="longitude" data-ng-model="langrcdetail.longitude" placeholder="LONGITUDE" >
    </div>
</div>

  <div class="form-group">
    <label class="col-sm-6">{{ rcdetailLang.statenew }}</label>
    <!-- <div class="col-sm-6">
        <input type="text" class="form-control" id="customercontactphno" data-ng-model="states.name" placeholder="{{ rcdetailLang.statenew }}" ng-disabled="disableLocation">
    </div> -->
      <div class="col-sm-6">
          <select ui-select2 id="state-area" ng-model="langrcdetail.stateId" data-placeholder="Pick a State"
              style="width:100%">
              <option value=""></option>
              <option data-ng-repeat="state in states" value="{{state.id}}">{{ state.name }}</option>
          </select>
      </div>
 
</div>

<div class="form-group">
    <label class="col-sm-6">{{ rcdetailLang.citynew }}</label>
    <!-- <div class="col-sm-6">
        <input type="text" class="form-control" id="customercontactphno" data-ng-model="cities.name" placeholder="{{ rcdetailLang.citynew }}" ng-disabled="disableLocation">
    </div> -->
    <div class="col-sm-6">
      <select ui-select2 id="city-area" ng-model="langrcdetail.cityId" data-placeholder="Pick a City"
          style="width:100%">
          <option value=""></option>
          <option data-ng-repeat="city in cities" value="{{city.id}}">{{ city.name }}</option>
      </select>
  </div>
</div>
            <!-- <div class="form-group">
                <label class="col-sm-6">{{ rcdetailLang.dispatchno }}</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" id="dispatchno" data-ng-model="langrcdetail.dispatchno" placeholder="{{ rcdetailLang.dispatchno }}" >
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-6">STATUS(RC STATUS)</label>
                <div class="col-sm-6">
                    <div style="min-width:100%">{{healthsurveyquestion.question}} - {{healthsurveyquestion.rcCode}} </div>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-6"></label>
                <div class="col-sm-6">
                    
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-6">CUSTOMER</label>
                <div class="col-sm-6">
                    <select ui-select2 id="customer-area" ng-model="langrcdetail.customerId" data-placeholder="Pick a Customer"
                        style="width:100%">
                        <option value=""></option>
                        <option data-ng-repeat="customer in customers" value="{{customer.id}}">{{ customer.name }}</option>
                    </select>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-6">CATEGORY</label>
                <div class="col-sm-6">
                    <select ui-select2 id="category-area" ng-model="langrcdetail.categoryId" data-placeholder="Pick a category"
                        style="width:100%">
                        <option value=""></option>
                        <option data-ng-repeat="category in categories" value="{{category.id}}">{{ category.name }}</option>
                    </select>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-6">SUB CATEGORY</label>
                <div class="col-sm-6">
                    <select ui-select2 id="subcategory-area" ng-model="langrcdetail.subcategoryId"
                        data-placeholder="Pick a subcategory" style="width:100%">
                        <option value=""></option>
                        <option data-ng-repeat="subcategory in subcategories" value="{{subcategory.id}}">{{ subcategory.name }}</option>
                    </select>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-6">{{ rcdetailLang.customerno }}</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" id="customerno" data-ng-model="langrcdetail.customerno" placeholder="{{ rcdetailLang.customerno }}" >
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-6">{{ rcdetailLang.customernamenew }}</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" id="customername" data-ng-model="langrcdetail.customername" placeholder="{{ rcdetailLang.customernamenew }}" >
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-6">{{ rcdetailLang.customercontactname }}</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" id="customercontactname" data-ng-model="langrcdetail.customercontactname" placeholder="{{ rcdetailLang.customercontactname }}" >
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-6">{{ rcdetailLang.customercontactphno }}</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" id="customercontactphno" data-ng-model="langrcdetail.customercontactphno" placeholder="{{ rcdetailLang.customercontactphno }}" >
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-6">{{ rcdetailLang.customercontactemail }}</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" id="customercontactemail" data-ng-model="langrcdetail.customercontactemail" placeholder="{{ rcdetailLang.customercontactemail }}" >
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-6">{{ rcdetailLang.customersecondarycontactno }}</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" id="customersecondarycontactname" data-ng-model="langrcdetail.customersecondarycontactname" placeholder="{{ rcdetailLang.customersecondarycontactno }}" >
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-6">{{ rcdetailLang.customersecondarycontactphno }}</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" id="customersecondarycontactphno" data-ng-model="langrcdetail.customersecondarycontactphno" placeholder="{{ rcdetailLang.customersecondarycontactphno }}" >
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-6">{{ rcdetailLang.customersecondarycontactemail }}</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" id="customersecondarycontactemail" data-ng-model="langrcdetail.customersecondarycontactemail" placeholder="{{ rcdetailLang.customersecondarycontactemail }}" >
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-6">{{ rcdetailLang.country }}</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" id="customercontactphno" data-ng-model="countries.name" placeholder="{{ rcdetailLang.country }}" ng-disabled="disableLocation">
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-6">{{ rcdetailLang.statenew }}</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" id="customercontactphno" data-ng-model="states.name" placeholder="{{ rcdetailLang.statenew }}" ng-disabled="disableLocation">
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-6">{{ rcdetailLang.citynew }}</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" id="customercontactphno" data-ng-model="cities.name" placeholder="{{ rcdetailLang.citynew }}" ng-disabled="disableLocation">
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-6">{{ rcdetailLang.servicepostalcode }}</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" id="customercontactphno" data-ng-model="pincodes.name" placeholder="{{ rcdetailLang.servicepostalcode }}" ng-disabled="disableLocation">
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-6">LATITUDE</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" id="latitude" data-ng-model="langrcdetail.latitude" placeholder="LATITUDE" >
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-6">LONGITUDE</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" id="longitude" data-ng-model="langrcdetail.longitude" placeholder="LONGITUDE" >
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-6">{{ rcdetailLang.serviceaddress1 }}</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" id="serviceaddress1" data-ng-model="langrcdetail.serviceaddress1" placeholder="{{ rcdetailLang.serviceaddress1 }}" >
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-6">{{ rcdetailLang.serviceaddress2 }}</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" id="serviceaddress2" data-ng-model="langrcdetail.serviceaddress2" placeholder="{{ rcdetailLang.serviceaddress2 }}" >
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-6">{{ rcdetailLang.serviceaddress3 }}</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" id="serviceaddress3" data-ng-model="langrcdetail.serviceaddress3" placeholder="{{ rcdetailLang.serviceaddress3 }}" >
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-6">{{ rcdetailLang.serviceaddress4 }}</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" id="serviceaddress4" data-ng-model="langrcdetail.serviceaddress4" placeholder="{{ rcdetailLang.serviceaddress4 }}" >
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-6">{{ rcdetailLang.servicecalldate }}</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" id="servicecalldate" data-ng-model="langrcdetail.servicecalldate" placeholder="{{ rcdetailLang.servicecalldate }}" >
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-6">{{ rcdetailLang.serviceprovider }}</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" id="serviceprovider" data-ng-model="langrcdetail.serviceprovider" placeholder="{{ rcdetailLang.serviceprovider }}" >
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-6">{{ rcdetailLang.logisticprovider }}</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" id="logisticprovider" data-ng-model="langrcdetail.logisticprovider" placeholder="{{ rcdetailLang.logisticprovider }}" >
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-6">{{ rcdetailLang.transport }}</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" id="transport" data-ng-model="langrcdetail.transport" placeholder="{{ rcdetailLang.transport }}" >
                </div>
            </div> -->

        </div>


        <div class="col-sm-6">

          <div class="form-group">
            <label class="col-sm-6">TIME SLOT</label>
            <div class="col-sm-6">
                <input type="text" class="form-control" id="timeslot" data-ng-model="langrcdetail.timeslot" placeholder="TIME SLOT" >
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-6">BAND WIDTH</label>
            <div class="col-sm-6">
                <input type="text" class="form-control" id="bandwidth" data-ng-model="langrcdetail.bandwidth" placeholder="BAND WIDTH" >
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-6">RADIUS NAME</label>
            <div class="col-sm-6">
                <input type="text" class="form-control" id="radiususername" data-ng-model="langrcdetail.radiususername" placeholder="RADIUS NAME" >
            </div>
        </div>

        <div class="form-group">
          <label class="col-sm-6">RADIUS PASSWORD</label>
          <div class="col-sm-6">
              <input type="text" class="form-control" id="radiuspassword" data-ng-model="langrcdetail.radiuspassword" placeholder="RADIUS PASSWORD" >
          </div>
      </div>

      <div class="form-group">
        <!-- <label class="col-sm-6">START TIME</label> -->
        <!-- <div class="col-sm-6">
            <input type="text" class="form-control" id="starttime" data-ng-model="langrcdetail.starttime" placeholder="START TIME" >
        </div> -->
        <label for="formid" class="col-sm-6" style="font-weight:600;margin-top: 8px;">ETA Date |
          Time<sup>*</sup></label>
        <div class="col-sm-6">
          <p class="input-group" style="display: flex;">
            <span  style="width: 85%;">
              <input id="datepickerStartdate" type="datetime-local" onkeydown="return false" class="form-control"
                min={{mindate}} ng-model="langrcdetail.etatime" style="border-radius:4px;height:35px;">
            </span>
            <span>
              <img src="images/piclinks/Calendar-new.png" style="width:35px;">
            </span>
          </p>
          
          
        </div>
        <div>
          
        </div>
    </div>

      <div class="form-group">
        <!-- <label class="col-sm-6">START TIME</label> -->
        <!-- <div class="col-sm-6">
            <input type="text" class="form-control" id="starttime" data-ng-model="langrcdetail.starttime" placeholder="START TIME" >
        </div> -->
        <label for="formid" class="col-sm-6" style="font-weight:600;margin-top: 8px;">Start Date |
          Time<sup>*</sup></label>
        <div class="col-sm-6">
          <p class="input-group" style="display: flex;">
            <span style="width: 85%;">
              <input id="datepickerStartdate" type="datetime-local" onkeydown="return false" class="form-control"
              min={{mindate}} ng-model="langrcdetail.starttime" style="border-radius:4px;height:35px;">
            </span>
            <span>
              <img src="images/piclinks/Calendar-new.png" style="width:35px;">
            </span>
          </p>
        </div>
        <div>
          
        </div>
    </div>

    
      <!-- <label class="col-sm-6">END TIME</label>
      <div class="col-sm-6">
          <input type="text" class="form-control" id="endtime" data-ng-model="langrcdetail.endtime" placeholder="END TIME" >
      </div> -->
      <div class="form-group">
        <label for="formid" class="col-sm-6" style="font-weight:600;margin-top: 8px;">End Date |
          Time<sup>*</sup></label>
        <div class="col-sm-6">
          <p class="input-group" style="display: flex;">
            <span style="width: 85%;">
              <input id="datepickerEnddate" type="datetime-local" class="form-control"
              ng-model="langrcdetail.endtime" style="border-radius:4px;height:35px;" min="{{langrcdetail.starttime}}">
            </span>
            <span>
              <img src="images/piclinks/Calendar-new.png" style="width:35px;">
            </span>
            </p>
        </div>
        <div>
          
        </div>

      </div>
  
  <div class="form-group">
    <label class="col-sm-6">STATUS</label>
    <div class="col-sm-6">
      <select ui-select2 id="status" ng-model="langrcdetail.statusId" data-placeholder="Pick a Status"
          style="width:100%">
          <option value=""></option>
          <option data-ng-repeat="status in statuses" value="{{status.id}}">{{ status.name }}</option>
      </select>
  </div>
</div>

<div class="form-group">
  <label class="col-sm-6">ASSIGN</label>
  <div class="col-sm-6">
    <select ui-select2 id="assign" ng-model="langrcdetail.assignedto" data-placeholder="Assign"
        style="width:100%">
        <option value=""></option>
        <option data-ng-repeat="user in users" value="{{user.id}}">{{ user.firstName }}</option>
    </select>
</div>
</div>
            <!-- <div class="form-group">
                <label class="col-sm-6">ASP NAME</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" id="aspname" data-ng-model="langrcdetail.aspname" placeholder="ASP NAME" >
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-6">COURIER NAME</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" id="couriername" data-ng-model="langrcdetail.couriername" placeholder="COURIER NAME" >
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-6">DOCKET</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" id="docket" data-ng-model="langrcdetail.docket" placeholder="DOCKET" >
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-6">DISPATCH DATE</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" id="dispatchdate" data-ng-model="langrcdetail.dispatchdate" placeholder="DISPATCH DATE" >
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-6">ETA</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" id="etatime" data-ng-model="langrcdetail.etatime" placeholder="ETA" >
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-6">{{ rcdetailLang.engineername }}</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" id="username" data-ng-model="users.username" placeholder="{{ rcdetailLang.engineername }}" >
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-6">{{ rcdetailLang.engineerid }}</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" id="engineerid" data-ng-model="langrcdetail.engineerid" placeholder="{{ rcdetailLang.engineerid }}" >
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-6">{{ rcdetailLang.partnumber }}</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" id="partnumber" data-ng-model="langrcdetail.partnumber" placeholder="{{ rcdetailLang.partnumber }}" >
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-6">{{ rcdetailLang.partquantity }}</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" id="partquantity" data-ng-model="langrcdetail.partquantity" placeholder="{{ rcdetailLang.partquantity }}" >
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-6">{{ rcdetailLang.partstatus }}</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" id="partstatus" data-ng-model="langrcdetail.partstatus" placeholder="{{ rcdetailLang.partstatus }}" >
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-6">{{ rcdetailLang.partstatusdate }}</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" id="partstatusdate" data-ng-model="langrcdetail.partstatusdate" placeholder="{{ rcdetailLang.partstatusdate }}" >
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-6">{{ rcdetailLang.carriername }}</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" id="carriername" data-ng-model="langrcdetail.carriername" placeholder="{{ rcdetailLang.carriername }}" >
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-6">{{ rcdetailLang.waybillno }}</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" id="waybillno" data-ng-model="langrcdetail.waybillno" placeholder="{{ rcdetailLang.waybillno }}" >
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-6">{{ rcdetailLang.agentdescription }}</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" id="agentdescription" data-ng-model="langrcdetail.agentdescription" placeholder="{{ rcdetailLang.agentdescription }}" >
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-6">{{ rcdetailLang.closuredate }}</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" id="closuredate" data-ng-model="langrcdetail.closuredate" placeholder="{{ rcdetailLang.closuredate }}" >
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-6">{{ rcdetailLang.commentstovendor }}</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" id="commentstovendor" data-ng-model="langrcdetail.commentstovendor" placeholder="{{ rcdetailLang.commentstovendor }}" >
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-6">{{ rcdetailLang.warrantyinvoicedate }}</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" id="warrantyinvoicedate" data-ng-model="langrcdetail.warrantyinvoicedate" placeholder="{{ rcdetailLang.warrantyinvoicedate }}" >
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-6">{{ rcdetailLang.warrantyinvoiceno }}</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" id="warrantyinvoiceno" data-ng-model="langrcdetail.warrantyinvoiceno" placeholder="{{ rcdetailLang.warrantyinvoiceno }}" >
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-6">{{ rcdetailLang.warrantybillfromstate }}</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" id="warrantybillfromstate" data-ng-model="langrcdetail.warrantybillfromstate" placeholder="{{ rcdetailLang.warrantybillfromstate }}" >
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-6">{{ rcdetailLang.originalorderbuid }}</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" id="originalorderbuid" data-ng-model="langrcdetail.originalorderbuid" placeholder="{{ rcdetailLang.originalorderbuid }}" >
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-6">{{ rcdetailLang.lobnew }}</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" id="lob" data-ng-model="langrcdetail.lob" placeholder="{{ rcdetailLang.lobnew }}" >
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-6">{{ rcdetailLang.sysclassification }}</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" id="sysclassification" data-ng-model="langrcdetail.sysclassification" placeholder="{{ rcdetailLang.sysclassification }}" >
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-6">{{ rcdetailLang.endservicewindow }}</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" id="endservicewindow" data-ng-model="langrcdetail.endservicewindow" placeholder="{{ rcdetailLang.endservicewindow }}" >
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-6">{{ rcdetailLang.servicetag }}</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" id="servicetag" data-ng-model="langrcdetail.servicetag" placeholder="{{ rcdetailLang.servicetag }}" >
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-6">{{ rcdetailLang.dpstype }}</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" id="dsptype" data-ng-model="langrcdetail.dsptype" placeholder="{{ rcdetailLang.dpstype }}" >
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-6">{{ rcdetailLang.calltype }}</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" id="calltype" data-ng-model="langrcdetail.calltype" placeholder="{{ rcdetailLang.calltype }}" >
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-6">{{ rcdetailLang.servicelevel }}</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" id="servicelevel" data-ng-model="langrcdetail.servicelevel" placeholder="{{ rcdetailLang.servicelevel }}" >
                </div>
            </div> -->

        </div>

        <br />

      <br />
      <br />
      <div align="left">
        <div class="col-sm-11" style="margin-bottom: 50px;margin-block-start: 50px;">

          <button type="button" class="btn btn-info btn-sm " data-ng-click="Save()" data-ng-show="isCreateView()"
            style="padding:5px 20px;margin-right:10px;" ng-disabled="submitDisable">Create</button>

          <button type="button" class="btn btn-info btn-sm " data-ng-click="Update()" data-ng-hide="isCreateView()"
            style="padding:5px 20px;margin-right:10px;" ng-disabled="updateDisable">Update</button>

          <!-- <a href="/formleveldetailslist" class="btn btn-danger btn-sm " role="button"
            style="padding:5px 20px;margin-right:10px;">Cancel</a> -->
          <a class="btn btn-danger btn-sm " data-ng-click="cancelClick()" role="button"
            style="padding:5px 20px;margin-right:10px;">Cancel</a>

        </div>
      </div>
      <br>

      </form>
  
  
      <modal2 title1="Congrats!!!" visible="stakeholderdataModal">
  
        <strong>{{message}}</strong>
  
      </modal2>
  
  
      <validationmodal title1="Alert!!!" visible="showValidation">
        {{validatestring1}}
      </validationmodal>
    </div>
  </div>
  
  
  <mapmodal visible="mapdataModal">
    <div class="modal-header" style="color:#ffffff;padding:0px;">
      <div class="pull-right" style='padding:15px;'></div>
      <h4 class="stylelink active modal-title">Select Location </h4>
    </div>
    <div style="width:100%; height:auto; min-height:300px;  border: 1px solid #ffffff;padding:5px" id="savemodals">
      <br>
      <form class="form-horizontal" role="form" style="padding-top:20px;">
        <div class="row" style="margin:0;padding:0;font-size: 12px;">
          <div class="col-sm-19" style="padding:5px;">
            <div id='mapCanvas' style="display:block;height:850px:width:550px;">
            </div>
            <div class="col-sm-4">
              <br>
              <div id="infoPanel">
                <b style="color:blue;">Marker Status:</b>
                <div id="markerStatus"><i>Click Drag</i>
                </div>
                <b style="color:blue;">Current Position</b>
                <div id="info"></div>
                <b style="color:blue;">Closest Address</b>
                <div id="mapaddress"></div>
              </div>
            </div>
          </div>
        </div>
  
        <br>
        <div class="form-group">
          <div align="center">
            <div align="center">
              <a data-ng-click="CLOSEBUTTON()" data-dismiss="modal" class="btn btn-primary btn-sm " role="button"
                style="border-color:#db4242;padding:5px 20px;font-weight:bold;">Ok</a>&nbsp;
  
              <a data-ng-click="CLOSEBUTTON()" data-dismiss="modal" class="btn btn-danger btn-sm " role="button"
                style="padding:5px 20px;">Cancel </a>
            </div>
          </div>
        </div>
      </form>
      <br />
    </div>
  
    <style>
      div.scroll {
        width: 100%;
        height: 100px;
        overflow: scroll;
      }
  
      .toggle.android {
        border-radius: 0px;
      }
  
      .toggle.android .toggle-handle {
        border-radius: 0px;
      }
  
      #mapCanvas {
        width: 800px;
        height: 500px;
        float: center;
      }
  
      #infoPanel {
        margin-left: 100px;
      }
  
      #infoPanel div {
        margin-bottom: 5px;
      }
  
    </style>
  </mapmodal>
  