<div style="width:100%; height:auto; min-height:500px;background: #FFFFF0;  border: 1px solid #E6E6E6; margin: 5px auto; padding:5px;">
    <br/>
    <div class="row form-horizontal" style="margin:0;padding:0;">
            <div class="col-sm-6">
     <div class="form-group">
                    <label for="code" class="col-sm-4 control-label" style="margin-top: -5px;"> Beneficiary:</label>
                    <div class="col-sm-6">
                        <select ui-select2 data-ng-model="routeassignment.partnerId" data-placeholder="Pick a Beneficiary " style="width:200px;">
                            <option value=""></option>
                            <option data-ng-repeat="partner in partners" value="{{partner.id}}">{{ partner.partnerCode +' - '+ partner.firstName }}</option>
                        </select>
                    </div>
                </div>
            </div>
    </div>
    
    <div class="row" style="margin:0;padding:0;">
         <div align="center">
            <h4 style="font-family: Georgia; font-weight: bold; font-size: 25px;">Health </h4>
        </div>
        
    </div>
   
    
    
    <form class="form-horizontal" role="form">
         <div class="row" style="margin:0;padding:0;">
            <div>
                <h4 style="font-family: Georgia; font-weight: bold; font-size: 25px;">Current Meeting </h4>
            </div>
            <div class="col-sm-10">
          <div class="form-group">
                    <label for="code" class="col-sm-6 control-label" style="margin-top: -5px;">Currently Pregnant</label>
                    <div class="col-sm-6">
                        <toggle-switch ng-model="switchStatus7">
                        </toggle-switch>
                    </div>
                </div>


                <div class="form-group">
                    <label for="code" class="col-sm-6 control-label" style="margin-top: -5px;">Reporting STI Symptoms </label>
                    <div class="col-sm-6">
                        <toggle-switch ng-model="switchStatus8">
                        </toggle-switch>
                    </div>
                </div>


                <div class="form-group">
                    <label for="code" class="col-sm-6 control-label" style="margin-top: -5px;">Reporting any other health issues</label>
                    <div class="col-sm-6">
                        <toggle-switch ng-model="switchStatus9">
                        </toggle-switch>
                    </div>
                </div>

                <div class="form-group">
                    <label for="code" class="col-sm-6 control-label" style="margin-top: -5px;">Required Condoms Available </label>
                    <div class="col-sm-6">
                        <toggle-switch ng-model="switchStatus10">
                        </toggle-switch>
                    </div>
                </div>

                <div class="form-group">
                    <label for="code" class="col-sm-6 control-label" style="margin-top: -5px;">Physical Appearance </label>
                    <div class="col-sm-6">
                        <select ui-select2 data-ng-model="routeassignment.partnerId" data-placeholder="Pick a  Physical Appearance" style="width:200px;">
                        <option value=""></option>
                        <option data-ng-repeat="partner in partners" value="{{partner.id}}">{{ partner.partnerCode +' - '+ partner.firstName }}</option>
                    </select>
                    </div>
                </div>
                        
            <div class="form-group">
                    <label for="code" class="col-sm-6 control-label" style="margin-top: -5px;">Emotional State </label>
                    <div class="col-sm-6">
                        <select ui-select2 data-ng-model="routeassignment.partnerId" data-placeholder="Pick a   Emotional State " style="width:200px;">
                        <option value=""></option>
                        <option data-ng-repeat="partner in partners" value="{{partner.id}}">{{ partner.partnerCode +' - '+ partner.firstName }}</option>
                    </select>
                    </div>
                </div>
                        
            <div class="form-group">
                    <label for="code" class="col-sm-6 control-label" style="margin-top: -5px;">Member wants to more information and Guidance </label>
                    <div class="col-sm-6">
                        <select ui-select2 data-ng-model="routeassignment.partnerId" data-placeholder="Pick a  Information " style="width:200px;">
                        <option value=""></option>
                        <option data-ng-repeat="partner in partners" value="{{partner.id}}">{{ partner.partnerCode +' - '+ partner.firstName }}</option>
                    </select>
                    </div>
                </div>


            </div>

            </div>







        <div class="form-group">
            <div class="col-sm-6 col-md-offset-3" align="center">
                <a class="btn btn-success btn-sm" type="submit" role="button" data-ng-click="Save()" data-ng-show="isCreateView"><span class="glyphicon glyphicon-ok"></span> Save </a>
                
                <a class="btn btn-success btn-sm" type="submit" role="button" data-ng-click="Save()" data-ng-show="isCreateView"><span class="glyphicon glyphicon-ok"></span> Save & Remind </a>
                
                  <a class="btn btn-success btn-sm" type="submit" role="button" data-ng-click="Save()" data-ng-show="isCreateView"><span class="glyphicon glyphicon-ok"></span> Save & Add +1 </a>

                <a data-ng-href="/beneficiaries" class="btn btn-info btn-sm" role="button"><span class="glyphicon glyphicon-remove"></span> Cancel</a>
            </div>
        </div>
</div>




</form>


</div>


<style>
    .toggle.android {
        border-radius: 0px;
    }
    
    .toggle.android .toggle-handle {
        border-radius: 0px;
    }

</style>
