<style>
  .stylelink {
        /*		padding: 3px 10px;*/
        background: transparent;
        color: #9d9eb3;
        font-weight: bold;
        /*		border-radius: 50px;*/
        text-decoration: none;
        font-size: 14px;
        display: inline-flex;
        flex-flow: row nowrap;
        max-width: 100%;
        padding: 20px 10px;
    }
    
    .stylelink.active {
        /*		padding: 3px 10px;*/
        /*		background: #b71c1c;*/
        color: #4a4d72;
        font-weight: bold;
        /*		border-radius: 50px;*/
        text-decoration: none;
        font-size: 14px;
        /*		font-weight: 600;*/
        display: inline-flex;
        flex-flow: row nowrap;
        max-width: 100%;
        padding: 20px 10px;
        border-bottom: 4px solid #e72e5a;
    }
    
    .sub_menu {
        display: inline-flex;
        flex-flow: row nowrap;
        max-width: 100%;
        padding: 10px 10px;
        border-bottom: 2px solid transparent;
        color: #333;
    }
    
    .sub_menu.active {
        display: inline-flex;
        flex-flow: row nowrap;
        max-width: 100%;
        padding: 10px 10px;
        color: #000;
        font-weight: bold;
        border-bottom: 2px solid #01adfb;
    }
    
    #wrapper {
        display: table;
        table-layout: fixed;
        width: 100%;
        height: auto;
        border-bottom: 1px solid #e6e6e6;
        /*		background-color: #fff;*/
    }
    
    #wrapper div {
        display: table-cell;
        height: auto;
    }
    /*.main_text {
        width: 100%;
        height: auto;
        position: relative;
        text-align: center;
        color: #333;
        padding: 10px 0;
        display: block;
    }
    .main_text.active {
        color: #000;
        font-weight: 600;
    }
    
    .main_text.active:after {
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        top: 100%;
        margin: 0px auto;
        width: 90px;
        height: 2px;
        background: #01adfb;
    }*/
    
    @media screen and (max-width: 480px) {
        .stylelink {
            font-size: 12px;
            padding: 10px 20px;
        }
        .stylelink.active {
            font-size: 12px;
            padding: 10px 20px;
        }
        .sub_menu {
            font-size: 10px;
        }
        .sub_menu.active {
            font-size: 10px;
        }
    }

</style>

<div style="width:100%;height:auto;background:#ffffff;">
    <div id="wrapper">
        <div style="text-align:center;">
            <a class="stylelink active" href="/learning"><span style="flex:1;white-space:pre;overflow: hidden;text-overflow: ellipsis;">LEARNING</span></a>
        </div>
        <div style="text-align:center;">
            <a class="stylelink" href="/learningtype"><span style="flex:1;white-space:pre;overflow: hidden;text-overflow: ellipsis;">LEARNING TYPE</span></a>
        </div>
        <!--
        <div style="text-align:center;">
            <a class="stylelink" href="/sales-areas"><span style="flex:1;white-space:pre;overflow: hidden;text-overflow: ellipsis;">DISTRICT</span></a>
        </div>
        <div style="text-align:center;">
            <a class="stylelink" href="/cities"><span style="flex:1;white-space:pre;overflow: hidden;text-overflow: ellipsis;">TOWN</span></a>
        </div>
-->
        <!--<div style="text-align:center;">
			<a class="stylelink" href="/employees"><span style="flex:1;white-space:pre;overflow: hidden;text-overflow: ellipsis;">FACILITY</span></a>
		</div>
		<div style="text-align:center;">
			<a class="stylelink" href="/routes"><span style="flex:1;white-space:pre;overflow: hidden;text-overflow: ellipsis;">SITE</span></a>
		</div>-->
    </div>

</div>


<!-- Horizontal Form -->
<!--<div class="box box-info" style="min-height:450px;border-color:#b71c1c;margin-top:5px;">-->
<div class="box box-info" style="min-height:450px;border-top:none;">
    <div class="box-header with-border">
        <!--		<h3 class="box-title">State</h3>-->
    </div>
    <!-- /.box-header -->
    <!-- form start -->

    <div class="box-body" style="padding:20px;">
        <div data-ng-hide="hideSearchFilter()">
        <div class="row">
                  <div class="col-sm-5"></div>
            <div class="col-sm-2" style="text-align:right;padding-right:0px;border-color:#e1e8ee;">
                <span>Show</span>
                <select ng-model="pageSize" data-placeholder="Show Entries" ng-change="pageFunction(pageSize)">
                    <option value="25">25</option>
                    <option value="50">50</option>
                    <option value="100">100</option>
                </select>
            </div>
            <div class="col-sm-3" style="padding-right:0px;">
                <form role="form" class="">
                    <div class="input-group">
                        <input type="text" class="form-control ng-pristine ng-valid" placeholder="Search" style="z-index:0;border-right:none;border-color:#e1e8ee;border-top-left-radius:4px;border-bottom-left-radius: 4px;" data-ng-model="searchlearning">
                        <span class="input-group-btn">
                     <button class="btn btn-default" type="button" style="border-top-right-radius:4px;border-bottom-right-radius: 4px;border-color:#e1e8ee;background:none;border-left:none;"><span class="glyphicon glyphicon-search"></span></button>
                        </span>
                    </div>
                </form>
            </div>
            <div class="col-sm-2">
                <a data-ng-href="/learning/create" class="btn btn-primary btn-sm " role="button" data-ng-hide="hideCreateButton(); hideSearchFilter()" style="padding:5px 20px;margin-right:10px;">Add New </a>
            </div>
        </div>
    </div>
        <br/>

        <form class="form-horizontal" role="form" data-ng-show="showForm()">

            <p align="center" style="color:red">All fields in red are mandatory</p>
            <br/>
            <div class="row" style="margin:0;padding:0">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="name" class="col-sm-4" style="font-weight:600;margin-top:7px;color:red;">Name </label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" id="name" data-ng-model="learning.name" placeholder="Name" pattern='[A-Za-z\\s]*'>
                        </div>
                    </div>


                    <div class="form-group">
                        <label for="state" class="col-sm-4" style="font-weight:600;margin-top:5px;color:red">Type </label>
                        <div class="col-sm-6">
                            <select ui-select2 id="type" data-ng-model="learning.type" data-placeholder="Pick a Type" style="width: 100%;">
								<option value=""></option>
								<option data-ng-repeat="type in types" value="{{type.id}}">{{ type.name }}</option>
							</select>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="name" class="col-sm-4" style="font-weight:600;margin-top:7px;color:red">URL </label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" id="learningulr" data-ng-model="learning.learningurl" placeholder="URL" ng-change=
"UrlTest()">
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="state" class="col-sm-4" style="font-weight:600;margin-top:5px;color:red">Featured </label>
                        <div class="col-sm-6">
                            <select ui-select2 id="featured" data-ng-model="learning.featured" data-placeholder="Pick a Featured" style="width: 100%;">
								<option value=""></option>
								<option value="yes">Yes</option>
                                <option value="no">No</option>
							</select>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="city" class="col-sm-4" style="font-weight: 600;margin-top: 8px;color:red;">Language </label>
                        <div class="col-sm-2" ng-repeat="language in languages" style="width:18%;">
                            <div>

                                <input class="learningCheckbox" type="checkbox" ng-model="language.enabled" value="{{language.id}}" name="vehicle" ng-change="GetLanguage()">{{language.name}}
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="name" class="col-sm-4" style="font-weight:600;margin-top:7px;">Tag </label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" id="count" data-ng-model="learning.tag" placeholder="TAG">
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="name" class="col-sm-4" style="font-weight:600;margin-top:7px;">Description </label>
                        <div class="col-sm-6">
                            <textarea rows="2" cols="40" ng-model="learning.description" maxlength="100" placeholder="Description" style="width:100%"></textarea>
                        </div>
                    </div>

                    <div class="form-group" ng-hide="representativeHide">
                        <label for="name" class="col-sm-4" style="font-weight:600;margin-top:7px;">Representative Image		
 </label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" ng-model="learning.representative" placeholder="Representative Image" ng-disabled="repDisable">
                        </div>
                    </div>
                </div>
            </div>
            <br/>
            <br/>
            <br/>

            <div align="left">
                <div>
                    <a class="btn btn-success btn-sm " type="submit" role="button" data-ng-click="Savelearning()" data-ng-show="isCreateView()" ng-disabled="submitDisable" style="padding:5px 20px;">Create </a>&nbsp;&nbsp;&nbsp;

                    <a class="btn btn-success btn-sm " type="submit" role="button" data-ng-click="Updatelearning()" data-ng-hide="isCreateView()" ng-disabled="submitDisable" style="padding:5px 20px;margin-right:10px;">Update </a>


                    <a data-ng-href="/learning" class="btn btn-danger btn-sm " role="button" style="padding:5px 20px;"> Cancel</a>
                </div>
            </div>
        </form>

        <div data-ng-hide="hideSearchFilter()">
        </div>
        <br />


        <div data-ng-hide="showForm()" class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th  style="width:50px;">#</th>
                        <th >NAME</th>
                        <th >TAG</th>
                        <th >TYPE</th>
                        <!--                        <th >LINK</th>-->
                        <th >LINK</th>
                        <th  width="12%;">ACTION</th>
                    </tr>
                </thead>

                <tbody>

                    <tr dir-paginate="learning in TotalData  = ( learnings | filter:searchlearning ) |itemsPerPage:pageSize" pagination-id="learningsid" current-page="currentPage">
                        <td>{{ learning.index }}</td>
                        <td>{{learning.name}}</td>
                        <td>{{learning.tag}}</td>
                        <td ng-init="type = getType(learning.type)">{{type.name}}</td>
                        <!--<td ng-if="learning.representative != null">
                            <a href="{{learning.learningurl}}"><img src="{{learning.representative}}" style="height:20%;"></a>
                        </td>
                        <td ng-if="learning.representative == ''|| learning.representative == null">
                            <a href="{{learning.learningurl}}"><img src="images/documentImage2.png" style="height:65%;width:60%"></a>
                        </td>-->
                        <td>
                            <a ng-if="learning.representative != null" href="{{learning.learningurl}}"><img src="{{learning.representative}}" style="height:20%;"></a>
                             <a ng-if="learning.representative == '' || learning.representative == null" href="{{learning.learningurl}}"><img src="images/documentImage2.png" style="height:65%;width:60%"></a>
                        </td>
                        <td>
                            <a data-ng-href="/learning/{{learning.id}}"><span class="glyphicon glyphicon-pencil" title="Edit" style="color: black;"></span></a>&nbsp;&nbsp;
                             <a style="color:#b7b8c8;">|</a>&nbsp;&nbsp;
                            <a confirm-button="Delete(learning.id)" message="Are you sure? you want to delete?">
                                <span class="glyphicon glyphicon-remove" style="cursor:pointer;" title="Bin"></span>
                            </a>&nbsp;
                        </td>
                    </tr>
                </tbody>
            </table>
            <br/>
            <div align="right">
                <dir-pagination-controls max-size="25" direction-links="true" boundary-links="true" pagination-id="learningsid" on-page-change="PageChanged(newPageNumber, oldPageNumber)">
                </dir-pagination-controls>
            </div>
        </div>

    </div>
    <!-- /.box-body -->
    <div class="box-footer">

    </div>
    <!-- /.box-footer -->
</div>
<!-- /.box -->


<modal2 title1="{{modalTitle}}" visible="stakeholderdataModal">
    <p>{{message}}</p>
</modal2>

<validationmodal title1="Alert" visible="showValidation">
    {{validatestring1}}
</validationmodal>
