<style>
    body {
        background: #d2d6de !important;
    }
    .login-logo,
    .register-logo {
        font-size: 35px;
        text-align: center;
        margin-bottom: 25px;
        font-weight: 300
    }
    
    .login-logo a,
    .register-logo a {
        color: #444
    }
    
    .login-page,
    .register-page {
        background: #d2d6de;
    }
    
    .login-box,
    .register-box {
        width: 600px;
        margin: 12% auto;
        -webkit-box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.75);
        box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.75);
    }
    
    @media (max-width: 768px) {
        .login-box,
        .register-box {
            width: 90%;
            margin-top: 20px
        }
    }
    
    .login-box-body,
    .register-box-body {
        background: #fff;
        padding: 10px;
        border-top: 0;
        color: #666
    }
    
    .login-box-body .form-control-feedback,
    .register-box-body .form-control-feedback {
        color: #777
    }
    
    .login-box-msg,
    .register-box-msg {
        margin: 0;
        text-align: left;
        padding: 0 20px 20px 10px
    }
</style>

<div class="login-box">
    <div class="login-box-body">
        <h3 style="padding:0;margin:0;">Reset Password</h3>
        <hr/>
        <form class="form-horizontal" role="form">
            <div class="form-group">
                <label for="name" class="col-sm-4 control-label" style="font-weight:600; margin-top:-7px;">User Name :</label>
                <div class="col-sm-8">{{user.username}}</div>
            </div>
            <div class="form-group">
                <label for="name" class="col-sm-4 control-label" style="font-weight:600;">Old Password :</label>
                <div class="col-sm-8">
                    <input type="password" class="form-control" ng-model="user.password" placeholder="Enter Old Password" style="width:70%;" />
                </div>
            </div>
            <div class="form-group">
                <label for="name" class="col-sm-4 control-label" style="font-weight:600;">New Password :</label>
                <div class="col-sm-8">
                    <input type="password" class="form-control" ng-model="user.newpassword" placeholder="Enter New Password" style="width:70%;" />
                </div>
            </div>
            <div class="form-group">
                <label for="name" class="col-sm-4 control-label" style="font-weight:600;">Confirm New Password :</label>
                <div class="col-sm-8">
                    <input type="password" class="form-control" ng-model="user.confirmnewpassword" placeholder="Confirm New Password" style="width:70%;" />
                </div>
            </div>
            
            {{errormsg}}
        </form>
        <hr/>
        <div align="left">
            <button type="submit" class="btn btn-sm btn-success" ng-click="login()">Reset</button>

        </div>
    </div>
    <!-- /.login-box-body -->
</div>
<!-- /.login-box -->