<style>
	/*
    .stylelink {
        padding: 3px 10px;
        background: transparent;
        color: #333;
        border-radius: 50px;
        text-decoration: none;
        font-size: 14px;
        display: inline-flex;
        flex-flow: row nowrap;
        max-width: 100%;
    }
    
    .stylelink.active {
        padding: 3px 10px;
        background: #b71c1c;
        color: #fff;
        border-radius: 50px;
        text-decoration: none;
        font-size: 14px;
        font-weight: 600;
        display: inline-flex;
        flex-flow: row nowrap;
        max-width: 100%;
    }  */
	
	 .stylelink {
        /*		padding: 3px 10px;*/
        background: transparent;
        color: #9d9eb3;
        font-weight: bold;
        /*		border-radius: 50px;*/
        text-decoration: none;
        font-size: 14px;
        display: inline-flex;
        flex-flow: row nowrap;
        max-width: 100%;
        padding: 20px 10px;
    }
    
    .stylelink.active {
        /*		padding: 3px 10px;*/
        /*		background: #b71c1c;*/
        color: #4a4d72;
        font-weight: bold;
        /*		border-radius: 50px;*/
        text-decoration: none;
        font-size: 14px;
        /*		font-weight: 600;*/
        display: inline-flex;
        flex-flow: row nowrap;
        max-width: 100%;
        padding: 20px 10px;
        border-bottom: 4px solid #e72e5a;
    }
	
	.sub_menu {
		display: inline-flex;
		flex-flow: row nowrap;
		max-width: 100%;
		padding: 10px 10px;
		border-bottom: 2px solid transparent;
		color: #333;
	}
	
	.sub_menu.active {
		display: inline-flex;
		flex-flow: row nowrap;
		max-width: 100%;
		padding: 10px 10px;
		color: #000;
		font-weight: bold;
		border-bottom: 2px solid #01adfb;
	}
	
	#wrapper {
		display: table;
		table-layout: fixed;
		width: 100%;
		height: auto;
        border-bottom: 1px solid #e6e6e6;
		/*        background-color: #fff;*/
	}
	
	#wrapper div {
		display: table-cell;
		height: auto;
	}
	/*.main_text {
        width: 100%;
        height: auto;
        position: relative;
        text-align: center;
        color: #333;
        padding: 10px 0;
        display: block;
    }
    .main_text.active {
        color: #000;
        font-weight: 600;
    }
    
    .main_text.active:after {
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        top: 100%;
        margin: 0px auto;
        width: 90px;
        height: 2px;
        background: #01adfb;
    }*/
	
	 .nav-tabs-custom > .nav-tabs > li {
        width: 19%;
    }
	
	@media screen and (max-width: 480px) {
		.stylelink {
			font-size: 10px;
             padding:2px 5px;
		}
		.stylelink.active {
			font-size: 10px;
             padding:2px 5px;
		}
		.sub_menu {
			font-size: 10px;
		}
		.sub_menu.active {
			font-size: 10px;
		}
         .nav-tabs-custom > .nav-tabs > li {
         position: relative;
    display: block;
    padding:10px;
            text-align: center;
            width:180px;
        }
	}

</style>

<div style="width:100%;height:auto;background:#ffffff;">
	<div id="wrapper">
		<div style="text-align:center; ">
			<a class="stylelink active" href="/schemes"><span style="flex:1;white-space:pre;overflow: hidden;text-overflow: ellipsis;">SCHEMES</span></a>
		</div>
		<!--<div style="text-align:center;padding: 20px 0px;">
            <a class="stylelink" href="/schemedepartment"><span style="flex:1;white-space:pre;overflow: hidden;text-overflow: ellipsis;">Departments</span></a>
        </div>-->
		<div style="text-align:center; ">
			<a class="stylelink" href="/agegroup"><span style="flex:1;white-space:pre;overflow: hidden;text-overflow: ellipsis;">AGE GROUP</span></a>
		</div>
		<div style="text-align:center; ">
			<a class="stylelink" href="/healthstatus"><span style="flex:1;white-space:pre;overflow: hidden;text-overflow: ellipsis;">HEALTH STATUS</span></a>
		</div>
		<div style="text-align:center; ">
			<a class="stylelink" href="/minoritystatus"><span style="flex:1;white-space:pre;overflow: hidden;text-overflow: ellipsis;">MINORITY STATUS</span></a>
		</div>
		<div style="text-align:center; ">
			<a class="stylelink" href="/socialstatus"><span style="flex:1;white-space:pre;overflow: hidden;text-overflow: ellipsis;">SOCIAL STATUS</span></a>
		</div>
		<div style="text-align:center; ">
			<a class="stylelink" href="/schemetypology"><span style="flex:1;white-space:pre;overflow: hidden;text-overflow: ellipsis;">SCHEME TYPOLOGY</span></a>
		</div>
		<div style="text-align:center; ">
			<a class="stylelink" href="/locationtype"><span style="flex:1;white-space:pre;overflow: hidden;text-overflow: ellipsis;">LOCATION TYPE</span></a>
		</div>
		<div style="text-align:center; ">
			<a class="stylelink" href="/incomestatus"><span style="flex:1;white-space:pre;overflow: hidden;text-overflow: ellipsis;">INCOME STATUS</span></a>
		</div>
		<div style="text-align:center; ">
			<a class="stylelink" href="/schemecategory"><span style="flex:1;white-space:pre;overflow: hidden;text-overflow: ellipsis;">SCHEME CATEGORIES</span></a>
		</div>
		<div style="text-align:center;">
			<a class="stylelink" href="/schemestage"><span style="flex:1;white-space:pre;overflow: hidden;text-overflow: ellipsis;">SCHEME STAGE</span></a>
		</div>
        <div style="text-align:center;">       
            <a class="stylelink" href="/loantracking"><span style="flex:1;white-space:pre;overflow: hidden;text-overflow: ellipsis;">LOAN TRACKING</span></a>
        </div>
	</div>

</div>


<!-- Horizontal Form -->
<div class="box box-info" style="min-height:450px;border-top:none;">
	<!--    <div class="box-header with-border">
      <h3 class="box-title">Scheme Create</h3>
    </div>-->
	<!-- /.box-header -->
	<!-- form start -->
	<div class="box-body" style="padding:20px;">
        <div class="row">
            <div class="col-sm-4"></div>
            <div data-ng-hide="hideSearchFilter()" class="col-sm-2" style="text-align:right;padding-right:0px;border-color:#e1e8ee">
                <span>Show</span>
					<select ng-model="pageSize" data-placeholder="Show Entries" ng-change="pageFunction(pageSize)">
						<option value="25">25</option>
						<option value="50">50</option>
						<option value="100">100</option>
					</select>
                <!--					<span>Entries</span>-->
            </div>
            <div data-ng-hide="hideSearchFilter()" class="col-sm-3" style="padding-right:0px;">
                <!--
            <div class="row" style="margin:0;padding:0;">
						<div class="col-sm-5"></div>
						<div class="col-sm-7">
-->
                <form role="form">
                    <div class="input-group">
                        <input type="text" class="form-control ng-pristine ng-valid" placeholder="Search " style="z-index:0;border-right:none;border-color:#e1e8ee;border-top-left-radius:4px;border-bottom-left-radius: 4px;" ng-model="searchScheme">
                        <span class="input-group-btn">
                     <button class="btn btn-default" type="button" style="border-top-right-radius:4px;border-bottom-right-radius: 4px;border-color:#e1e8ee;background:none;border-left:none;"><span class="glyphicon glyphicon-search"></span></button>
                        </span>
                    </div>
                </form>

                <!--
						</div>
					</div>
-->
            </div>
            <div class="col-sm-3">
                <a data-ng-href="/schemes/create" class="btn btn-primary btn-sm " role="button" data-ng-hide="hideCreateButton(); hideSearchFilter()" style="padding:5px 20px;margin-right:10px;">Add New </a>
		<a data-ng-href="/uploadscheme" class="btn btn-success btn-sm " role="button" data-ng-hide="hideCreateButton()" style="padding:5px 20px;margin-right:10px;">Upload</a>
            </div>

        </div>
<!--
		<a data-ng-href="/schemes/create" class="btn btn-primary btn-sm btn-flat" role="button" data-ng-hide="hideCreateButton(); hideSearchFilter()" style="padding:5px 20px;margin-right:10px;">Add New </a>
		<a data-ng-href="/uploadscheme" class="btn btn-success btn-sm btn-flat" role="button" data-ng-hide="hideCreateButton()" style="padding:5px 20px;margin-right:10px;">Upload</a>
-->



		<form class="form-horizontal" role="form" data-ng-show="showForm()">
			<p align="center" style="color:red">All fields in red are mandatory</p>
			<br/>
			<div style="border-bottom:1px solid #f4f4f4;">
				<span style="display:block; font-weight: 600; font-size: 16px;color:#4a4d72;">SCHEME DETAILS</span>
			</div>
			<br/>

			<div class="row">
				<div class="col-sm-6">

					<div class="form-group">
						<label for="schememaster-id" class="col-sm-4" style="font-weight:600;margin-top:5px;color:red;">State or Union Territory </label>
						<div class="col-sm-6">
							<select ui-select2 id="state" data-ng-model="schememaster.state" data-placeholder="Pick a State or Union Territory" style="width:100%;">
								<option value=""></option>
								<option data-ng-repeat="state in states" value="{{state.id}}">{{ state.name }}</option>
							</select>
						</div>
					</div>

					<div class="form-group">
						<label for="sales-code" class="col-sm-4" style="font-weight:600;margin-top:7px;color:red;">Scheme Name </label>
						<div class="col-sm-6">
							<input type="text" class="form-control" id="name" data-ng-model="schememaster.name" placeholder="Scheme Name">
						</div>
					</div>

					<div class="form-group">
						<label for="group" class="col-sm-4" style="font-weight:600;margin-top:7px;color:red;">Scheme Local Name </label>
						<div class="col-sm-6">
							<input type="text" class="form-control" id="localname" data-ng-model="schememaster.localname" placeholder="Scheme Local Name">
						</div>
					</div>

					<div class="form-group" data-ng-hide="isCreateView()">
						<label for="group" class="col-sm-4" style="font-weight:600;margin-top:7px;">Top Scheme</label>
						<div class="col-sm-6">
							<select ui-select2 id="topscheme" ng-model="schememaster.topscheme" data-placeholder="Pick a Number" style="width:100%;">
								<option value="">None</option>
								<option value="1">1</option>
								<option value="2">2</option>
								<option value="3">3</option>
								<option value="4">4</option>
								<option value="5">5</option>
								<!--<option data-ng-repeat="organization in organizations" value="{{organization.id}}">{{ organization.orgname }} </option>-->
							</select>
						</div>
					</div>

				</div>

				<div class="col-sm-6">


					<div class="form-group">
						<label for="organization" class="col-sm-4" style="font-weight:600;margin-top:5px;color:red;">Category </label>
						<div class="col-sm-6">
							<select ui-select2 id="categ" multiple ng-model="schememaster.categ" data-placeholder="Pick a Category" style="width:100%;">
								<!--                                <option value=""></option>-->
								<option data-ng-repeat="gender in schemecategories" value="{{gender.id}}">{{ gender.name }}</option>
								<!--<option data-ng-repeat="organization in organizations" value="{{organization.id}}">{{ organization.orgname }} </option>-->
							</select>
						</div>
					</div>

					<div class="form-group">
						<label for="first-name" class="col-sm-4" style="font-weight:600;margin-top:7px;">Objectives</label>
						<div class="col-sm-6">
							<input type="text" class="form-control" id="firstName" data-ng-model="schememaster.objectives" placeholder="Objectives">
						</div>
					</div>

					<div class="form-group">
						<label for="department" class="col-sm-4" style="font-weight:600;margin-top:7px;">Department</label>
						<div class="col-sm-6">
							<input type="text" class="form-control" id="zip" data-ng-model="schememaster.department" placeholder="Department">

						</div>
					</div>


				</div>
			</div>

			<div style="border-bottom:1px solid #f4f4f4;">
				<span style="display:block; font-weight: 600; font-size: 16px;color:#4a4d72;">ELIGIBILITY CRITERIA</span>
			</div>
			<br/>

			<div class="row">
				<div class="col-sm-6">
					<div class="form-group">
						<label for="agegroup" class="col-sm-4" style="font-weight:600;margin-top:5px;color:red;">Age Group</label>
						<div class="col-sm-6">
							<!-- <input type="text" class="form-control" id="agegroup" ng-model="schememaster.agegroup" placeholder="Age Group">-->
							<select ui-select2 id="organizationId" multiple ng-model="schememaster.agegrp" data-placeholder="Pick a Group" style="width:100%;">
								<!--                                <option value=""></option>-->
								<option data-ng-repeat="gender in agegroups" value="{{gender.id}}">{{ gender.name }}</option>
								<!--<option data-ng-repeat="organization in organizations" value="{{organization.id}}">{{ organization.orgname }} </option>-->
							</select>
						</div>
					</div>

					<div class="form-group">
						<label for="state" class="col-sm-4" style="font-weight:600;margin-top:5px;">Gender</label>
						<div class="col-sm-6">
							<select ui-select2 id="gender" style="width:100%;" ng-model="schememaster.gender" data-placeholder="Pick a Gender">
								<option value=""></option>
								<option data-ng-repeat="gender in genders" value="{{gender.id}}">{{ gender.name }}</option>
							</select>
						</div>
					</div>

					<div class="form-group">
						<label for="city" class="col-sm-4" style="font-weight:600;margin-top:5px;">Educational Status</label>
						<div class="col-sm-6">
							<select ui-select2 id="cityId" style="width:100%;" ng-model="schememaster.educationstatus" data-placeholder="Pick an Educational Status">
								<option value=""></option>
								<option data-ng-repeat="education in educations" value="{{education.id}}">{{ education.name }}</option>
							</select>
						</div>
					</div>

					<div class="form-group">
						<label for="zip" class="col-sm-4" style="font-weight:600;margin-top:5px;">Health Status</label>
						<div class="col-sm-6">
							<select ui-select2 id="cityId" style="width:100%;" ng-model="schememaster.healthstatus" data-placeholder="Pick a Health Status">
								<option value=""></option>
								<option data-ng-repeat="gender in healthstatuses" value="{{gender.id}}">{{ gender.name }}</option>
								<!--<option data-ng-repeat="organization in organizations" value="{{organization.id}}">{{ organization.orgname }} </option>-->
							</select>
						</div>
					</div>

					<div class="form-group">
						<label for="city" class="col-sm-4" style="font-weight:600;margin-top:5px;">Minority Status</label>
						<div class="col-sm-6">
							<select ui-select2 id="cityId" style="width:100%;" ng-model="schememaster.minoritystatus" data-placeholder="Pick a Minority Status">
								<option value=""></option>
								<option data-ng-repeat="gender in minoritystatuses" value="{{gender.id}}">{{ gender.name }}</option>
								<!--<option data-ng-repeat="organization in organizations" value="{{organization.id}}">{{ organization.orgname }} </option>-->
							</select>
						</div>
					</div>

					<div class="form-group">
						<label for="city" class="col-sm-4" style="font-weight:600;margin-top:5px;">Social Status</label>
						<div class="col-sm-6">
							<select ui-select2 id="cityId" style="width:100%;" ng-model="schememaster.socialstatus" data-placeholder="Pick a Social Status">
								<option value=""></option>
								<option data-ng-repeat="gender in socialstatuses" value="{{gender.id}}">{{ gender.name }}</option>
								<!--<option data-ng-repeat="organization in organizations" value="{{organization.id}}">{{ organization.orgname }} </option>-->
							</select>
						</div>
					</div>



				</div>
				<div class="col-sm-6">
					<div class="form-group">
						<label for="city" class="col-sm-4" style="font-weight:600;margin-top:5px;">Scheme Typology </label>
						<div class="col-sm-6">
							<select ui-select2 id="cityId" style="width:100%;" ng-model="schememaster.occupationstatus" data-placeholder="Pick an Occupation Status">
								<option value=""></option>
								<option data-ng-repeat="gender in occupationstatuses" value="{{gender.id}}">{{ gender.name }}</option>
								<!--<option data-ng-repeat="organization in organizations" value="{{organization.id}}">{{ organization.orgname }} </option>-->
							</select>
						</div>
					</div>

					<div class="form-group">
						<label for="city" class="col-sm-4" style="font-weight:600;margin-top:5px;">Location type</label>
						<div class="col-sm-6">
							<select ui-select2 id="cityId" style="width:100%;" ng-model="schememaster.locationtype" data-placeholder="Pick a Location type">
								<option value=""></option>
								<option data-ng-repeat="gender in locationtypes" value="{{gender.id}}">{{ gender.name }}</option>
								<!--<option data-ng-repeat="organization in organizations" value="{{organization.id}}">{{ organization.orgname }} </option>-->
							</select>
						</div>
					</div>

					<div class="form-group">
						<label for="city" class="col-sm-4" style="font-weight:600;margin-top:5px;">Income Status</label>
						<div class="col-sm-6">
							<select ui-select2 id="cityId" style="width:100%;" ng-model="schememaster.incomestatus" data-placeholder="Pick an Income Status">
								<option value=""></option>
								<option data-ng-repeat="gender in incomestatuses" value="{{gender.id}}">{{ gender.name }}</option>
								<!--<option data-ng-repeat="organization in organizations" value="{{organization.id}}">{{ organization.orgname }} </option>-->
							</select>
						</div>
					</div>

					<div class="form-group">
						<label for="city" class="col-sm-4" style="font-weight:600;margin-top:7px;">Minimum Income</label>
						<div class="col-sm-6">
							<input type="text" class="form-control" id="firstName" data-ng-model="schememaster.minimumincome" placeholder="Minimum Income">
						</div>
					</div>

					<div class="form-group">
						<label for="city" class="col-sm-4" style="font-weight:600;margin-top:7px;">Maximum Income</label>
						<div class="col-sm-6">
							<input type="text" class="form-control" id="firstName" data-ng-model="schememaster.maximumincome" placeholder="Maximum Income">
						</div>
					</div>

					<div class="form-group">
						<label for="city" class="col-sm-4" style="font-weight:600;margin-top:7px;">Any other Criteria</label>
						<div class="col-sm-6">
							<input type="text" class="form-control" id="firstName" data-ng-model="schememaster.anyothercriteria" placeholder="Any other Criteria">
						</div>
					</div>


				</div>

			</div>
			<br/>
			<br/>
			<br/>

			<div class="nav-tabs-custom">
				<ul class="nav nav-tabs" align="center">
					<!--					<li class="active" style="cursor:pointer;width:16%;"><a data-target="#tab_1" data-toggle="tab">English</a></li>-->
					<li class="active" style="cursor:pointer;"><a data-target="#tab_1" data-toggle="tab">Hindi</a></li>
					<li style="cursor:pointer;"><a data-target="#tab_2" data-toggle="tab">Kannada</a></li>
					<li style="cursor:pointer;"><a data-target="#tab_3" data-toggle="tab">Tamil</a></li>
					<li style="cursor:pointer;"><a data-target="#tab_4" data-toggle="tab">Telugu</a></li>
					<li style="cursor:pointer;"><a data-target="#tab_5" data-toggle="tab">Marathi</a></li>
				</ul>
			</div>

			<div class="tab-content">
				<div class="tab-pane active" id="tab_1">
					<div class="row">
						<div class="col-sm-6">
							<div class="form-group">
								<label for="name" class="col-sm-4" style="font-weight:600;margin-top:7px;color:red;">Scheme Name </label>
								<div class="col-sm-6">
									<input type="text" class="form-control" id="hnname" data-ng-model="schememaster.hnname" placeholder="Scheme Name">
								</div>
							</div>
						</div>
						<div class="col-sm-6">
						</div>
					</div>
				</div>


				<div class="tab-pane" id="tab_2">
					<div class="row">
						<div class="col-sm-6">
							<div class="form-group">
								<label for="name" class="col-sm-4" style="font-weight:600;margin-top:7px;color:red;">Scheme Name </label>
								<div class="col-sm-6">
									<input type="text" class="form-control" id="knname" data-ng-model="schememaster.knname" placeholder="Scheme Name">
								</div>
							</div>
						</div>
						<div class="col-sm-6">
						</div>
					</div>
				</div>


				<div class="tab-pane" id="tab_3">
					<div class="row">
						<div class="col-sm-6">
							<div class="form-group">
								<label for="name" class="col-sm-4" style="font-weight:600;margin-top:7px;color:red;">Scheme Name </label>
								<div class="col-sm-6">
									<input type="text" class="form-control" id="taname" data-ng-model="schememaster.taname" placeholder="Scheme Name">
								</div>
							</div>
						</div>
						<div class="col-sm-6">
						</div>
					</div>
				</div>

				<div class="tab-pane" id="tab_4">
					<div class="row">
						<div class="col-sm-6">
							<div class="form-group">
								<label for="name" class="col-sm-4" style="font-weight:600;margin-top:7px;color:red;">Scheme Name </label>
								<div class="col-sm-6">
									<input type="text" class="form-control" id="tename" data-ng-model="schememaster.tename" placeholder="Scheme Name">
								</div>
							</div>
						</div>
						<div class="col-sm-6">
						</div>
					</div>
				</div>
				<div class="tab-pane" id="tab_5">
					<div class="row">
						<div class="col-sm-6">
							<div class="form-group">
								<label for="name" class="col-sm-4" style="font-weight:600;margin-top:7px;color:red;">Scheme Name </label>
								<div class="col-sm-6">
									<input type="text" class="form-control" id="mrname" data-ng-model="schememaster.mrname" placeholder="Scheme Name">
								</div>
							</div>
						</div>
						<div class="col-sm-6">
						</div>
					</div>
				</div>
			</div>


			<div style="Background: #ddd; padding:2px 30px;" ng-show="ShowAllDetailsDiv" ng-Click="showDetails()">
				<a href="" class="small-box-footer" id="toggle4" style="color:#0097bc;text-decoration: underline;font-size:16px;">
					<span ng-hide="ShowAllDetails">More Details<i class="fa fa-arrow-circle-down"></i></span>
					<span ng-show="ShowAllDetails">Less Details <i class="fa fa-arrow-circle-up"></i></span>
				</a>
			</div>
			<br/>

			<div class="row" ng-show="ShowAllDetails">
				<div class="col-sm-6">

					<div class="form-group">
						<label for="sales-code" class="col-sm-4" style="font-weight:600;margin-top:7px;">Date Time</label>
						<div class="col-sm-6">
							<input type="text" class="form-control" id="salesCode" data-ng-model="schememasterall.date_time" placeholder="Date Time">
						</div>
					</div>

					<div class="form-group">
						<label for="group" class="col-sm-4" style="font-weight:600;margin-top:7px;">Start Date</label>
						<div class="col-sm-6">
							<input type="text" class="form-control" id="salesCode" data-ng-model="schememasterall.sch_startdate" placeholder="Start Date">
						</div>
					</div>


					<div class="form-group">
						<label for="group" class="col-sm-4" style="font-weight:600;margin-top:7px;">Valid Till</label>
						<div class="col-sm-6">
							<input type="text" class="form-control" id="salesCode" data-ng-model="schememasterall.sch_validtill" placeholder="Valid Till">
						</div>
					</div>

					<div class="form-group">
						<label for="group" class="col-sm-4" style="font-weight:600;margin-top:7px;">Incexgen</label>
						<div class="col-sm-6">
							<input type="text" class="form-control" id="salesCode" data-ng-model="schememasterall.sch_incexcgen" placeholder="Incexgen">
						</div>
					</div>

					<div class="form-group">
						<label for="group" class="col-sm-4" style="font-weight:600;margin-top:7px;">Griev Name Desig</label>
						<div class="col-sm-6">
							<input type="text" class="form-control" id="salesCode" data-ng-model="schememasterall.griev_namedesig" placeholder="Griev Name Desig">
						</div>
					</div>

					<div class="form-group">
						<label for="group" class="col-sm-4" style="font-weight:600;margin-top:7px;">Griev Postal Address</label>
						<div class="col-sm-6">
							<input type="text" class="form-control" id="salesCode" data-ng-model="schememasterall.griev_postaladdress" placeholder="Griev Postal Address">
						</div>
					</div>

					<div class="form-group">
						<label for="group" class="col-sm-4" style="font-weight:600;margin-top:7px;">Griev Phone</label>
						<div class="col-sm-6">
							<input type="text" class="form-control" id="salesCode" data-ng-model="schememasterall.griev_phone" placeholder="Griev Phone">
						</div>
					</div>

					<div class="form-group">
						<label for="group" class="col-sm-4" style="font-weight:600;margin-top:7px;">Griev Email</label>
						<div class="col-sm-6">
							<input type="text" class="form-control" id="salesCode" data-ng-model="schememasterall.griev_email" placeholder="Griev Email">
						</div>
					</div>

					<div class="form-group">
						<label for="group" class="col-sm-4" style="font-weight:600;margin-top:7px;">Griev Procedure</label>
						<div class="col-sm-6">
							<input type="text" class="form-control" id="salesCode" data-ng-model="schememasterall.griev_procedure" placeholder="Griev Procedure">
						</div>
					</div>

					<div class="form-group">
						<label for="group" class="col-sm-4" style="font-weight:600;margin-top:7px;">Nodal NameDesig</label>
						<div class="col-sm-6">
							<input type="text" class="form-control" id="salesCode" data-ng-model="schememasterall.nodal_namedesig" placeholder="Nodal NameDesig">
						</div>
					</div>

					<div class="form-group">
						<label for="group" class="col-sm-4" style="font-weight:600;margin-top:7px;">Nodal Postal Address</label>
						<div class="col-sm-6">
							<input type="text" class="form-control" id="salesCode" data-ng-model="schememasterall.nodal_postaladdress" placeholder="Nodal Postal Address">
						</div>
					</div>

					<div class="form-group">
						<label for="group" class="col-sm-4" style="font-weight:600;margin-top:7px;">Nodal Phone</label>
						<div class="col-sm-6">
							<input type="text" class="form-control" id="salesCode" data-ng-model="schememasterall.nodal_phone" placeholder="Nodal Phone">
						</div>
					</div>

					<div class="form-group">
						<label for="group" class="col-sm-4" style="font-weight:600;margin-top:7px;">Nodal Email</label>
						<div class="col-sm-6">
							<input type="text" class="form-control" id="salesCode" data-ng-model="schememasterall.nodal_email" placeholder="Nodal Email">
						</div>
					</div>

					<div class="form-group">
						<label for="group" class="col-sm-4" style="font-weight:600;margin-top:7px;">Pio NameDesig</label>
						<div class="col-sm-6">
							<input type="text" class="form-control" id="salesCode" data-ng-model="schememasterall.pio_namedesig" placeholder="Pio NameDesig">
						</div>
					</div>

					<div class="form-group">
						<label for="group" class="col-sm-4" style="font-weight:600;margin-top:7px;">Pio Postal Address</label>
						<div class="col-sm-6">
							<input type="text" class="form-control" id="salesCode" data-ng-model="schememasterall.pio_postaladdress" placeholder="Pio Postal Address">
						</div>
					</div>

					<div class="form-group">
						<label for="group" class="col-sm-4" style="font-weight:600;margin-top:7px;">Pio Phone</label>
						<div class="col-sm-6">
							<input type="text" class="form-control" id="salesCode" data-ng-model="schememasterall.pio_phone" placeholder="Pio Phone">
						</div>
					</div>

					<div class="form-group">
						<label for="group" class="col-sm-4" style="font-weight:600;margin-top:7px;">Pio Email</label>
						<div class="col-sm-6">
							<input type="text" class="form-control" id="salesCode" data-ng-model="schememasterall.pio_email" placeholder="Pio Email">
						</div>
					</div>

					<div class="form-group">
						<label for="group" class="col-sm-4" style="font-weight:600;margin-top:7px;">Text Eligibility</label>
						<div class="col-sm-6">
							<input type="text" class="form-control" id="salesCode" data-ng-model="schememasterall.text_eligibilty" placeholder="Text Eligibility">
						</div>
					</div>

					<div class="form-group">
						<label for="group" class="col-sm-4" style="font-weight:600;margin-top:7px;">Ben Status</label>
						<div class="col-sm-6">
							<input type="text" class="form-control" id="salesCode" data-ng-model="schememasterall.ben_status" placeholder="Ben Status">
						</div>
					</div>

					<div class="form-group">
						<label for="group" class="col-sm-4" style="font-weight:600;margin-top:7px;">Ben Misc Status</label>
						<div class="col-sm-6">
							<input type="text" class="form-control" id="salesCode" data-ng-model="schememasterall.ben_miscstatus" placeholder="Ben Misc Status">
						</div>
					</div>

					<div class="form-group">
						<label for="group" class="col-sm-4" style="font-weight:600;margin-top:7px;">Text Benefits</label>
						<div class="col-sm-6">
							<input type="text" class="form-control" id="salesCode" data-ng-model="schememasterall.text_benefits" placeholder="Text Benefits">
						</div>
					</div>

					<div class="form-group">
						<label for="group" class="col-sm-4" style="font-weight:600;margin-top:7px;">Benefits Type</label>
						<div class="col-sm-6">
							<input type="text" class="form-control" id="salesCode" data-ng-model="schememasterall.sch_benefitstype" placeholder="Benefits Type">
						</div>
					</div>

					<div class="form-group">
						<label for="group" class="col-sm-4" style="font-weight:600;margin-top:7px;">Benefits Frequency</label>
						<div class="col-sm-6">
							<input type="text" class="form-control" id="salesCode" data-ng-model="schememasterall.sch_benefitsfrequency" placeholder="Benefits Frequency">
						</div>
					</div>

					<div class="form-group">
						<label for="group" class="col-sm-4" style="font-weight:600;margin-top:7px;">Benefits Quantum</label>
						<div class="col-sm-6">
							<input type="text" class="form-control" id="salesCode" data-ng-model="schememasterall.sch_benefitsquantum" placeholder="Benefits Quantum">
						</div>
					</div>

				</div>

				<div class="col-sm-6">
					<div class="form-group">
						<label for="group" class="col-sm-4" style="font-weight:600;margin-top:7px;">Benefits Services</label>
						<div class="col-sm-6">
							<input type="text" class="form-control" id="salesCode" data-ng-model="schememasterall.sch_benefitsservices" placeholder="Benefits Services">
						</div>
					</div>

					<div class="form-group">
						<label for="group" class="col-sm-4" style="font-weight:600;margin-top:7px;">Benefits Recieve System</label>
						<div class="col-sm-6">
							<input type="text" class="form-control" id="salesCode" data-ng-model="schememasterall.sch_benefitsreceivesystem" placeholder="Benefits Recieve System">
						</div>
					</div>

					<div class="form-group">
						<label for="group" class="col-sm-4" style="font-weight:600;margin-top:7px;">Ben Contrib</label>
						<div class="col-sm-6">
							<input type="text" class="form-control" id="salesCode" data-ng-model="schememasterall.sch_bencontrib" placeholder="Ben Contrib">
						</div>
					</div>

					<div class="form-group">
						<label for="group" class="col-sm-4" style="font-weight:600;margin-top:7px;">Ben Contrib Freq</label>
						<div class="col-sm-6">
							<input type="text" class="form-control" id="salesCode" data-ng-model="schememasterall.sch_bencontribfreq" placeholder="Ben Contrib Freq">
						</div>
					</div>

					<div class="form-group">
						<label for="group" class="col-sm-4" style="font-weight:600;margin-top:7px;">Ben Contrib Type</label>
						<div class="col-sm-6">
							<input type="text" class="form-control" id="salesCode" data-ng-model="schememasterall.sch_bencontribtype" placeholder="Ben Contrib Type">
						</div>
					</div>

					<div class="form-group">
						<label for="group" class="col-sm-4" style="font-weight:600;margin-top:7px;">Ben Contrib Amount</label>
						<div class="col-sm-6">
							<input type="text" class="form-control" id="salesCode" data-ng-model="schememasterall.sch_bencontribamount" placeholder="Ben Contrib Amount">
						</div>
					</div>

					<div class="form-group">
						<label for="group" class="col-sm-4" style="font-weight:600;margin-top:7px;">Text Application</label>
						<div class="col-sm-6">
							<input type="text" class="form-control" id="salesCode" data-ng-model="schememasterall.text_application" placeholder="Text Application">
						</div>
					</div>

					<div class="form-group">
						<label for="group" class="col-sm-4" style="font-weight:600;margin-top:7px;">Application Required</label>
						<div class="col-sm-6">
							<input type="text" class="form-control" id="salesCode" data-ng-model="schememasterall.sch_applicationrequired" placeholder="Application Required">
						</div>
					</div>

					<div class="form-group">
						<label for="group" class="col-sm-4" style="font-weight:600;margin-top:7px;">Application Level</label>
						<div class="col-sm-6">
							<input type="text" class="form-control" id="salesCode" data-ng-model="schememasterall.sch_applicationlevel" placeholder="Application Level">
						</div>
					</div>

					<div class="form-group">
						<label for="group" class="col-sm-4" style="font-weight:600;margin-top:7px;">Application Fee Required</label>
						<div class="col-sm-6">
							<input type="text" class="form-control" id="salesCode" data-ng-model="schememasterall.sch_applicationfeerequired" placeholder="Application Fee Required">
						</div>
					</div>

					<div class="form-group">
						<label for="group" class="col-sm-4" style="font-weight:600;margin-top:7px;">Application Fee Amount</label>
						<div class="col-sm-6">
							<input type="text" class="form-control" id="salesCode" data-ng-model="schememasterall.sch_applicationfeeamount" placeholder="Application Fee Amount">
						</div>
					</div>

					<div class="form-group">
						<label for="group" class="col-sm-4" style="font-weight:600;margin-top:7px;">Civic Identity Required</label>
						<div class="col-sm-6">
							<input type="text" class="form-control" id="salesCode" data-ng-model="schememasterall.sch_civicidentityrequired" placeholder="Civic Identity Required">
						</div>
					</div>

					<div class="form-group">
						<label for="group" class="col-sm-4" style="font-weight:600;margin-top:7px;">Other Docs Required</label>
						<div class="col-sm-6">
							<input type="text" class="form-control" id="salesCode" data-ng-model="schememasterall.sch_otherdocsrequired" placeholder="Other Docs Required">
						</div>
					</div>

					<div class="form-group">
						<label for="group" class="col-sm-4" style="font-weight:600;margin-top:7px;">Ben Presence Required</label>
						<div class="col-sm-6">
							<input type="text" class="form-control" id="salesCode" data-ng-model="schememasterall.sch_benpresencerequired" placeholder="Ben Presence Required">
						</div>
					</div>

					<div class="form-group">
						<label for="group" class="col-sm-4" style="font-weight:600;margin-top:7px;">Application Process Fee Required</label>
						<div class="col-sm-6">
							<input type="text" class="form-control" id="salesCode" data-ng-model="schememasterall.sch_applicationprocessfeerequired" placeholder="Application Process Fee Required">
						</div>
					</div>

					<div class="form-group">
						<label for="group" class="col-sm-4" style="font-weight:600;margin-top:7px;">Application Process Fee Amount</label>
						<div class="col-sm-6">
							<input type="text" class="form-control" id="salesCode" data-ng-model="schememasterall.sch_applicationprocessfeeamount" placeholder="Application Process Fee Amount">
						</div>
					</div>

					<div class="form-group">
						<label for="group" class="col-sm-4" style="font-weight:600;margin-top:7px;">Application Address</label>
						<div class="col-sm-6">
							<input type="text" class="form-control" id="salesCode" data-ng-model="schememasterall.sch_applicationaddress" placeholder="Application Address">
						</div>
					</div>

					<div class="form-group">
						<label for="group" class="col-sm-4" style="font-weight:600;margin-top:7px;">Application Process</label>
						<div class="col-sm-6">
							<input type="text" class="form-control" id="salesCode" data-ng-model="schememasterall.sch_applicationprocess" placeholder="Application Process">
						</div>
					</div>

					<div class="form-group">
						<label for="group" class="col-sm-4" style="font-weight:600;margin-top:7px;">Duration Process</label>
						<div class="col-sm-6">
							<input type="text" class="form-control" id="salesCode" data-ng-model="schememasterall.sch_durationprocess" placeholder="Duration Process">
						</div>
					</div>

					<div class="form-group">
						<label for="group" class="col-sm-4" style="font-weight:600;margin-top:7px;">Application Form URL</label>
						<div class="col-sm-6">
							<input type="text" class="form-control" id="salesCode" data-ng-model="schememasterall.sch_applicationformurl" placeholder="Application Form URL">
						</div>
					</div>

					<div class="form-group">
						<label for="group" class="col-sm-4" style="font-weight:600;margin-top:7px;">Scheme Web Page</label>
						<div class="col-sm-6">
							<input type="text" class="form-control" id="salesCode" data-ng-model="schememasterall.sch_webpage" placeholder="Scheme Web Page">
						</div>
					</div>

					<div class="form-group">
						<label for="group" class="col-sm-4" style="font-weight:600;margin-top:7px;">Iec Material</label>
						<div class="col-sm-6">
							<input type="text" class="form-control" id="salesCode" data-ng-model="schememasterall.sch_iecmaterial" placeholder="Iec Material">
						</div>
					</div>

					<div class="form-group">
						<label for="group" class="col-sm-4" style="font-weight:600;margin-top:7px;">Additional Information</label>
						<div class="col-sm-6">
							<input type="text" class="form-control" id="salesCode" data-ng-model="schememasterall.sch_additionalinformation" placeholder="Additional Information">
						</div>
					</div>


				</div>
			</div>

			<br/>
			<br/>
			<br/>

			<div align="left">
				<div>

					<a class="btn btn-primary btn-sm " type="submit" role="button" data-ng-click="Save()" data-ng-show="isCreateView()" style="padding:5px 20px;margin-right:10px;">Create </a>

					<a class="btn btn-success btn-sm " type="submit" role="button" data-ng-click="Update()" data-ng-hide="isCreateView()" style="padding:5px 20px;margin-right:10px;">Update </a>


					<a data-ng-href="/schemes" class="btn btn-danger btn-sm " role="button" style="padding:5px 20px;margin-right:10px;" style="padding:5px 20px;margin-right:10px;">Cancel</a>

				</div>
			</div>
		</form>


		<br /><br />
		<div data-ng-hide="hideSearchFilter()">
<!--
			<div class="row" style="margin:0;padding:0;">
				<div class="col-sm-6" style="padding-top:5px;">
					<span>Show</span>
					<select ng-model="pageSize" data-placeholder="Show Entries" ng-change="pageFunction(pageSize)">
						<option value="25">25</option>
						<option value="50">50</option>
						<option value="100">100</option>
					</select>
					<span>Entries</span>
				</div>
				<div class="col-sm-6">
					<div class="row" style="margin:0;padding:0;">
						<div class="col-sm-4"></div>
						<div class="col-sm-8">
							<form role="form">
								<div class="input-group">
									<input type="text" class="form-control ng-pristine ng-valid" placeholder="Search" style="z-index:0;border-radius:20px;width:140%;" ng-model="searchScheme">

								</div>
							</form>

						</div>
					</div>
				</div>

			</div>
-->
		</div>
		<br />




		<div data-ng-hide="showForm()">
			<br/>
			<form class="form-horizontal row" role="form">

				<div class="col-sm-6">
					<label for="zone" class="col-sm-3" style="font-weight:600;margin-top:5px;">State</label>
					<div class="col-sm-6">
						<select ui-select2 id="stateId" ng-model="stateId" data-placeholder="Pick a State" style="width:180px;">
							<option value=""></option>
							<option data-ng-repeat="zone  in states" value="{{zone.id}}">{{ zone.name }}</option>
						</select>
					</div>
				</div>

				<div class="col-sm-6" ng-if="stateId!=undefined">
					<label for="zone" class="col-sm-3" style="font-weight:600;margin-top:5px;">Top 5 Schemes</label>
					<div class="col-sm-6">
						<input type="checkbox" ng-model="$parent.topfive" />
					</div>
				</div>


			</form>
			<br/>
<div class="table-responsive">
			<table class="table ">
				<thead>
					<tr>
						<th style="width:50px;">#</th>
						<th ng-style="style">SCHEME NAME</th>
						<th ng-style="style">HINDI</th>
						<th ng-style="style">TELUGU</th>
						<th ng-style="style">KANNADA</th>
						<th ng-style="style">TAMIL</th>
						<th ng-style="style">MARATHI</th>
						<th ng-style="style" style="width:100px;">ACTION</th>
						<!--<th></th>-->
					</tr>
				</thead>
				<tbody>
					<tr dir-paginate="schememaster in Displayschememasters | filter:searchScheme |itemsPerPage:pageSize" pagination-id="schememasterpageid" current-page="currentpage">
						<td>{{ schememaster.index }}</td>
						<td>{{schememaster.name}}</td>
						<td>{{schememaster.hnname}}</td>
						<td>{{schememaster.tename}}</td>
						<td>{{schememaster.knname}}</td>
						<td>{{schememaster.taname}}</td>
						<td>{{schememaster.mrname}}</td>

						<td><a data-ng-href="/schemes/{{schememaster.id}}"><span class="glyphicon glyphicon-pencil" ></span></a>&nbsp;&nbsp;
							<!--<a data-ng-href="/schemes" data-ng-click="DeleteFlag(schememaster.id)"><span class="glyphicon glyphicon-trash" style="color: red;" title="Bin"></span></a>&nbsp;-->
                             <a style="color:#b7b8c8;">|</a>&nbsp;&nbsp;
							<a confirm-button="DeleteFlag(schememaster.id)" message="Are you sure? you want to delete?"><span class="glyphicon glyphicon-remove " style="cursor:pointer;" title="Bin"></span></a>&nbsp;
						</td>
					</tr>
				</tbody>
			</table>
    <br/>
			<div align="right">
				<dir-pagination-controls max-size="25" direction-links="true" boundary-links="true" pagination-id="schememasterpageid" on-page-change="PageChanged(newPageNumber, oldPageNumber)">
				</dir-pagination-controls>
			</div>
        </div>
		</div>

	</div>
	<!-- /.box-body -->
	<div class="box-footer">

	</div>
	<!-- /.box-footer -->
</div>
<!-- /.box -->


<modal2 title1="{{modalTitle}}" visible="schememasterdataModal">
	<p>{{message}}</p>
</modal2>

<validationmodal title1="Alert!!!" visible="showValidation">
	{{validatestring1}}
</validationmodal>



<script type="text/ng-template" id="template/sp.html">
	<div class="modal-header">
		<h4 class="modal-title">Already Scheme Existing</h4>
	</div>
	<div class="modal-body">
		<form class="form-horizontal" role="form">
			<div class="row" style="margin:0;padding:0;">
				<div class="col-sm-1"></div>
				<div class="col-sm-11">
					<div>
						<div class="form-group">
							<div>
								A Scheme is already existing click "Proceed" to make this as a top scheme.
							</div>
						</div>
					</div>
				</div>

			</div>
		</form>
	</div>

	<div class="modal-footer">
		<div align="left">
			<button type="button" class="btn btn-success btn-sm " ng-click="SaveSP()">Proceed</button>

			<button type="button" class="btn btn-info btn-sm " ng-click="okSp()">Cancel</button>
		</div>
	</div>
</script>
