<!-- Horizontal Form -->
<div class="box box-info" style="min-height:450px;border-color:rgb(83, 12, 44);">
	<div class="box-header with-border">
		<h3 class="box-title">Applications</h3>
	</div>
	<!-- /.box-header -->
	<!-- form start -->

	<div class="box-body">
		<div data-ng-hide="hideSearchFilter()">

			<div class="row" style="margin:0;padding:0;">
				<div class="col-sm-6" style="padding-top:5px;">
					<span>Show</span>
					<select ng-model="pageSize" data-placeholder="Show Entries">
						<option value="5">5</option>
						<option value="10">10</option>
						<option value="15">15</option>
					</select>
					<span>Entries</span>
				</div>
				<div class="col-sm-6">
					<div class="row" style="margin:0;padding:0;">
						<div class="col-sm-4"></div>
						<div class="col-sm-8">
							<form role="form">
								<div class="input-group">
									<input type="text" class="form-control" placeholder="Search for..." style="z-index:0; border-top-left-radius: 15px;border-bottom-left-radius: 15px;" data-ng-model="searchTrackApp">
									<span class="input-group-btn">
                         <button class="btn btn-default" type="button" style="border-top-right-radius: 15px;border-bottom-right-radius: 15px;"><span class="glyphicon glyphicon-search"></span>
									</button>
									</span>
								</div>
							</form>

						</div>
					</div>
				</div>

			</div>
		</div>
		<br />

		<div data-ng-hide="showForm()">
			<table class="table table-bordered table-striped">
				<thead>
					<tr>
						<th>#</th>
						<th>Member Name</th>
						<th>Scheme/Document Name</th>
						<th>FollowUp Date</th>
						<th>Current Status</th>
					</tr>
				</thead>
				<tbody>
					<tr dir-paginate="todo in printTodo | filter:searchTrackApp |itemsPerPage:pageSize">
						<td>{{ todo.index + 1 }}</td>
						<!--<td><a ng-click="EditTodo(todo.todotype,todo.id,todo,todo.pillarid,todo.beneficiaryid)" style="cursor:pointer"><span class="glyphicon glyphicon-edit" title="Edit" style="color: black;"></span></a>&nbsp;
                                </td>-->
						<td data-ng-init="pillar = getMemberName(todo.beneficiaryid)" ng-if="todo.documentflag==true"><a ng-click="EditTodo(todo.todotype,todo.id,todo,todo.pillarid,todo.beneficiaryid)">{{ pillar.fullname }}</a></td>
						<td data-ng-init="pillar = getMemberName(todo.beneficiaryid)" ng-if="todo.documentflag==false"><a ng-click="EditTodo(todo.todotype,todo.id,todo,todo.pillarid,todo.beneficiaryid)">{{ pillar.fullname }}</a></td>

						<td data-ng-init="status = getSchemeName(todo.documentid)" ng-if="todo.documentflag==false">{{status.name}}</td>
						<td data-ng-init="docname = getSchemeDocName(todo.documentid)" ng-if="todo.documentflag==true">{{docname.name}}</td>
						<td>{{todo.datetime|date:'dd-MMM-yyyy'}}</td>
						<td data-ng-init="todotype = getApplicationStage(todo.stage)">{{ todotype.name }}</td>
						<!--						<td ng-if="todo.documentflag==null">Scheme</td>-->
						<!--						<td ng-if="todo.documentflag!=null">Document</td>-->
					</tr>
				</tbody>
			</table>
			<div align="right">
				<dir-pagination-controls max-size="5" direction-links="true" boundary-links="true">
				</dir-pagination-controls>
			</div>
		</div>

	</div>
	<!-- /.box-body -->
	<div class="box-footer">

	</div>
	<!-- /.box-footer -->
</div>
<!-- /.box -->


<script type="text/ng-template" id="template/ApplicationWorkflowMain.html">
    <div class="modal-header">
        <!--<h4 class="modal-title" ng-show="hideUpdateAW">Pillar:{{Pillar}}/Question:{{Question}}/Selected:{{DisplayClickOption}}</h4>
        <h4 class="modal-title" ng-hide="hideUpdateAW" ng-if="UpdateQuestionId != null">Pillar:{{Pillar}}/Question:{{UpdateQuestion.question}}/Selected:{{UpdateDisplayClickOption[0].answer}}</h4>
        <h4 class="modal-title" ng-hide="hideUpdateAW" ng-if="UpdateQuestionId == null">Scheme/Document</h4>-->
        <h4 class="modal-title">Scheme/Document</h4>
    </div>
    <div class="modal-body">

        <form class="form-horizontal" role="form">
            <div class="row" style="margin:0;padding:0;">
                <!--<div class="col-sm-6">
					<div class="form-group">
						<label for="schememaster-id" class="col-sm-4" style="font-weight:600;margin-top: -4px;">Member:</label>
						<div class="col-sm-6">
							<select ui-select2 id="groupId" ng-model="schememaster.memberId" data-placeholder="Pick a Member" style="width:100%;">
								<option value=""></option>
								<option data-ng-repeat="ben in memberbeneficiaries" value="{{ben.id}}">{{ ben.fullname }}</option>
							</select>
						</div>
					</div>
				</div>-->
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="sales-code" class="col-sm-4" style="font-weight:600;margin-top: -5px;">Scheme or Document:</label>
                        <div class="col-sm-6">
                            <p class="input-group">
                                {{SchemeOrDocumentname}}
                            </p>
                        </div>
                    </div>
                </div>

            </div>

            <div class="row" style="margin:0;padding:0;">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="group" class="col-sm-4" style="font-weight:600; margin-top: 5px;">Stage:</label>
                        <div class="col-sm-6">
                            <select ui-select2 id="organizationId" ng-model="schememaster.stage" data-placeholder="Pick a Stage" style="width:100%;">
                                <!--<option value=""></option>
								<option value="Applied">Applied</option>
								<option value="Response Received">Response Received</option>
								<option value="Delayed">Delayed</option>
								<option value="No Response">No Response</option>
								<option value="Benefits Availed">Benefits Availed</option>
								<option value="Reapplied">Reapplied</option>
								<option value="Cancelled">Cancelled</option>
								<option value="Completed">Completed</option>-->
                                <option value=""></option>
                                <option data-ng-repeat="state in schemestages" value="{{state.id}}" ng-disabled="state.enabled">{{ state.name }}
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group" ng-hide="reponserec">
                        <label for="agegroup" class="col-sm-4" style="font-weight:600; margin-top: -5px;">Response Recieved:</label>
                        <div class="col-sm-6">
                            <select ui-select2 id="organizationId" ng-model="schememaster.responserecieve" data-placeholder="Response Recieved" style="width:100%;">
                                <option value=""></option>
                                <option value="Approved">Approved</option>
                                <option value="Rejected">Rejected</option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group" ng-hide="rejectdis">
                        <label for="state" class="col-sm-4" style="font-weight:600;margin-top: -5px;">Reason for Rejection:</label>
                        <div class="col-sm-6">
                            <select ui-select2 id="stateId" style="width:100%;" ng-model="schememaster.rejection" data-placeholder="Pick a Reason for Rejection">
                                <option value=""></option>
                                <option value="Incomplete Form">Incomplete Form</option>
                                <option value="Insufficient Supporting Documents">Insufficient Supporting Documents</option>
                                <option value="Asking For Facilitation Fee">Asking For Facilitation Fee</option>
                                <option value="Stigma">Stigma</option>
                                <option value="Not Eligible">Not Eligible</option>
                                <option value="Reason Unknown">Reason Unknown</option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group" ng-hide="delaydis">
                        <label for="city" class="col-sm-4" style="font-weight:600;margin-top: 5px;">Reason for Delay:</label>
                        <div class="col-sm-6">
                            <select ui-select2 id="cityId" style="width:100%;" ng-model="schememaster.delay" data-placeholder="Pick a Reason for Delay">
                                <option value=""></option>
                                <option value="Quota Over">Quota Over</option>
                                <option value="Time Over">Time Over</option>
                                <option value="Asking For Facilitation Fee">Asking For Facilitation Fee</option>
                                <option value="Inordinate Delay">Inordinate Delay</option>
                                <option value="Reason Unknown">Reason Unknown</option>
                            </select>
                        </div>
                    </div>

                    <!--<div class="form-group" ng-hide="collectedrequired">
                        <label for="agegroup" class="col-sm-4" style="font-weight:600; margin-top: -4px;">Collected Required Documents:</label>
                        <div class="col-sm-6">
                            <select ui-select2 id="organizationId" ng-model="schememaster.collectedrequired" data-placeholder="Collected Required Documents" style="width:100%;">
                                <option value=""></option>
                                <option value="Applied">Applied</option>
                                <option value="Not Applied">Not Applied</option>
                            </select>
                        </div>
                    </div>-->
                </div>

            </div>

            <div class="row" style="margin:0;padding:0;">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="zip" class="col-sm-4" style="font-weight:600;margin-top: 5px;">Follow Up Date:</label>
                        <div class="col-sm-6">
                            <p class="input-group">
                                <input type="text" id="{{'datepicker' + $index}}" class="form-control" datepicker-popup="{{format}}" ng-model="schememaster.datetime" is-open="schememaster.opened" min="minDate" max="'2015-06-22'" datepicker-options="dateOptions" close-text="Close" min-date="picker.dtmax" />
                                <span class="input-group-btn"><button class="btn btn-default" ng-click="workflowopen($event, $index)"><i class="glyphicon glyphicon-calendar"></i></button>
                                </span>
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6">
                </div>
            </div>
        </form>





    </div>

    <div class="modal-footer">
        <div align="left">
            <button type="button" class="btn btn-success btn-sm btn-flat" ng-click="updateAW()">Update</button>
            <button type="button" class="btn btn-danger btn-sm btn-flat" ng-click="okAW()">Cancel</button>
        </div>
    </div>
</script>
