<style>
  table th{
    white-space: nowrap;
  }
  .stylelink {
    background: transparent;
    color: #9d9eb3;
    font-weight: bold;
    text-decoration: none;
    font-size: 14px;
    display: inline-flex;
    flex-flow: row nowrap;
    max-width: 100%;
    padding: 20px 10px;
  }

  .stylelink.active {
    color: #4a4d72;
    font-weight: bold;
    text-decoration: none;
    font-size: 14px;
    display: inline-flex;
    flex-flow: row nowrap;
    max-width: 100%;
    padding: 20px 0px;
    border-bottom: 4px solid #ec0b6d;
    margin-left: 56px;
  }

  .sub_menu {
    display: inline-flex;
    flex-flow: row nowrap;
    max-width: 100%;
    padding: 10px 10px;
    border-bottom: 2px solid transparent;
    color: #333;
  }

  .sub_menu.active {
    display: inline-flex;
    flex-flow: row nowrap;
    max-width: 100%;
    padding: 10px 10px;
    color: #000;
    font-weight: bold;
    /*		border-bottom: 2px solid #01adfb;*/
  }

  #wrapper {
    display: table;
    table-layout: fixed;
    width: 100%;
    height: auto;
    border-bottom: 4px solid #f4f4f4;
    background-color: #fff;
    margin-top: 12px;
  }

  #wrapper div {
    display: table-cell;
    height: auto;
  }


  .sell {
    position: relative;
    min-width: 45px;
  }

  .sell:after {
    content: url(images/piclinks/down-arrow.png);
    font: 17px "Consolas", monospace;
    color: #333;
    top: 5px;
    margin-left: -22px;
    padding: 0 0 2px;
    position: absolute;
    pointer-events: none;
  }

  .sell select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    display: block;
    width: 100%;
    /*        max-width: 320px;*/
    height: 32px;
    float: left;
    padding: 0px 7px;
    font-size: 14px;
    line-height: 1.75;
    color: #878993;
    border-radius: 4px;
    background-color: #ffffff;
    background-image: none;
    border: 1px solid #d5d7df;
    -ms-word-break: normal;
    word-break: normal;
  }

  .top {
    padding-top: 1.8em;
  }

  table,
  th,
  td {
    fill: #262d57;
    font-size: 14px;
  }

  th {
    background-color: #d5d7df;
    font-weight: normal;
  }

  tr {
    background-color: White;
    color: #262d57;
    font-size: 10px;
  }

  @media screen and (max-width: 480px) {
    .stylelink {
      font-size: 12px;
      padding: 10px 20px;
    }

    .stylelink.active {
      font-size: 12px;
      /*            padding: 10px 20px;*/
      padding: 10px 0px;
    }

    .sub_menu {
      font-size: 10px;
    }

    .sub_menu.active {
      font-size: 10px;
    }

    .ml {
      padding-left: 0px;
    }

    .ml1 {
      margin-left: -5%;
      margin-bottom: 25px;
    }
  }

  @media screen and (max-width:350px) {
    .ml {
      padding-left: 0px;
    }

    .ml1 {
      margin-left: -7%;
      margin-bottom: 25px;
    }
  }

  @media screen and (max-width:376px) and (min-width:355px) {
    .ml {
      padding-left: 0px;
    }

    .ml1 {
      margin-left: -7%;
      margin-bottom: 25px;
    }
  }

  @media screen and (max-width:1024px) and (min-width:1000px) {
    .ml1 {
      margin-left: -2%;
    }
  }

  .inactive {
    color: #dddddd;
    pointer-events: none;
    cursor: default;
  }

</style>

<toaster-container
  toaster-options="{'position-class': 'toast-container-custo','time-out': 3000,'body-output-type': 'template'}">
</toaster-container>

<div style="width:100%;height:auto;background:#ffffff;">
  <div id="wrapper">
    <div style="text-align:left;">
      <a class="stylelink active" href="/formleveldetailslist"><span
          style="flex:1;white-space:pre;overflow: hidden;text-overflow: ellipsis;">DETAILS LIST</span></a>
    </div>
    <div style="text-align:left;">
      <a class="stylelink" href="/formlevelactivitieslist"><span
          style="flex:1;white-space:pre;overflow: hidden;text-overflow: ellipsis;">ACTIVITIES LIST</span></a>
    </div>
    <div style="text-align:left;">
      <a class="stylelink" href="/formlevellineitemlist"><span
          style="flex:1;white-space:pre;overflow: hidden;text-overflow: ellipsis;">LINE ITEM LIST</span></a>
    </div>
    <div style="text-align:left;">
      <a class="stylelink" href="/formlevelschedulehistorylist"><span
          style="flex:1;white-space:pre;overflow: hidden;text-overflow: ellipsis;">SCHEDULE HISTORY LIST</span></a>
    </div>

  </div>
</div>

<!-- Horizontal Form -->
<div class="box box-info" style="min-height:450px;border-top:none;">
  <div class="box-body">
    <!-- <br /> -->
    <div class="row padding">
      <div class="col-md-4">
        <div>
          <h3 style="font-weight:600;font-size:20px;padding-top: 10px;">Ticket RC Details Upload</h3>
        </div>
      </div>
    </div>
    <br />
    <div align="center">
      <h5>XLS file should be in the following format.</h5>
      <img src="images/xlsspecifiedformat.jpg" style="width:98%;height:auto;" />
      <br />
      <br />

      <a href="/xlssheets/xlsrcdetails.xlsx" target="_blank" style="text-decoration: underline;">Click here to download
        sample xls file</a>
    </div>
    <br />

    <div>
      <p style="margin: 0px 14px 10px;">
        <input type="file" name="xlfile" id="xlf" /> ... click here to select a file
      </p>
    </div>
    <br />
  </div>

  <div class="row padding">
    <div class="col-sm-3">
      <div class="form-group">
        <label for="name">Customer<sup>*</sup>
        </label>
        <div>
          <select ui-select2 id="customer" data-ng-model="member.customerId" data-placeholder="Pick a Customer"
            style="width:100%">
            <option value=""></option>
            <option data-ng-repeat="customer in customers" value="{{customer.id}}">{{ customer.name }}</option>
          </select>
        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="form-group">
        <label for="name">Category<sup>*</sup>
        </label>
        <div>
          <select ui-select2 id="category" data-ng-model="member.categoryId" data-placeholder="Pick a Category"
            style="width:100%">
            <option value=""></option>
            <option data-ng-repeat="category in categories" value="{{category.id}}">{{ category.name }}</option>
          </select>
        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="form-group">
        <label for="name">SubCategory<sup>*</sup>
        </label>
        <div>
          <select ui-select2 id="subcategory" data-ng-model="member.subcategoryId" data-placeholder="Pick a SubCategory"
            style="width:100%">
            <option value=""></option>
            <option data-ng-repeat="subcategory in subcategories" value="{{subcategory.id}}">{{ subcategory.name }}
            </option>
          </select>
        </div>
      </div>
    </div>
    <!-- <div class="col-sm-3">
      <div class="form-group">
        <label for="sales-area">Country<sup>*</sup> </label>
        <div>
          <select ui-select2 id="country" data-ng-model="member.countryId" data-placeholder="Pick a Country"
            style="width:100%">
            <option value=""></option>
            <option data-ng-repeat="country in countries" value="{{country.id}}">{{ country.name }}</option>
          </select>
        </div>
      </div>
    </div> -->
    <!-- <div class="col-sm-3">
      <div class="form-group">
        <label for="sales-area">City<sup>*</sup> </label>
        <div>
          <select ui-select2 id="city" data-ng-model="member.cityId" data-placeholder="Pick a City" style="width:100%">
            <option value=""></option>
            <option data-ng-repeat="city in cities" value="{{city.id}}">{{ city.name }}</option>
          </select>
        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="form-group">
        <label for="name">Pincode<sup>*</sup>
        </label>
        <div>
          <select ui-select2 id="pincode" data-ng-model="member.pincodeId" data-placeholder="Pick a Pincode"
            style="width:100%">
            <option value=""></option>
            <option data-ng-repeat="pincode in pincodes" value="{{pincode.id}}">{{ pincode.name }}</option>
          </select>
        </div>
      </div>
    </div> -->
    <!-- <div class="col-sm-3" ng-repeat="organisationlevel in organisationlevels">
      <div class="form-group">
        <label for="sales-area">{{organisationlevel.name}}<sup>*</sup> </label>
        <div>
          <select ui-select2 id="organisationlevel+{{$index}}" ng-model="organisationlevel.locationid"
            data-placeholder="Select {{organisationlevel.name}}" style="width:100%"
            ng-change="orgLevelChange($index+1,organisationlevel.locationid)" ng-disabled="disableLocation">
            <option value=""></option>
            <option data-ng-repeat="levelone in organisationlevel.organisationlocations" value="{{levelone.id}}">
              {{levelone.name}}</option>
          </select>
        </div>
      </div>
    </div> -->
  </div>
  <br />
  <div id="spinner"></div>
  <div style="width: 100%;">
    <div style="overflow-x: scroll;overflow-y: scroll;">
    <table class="table table-striped">
      <thead>
        <tr>
          <th style="width:40px;">#</th>
          <th style="width:150px;">Dispatch Number</th>
          <th style="width:145px;">Service Provider</th>
          <th style="width:145px;">Dispatch Status</th>
          <th>LOB</th>
          <th>System Classification</th>
          <th>Service Tag</th>
          <!-- <th>Pincode</th> -->
          <th>DSP Type</th>
          <th>Service Level</th>
          <th>Customer No</th>
          <th>Customer Name</th>
          <th>Customer Contact Name</th>
          <th>Customer Contact Phone No</th>
          <!-- <th>Latitude</th>
          <th>Longitude</th> -->
          <th>Customer Contact Email Address</th>
          <th>Country</th>
          <th>State</th>
          <th>City</th>
          <th>Service Postal Code</th>
          <th>Service Address Line 1</th>
          <th>Service Address Line 2</th>
          <th>Service Address Line 3</th>
          <th>Service Address Line 4</th>
          <!-- <th>Customer Full Address</th> -->
          <!-- <th ng-if="showAllFields">Jobcode</th>
          <th ng-if="showAllFields">Manager</th>
          <th ng-if="showAllFields">Group</th>
          <th ng-if="showAllFields">Deactive</th> -->
        </tr>
      </thead>
      <tbody>
        <tr dir-paginate="rcdetail in xlsentries |itemsPerPage:pageSize">
          <td>{{rcdetail.index+1}}</td>
          <td>{{rcdetail.dispatchno}}</td>
          <!-- <td>{{rcdetail.serno}}</td> -->
          <td>{{rcdetail.serviceprovider}}</td>
          <td>{{rcdetail.dispatchstatus}}</td>
          <td>{{rcdetail.lob}}</td>
          <td>{{rcdetail.sysclassification}}</td>
          <td>{{rcdetail.servicetag}}</td>
          <!-- <td>{{rcdetail.pincode}}</td> -->
          <td>{{rcdetail.dsptype}}</td>
          <!-- <td>{{rcdetail.city}}</td> -->
          <!-- <td>{{ rcdetail.latitude }}</td>
          <td>{{ rcdetail.longitude }}</td> -->
          <td>{{rcdetail.servicelevel}}</td>
          <td>{{rcdetail.customerno}}</td>
          <td>{{rcdetail.customername}}</td>
          <td>{{rcdetail.customercontactname}}</td>
          <td>{{rcdetail.customercontactphno}}</td>
          <td>{{rcdetail.customercontactemail}}</td>
          <td>{{rcdetail.country}}</td>
          <td>{{rcdetail.state}}</td>
          <td>{{rcdetail.city}}</td>
          <td>{{rcdetail.servicepostalcode}}</td>
          <td>{{rcdetail.serviceaddress1}}</td>
          <td>{{rcdetail.serviceaddress2}}</td>
          <td>{{rcdetail.serviceaddress3}}</td>
          <td>{{rcdetail.serviceaddress4}}</td>
          <!-- <td>{{rcdetail.customeraddress}}</td> -->


          <!-- <td ng-if="showAllFields">
            {{ prospect.jobcode&&prospect.jobcode>0?prospect.jobcode+"-"+prospect.jobcodename:"" }}</td>
          <td ng-if="showAllFields">
            {{ prospect.managerid&&prospect.managerid>0?prospect.managerid+"-"+prospect.managername:"" }}</td>
          <td ng-if="showAllFields">{{ prospect.group&&prospect.group>0?prospect.group+"-"+prospect.groupname:"" }}</td>
          <td ng-if="showAllFields">{{ prospect.userstatus }}</td> -->
        </tr>
      </tbody>
    </table>
  </div>
    <div align="right">
      <dir-pagination-controls max-size="5" direction-links="true" boundary-links="false">
      </dir-pagination-controls>
    </div>
    <br />
    <br />
    <br />
    <div align="left" style="margin: 0px 14px 10px;">
      <button ng-click="Save()" class="btn btn-primary" ng-hide="hideSubmit" ng-disabled="DisableSave">Submit</button>
      <button ng-click="Validate()" class="btn btn-primary" ng-hide="hideValidate"
        ng-disabled="DisableValidate" style="color: #e62e59!important;">Validate</button>
      <a href="/formleveldetailslist">
        <!-- <button class="btn btn-default">Cancel</button> -->
        <button class="btn btn-primary">Cancel</button>
      </a>
    </div>
    <br />
    <a download="errorlog.txt" id="downloadlink" style="display: none" align="center">Download Error Text</a>

  </div>

</div>
