/*
 * Skin: Blue
 * ----------
 */
.skin-blue .main-header .navbar {
/*  background-color: #b71c1c;*/
/*    background-color:#cd3434;*/
}
.skin-blue .main-header .navbar .nav > li > a {
/*  color: #ffffff;*/
}
.skin-blue .main-header .navbar .nav > li > a:hover,
.skin-blue .main-header .navbar .nav > li > a:active,
.skin-blue .main-header .navbar .nav > li > a:focus,
.skin-blue .main-header .navbar .nav .open > a,
.skin-blue .main-header .navbar .nav .open > a:hover,
.skin-blue .main-header .navbar .nav .open > a:focus,
.skin-blue .main-header .navbar .nav > .active > a {
/*  background: rgba(0, 0, 0, 0.1);*/
    background:none;
/*  color: #f6f6f6;*/
}      
.skin-blue .main-header .navbar .sidebar-toggle {
/*  color: #ffffff;*/
    color:#4a4d72;
}
.skin-blue .main-header .navbar .sidebar-toggle:hover {
  color: #f6f6f6;
  background: rgba(0, 0, 0, 0.1);
}
.skin-blue .main-header .navbar .sidebar-toggle {
    color:#4a4d72;
}
.skin-blue .main-header .navbar .sidebar-toggle:hover {
  background-color:#e72e5a;
}
@media (max-width: 767px) {
  .skin-blue .main-header .navbar .dropdown-menu li.divider {
    background-color: rgba(255, 255, 255, 0.1);
  }
  .skin-blue .main-header .navbar .dropdown-menu li a {
    color: #fff;
  }
  .skin-blue .main-header .navbar .dropdown-menu li a:hover {
    background: #367fa9;
  }
}
.skin-blue .main-header .logo {
  background-color: #ffffff;
  color: #333;
  border-bottom: 0 solid transparent;
}
.skin-blue .main-header .logo:hover {
  background-color: #430a23;
}
.skin-blue .main-header li.user-header {
  background-color: #fff;
}
.skin-blue .content-header {
  background: transparent;
}
.skin-blue .wrapper,
.skin-blue .main-sidebar,
.skin-blue .left-side,
.skin-blue .main-sidebar-right {
  background-color: #fff;
/*    background-color: #1a1a1a;*/
    
    
}
.skin-blue .user-panel > .info,
.skin-blue .user-panel > .info > a {
  color: #333;
}
.skin-blue .sidebar-menu > li.header {
  color: #4b646f;
  background: #1a2226;
}
.skin-blue .sidebar-menu > li > a {
  border-right: 3px solid transparent;
}
.skin-blue .sidebar-menu > li:hover > a,
.skin-blue .sidebar-menu > li.active > a {
/*  color: #b71c1c;*/
    color: #ffffff;
/*  background: #ddd;*/
/*  border-right-color: #b71c1c;*/
}
.skin-blue .sidebar-menu > li > .treeview-menu {
  margin: 0 1px;
/*  background: #f0f0f0;*/
    background:#1a1a1a;
}
.skin-blue .sidebar a {
/*  color: #333;*/
/*    color:#595959;*/
    color:#a6a6a6;
}
.skin-blue .sidebar a:hover {
  text-decoration: none;
}
.skin-blue .treeview-menu > li > a {
/*  color: #333;*/
/*    color:#595959*/
    color:#a6a6a6;
}
.skin-blue .treeview-menu > li.active > a,
.skin-blue .treeview-menu > li > a:hover {
/*  color: #b71c1c;*/
    color:#ffffff;
}
.skin-blue .sidebar-form {
  border-radius: 3px;
  border: 1px solid #374850;
  margin: 10px 10px;
}
.skin-blue .sidebar-form input[type="text"],
.skin-blue .sidebar-form .btn {
  box-shadow: none;
  background-color: #374850;
  border: 1px solid transparent;
  height: 35px;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.skin-blue .sidebar-form input[type="text"] {
  color: #666;
  border-top-left-radius: 2px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 2px;
}
.skin-blue .sidebar-form input[type="text"]:focus,
.skin-blue .sidebar-form input[type="text"]:focus + .input-group-btn .btn {
  background-color: #fff;
  color: #666;
}
.skin-blue .sidebar-form input[type="text"]:focus + .input-group-btn .btn {
  border-left-color: #fff;
}
.skin-blue .sidebar-form .btn {
  color: #999;
  border-top-left-radius: 0;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  border-bottom-left-radius: 0;
}
.skin-blue.layout-top-nav .main-header > .logo {
  background-color: #3c8dbc;
  color: #ffffff;
  border-bottom: 0 solid transparent;
}
.skin-blue.layout-top-nav .main-header > .logo:hover {
  background-color: #3b8ab8;
}



/*---------------- right menu ---------------------- */

.skin-blue .user-panel-right > .info,
.skin-blue .user-panel-right > .info > a {
  color: #fff;
}

.skin-blue .sidebar-menu-right > li.header-right {
  color: #4b646f;
  background: #1a2226;
}
.skin-blue .sidebar-menu-right > li > a {
  border-right: 3px solid transparent;
}
.skin-blue .sidebar-menu-right > li:hover > a,
.skin-blue .sidebar-menu-right > li.active > a {
  color: #ffffff;
  background: #ddd;
  border-right-color: #b71c1c;
}
.skin-blue .sidebar-menu-right > li > .treeview-menu-right {
  margin: 0 1px;
  background: #e03838;
}
.skin-blue .sidebar-right a {
  color: #ffffff;
}
.skin-blue .sidebar-right a:hover {
  text-decoration: none;
}
.skin-blue .treeview-menu-right > li > a {
  color: #ffffff;
}
.skin-blue .treeview-menu-right > li.active > a,
.skin-blue .treeview-menu-right > li > a:hover {
  color: #ffffff;
}
.skin-blue .sidebar-form-right {
  border-radius: 3px;
  border: 1px solid #374850;
  margin: 10px 10px;
}
.skin-blue .sidebar-form-right input[type="text"],
.skin-blue .sidebar-form-right .btn {
  box-shadow: none;
  background-color: #374850;
  border: 1px solid transparent;
  height: 35px;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.skin-blue .sidebar-form-right input[type="text"] {
  color: #666;
  border-top-left-radius: 2px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 2px;
}
.skin-blue .sidebar-form-right input[type="text"]:focus,
.skin-blue .sidebar-form-right input[type="text"]:focus + .input-group-btn .btn {
  background-color: #fff;
  color: #666;
}
.skin-blue .sidebar-form-right input[type="text"]:focus + .input-group-btn .btn {
  border-left-color: #fff;
}
.skin-blue .sidebar-form-right .btn {
  color: #999;
  border-top-left-radius: 0;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  border-bottom-left-radius: 0;
}
.skin-blue.layout-top-nav .main-header > .logo {
  background-color: #3c8dbc;
  color: #ffffff;
  border-bottom: 0 solid transparent;
}
.skin-blue.layout-top-nav .main-header > .logo:hover {
  background-color: #3b8ab8;
}