<style>
    .tht:hover {
        color: blue;
    }
    
    .stylelink {
        /*		padding: 3px 10px;*/
        background: transparent;
        color: #9d9eb3;
        font-weight: bold;
        /*		border-radius: 50px;*/
        text-decoration: none;
        font-size: 14px;
        display: inline-flex;
        flex-flow: row nowrap;
        max-width: 100%;
        padding: 20px 10px;
    }
    
    .stylelink.active {
        /*		padding: 3px 10px;*/
        /*		background: #b71c1c;*/
        color: #4a4d72;
        font-weight: bold;
        /*		border-radius: 50px;*/
        text-decoration: none;
        font-size: 14px;
        /*		font-weight: 600;*/
        display: inline-flex;
        flex-flow: row nowrap;
        max-width: 100%;
        padding: 20px 10px;
        border-bottom: 4px solid #e72e5a;
    }
    
    #wrapper {
        display: table;
        table-layout: fixed;
        width: 100%;
        height: auto;
        border-bottom: 1px solid #e6e6e6;
        /*		background-color: #fff;*/
    }

</style>
<!--Up and Down Arrow -->
<style>
/*
    body {
        padding-top: 50px;
    }
*/

</style>

<style>
    th {
        cursor: pointer;
    }
    
    {
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        -o-user-select: none;
        user-select: none;
    }

</style>

<!--
<script type="text/javascript">
    var sortingOrder = 'FieldworkerName';

</script>
-->
<!-- Horizontal Form -->
<div class="box box-info" style="min-height:450px;border-top:none;" data-ng-init="toggleLoading()">
    <div id="wrapper">
        <div class="stylelink active box-header with-border" style="padding:20px 10px;">
            <h3 class="box-title" style="font-weight:600;">{{fwsitelink}}</h3>
        </div>
    </div>
    <!-- /.box-header -->
    <!-- form start -->

    <div class="box-body">
        <br/>
        <div class="row">
            <div class="col-sm-5"></div>
            <div data-ng-hide="hideSearchFilter()" class="col-sm-2" style="text-align:right;padding-right:0px;border-color:#e1e8ee">
                <span>Show</span>
                <select ng-model="pageSize" data-placeholder="Show Entries" ng-change="pageFunction(pageSize)">
                    <option value="25">25</option>
                    <option value="50">50</option>
                    <option value="100">100</option>
                </select>
            </div>
            <div data-ng-hide="hideSearchFilter()" class="col-sm-3" style="padding-right:0px;">
                <form role="form">
                    <div class="input-group">
                        <input type="text" class="form-control ng-pristine ng-valid" placeholder="Search " style="z-index:0;border-right:none;border-color:#e1e8ee;border-top-left-radius:4px;border-bottom-left-radius: 4px;" data-ng-model="searchPart">
                        <span class="input-group-btn">
                     <button class="btn btn-default" type="button" style="border-top-right-radius:4px;border-bottom-right-radius: 4px;border-color:#e1e8ee;background:none;border-left:none;"><span class="glyphicon glyphicon-search"></span></button>
                        </span>
                    </div>
                </form>
            </div>
            <div class="col-sm-2">
                <a data-ng-href="/assignfwtosite/create" class="btn btn-primary btn-sm " role="button" data-ng-hide="hideCreateButton(); hideSearchFilter()" style="padding:5px 20px;margin-right:10px;">Add New </a>
            </div>

        </div>
<!--
        <div align="left">
            <a data-ng-href="/assignfwtosite/create" class="btn btn-primary btn-sm " role="button" data-ng-hide="hideCreateButton()">{{addnew}}</a>
        </div>
-->

        <br/>


        <form class="form-horizontal" role="form" data-ng-show="showForm()">
            <p align="center" style="color:red;">{{mandatoryfield}}</p>
            <br/>
            <div class="row" style="margin:0;padding:0;">
                <div class="col-sm-3"></div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="partner" class="col-sm-4" style="font-weight:600;margin-top:4px;color:red;">{{fieldworkerth}} </label>
                        <div class="col-sm-6">
                            <select ui-select2 ng-model="routelink.partnerId" data-placeholder="{{fieldworkerth}}" style="width:240px;">
                                <option value=""></option>
                                <option data-ng-repeat="partner in partners" value="{{partner.id}}">{{ partner.firstname +' - '+ partner.lastname}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="salesmanager" class="col-sm-4" style="font-weight: 600;" style="font-weight:600;margin-top:8px;">{{passignedsites}} </label>
                        <div class="col-sm-6">
                            <div style="width:100%; height:150px;">
                                <ul style="list-style:none; margin:0; padding:0;border: 1px solid lightgrey; height: 150px; overflow:auto; border-radius: 5px; padding:5px 10px;">
                                    <li ng-repeat="rout in exitingroutes">
                                        <input class="eventCheckbox" type="checkbox" ng-model="eventCheckbox" value="{{rout.id}}" name="vehicle" disabled>{{rout.name}}
                                    </li>

                                    <div ng-if="exitingroutes.length == 0" style="margin:0 auto;text-align:center;padding-top: 5%;"><span style="font-size:14px;font-weight:bold;">No Site Assigned</span>
                                    </div>
                                </ul>

                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="salesmanager" class="col-sm-4" style="font-weight: 600;" style="font-weight:600;margin-top:8px;"><span style="color:red">{{pillarstarted}}</span></label>
                        <div class="col-sm-6">
                            <div style="width:100%; height:150px;">
                                <ul style="list-style:none; margin:0; padding:0;border: 1px solid lightgrey; height: 150px; overflow:auto; border-radius: 5px; padding:5px 10px;">
                                    <li ng-repeat="route in availableroutes">
                                        <input class="messageCheckbox" type="checkbox" id="myCheck" ng-model="zipmaster.enabled" value="{{route.id}}" ng-change="Sitechange(zipmaster.enabled)"> {{route.name}}

                                    </li>
                                    <div ng-show="!availableroutes.length" style="margin:0 auto;text-align:center;padding-top: 20%;">
                                        <span style="font-size:18px;font-weight:bold;">No Sites Available</span>
                                    </div>
                                </ul>
                            </div>
                        </div>
                    </div>


                </div>
                <div class="col-sm-3"></div>
            </div>

            <br/>
            <br/>
            <br/>

            <div align="left">
                <div>

                    <a class="btn btn-success btn-sm " type="submit" role="button" data-ng-click="Save()" data-ng-show="isCreateView()" ng-disabled="saveDisable" style="padding:5px 20px;">{{create}} </a>&nbsp;

                    <a class="btn btn-success btn-sm " type="submit" role="button" data-ng-click="Update()" data-ng-hide="isCreateView()" style="padding:5px 20px;">{{update}} </a>&nbsp;

                    <a data-ng-href="/assignfwtosite" class="btn btn-danger btn-sm " role="button" style="padding:5px 20px;">{{cancel}}</a>

                </div>
            </div>
        </form>

        <div data-ng-hide="hideSearchFilter()">
        </div>
        <br />


        <div data-ng-hide="showForm()" class="table-responsive">
            <table class="table">


                <thead>
                    <tr>
                        <th style="width:50px;">#</th>
                        <!--<th ng-style="style" >{{fieldworkerth | uppercase}}</th>-->
                        <!--<th class="tht" ng-style="style" ng-click="FWFilter()" style="cursor:pointer;"><span style="color:{{backgroundCol1}};">{{fieldworkerth | uppercase}}</span></th>-->

                        <!--                        <th ng-style="style" ng-click="FWFilter()" style="cursor:pointer;" class="FieldworkerName"><span style="color:{{backgroundCol1}};">{{fieldworkerth | uppercase}}</span>&nbsp;<a ng-click="sort_by('FieldworkerName')"><i class="icon-sort"></i></a></th>-->

                        <th ng-click="changeSorting('FieldworkerName')">{{fieldworkerth | uppercase}}&nbsp;&nbsp;<i class="fa fa-sort-desc" ng-class="getIcon('FieldworkerName')"></i></th>


                        <!--
                        <th>
                            <a href="" ng-click="sortType = 'FieldworkerName'; sortReverse = !sortReverse">
           {{fieldworkerth | uppercase}} 
            <span ng-show="sortType == 'FieldworkerName' && !sortReverse" class="fa fa-caret-down"></span>
            <span ng-show="sortType == 'FieldworkerName' && sortReverse" class="fa fa-caret-up"></span>
          </a></th>
-->

                        <th>{{site | uppercase}}</th>

                        <th style="width:75px;">{{action | uppercase}}</th>
                    </tr>
                </thead>
                <!--                 | orderBy:sortingOrder:reverse -->
                <tbody id="bnbody">
                    <tr dir-paginate="routelink in TotalData  = ( displayroutelinks | filter:searchPart )|  itemsPerPage:pageSize" current-page="currentPage">
                        <td>{{ routelink.index }}</td>
                        <td>{{routelink.FieldworkerName }}</td>
                        <td>{{routelink.SitenameId}} - {{routelink.Sitename}}</td>
                        <td>
                            <!--							<a data-ng-href="/assignfwtosite/{{routelink.id}}"><span class="glyphicon glyphicon-edit" title="Edit" style="color: black;"></span></a>&nbsp;-->

                            <a confirm-button="Delete(routelink.id,routelink.partnerId,routelink.distributionRouteId)"><span class="glyphicon glyphicon-remove" style="cursor:pointer;" title="Bin"></span></a>&nbsp;

                            <!--                            <a data-ng-href="/assignfwtosite" data-ng-click="Delete(routelink.id)"><span class="glyphicon glyphicon-trash" style="color: red;" title="Bin"></span></a>&nbsp;-->
                        </td>
                    </tr>
                </tbody>
            </table>

            <div align="right">
                <dir-pagination-controls max-size="25" direction-links="true" boundary-links="true" on-page-change="PageChanged(newPageNumber, oldPageNumber)">

                </dir-pagination-controls>

            </div>
        </div>

    </div>
    <!-- /.box-body -->
    <div class="box-footer">

    </div>
    <!-- /.box-footer -->
</div>
<!-- /.box -->



<modal2 title1="{{modalTitle}}" visible="thankyouModal">
    <p>{{message}}</p>
</modal2>
<validationmodal title1="Alert" visible="showValidation">
    {{validatestring1}}
</validationmodal>
