<style>
    .stylelink {
        /*		padding: 3px 10px;*/
        background: transparent;
        color: #9d9eb3;
        font-weight: bold;
        /*		border-radius: 50px;*/
        text-decoration: none;
        font-size: 14px;
        display: inline-flex;
        flex-flow: row nowrap;
        max-width: 100%;
        padding: 20px 10px;
    }
    
    .stylelink.active {
        /*		padding: 3px 10px;*/
        /*		background: #b71c1c;*/
        color: #4a4d72;
        font-weight: bold;
        /*		border-radius: 50px;*/
        text-decoration: none;
        font-size: 14px;
        /*		font-weight: 600;*/
        display: inline-flex;
        flex-flow: row nowrap;
        max-width: 100%;
        padding: 20px 10px;
        border-bottom: 4px solid #e72e5a;
    }
 #wrapper {
        display: table;
        table-layout: fixed;
        width: 100%;
        height: auto;
        border-bottom: 1px solid #e6e6e6;
    }
</style>
<!-- Horizontal Form -->
<!-- Horizontal Form -->
<div class="box box-info" style="min-height:450px;border-top:none;">
    <div id="wrapper">
     <div class=" stylelink active box-header with-border" style="padding:20px 10px;">
		<h3 class="box-title"  style="font-weight:600;">{{applyfordocument}}</h3>
	</div>
        </div>
    <!-- /.box-header -->
    <!-- form start -->

    <div class="box-body">
        <!--<h2>documentmaster</h2>-->
        <br/>
        <form class="form-horizontal" role="form">
            <p align="center" style="color:red">{{mandatoryfield}}</p>
            <!--<span style="color:red">*</span>-->
            <br/>


            <div class="row" style="margin:0;padding:0;">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="documentmaster-id" class="col-sm-4" style="font-weight:600;margin-top: 4px;color:red;">{{member}} </label>
                        <div class="col-sm-6">
                            <select ui-select2 id="memberId" ng-model="documentmaster.memberId" data-placeholder="{{member}}" style="width:100%;" ng-disabled="HideCreateButton">
								<option value=""></option>
								<option data-ng-repeat="ben in beneficiaries" value="{{ben.id}}">{{ ben.fullname }}</option>
							</select>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="sales-code" class="col-sm-4" style="font-weight:600;color:red;">{{document}} </label>
                        <div class="col-sm-6">
                            <p class="input-group" style="width: 200px;z-index:0">
                                <select ui-select2 id="schemeId" ng-model="documentmaster.schemeId" data-placeholder="{{document}}" style="width:285px;" ng-disabled="HideCreateButton">
									<option value=""></option>
									<!--									<option data-ng-repeat="state in printschemes" value="{{state.id}}">{{ state.name }} </option>-->
									<option data-ng-repeat="doc in printschemes" value="{{doc.id}}" ng-if="UserLanguage==1">{{ doc.name }}</option>
									<option data-ng-repeat="doc in printschemes" value="{{doc.id}}" ng-if="UserLanguage==2">{{ doc.hnname }}</option>
									<option data-ng-repeat="doc in printschemes" value="{{doc.id}}" ng-if="UserLanguage==3">{{ doc.knname }}</option>
									<option data-ng-repeat="doc in printschemes" value="{{doc.id}}" ng-if="UserLanguage==4">{{ doc.taname }}</option>
									<option data-ng-repeat="doc in printschemes" value="{{doc.id}}" ng-if="UserLanguage==5">{{ doc.tename }}</option>
									<option data-ng-repeat="doc in printschemes" value="{{doc.id}}" ng-if="UserLanguage==6">{{ doc.mrname }}</option>
								</select>
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row" style="margin:0;padding:0;">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="group" class="col-sm-4" style="font-weight:600; margin-top: 4px;color:red;">{{stage}}</label>
                        <div class="col-sm-6">
                            <select ui-select2 id="stage" data-ng-model="documentmaster.stage" data-placeholder="{{stage}}" style="width:100%;">
								<option value=""></option>
								<!--								<option data-ng-repeat="state in schemestages" value="{{state.id}}">{{ state.name }}-->
								<option data-ng-repeat="state in schemestages" value="{{state.id}}" ng-if="UserLanguage==1">{{ state.name }}</option>
								<option data-ng-repeat="state in schemestages" value="{{state.id}}" ng-if="UserLanguage==2">{{ state.hnname }}</option>
								<option data-ng-repeat="state in schemestages" value="{{state.id}}" ng-if="UserLanguage==3">{{ state.knname }}</option>
								<option data-ng-repeat="state in schemestages" value="{{state.id}}" ng-if="UserLanguage==4">{{ state.taname }}</option>
								<option data-ng-repeat="state in schemestages" value="{{state.id}}" ng-if="UserLanguage==5">{{ state.tename }}</option>
								<option data-ng-repeat="state in schemestages" value="{{state.id}}" ng-if="UserLanguage==6">{{ state.mrname }}</option>
							</select>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group" ng-hide="reponserec">
                        <label for="agegroup" class="col-sm-4" style="font-weight:600;margin-top:4px;color:red;">{{responsereceive}}</label>
                        <div class="col-sm-6">
                            <select ui-select2 id="organizationId" ng-model="documentmaster.responserecieve" data-placeholder="{{responsereceive}}" style="width:100%;">
								<option value=""></option>
								<option data-ng-repeat="responcedreceive in responcedreceived" value="{{responcedreceive.name}}" ng-if="UserLanguage==1">{{ responcedreceive.name }}</option>
								<option data-ng-repeat="responcedreceive in responcedreceived" value="{{responcedreceive.name}}" ng-if="UserLanguage==2">{{ responcedreceive.hnname }}</option>
								<option data-ng-repeat="responcedreceive in responcedreceived" value="{{responcedreceive.name}}" ng-if="UserLanguage==3">{{ responcedreceive.knname }}</option>
								<option data-ng-repeat="responcedreceive in responcedreceived" value="{{responcedreceive.name}}" ng-if="UserLanguage==4">{{ responcedreceive.taname }}</option>
								<option data-ng-repeat="responcedreceive in responcedreceived" value="{{responcedreceive.name}}" ng-if="UserLanguage==5">{{ responcedreceive.tename }}</option>
								<option data-ng-repeat="responcedreceive in responcedreceived" value="{{responcedreceive.name}}" ng-if="UserLanguage==6">{{ responcedreceive.mrname }}</option>
							</select>
                        </div>
                    </div>

                    <div class="form-group" ng-hide="rejectdis">
                        <label for="state" class="col-sm-4" style="font-weight:600;margin-top: 4px;color:red;">{{responserejection}}</label>
                        <div class="col-sm-6">
                            <select ui-select2 id="stateId" style="width:100%;" ng-model="documentmaster.rejection" data-placeholder="{{responserejection}}">
								<option value=""></option>
								<!--<option value="Incomplete Form">Incomplete Form</option>
								<option value="Insufficient Supporting Documents">Insufficient Supporting Documents</option>
								<option value="Asking For Facilitation Fee">Asking For Facilitation Fee</option>
								<option value="Stigma">Stigma</option>
								<option value="Not Eligible">Not Eligible</option>
								<option value="Reason Unknown">Reason Unknown</option>-->
								<option data-ng-repeat="resrej in reasonforrejections" value="{{resrej.name}}" ng-if="UserLanguage==1">{{ resrej.name }}</option>
								<option data-ng-repeat="resrej in reasonforrejections" value="{{resrej.name}}" ng-if="UserLanguage==2">{{ resrej.hnname }}</option>
								<option data-ng-repeat="resrej in reasonforrejections" value="{{resrej.name}}" ng-if="UserLanguage==3">{{ resrej.knname }}</option>
								<option data-ng-repeat="resrej in reasonforrejections" value="{{resrej.name}}" ng-if="UserLanguage==4">{{ resrej.taname }}</option>
								<option data-ng-repeat="resrej in reasonforrejections" value="{{resrej.name}}" ng-if="UserLanguage==5">{{ resrej.tename }}</option>
								<option data-ng-repeat="resrej in reasonforrejections" value="{{resrej.name}}" ng-if="UserLanguage==6">{{ resrej.mrname }}</option>
							</select>
                        </div>
                    </div>


                    <div class="form-group" ng-hide="delaydis">
                        <label for="city" class="col-sm-4" style="font-weight:600;margin-top: 4px;color:red;">{{responsedelay}} </label>
                        <div class="col-sm-6">
                            <select ui-select2 id="cityId" style="width:100%;" ng-model="documentmaster.delay" data-placeholder="{{responsedelay}}">
								<option value=""></option>
								<option data-ng-repeat="delay in reasonfordelayed" value="{{delay.name}}" ng-if="UserLanguage==1">{{ delay.name }}</option>
								<option data-ng-repeat="delay in reasonfordelayed" value="{{delay.name}}" ng-if="UserLanguage==2">{{ delay.hnname }}</option>
								<option data-ng-repeat="delay in reasonfordelayed" value="{{delay.name}}" ng-if="UserLanguage==3">{{ delay.knname }}</option>
								<option data-ng-repeat="delay in reasonfordelayed" value="{{delay.name}}" ng-if="UserLanguage==4">{{ delay.taname }}</option>
								<option data-ng-repeat="delay in reasonfordelayed" value="{{delay.name}}" ng-if="UserLanguage==5">{{ delay.tename }}</option>
								<option data-ng-repeat="delay in reasonfordelayed" value="{{delay.name}}" ng-if="UserLanguage==6">{{ delay.mrname }}</option>
							</select>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row" style="margin:0;padding:0;" ng-hide="datetimehide">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="zip" class="col-sm-4" style="font-weight:600;margin-top: 8px;color:red;">{{followupdate}} </label>
                        <div class="col-sm-6">
                            <p class="input-group">
                                <input type="text" id="{{'datepicker' + $index}}" class="form-control" datepicker-popup="{{format}}" ng-model="documentmaster.datetime" is-open="opened" min="minDate" max="'2015-06-22'" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" close-text="Close" min-date="dtmin" />
                                <span class="input-group-btn"><button type="button" class="btn btn-default" ng-click="open($event, $index)"><i class="glyphicon glyphicon-calendar"></i></button>
                                </span>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">

                </div>
            </div>

            <br/>
            <br/>
            <br/>
            <div align="left">

                <a class="btn btn-primary btn-sm " type="submit" role="button" data-ng-click="Save()" data-ng-hide="HideCreateButton" ng-disabled="CreateClicked" style="padding:5px 20px;">{{create}}</a>&nbsp;

                <a class="btn btn-success btn-sm" type="submit" role="button" data-ng-click="Update()" data-ng-show="HideCreateButton"  style="padding:5px 20px;">{{update}}</a>&nbsp;


                <a data-ng-href="/" class="btn btn-danger btn-sm " role="button" style="padding:5px 20px;">{{cancel}}</a>
            </div>
        </form>

    </div>
    <!-- /.box-body -->
    <div class="box-footer">

    </div>
    <!-- /.box-footer -->
</div>
<!-- /.box -->



<modal2 title1="{{modalTitle}}" visible="applyfordocumentdataModal">
    <p>{{message}}</p>
</modal2>

<validationmodal title1="Alert" visible="showValidation">
    {{validatestring1}}
</validationmodal>



<benefmodal1 visible="documentdataModal">
    <div class="modal-header" style="padding:0px;">
        <div class="pull-right" style="padding:15px;">
            <a data-ng-click="OK()" data-dismiss="modal" class="btn btn-success btn-sm " role="button" style="background:#db4242;border-color:#db4242;padding:5px 20px;font-weight:bold;">{{okbutton}}</a>
        </div>
        <h4 class="stylelink active modal-title" style="padding:20px 10px;">{{modalTitle}}</h4>
    </div>
    <div style="width:100%; height:auto; min-height:200px;  border: 1px solid #ffffff;padding:5px;" id="savemodals">
        <br/>

        <form class="form-horizontal" role="form">

            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="first-name" class="col-sm-4" style="font-weight:600;margin-top:8px;color:red;">{{member}}</label>
                        <div class="col-sm-6">
                            {{printmember.fullname}}
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">

                    <div class="form-group">
                        <label for="email" class="col-sm-4" style="font-weight:600;margin-top:8px;color:red;">{{document}}</label>
                        <div class="col-sm-6">
                            <!--							{{printdocumenttype.name}}-->
                            <div ng-if="UserLanguage==1">
                                {{printdocumenttype.name}}
                            </div>
                            <div ng-if="UserLanguage==2">
                                {{printdocumenttype.hnname}}
                            </div>
                            <div ng-if="UserLanguage==3">
                                {{printdocumenttype.knname}}
                            </div>
                            <div ng-if="UserLanguage==4">
                                {{printdocumenttype.taname}}
                            </div>
                            <div ng-if="UserLanguage==5">
                                {{printdocumenttype.tename}}
                            </div>
                            <div ng-if="UserLanguage==6">
                                {{printdocumenttype.mrname}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>



            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="mobile" class="col-sm-4" style="font-weight:600;margin-top:8px;color:red;">{{stage}}</label>
                        <div class="col-sm-6">
                            <!--							{{printstage.name}}-->
                            <div ng-if="UserLanguage==1">
                                {{printstage.name}}
                            </div>
                            <div ng-if="UserLanguage==2">
                                {{printstage.hnname}}
                            </div>
                            <div ng-if="UserLanguage==3">
                                {{printstage.knname}}
                            </div>
                            <div ng-if="UserLanguage==4">
                                {{printstage.taname}}
                            </div>
                            <div ng-if="UserLanguage==5">
                                {{printstage.tename}}
                            </div>
                            <div ng-if="UserLanguage==6">
                                {{printstage.mrname}}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="mobile" class="col-sm-4" style="font-weight:600;margin-top:8px;color:red;">{{followupdate}}</label>
                        <div class="col-sm-6">
                            {{printdate | date:'dd-MMM-yyyy'}}
                        </div>
                    </div>
                </div>
            </div>
            <br/>
            <br/>
            <br/>

            <!--<div>
				<div align="left">
					<a class="btn btn-success btn-sm btn-flat" role="button" data-ng-click="OK()">{{okbutton}}</a>
				</div>
			</div>-->
        </form>

    </div>


    <style>
        .toggle.android {
            border-radius: 0px;
        }
        
        .toggle.android .toggle-handle {
            border-radius: 0px;
        }
        
        #mapCanvas {
            width: 500px;
            height: 400px;
            float: left;
        }
        
        #infoPanel {
            margin-left: 100px;
        }
        
        #infoPanel div {
            margin-bottom: 5px;
        }

    </style>

</benefmodal1>

<script type="text/ng-template" id="template/AlertModal.html" class="modal" class="modal fade" role="dialog">
    <div class="modal-header">
        <h4 class="modal-title">{{palert}}</h4>
    </div>
    <div class="modal-body"> {{AlertMessage}} </div>
    <div class="modal-footer">
        <div align="left">

            <button type="button" class="btn btn-success btn-sm " ng-click="$close()">{{okbutton}}</button>

        </div>
    </div>
</script>
