<!--
<style>
    .stylelink {
        background: transparent;
        color: #fff;
        font-weight: bold;
        text-decoration: none;
        font-size: 14px;
        display: inline-flex;
        flex-flow: row nowrap;
        max-width: 100%;
        padding: 20px 10px;
    }
    
    .stylelink.active {
        color: #fff;
        font-weight: bold;
        text-decoration: none;
        font-size: 14px;
        font-weight: 600;
        display: inline-flex;
        flex-flow: row nowrap;
        max-width: 100%;
        padding: 20px 10px;
        border-bottom: 4px solid #cc3535;
    }
    
    .sub_menu {
        display: inline-flex;
        flex-flow: row nowrap;
        max-width: 100%;
        padding: 10px 10px;
        border-bottom: 2px solid transparent;
        color: #333;
    }
    
    .sub_menu.active {
        display: inline-flex;
        flex-flow: row nowrap;
        max-width: 100%;
        padding: 10px 10px;
        color: #000;
        font-weight: bold;
        border-bottom: 2px solid #01adfb;
    }
    
    #wrapper {
        display: table;
        table-layout: fixed;
        width: 100%;
        height: auto;
        background-color: #fff;
    }
    
    #wrapper div {
        display: table-cell;
        height: auto;
    }
    
    .nav-tabs-custom > .nav-tabs > li {
        width: 16%;
    }
    
    @media screen and (max-width: 480px) {
        .stylelink {
            font-size: 12px;
            padding: 5px 10px;
        }
        .stylelink.active {
            font-size: 12px;
            padding: 5px 10px;
        }
        .sub_menu {
            font-size: 10px;
        }
        .sub_menu.active {
            font-size: 10px;
        }
        .nav-tabs-custom > .nav-tabs > li {
            position: relative;
            display: block;
            padding: 10px;
            text-align: center;
            width: 180px;
        }
    }

</style>
-->
<style>
    .stylelink {
        /*		padding: 3px 10px;*/
        background: transparent;
        color: #9d9eb3;
        font-weight: bold;
        /*		border-radius: 50px;*/
        text-decoration: none;
        font-size: 14px;
        display: inline-flex;
        flex-flow: row nowrap;
        max-width: 100%;
        padding: 20px 40px;
    }
    
    .stylelink.active {
        /*		padding: 3px 10px;*/
        /*		background: #b71c1c;*/
        color: #4a4d72;
        font-weight: bold;
        /*		border-radius: 50px;*/
        text-decoration: none;
        font-size: 14px;
        /*		font-weight: 600;*/
        display: inline-flex;
        flex-flow: row nowrap;
        max-width: 100%;
        padding: 20px 40px;
        padding-left:0px;
        /*        border-bottom: 4px solid #e72e5a;*/
    }
    
    .sub_menu {
        display: inline-flex;
        flex-flow: row nowrap;
        max-width: 100%;
        padding: 10px 10px;
        border-bottom: 2px solid transparent;
        color: #333;
    }
    
    .sub_menu.active {
        display: inline-flex;
        flex-flow: row nowrap;
        max-width: 100%;
        padding: 10px 10px;
        color: #000;
        font-weight: bold;
        /*		border-bottom: 2px solid #01adfb;*/
    }
    
    #wrapper {
        display: table;
        table-layout: fixed;
        width: 100%;
        height: auto;
        /*        border-bottom: 1px solid #e6e6e6;*/
        /*		background-color: #fff;*/
    }
    
    #wrapper div {
        display: table-cell;
        height: auto;
    }
    
    .nav-tabs-custom>.nav-tabs>li {
        width: 16%;
    }
    /*.main_text {
        width: 100%;
        height: auto;
        position: relative;
        text-align: center;
        color: #333;
        padding: 10px 0;
        display: block;
    }
    .main_text.active {
        color: #000;
        font-weight: 600;
    }
    
    .main_text.active:after {
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        top: 100%;
        margin: 0px auto;
        width: 90px;
        height: 2px;
        background: #01adfb;
    }*/
    
    @media screen and (max-width: 480px) {
        .stylelink {
            font-size: 12px;
            padding: 10px 20px;
        }
        .stylelink.active {
            font-size: 12px;
/*            padding: 10px 20px;*/
            padding: 10px 0px;
        }
        .sub_menu {
            font-size: 10px;
        }
        .sub_menu.active {
            font-size: 10px;
        }
    }

</style>

<!-- Horizontal Form -->
<div class="box box-info" style="min-height:450px;border-top:none;">
    <div id="wrapper">
        <div class="stylelink active box-header with-border">
            <h3 class="box-title" style="font-weight:bold;">Ticket </h3>
        </div>
    </div>

    <div class="box-body">
        <!--<div align="left">
            <a data-ng-href="/surveyquestionmlanguage/create" class="btn btn-primary btn-sm " role="button" data-ng-hide="hideCreateButton()">Add New </a>
        </div>-->
        <br/>

        <form class=" " role="form">
            <p align="center" style="color:#ec0b6d">All fields in <sup>*</sup> are mandatory</p>
            <br/>
            <div class="row padding">
                    <div class="col-sm-3">
                            <div class="form-group">
                                <label for="name">Customer<sup>*</sup>
                                </label>
                                <div>
                                        <select ui-select2 id="customer" data-ng-model="member.customerId" data-placeholder="Pick a Customer" style="width:100%">
                                                <option value=""></option>
                                                <option data-ng-repeat="customer in customers" value="{{customer.id}}">{{ customer.name }}</option>
                                            </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-3">
                                <div class="form-group">
                                    <label for="name">Category<sup>*</sup>
                                    </label>
                                    <div>
                                            <select ui-select2 id="category" data-ng-model="member.categoryId" data-placeholder="Pick a Category" style="width:100%">
                                                    <option value=""></option>
                                                    <option data-ng-repeat="category in categories" value="{{category.id}}">{{ category.name }}</option>
                                                </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                    <div class="form-group">
                                        <label for="name">SubCategory<sup>*</sup>
                                        </label>
                                        <div>
                                                <select ui-select2 id="subcategory" data-ng-model="member.subcategoryId" data-placeholder="Pick a SubCategory" style="width:100%">
                                                        <option value=""></option>
                                                        <option data-ng-repeat="subcategory in subcategories" value="{{subcategory.id}}">{{ subcategory.name }}</option>
                                                    </select>
                                        </div>
                                    </div>
                                </div>
                            <div class="col-sm-3" ng-repeat="organisationlevel in organisationlevels">
                                    <div class="form-group">
                                        <label for="sales-area">{{organisationlevel.name}}<sup>*</sup> </label>
                                        <div>
                                            <!-- <select ui-select2 id="organisationlevel+{{$index}}" ng-model="organisationlevel.locationid" data-placeholder="Select {{organisationlevel.name}}" style="width:100%" ng-change="orgLevelChange($index+1,organisationlevel.locationid,organisationlevel.index)" ng-disabled="disableLocation"> -->
                                                    <select ui-select2 id="organisationlevel+{{$index}}" ng-model="organisationlevel.locationid" data-placeholder="Select {{organisationlevel.name}}" style="width:100%" ng-change="orgLevelChange($index+1,organisationlevel.locationid)" ng-disabled="disableLocation">
                                                <option value=""></option>
                                                <option data-ng-repeat="levelone in organisationlevel.organisationlocations" value="{{levelone.id}}">{{levelone.name}}</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                        <div class="form-group">
                                            <label for="name">{{memberlanguage.fullname}}<sup>*</sup>
                                            </label>
                                            <div>
                                                <input type="text" class="form-control" id="name" data-ng-model="member.fullname" placeholder="Full Name">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                            <div class="form-group">
                                                <label for="employee-id">{{memberlanguage.address}}<sup>*</sup> </label>
                                                <div>
                                                    <textarea rows="3" class="form-control" id="address" ng-model="member.address" placeholder="Address" style="width:100%"></textarea>
                                                </div>
                                            </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="form-group">
                                            <label for="phone">Phone<sup>*</sup> </label>
                                            <div>
                                                <input type="text" class="form-control" id="phone" ng-model="member.mobile" maxlength="10" numbers-only="numbers-only" placeholder="Phone" style="width:100%">
                                            </div>
                                        </div>
                                    </div>
                                    
            </div>
            <div class="row padding">
                <!-- <div class="col-sm-3">
                    <div class="form-group">
                        <label for="name">{{memberlanguage.fullname}}<sup>*</sup>
                        </label>
                        <div>
                            <input type="text" class="form-control" id="name" data-ng-model="member.fullname" placeholder="Full Name">
                        </div>
                    </div>
                </div> -->
                <!-- <div class="col-sm-3" ng-if="hideUpdate">
                    <div class="form-group">
                        <label for="memberid">{{memberlanguage.memberId}}<sup></sup></label>
                        <div>
                            <input disabled type="text" class="form-control" id="memberid" data-ng-model="member.memberId" placeholder="Member ID">
                        </div>
                    </div>
                </div> -->
                
                    <div class="col-sm-3">
                    <div class="form-group">
                            <label for="name">{{memberlanguage.dob}}
                            </label>
                            <div>
                                <td style="width: 100%">
                                    <p class="input-group" style="width: 100%">
                                      <input type="text" id="{{'datepickerdob' + $index}}" class="form-control" datepicker-popup="{{format}}" ng-model="member.dob" is-open="picker.dobopened" min-date="minDate" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" close-text="Close"> <span class="input-group-btn"><button type="button" class="btn btn-default nobodr" ng-click="opendob($event, $index)"><img src="images/piclinks/calender-copy-3.png" class="calddate"></button>
                                       <!-- <input type="text" id="{{'datepickerdob' + $index}}" class="form-control" datepicker-popup="{{format}}" ng-model="member.dob" is-open="picker.dobopened"  close-text="Close" min-date="minDate" datepicker-options="dateOptions"> <span class="input-group-btn"><button type="button" class="btn btn-default" ng-click="opendob($event, $index)"><img src="images/piclinks/calender-copy-3.png" class="calddate"></button> -->
                                    </span> </p>
                                </td>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="typology">{{memberlanguage.latitude}} / {{memberlanguage.longitude}} <sup>*</sup> </label>
                            <div>
                                <div class="col-sm-5" style="padding-left: 0px;">
                                    <input type="text" class="form-control" id="latitude" data-ng-model="member.latitude" placeholder="Latitude">
                                </div>
                                <div class="col-sm-5" style="padding-left: 0px;">
                                    <input type="text" class="form-control" id="longitude" data-ng-model="member.longitude" placeholder="Longitude">
                                </div>
                                <div class="col-sm-2" style="font-size:22px;color:#f55c51;padding-left:0px;">
                                    <span class="glyphicon glyphicon-map-marker" aria-hidden="true" ng-click="LocateMe()" href="">
                                </span>
                                </div>
                            </div>
                        </div>
                    </div>

                <div class="col-sm-3">
                    <!-- <div class="form-group">
                        <label for="name">{{memberlanguage.age}}<sup>*</sup></label>
                        <div>
                            <input type="text" class="form-control" id="age" data-ng-model="member.age" placeholder="Age">
                        </div>
                    </div> -->
                    <!-- <div class="form-group">
                        <label for="employee-id">{{memberlanguage.address}}<sup>*</sup> </label>
                        <div>
                            <textarea rows="3" class="form-control" id="address" ng-model="member.address" placeholder="Address" style="width:100%"></textarea>
                        </div>
                    </div> -->
                </div>
                <div class="col-sm-3">
                    <!-- <div class="form-group">
                        <label for="name">{{memberlanguage.dob}}<sup>*</sup>
                        </label>
                        <div>
                            <td style="width: 100%">
                                <p class="input-group" style="width: 100%">
                                    <input type="text" id="{{'datepickerdob' + $index}}" class="form-control" datepicker-popup="{{format}}" ng-model="member.dob" is-open="picker.dobopened" min="minDate" max="'2015-06-22'" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" close-text="Close" max-date="dtmax"> <span class="input-group-btn"><button type="button" class="btn btn-default nobodr" ng-click="opendob($event, $index)"><img src="images/piclinks/calender-copy-3.png" class="calddate"></button>
                                </span> </p>
                            </td>
                        </div>
                    </div> -->
                    <!-- <div class="form-group">
                        <label for="name">{{memberlanguage.dob}}<sup>*</sup>
                        </label>
                        <div>
                            <td style="width: 100%">
                                <p class="input-group" style="width: 100%">
                                    <input type="text" id="{{'datepickerdob' + $index}}" class="form-control" datepicker-popup="{{format}}" ng-model="member.dob" is-open="picker.dobopened" min="minDate" max="'2015-06-22'" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" close-text="Close" max-date="dtmax"> <span class="input-group-btn"><button type="button" class="btn btn-default nobodr" ng-click="opendob($event, $index)"><img src="images/piclinks/calender-copy-3.png" class="calddate"></button>
                                </span> </p>
                            </td>
                        </div>
                    </div> -->
                </div>
                <div class="col-sm-3">
                    <!-- <div class="form-group">
                        <label for="sales-area">{{memberlanguage.gender}}<sup>*</sup> </label>
                        <div>
                            <select ui-select2 id="gender" ng-model="member.genderId" data-placeholder="Pick a Gender" style="width:100%">
                                <option value=""></option>
                                <option ng-if="gender.parentFlag==true" data-ng-repeat="gender in genders" value="{{gender.id}}">{{gender.name}}</option>
                                <option ng-if="gender.parentFlag==false" data-ng-repeat="gender in genders" value="{{gender.parentId}}">{{gender.name}}</option>
                           </select>
                        </div>
                    </div> -->
                </div>
                <div class="col-sm-3">
                    <!-- <div class="form-group">
                        <label for="sales-area">{{memberlanguage.occupation}}<sup>*</sup></label>
                        <div>
                            <select ui-select2 id="occupation" ng-model="member.occupationId" data-placeholder="Pick a Occupation" style="width:100%">
                                <option value=""></option>
                                <option ng-if="occupation.parentFlag==true" data-ng-repeat="occupation in occupations" value="{{occupation.id}}">{{occupation.name}}</option>
                                <option ng-if="occupation.parentFlag==false" data-ng-repeat="occupation in occupations" value="{{occupation.parentId}}">{{occupation.name}}</option>
                            </select>
                        </div>
                    </div> -->
                </div>
                <div class="col-sm-3">
                    <!-- <div class="form-group">
                        <label for="sales-area">{{memberlanguage.education}}<sup>*</sup> </label>
                        <div>
                            <select ui-select2 id="occupation" ng-model="member.educationId" data-placeholder="Pick a Education" style="width:100%">
                                <option value=""></option>
                                <option ng-if="education.parentFlag==true" data-ng-repeat="education in educations" value="{{education.id}}">{{education.name}}</option>
                                <option ng-if="education.parentFlag==false" data-ng-repeat="education in educations" value="{{education.parentId}}">{{education.name}}</option>
                            </select>
                        </div>
                    </div> -->
                </div>

                <div class="col-sm-3">
                    <!-- <div class="form-group">
                        <label for="employee-id">{{memberlanguage.address}}<sup>*</sup> </label>
                        <div>
                            <textarea rows="3" class="form-control" id="address" ng-model="member.address" placeholder="Address" style="width:100%"></textarea>
                        </div>
                    </div> -->
                </div>


            </div>
            <!-- <div class="row padding">
                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="name">{{memberlanguage.dob}}<sup>*</sup>
                        </label>
                        <div>
                            <td style="width: 100%">
                                <p class="input-group" style="width: 100%">
                                    <input type="text" id="{{'datepickerdob' + $index}}" class="form-control" datepicker-popup="{{format}}" ng-model="member.dob" is-open="picker.dobopened" min="minDate" max="'2015-06-22'" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" close-text="Close" max-date="dtmax"> <span class="input-group-btn"><button type="button" class="btn btn-default nobodr" ng-click="opendob($event, $index)"><img src="images/piclinks/calender-copy-3.png" class="calddate"></button>
                                </span> </p>
                            </td>
                        </div>
                    </div>
                </div>
            </div> -->
            <div class="row padding">
                
            </div>
            <br>
            <!-- <div style="color:#4a4d72;border-bottom:2px solid #f4f4f4;margin-left:26px;margin-right:26px;"> <span style="font-weight:bold">Location Details</span> </div> -->
            <br>
            <br/>
            <div class="row padding">
                <!-- <div class="col-sm-3" ng-repeat="organisationlevel in organisationlevels">
                    <div class="form-group">
                        <label for="sales-area">{{organisationlevel.name}}<sup>*</sup> </label>
                        <div>
                            <select ui-select2 id="organisationlevel+{{$index}}" ng-model="organisationlevel.locationid" data-placeholder="{{organisationlevel.name}}" style="width:100%" ng-change="orgLevelChange($index+1,organisationlevel.locationid,organisationlevel.index)" ng-disabled="disableLocation">
                                <option value=""></option>
                                <option data-ng-repeat="levelone in organisationlevel.organisationlocations" value="{{levelone.id}}">{{levelone.name}}</option>
                            </select>
                        </div>
                    </div>
                </div> -->



                <!--
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="sales-area" class="col-sm-4" style="font-weight:600;margin-top:5px;color:red;">Two </label>
                        <div class="col-sm-6">
                            <select ui-select2 id="occupation" ng-model="member.leveltwoid" data-placeholder="{{leveldefinitions[1].name}}" style="width:100%">
                                <option value=""></option>
                                <option data-ng-repeat="leveltwo in leveltwos" value="{{leveltwo.id}}">{{leveltwo.name}}</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="sales-area" class="col-sm-4" style="font-weight:600;margin-top:5px;color:red;">One </label>
                        <div class="col-sm-6">
                            <select ui-select2 id="gender" ng-model="member.leveloneid" data-placeholder="{{leveldefinitions[0].name}}" style="width:100%">
                                <option value=""></option>
                                <option data-ng-repeat="levelone in levelones" value="{{levelone.id}}">{{levelone.name}}</option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="sales-area" class="col-sm-4" style="font-weight:600;margin-top:5px;color:red;">Two </label>
                        <div class="col-sm-6">
                            <select ui-select2 id="occupation" ng-model="member.leveltwoid" data-placeholder="{{leveldefinitions[1].name}}" style="width:100%">
                                <option value=""></option>
                                <option data-ng-repeat="leveltwo in leveltwos" value="{{leveltwo.id}}">{{leveltwo.name}}</option>
                            </select>
                        </div>
                    </div>
                </div>
-->
            </div>
            <br>
            <!-- <div style="color:#4a4d72;border-bottom:2px solid #f4f4f4;margin-left:26px;margin-right:26px;"> <span style="font-weight:bold">Custom Fields</span> </div> -->
            <br>
            <br/>
            <!-- <div class="row padding">
                <div class="col-sm-3" ng-repeat="organisationlevel in membercustomfields">
                    <div class="form-group">
                        <label for="sales-area">{{organisationlevel.name}}<sup>*</sup> </label>
                        <div ng-if="organisationlevel.type=='dropdown'">
                            <select ui-select2 id="organisationlevel+{{$index}}" ng-model="organisationlevel.answeredvalue" data-placeholder="{{organisationlevel.name}}" style="width:100%">
                                <option value=""></option>
                                <option data-ng-repeat="levelone in organisationlevel.dropdownvalues" value="{{levelone.selectedvalue}}">{{levelone.name}}</option>
                            </select>
                        </div>
                        <div ng-if="organisationlevel.type=='text'">
                            <input type="text" class="form-control" id="latitude" data-ng-model="organisationlevel.answeredvalue" placeholder="{{organisationlevel.name}}">
                        </div>
                        <div ng-if="organisationlevel.type=='date'">
                            <p class="input-group" style="width: 100%">
                                    <input type="text" id="{{'custumdate' + $index}}" class="form-control" datepicker-popup="{{format}}" ng-model="organisationlevel.answeredvalue" is-open="picker['custdateopened'+$index]" min="minDate" max="'2015-06-22'" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" close-text="Close"> <span class="input-group-btn"><button type="button" class="btn btn-default nobodr" ng-click="opencustdate($event, $index)"><img src="images/piclinks/calender-copy-3.png" class="calddate"></button>
                                </span> </p>
                        </div>
                        <div ng-if="organisationlevel.type=='file'">
                            <input ng-file-select type="file" ng-model="organisationlevel.answeredvalue" id="{{$index}}" onchange="angular.element(this).scope().imageUploadChange(this)"/>
                        </div>
                    </div>
                </div>
            </div> -->
            <!-- <br> -->
            <!-- <div style="width:100%;height:auto;padding:5px 5px;color:#4a4d72;border-bottom:2px solid #f4f4f4;"><span style="font-weight:bold"></span> </div> -->
            <!-- <br> -->
            <!-- <br/> -->
            <!-- <div class="row padding">
                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="sales-area">{{memberlanguage.stress}}<sup>*</sup> </label>
                        <div>
                            <select ui-select2 id="gender" ng-model="member.stress" data-placeholder="Pick a Stress" style="width:100%">
                                <option value=""></option>
                                <option value="yes">Yes</option>
                                <option value="no">No</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div> -->
            <br>
            <div class="pleft" align="right">
                <div>
                     <a data-ng-href="/tickets" class="btn btn-danger btn-sm " role="button" style="padding:5px 20px;margin-right:10px;">{{memberlanguage.cancelLabel}}</a>
                    
                    <button type="button" class="btn btn-info btn-sm" data-ng-click="Save()" data-ng-if="hideSave" ng-disabled="submitDisable" style="padding:5px 20px;margin-right:30px;">{{memberlanguage.saveLabel}}</button>

                    <button type="button" class="btn btn-info btn-sm " data-ng-click="Update()" data-ng-if="hideUpdate" style="padding:5px 20px;margin-right:30px;">{{memberlanguage.updateLabel}}</button>
                </div>
            </div>
            <br>
        </form>


        <!-- /.box-body -->
        <div class="box-footer">

        </div>
        <!-- /.box-footer -->
    </div>
    <!-- /.box -->

    <!---  <style>
        .nav-tabs-custom > .nav-tabs > li.active {
            border-top-color: #b71c1c;
        }
    </style>--->

    <modal2 title1="Congrats!!!" visible="stakeholderdataModal">
        
        <strong>{{message}}</strong>
        
    </modal2>
    

    <validationmodal title1="Alert!!!" visible="showValidation">
        {{validatestring1}}
    </validationmodal>

    <mapmodal visible="mapdataModal">
        <div class="modal-header" style="color:#ffffff;padding:0px;">
            <div class="pull-right" style='padding:15px;'></div>
            <h4 class="stylelink active modal-title">Select Location </h4>
        </div>
        <div style="width:100%; height:auto; min-height:300px;  border: 1px solid #ffffff;padding:5px" id="savemodals">
            <br>
            <form class="form-horizontal" role="form" style="padding-top:20px;">
                <div class="row" style="margin:0;padding:0;font-size: 12px;">
                    <div class="col-sm-19" style="padding:5px;">
                        <div id='mapCanvas' style="display:block;height:850px:width:550px;">
                        </div>
                        <div class="col-sm-4">
                            <br>
                            <div id="infoPanel">
                                <b style="color:blue;">Marker Status:</b>
                                <div id="markerStatus"><i>Click Drag</i>
                                </div>
                                <b style="color:blue;">Current Position</b>
                                <div id="info"></div>
                                <b style="color:blue;">Closest Address</b>
                                <div id="mapaddress"></div>
                            </div>
                        </div>
                    </div>
                </div>

                <br>
                <div class="form-group">
                    <div align="center">
                        <div align="center">
                            <a data-ng-click="CLOSEBUTTON()" data-dismiss="modal" class="btn btn-primary btn-sm " role="button" style="border-color:#db4242;padding:5px 20px;font-weight:bold;">Ok</a>&nbsp;

                            <a data-ng-click="CLOSEBUTTON()" data-dismiss="modal" class="btn btn-danger btn-sm " role="button" style="padding:5px 20px;">Cancel </a>
                        </div>
                    </div>
                </div>
            </form>
            <br/>
        </div>

        <style>
            div.scroll {
                width: 100%;
                height: 100px;
                overflow: scroll;
            }
            
            .toggle.android {
                border-radius: 0px;
            }
            
            .toggle.android .toggle-handle {
                border-radius: 0px;
            }
            
            #mapCanvas {
                width: 800px;
                height: 500px;
                float: center;
            }
            
            #infoPanel {
                margin-left: 100px;
            }
            
            #infoPanel div {
                margin-bottom: 5px;
            }

        </style>
    </mapmodal>
