<style>
  .stylelink {
    /*		padding: 3px 10px;*/
    background: transparent;
    color: #9d9eb3;
    font-weight: bold;
    /*		border-radius: 50px;*/
    text-decoration: none;
    font-size: 14px;
    display: inline-flex;
    flex-flow: row nowrap;
    max-width: 100%;
    padding: 20px 10px;
  }

  .stylelink.active {
    /*		padding: 3px 10px;*/
    /*		background: #b71c1c;*/
    color: #4a4d72;
    font-weight: bold;
    /*		border-radius: 50px;*/
    text-decoration: none;
    font-size: 14px;
    /*		font-weight: 600;*/
    display: inline-flex;
    flex-flow: row nowrap;
    max-width: 100%;
    padding: 20px 10px;
    padding-left: 0px;
    /*        border-bottom: 4px solid #e72e5a;*/
  }

  .sell {
    position: relative;
    width: 100%;
  }

  .sell:after {
    content: url(images/piclinks/down-arrow.png);
    font: 17px "Consolas", monospace;
    color: #333;
    top: 5px;
    margin-left: -22px;
    padding: 0 0 2px;
    position: absolute;
    pointer-events: none;
  }

  .sell select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    display: block;
    width: 100%;
    /*        max-width: 320px;*/
    height: 32px;
    float: left;
    padding: 0px 7px;
    font-size: 14px;
    line-height: 1.75;
    color: #878993;
    border-radius: 4px;
    background-color: #ffffff;
    background-image: none;
    border: 1px solid #d5d7df;
    -ms-word-break: normal;
    word-break: normal;
  }

  .tht:hover {
    color: blue;
  }

  #wrapper {
    display: table;
    table-layout: fixed;
    width: 100%;
    height: auto;
    /*        border-bottom: 1px solid #e6e6e6;*/
  }

</style>

<style>
  th {
    cursor: pointer;
  }

    {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
  }

  .top {
    padding-top: 1.8em;
  }

  @media screen and (max-width: 480px) {
    .stylelink {
      font-size: 12px;
      padding: 10px 20px;
    }

    .stylelink.active {
      font-size: 12px;
      /*            padding: 10px 20px;*/
      padding: 10px 0px;
    }

    .sub_menu {
      font-size: 10px;
    }

    .sub_menu.active {
      font-size: 10px;
    }

    .ml {
      padding-left: 0px;
    }

    .ml1 {
      margin-left: -5%;
      margin-bottom: 25px;
    }
  }

  @media screen and (max-width:350px) {
    .ml {
      padding-left: 0px;
    }

    .ml1 {
      margin-left: -7%;
      margin-bottom: 25px;
    }
  }

  @media screen and (max-width:376px) and (min-width:355px) {
    .ml {
      padding-left: 0px;
    }

    .ml1 {
      margin-left: -7%;
      margin-bottom: 25px;
    }

    .sell {
      position: relative;
      width: 100%;
    }
  }

  @media screen and (max-width:1024px) and (min-width:1000px) {
    .ml1 {
      margin-left: -2%;
    }

    .sell select {
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      display: block;
      width: 45px;
      /* max-width: 320px; */
      height: 32px;
      float: left;
      padding: 0px 7px;
      font-size: 14px;
      line-height: 1.75;
      color: #878993;
      border-radius: 4px;
      background-color: #ffffff;
      background-image: none;
      border: 1px solid #d5d7df;
      -ms-word-break: normal;
      word-break: normal;
    }
  }

</style>
<!--
<script>
table th.active {color: blue;}
$(document).ready(function(){
    $("#rowClick > th").click(function(){
        $(this).toggleClass("active");
    });
});
</script>
-->
<!--
<script type="text/javascript">
    var sortingOrder = 'name';
</script>
-->

<!-- Horizontal Form -->
<div class="box box-info" style="min-height:450px;border-top:none;">

  <div class="box-body">
    <br />
    <div class="row padding">

      <div class="col-xs-12 col-sm-5 col-md-5">
        <div class="col-xs-6 col-sm-12 col-md-6">
            <div class="margin1" data-ng-hide="showForm()">
                <div class="form-group">
                    <label for="zone" class="">Customer <sup>*</sup></label>
                    <div class="">
                        <select ui-select2 id="customer" ng-model="customerId" data-placeholder="Customer"
                            style="width:100%;">
                            <option value=""></option>
                            <option data-ng-repeat="customer in customers" value="{{customer.id}}">
                                {{ customer.name }}</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xs-6 col-sm-12 col-md-6">
            <div class="margin1" data-ng-hide="showForm()">
                <div class="form-group">
                    <label for="zone" class="">Status <sup>*</sup></label>
                    <div class="">
                        <select ui-select2 id="zone" ng-model="zoneId" data-placeholder="Status"
                            style="width:100%;">
                            <option value=""></option>
                            <option data-ng-repeat="zone in zones" value="{{zone.id}}">{{ zone.name }}</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-sm-12 col-md-7">
      <div class="col-md-2">
        <!-- <div>
          <h4 style="font-weight:600;font-size:20px;padding-top: 10px;">Details List</h4>
        </div> -->
      </div>
      <div class="col-md-10">
        <div class="col-sm-0 col-md-1"></div>
        <div data-ng-hide="showForm()" class="col-md-1" style="text-align:left;padding-left:0px;padding-right:0px;">
          <label>Show</label>
          <div class="sell">
            <select ng-model="pageSize" data-placeholder="Show Entries" style="width: 52px;" ng-change="pageFunction(pageSize)">
              <option value="25">25</option>
              <option value="50">50</option>
              <option value="100">100</option>
            </select>
          </div>
          <!--					<span>Entries</span>-->
        </div>
        <div data-ng-hide="showForm()" class=" col-md-5 top ml" style="padding-right:0px;">

          <form role="form">
            <div class="input-group">
              <span class="input-group-btn">
                <button class="btn btn-default" type="button"
                  style="border-top-left-radius: 4px;border-bottom-left-radius: 4px;background:none;border-right:none;"><span
                    class="glyphicon glyphicon-search"></span></button>
              </span>
              <input type="text" class="form-control ng-pristine ng-valid" placeholder="Search"
                style="z-index:0;border-radius:2px;border-left:none;border-top-right-radius:4px;border-bottom-right-radius: 4px;"
                data-ng-model="searchZone">
            </div>
          </form>

        </div>
        <div class="col-md-5 top ml1">
          <!-- <a data-ng-href="/uploadxls" class="btn btn-primary btn-sm  col-md-5" role="button"
            data-ng-hide="hideCreateButton()" style="padding:5px 20px;">XLS Upload</a>&nbsp;
          <a data-ng-href="/formlevel/create" class="btn btn-primary btn-sm  col-md-5" role="button"
            data-ng-hide="hideCreateButton()" style="padding:5px 20px;margin-left: 15px;">Add New </a>&nbsp;&nbsp;&nbsp; -->
            <a data-ng-href="/uploadxls" class="btn btn-primary btn-sm  col-md-5" role="button"
            data-ng-hide="hideCreateButton()" style="padding:5px 2px;">XLS Upload</a>&nbsp;
          <a data-ng-href="/formlevel/create" class="btn btn-primary btn-sm  col-md-5" role="button"
            data-ng-hide="hideCreateButton()" style="padding:5px 8px;margin-left: 15px;">Add New </a>&nbsp;&nbsp;&nbsp;
        </div>
      </div>
      </div>
    </div>

    <!-- <form class="" role="form" data-ng-show="showForm()"> -->
    <form class="" role="form">
      <!-- <toaster-container
        toaster-options="{'position-class': 'toast-container-custo','time-out': 3000,'body-output-type': 'template'}">
      </toaster-container> -->
      <br />
      <!-- <div data-ng-show="isCreateView()"> -->
      <div>
        <div class="table-responsive">
          <table class="table table-hover" style="table-layout:fixed;">
            <thead>
              <tr>
                <!-- <th style="width:70px;">S NO.</th>
                <th style="width:100px;">LANGUAGE</th>
                <th style="width:100px;">SER</th>
                <th style="width:100px;">RC STATUS</th>
                <th style="width:150px;">CUSTOMER NAME</th>
                <th style="width:100px;">ACTION</th> -->
                <th style="width:80px;">SR NO.</th>
                <!-- <th style="width:120px;">SER</th> -->
                <th style="width:150px;">DISPATCH NUMBER</th>
                <!-- <th style="width:150px;">CUSTOMER</th> -->
                <th style="width:145px;">DISPATCH STATUS</th>
                <th style="width:150px;">CATEGORY</th>
                <th style="width:150px;">SUBCATEGORY</th>
                <th style="width:150px;">CUSTOMER NAME</th>
                <th style="width:200px;">CUSTOMER CONTACT NAME</th>
                <th style="width:255px;">CUSTOMER CONTACT EMAIL ADDRESS</th>
                <th style="width:150px;">CITY</th>
                <!-- <th style="width:100px;">PINCODE</th> -->
                <th style="width:170px;">SERVICE POSTAL CODE</th>
                <!-- <th style="width:300px;">ADDRESS</th> -->
                <th style="width:300px;">SERVICE ADDRESS LINE 1</th>
                <th style="width:300px;">SERVICE ADDRESS LINE 2</th>
                <!-- <th style="width:120px;">STATUS</th> -->
                <th style="width:150px;">CREATED DATE/TIME</th>
                <th style="width:150px;">ETA</th>
                <!-- <th style="width:150px;">LAST ACTION</th> -->
                <th style="width:190px;">SERVICE EVENT DATE/TIME</th>
                <th style="width:145px;">SERVICE PROVIDER</th>
                <th style="width:145px;">Is Deleted</th>
                <th style="width:100px;">ACTION</th>
              </tr>

            </thead>
            <tbody>
              <!--current-page="currentpage"-->
              <tr ng-repeat="rcdetail in rcdetails | filter:searchZone">
                <!-- <td>{{ rcdetail.index }}</td>
                <td>{{ rcdetail.serno }}</td>
                <td>{{ rcdetail.rcstatus }}</td>
                <td>{{ rcdetail.customername }}</td>
                <td><a data-ng-href="/formlevel/edit/{{rcdetail.id}}"><img src="images/piclinks/edit.png" title="Edit"
                      class="edit1"></a>&nbsp;
                </td> -->
                <td>{{rcdetail.index}}</td>
                <td style="width:80px;" ng-if="rcdetail.statusId != 1">{{rcdetail.dispatchno}}</td>
                <td style="width:80px;" ng-if="rcdetail.statusId == 1"><a href="" ng-click="navigateToEdit(rcdetail.id)">{{rcdetail.dispatchno}}</a></td>
                <!-- <td style="width:120px;">{{ rcdetail.customername }}</td> -->
                <!-- <td data-ng-init="status = getstatus(rcdetail.statusId)" style="width:120px;">{{rcdetail.dispatch_status}}</td> -->
                <td style="width:120px;">{{rcdetail.dispatch_status}}</td>
                <!-- <td data-ng-init="category = getcategory(rcdetail.categoryId)" style="width:150px;">{{rcdetail.category_name}}
                </td> -->
                <td style="width:120px;">{{rcdetail.customer_name}}</td>
                <!-- <td data-ng-init="subcategory = subgetcategory(rcdetail.subcategoryId)" style="width:150px;">
                  {{rcdetail.subcategory_name}}</td> -->
                <td style="width:120px;">{{rcdetail.subcategory_name}}</td>
                <td style="width:120px;">{{rcdetail.customername}}</td>
                <td style="width:120px;">{{rcdetail.customercontactname}}</td>
                <td style="width:120px;">{{rcdetail.customercontactemail}}</td>
                <!-- <td data-ng-init="city = getcity(rcdetail.cityId)" style="width:150px;">{{rcdetail.city}}</td> -->
                <td style="width:120px;">{{rcdetail.city}}</td>
                <!-- <td data-ng-init="pincode = getpincode(rcdetail.pincodeId)" style="width:100px;">{{rcdetail.pincode}}</td> -->
                <td style="width:120px;">{{rcdetail.pincode}}</td>
                <td style="width:300px;">{{rcdetail.serviceaddress1}}</td>
                <td style="width:300px;">{{rcdetail.serviceaddress2}}</td>
                <!-- <td data-ng-init="status = getstatus(rcdetail.statusId)" style="width:120px;">{{ status.name }}</td> -->
                <td style="width:150px;">{{rcdetail.createdtime | date:'dd-MMM-yyyy hh:mm:ss a'}}</td>
                <td style="width:150px;">{{rcdetail.etatime | date:'dd-MMM-yyyy hh:mm:ss a'}}</td>
                <td style="width:150px;">{{rcdetail.service_event_date_time | date:'dd-MMM-yyyy hh:mm:ss a'}}</td>
                <td style="width:120px;">{{rcdetail.serviceprovider}}</td>
                <td style="width:120px;" ng-if="rcdetail.deleteflag === false">No</td>
                <td style="width:120px;" ng-if="rcdetail.deleteflag !== false">Yes</td>
                <td style="width:100px;" style="width:120px;" ng-if="rcdetail.statusId == 1"><a data-ng-href="/formlevel/edit/{{rcdetail.id}}"><img
                      src="images/piclinks/edit.png" title="Edit" class="edit1"></a>&nbsp;
                </td>
              </tr>
            </tbody>
          </table>

        </div>
      </div>
    </form>

  </div>

</div>
<!-- <div class="box box-info" style="min-height:450px;border-top:none;">
  <div id="wrapper">
    <div class="stylelink active box-header with-border">
      <h3 class="box-title" style="font-weight:bold;">Tickets </h3>
    </div>
  </div>

  <div class="box-body">
    
    <br />

    <div data-ng-hide="hideSearchFilter()">

      <div class="row padding">
        <div class="col-sm-0 col-md-5"></div>
        <div class="col-sm-12 col-md-7">
          <div class="col-sm-0 col-md-1"></div>
          <div data-ng-hide="hideSearchFilter()" class="col-xs-12 col-sm-2 col-md-1"
            style=" padding-right:0px;padding-left:0px;text-align:left;border-color:#d5d7df">
            <label class="showlabel">Show</label>
            <div class="sell">
              <select ng-model="pageSize" data-placeholder="Show Entries" ng-change="pageFunction(pageSize)">
                <option value="25">25</option>
                <option value="50">50</option>
                <option value="100">100</option>
              </select>
            </div>
           
          </div>
          <div data-ng-hide="hideSearchFilter()" class="col-xs-12 col-sm-6 col-md-5 top ml" style="padding-right:0px">

            <div class="input-group">
              <span class="input-group-btn">
                <button class="btn btn-default" type="button"
                  style="border-top-left-radius:4px;border-bottom-left-radius: 4px;border-color:#d5d7df;background:none;border-right:none;"><span
                    class="glyphicon glyphicon-search"></span></button>
              </span>
              <input type="text" id="Search" class="form-control ng-pristine ng-valid" placeholder="Search"
                style="z-index:0;border-left:none;border-color:#d5d7df;border-top-right-radius:4px;border-bottom-right-radius: 4px;height: 32px;"
                data-ng-model="searchPart">

            </div>
          </div>
          <div class=" col-md-5 top ml1">
            <a class="btn btn-primary btn-sm col-md-5" role="button"
              data-ng-hide="hideCreateButton(); hideSearchFilter()" style="padding:5px 20px;margin-right:10px;"
              data-ng-click="exportTicket()" disabled>Export
            </a>

          </div>
        </div>
      </div>
    </div>
    <br />


    <div data-ng-hide="showForm()" class="table-responsive">
      <table class="table table-hover" style="table-layout:fixed;">
        <thead>
          <tr id="rowClick">
            <th style="width:80px;">SR NO.</th>

            <th ng-click="changeSorting('serno')" style="width:200px;">DISPATCH NUMBER<span style="margin-left:10px;"><i
                  class="fa fa-sort-desc" ng-class="getIcon('serno')"></i></span></th>

            <th ng-click="changeSorting('')" style="width:200px;">DISPATCH STATUS<span style="margin-left:10px;"><i
                  class="fa fa-sort-desc" ng-class="getIcon('')"></i></span></th>

            <th ng-click="changeSorting('')" style="width:120px;">CATEGORY<span style="margin-left:10px;"><i
                  class="fa fa-sort-desc" ng-class="getIcon('')"></i></span></th>

            <th ng-click="changeSorting('')" style="width:150px;">SUB CATEGORY<span style="margin-left:10px;"><i
                  class="fa fa-sort-desc" ng-class="getIcon('')"></i></span></th>

            <th ng-click="changeSorting('')" style="width:150px;">CUSTOMER NAME<span style="margin-left:10px;"><i
                  class="fa fa-sort-desc" ng-class="getIcon('')"></i></span></th>

            <th ng-click="changeSorting('')" style="width:200px;">CUSTOMER CONTACT NAME<span
                style="margin-left:10px;"><i class="fa fa-sort-desc" ng-class="getIcon('')"></i></span></th>

            <th ng-click="changeSorting('')" style="width:260px;">CUSTOMER CONTACT PHONE NUMBER<span
                style="margin-left:10px;"><i class="fa fa-sort-desc" ng-class="getIcon('')"></i></span></th>

            <th ng-click="changeSorting('')" style="width:120px;">CITY<span style="margin-left:10px;"><i
                  class="fa fa-sort-desc" ng-class="getIcon('')"></i></span></th>

            <th ng-click="changeSorting('')" style="width:200px;">SERVICE POSTAL CODE<span style="margin-left:10px;"><i
                  class="fa fa-sort-desc" ng-class="getIcon('')"></i></span></th>

            <th ng-click="changeSorting('')" style="width:200px;">SERVICE ADDRESS LINE 1<span
                style="margin-left:10px;"><i class="fa fa-sort-desc" ng-class="getIcon('')"></i></span></th>

            <th ng-click="changeSorting('')" style="width:200px;">SERVICE ADDRESS LINE 2<span
                style="margin-left:10px;"><i class="fa fa-sort-desc" ng-class="getIcon('')"></i></span></th>

            <th style="width:170px;">CREATED DATE/TIME<span style="margin-left:10px;"><i class="fa fa-sort-desc"
                  ng-class="getIcon('eta')"></i></span></th>

            <th ng-click="changeSorting('eta')" style="width:150px;">ETA<span style="margin-left:10px;"><i
                  class="fa fa-sort-desc" ng-class="getIcon('eta')"></i></span></th>

            <th style="width:150px;">START DATE/TIME<span style="margin-left:10px;"><i class="fa fa-sort-desc"
                  ng-class="getIcon('eta')"></i></span></th>

            <th style="width:150px;">END DATE/TIME<span style="margin-left:10px;"><i class="fa fa-sort-desc"
                  ng-class="getIcon('eta')"></i></span></th>

            <th style="width:200px;">SERVICE EVENT DATE/TIME<span style="margin-left:10px;"><i class="fa fa-sort-desc"
                  ng-class="getIcon('eta')"></i></span></th>

            <th style="width:200px;">ACTION<span style="margin-left:10px;"><i class="fa fa-sort-desc"
                  ng-class="getIcon('eta')"></i></span></th>

          </tr>
        </thead>
        <tbody id="bnbody">
          <tr
            dir-paginate="member in TotalData  = ( members | filter:searchPart ) | orderBy:sort.active:sort.descending  | itemsPerPage:pageSize"
            current-page="currentPage" ng-style="{color:beneficiary.backgroundColor}">
            <td style="width:80px;">{{member.index}}</td>
            <td style="width:120px;">{{member.dispatchno}}</td>
            <td data-ng-init="status = getstatus(member.statusId)" style="width:120px;">{{status.name}}</td>
            <td data-ng-init="category = getcategory(member.categoryId)" style="width:150px;">{{category.name}}</td>
            <td data-ng-init="subcategory = subgetcategory(member.subcategoryId)" style="width:150px;">
              {{subcategory.name}}</td>
            <td style="width:150px;">{{member.customername}}</td>
            <td style="width:150px;">{{member.customercontactname}}</td>
            <td style="width:150px;">{{member.customercontactphno}}</td>
            <td data-ng-init="city = getcity(member.cityId)" style="width:150px;">{{city.name}}</td>
            <td data-ng-init="pincode = getpincode(member.pincodeId)" style="width:100px;">{{pincode.name}}</td>
            <td style="width:300px;">{{member.serviceaddress1}}</td>
            <td style="width:300px;">{{member.serviceaddress2}}</td>
            <td style="width:150px;">{{member.createdtime | date:'dd-MMM-yyyy hh:mm:ss a'}}</td>
            <td style="width:150px;">{{member.etatime | date:'dd-MMM-yyyy hh:mm:ss a'}}</td>
            <td style="width:150px;">{{member.starttime | date:'dd-MMM-yyyy hh:mm:ss a'}}</td>
            <td style="width:150px;">{{member.endtime | date:'dd-MMM-yyyy hh:mm:ss a'}}</td>
            <td style="width:150px;">{{member.lastmodifiedtime | date:'dd-MMM-yyyy hh:mm:ss a'}}</td>
            <td style="width:150px;"><a data-ng-href="">
                                       <img class="iccon" src="images/piclinks/edit.png" title="Edit" style="width: 10%">
                                      </a>&nbsp;&nbsp;</td>

          </tr>
        </tbody>
      </table>
      <div class="padding" align="right">
        <dir-pagination-controls max-size="25" direction-links="true" boundary-links="true"
          on-page-change="PageChanged(newPageNumber, oldPageNumber)">
        </dir-pagination-controls>
      </div>
    </div>
  </div>
  <br />
  
  <div class="box-footer">

  </div>
  
</div>


<validationmodal title1="Alert" visible="showValidation">
  {{validatestring1}}
</validationmodal> -->
