<style>
    /*	.stylelink {
		padding: 3px 10px;
		background: transparent;
		color: #333;
		border-radius: 50px;
		text-decoration: none;
		font-size: 14px;
		display: inline-flex;
		flex-flow: row nowrap;
		max-width: 100%;
	}
	
	.stylelink.active {
		padding: 3px 10px;
		background: #b71c1c;
		color: #fff;
		border-radius: 50px;
		text-decoration: none;
		font-size: 14px;
		font-weight: 600;
		display: inline-flex;
		flex-flow: row nowrap;
		max-width: 100%;
	}*/
    
    .stylelink {
        /*		padding: 3px 10px;*/
        background: transparent;
        color: #9d9eb3;
        font-weight: bold;
        /*		border-radius: 50px;*/
        text-decoration: none;
        font-size: 14px;
        display: inline-flex;
        flex-flow: row nowrap;
        max-width: 100%;
        padding: 20px 40px;
    }
    
    .stylelink.active {
        /*		padding: 3px 10px;*/
        /*		background: #b71c1c;*/
        color: #4a4d72;
        font-weight: bold;
        /*		border-radius: 50px;*/
        text-decoration: none;
        font-size: 14px;
        /*		font-weight: 600;*/
        display: inline-flex;
        flex-flow: row nowrap;
        max-width: 100%;
        padding: 20px 40px;
        border-bottom: 4px solid #e72e5a;
    }
    
    .sub_menu {
        display: inline-flex;
        flex-flow: row nowrap;
        max-width: 100%;
        padding: 10px 10px;
        border-bottom: 2px solid transparent;
        color: #333;
    }
    
    .sub_menu.active {
        display: inline-flex;
        flex-flow: row nowrap;
        max-width: 100%;
        padding: 10px 10px;
        color: #000;
        font-weight: bold;
        /*		border-bottom: 2px solid #01adfb;*/
    }
    
    #wrapper {
        display: table;
        table-layout: fixed;
        width: 100%;
        height: auto;
        border-bottom: 1px solid #e6e6e6;
        /*		background-color: #fff;*/
    }
    
    #wrapper div {
        display: table-cell;
        height: auto;
    }
    /*.main_text {
        width: 100%;
        height: auto;
        position: relative;
        text-align: center;
        color: #333;
        padding: 10px 0;
        display: block;
    }
    .main_text.active {
        color: #000;
        font-weight: 600;
    }
    
    .main_text.active:after {
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        top: 100%;
        margin: 0px auto;
        width: 90px;
        height: 2px;
        background: #01adfb;
    }*/
    
    @media screen and (max-width: 480px) {
        .stylelink {
            font-size: 12px;
            padding: 10px 20px;
        }
        .stylelink.active {
            font-size: 12px;
            padding: 10px 20px;
        }
        .sub_menu {
            font-size: 10px;
        }
        .sub_menu.active {
            font-size: 10px;
        }
    }

</style>

<div style="width:100%;height:auto;background:#ffffff;">
    <div id="wrapper">
        <div style="text-align:center;">
            <a class="stylelink" href="/state"><span style="flex:1;white-space:pre;overflow: hidden;text-overflow: ellipsis;">STATE</span></a>
        </div>
        <div style="text-align:center;">
            <a class="stylelink" href="/district"><span style="flex:1;white-space:pre;overflow: hidden;text-overflow: ellipsis;">DISTRICT</span></a>
        </div>
        <div style="text-align:center;">
            <a class="stylelink active" href="/town"><span style="flex:1;white-space:pre;overflow: hidden;text-overflow: ellipsis;">TOWN</span></a>
        </div>
        <!--<div style="text-align:center;">
			<a class="stylelink" href="/employees"><span style="flex:1;white-space:pre;overflow: hidden;text-overflow: ellipsis;">FACILITY</span></a>
		</div>
		<div style="text-align:center;">
			<a class="stylelink" href="/routes"><span style="flex:1;white-space:pre;overflow: hidden;text-overflow: ellipsis;">SITE</span></a>
		</div>-->
    </div>

</div>


<!-- Horizontal Form -->
<div class="box box-info" style="min-height:450px;border-top:none;">
    <div class="box-header with-border">
        <!--		<h3 class="box-title">Town</h3>-->
    </div>
    <!-- /.box-header -->
    <!-- form start -->

    <div class="box-body" style="padding:20px;">
        <div class="row">
            <div class="col-sm-4"></div>
            <div data-ng-hide="hideSearchFilter()" class="col-sm-2" style="text-align:right;padding-right:0px;border-color:#e1e8ee">
					<span>Show</span>
					<select ng-model="pageSize" data-placeholder="Show Entries" ng-change="pageFunction(pageSize)">
						<option value="25">25</option>
						<option value="50">50</option>
						<option value="100">100</option>
					</select>
<!--					<span>Entries</span>-->
				</div>
               <div  data-ng-hide="hideSearchFilter()" class="col-sm-3" style="padding-right:0px;">
<!--
                    <div class="row" style="margin:0;padding:0;">
                        <div class="col-sm-5"></div>
                        <div class="col-sm-7">
-->
                            <form role="form">
                                <div class="input-group">
                                    <input type="text" class="form-control  ng-pristine ng-valid" placeholder="Search" style="z-index:0;border-right:none;border-color:#e1e8ee;border-top-left-radius: 4px;border-bottom-left-radius:4px;" data-ng-model="searchCity">
                                    <span class="input-group-btn">
                     <button class="btn btn-default" type="button" style="border-top-right-radius:4px;border-bottom-right-radius: 4px;border-color:#e1e8ee;background:none;border-left:none;"><span class="glyphicon glyphicon-search"></span></button>
                                    </span>
                                </div>
                            </form>
<!--

                        </div>
                    </div>
-->
                </div>
            <div class="col-sm-3">
                <a data-ng-href="/town/create" class="btn btn-primary btn-sm " role="button" data-ng-hide="hideCreateButton(); hideSearchFilter()" style="padding:5px 20px;">Add New </a>&nbsp;&nbsp;&nbsp;
                <a data-ng-href="/uploadtown" class="btn btn-success btn-sm " role="button" data-ng-hide="hideCreateButton()" style="padding:5px 20px;">Upload</a>
            </div>
            <div class="col-sm-6">

            </div>

        </div>
        <br/>

        <form class="form-horizontal" role="form" data-ng-show="showForm()">
            <toaster-container toaster-options="{'position-class': 'toast-container-custo','time-out': 3000,'body-output-type': 'template'}"></toaster-container>

            <p align="center" style="color:red">All fields in red are mandatory</p>
            <br/>
            <div class="row" style="margin:0;padding:0;">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="name" class="col-sm-4" style="font-weight:600;margin-top:7px;color:red;">Name </label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" id="name" data-ng-model="city.name" placeholder="Name" style="width:100%;">
                        </div>
                    </div>


                    <div class="form-group">
                        <label for="state" class="col-sm-4" style="font-weight:600;margin-top:5px;color:red">State </label>
                        <div class="col-sm-6">
                            <select ui-select2 id="state" data-ng-model="city.state" data-placeholder="Pick a State" style="width: 100%;" ng-disabled="statedisable">
                                <option value=""></option>
                                <option data-ng-repeat="zone in zones" value="{{zone.id}}">{{ zone.name }}</option>
                            </select>
                        </div>
                    </div>


                    <div class="form-group">
                        <label for="state" class="col-sm-4" style="font-weight:600;margin-top:5px;color:red">District </label>
                        <div class="col-sm-6">
                            <select ui-select2 id="district" data-ng-model="city.district" data-placeholder="Pick a District" style="width: 100%;" ng-disabled="districdisable">
                                <option value=""></option>
                                <option data-ng-repeat="salesarea in salesareas" value="{{salesarea.id}}">{{ salesarea.name }}</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6"></div>
            </div>
            <br/>
            <br/>
            <br/>

            <div align="left">
                <div>
                    <a class="btn btn-primary btn-sm " type="submit" role="button" data-ng-click="Save()" data-ng-show="isCreateView()" ng-disabled="submitDisable" style="padding:5px 20px;margin-right:10px;">Create </a>

                    <a class="btn btn-success btn-sm " type="submit" role="button" data-ng-click="Update()" data-ng-hide="isCreateView()" ng-disabled="submitDisable" style="padding:5px 20px;margin-right:10px;">Update </a>
                    <a data-ng-href="/town" class="btn btn-danger btn-sm " role="button" style="padding:5px 20px;">Cancel</a>
                </div>
            </div>

        </form>

        <div data-ng-hide="hideSearchFilter()">
<!--

            <div class="row" style="margin:0;padding:0;">
                <div class="col-sm-6" style="padding-top:5px;">
                    <span>Show</span>
                    <select ng-model="pageSize" data-placeholder="Show Entries" ng-change="pageFunction(pageSize)">
                        <option value="25">25</option>
                        <option value="50">50</option>
                        <option value="100">100</option>
                    </select>
                    <span>Entries</span>
                </div>
                <div class="col-sm-6">
                    <div class="row" style="margin:0;padding:0;">
                        <div class="col-sm-5"></div>
                        <div class="col-sm-7">
                            <form role="form">
                                <div class="input-group">
                                    <input type="text" class="form-control  ng-pristine ng-valid" placeholder="Search" style="z-index:0;border-right:none;border-color:#e1e8ee;border-top-left-radius: 4px;border-bottom-left-radius:4px;" data-ng-model="searchCity">
                                    <span class="input-group-btn">
                     <button class="btn btn-default" type="button" style="border-top-right-radius:4px;border-bottom-right-radius: 4px;border-color:#e1e8ee;background:none;border-left:none;"><span class="glyphicon glyphicon-search"></span></button>
                                    </span>
                                </div>
                            </form>

                        </div>
                    </div>
                </div>

            </div>
-->
        </div>
        <br />


        <div data-ng-hide="showForm()">
            <form class="form-horizontal" role="form">
                <div class="row" style="margin:0;padding:0;">
                    <div class="col-sm-6">
                        <label for="zone" class="col-sm-4" style="font-weight:600; margin-top: 5px;padding-left:0px;">State</label>
                        <div class="col-sm-6">
                            <select ui-select2 id="country" ng-model="countryId" data-placeholder="Pick a State" style="width: 180px;">
                                <option value=""></option>
                                <option data-ng-repeat="zone  in zones" value="{{zone.id}}">{{ zone.name }}</option>
                            </select>
                        </div>
                    </div>

                    <div class="col-sm-6">
                        <label for="salesarea" class="col-sm-4" style="font-weight:600; margin-top: 5px;">District</label>
                        <div class="col-sm-6">
                            <select ui-select2 id="state" ng-model="stateId" data-placeholder="Pick a District" style="width: 180px;">
                                <option value=""></option>
                                <option data-ng-repeat="state  in displaysalesareas" value="{{state.id}}">{{ state.name }}</option>
                            </select>
                        </div>
                    </div>
                </div>
                <br/>
            </form>

            <div class="table-responsive">
                <table class="table ">
                    <thead>
                        <tr>
                            <th style="width:50px;">#</th>
                            <th>TOWN NAME</th>
                            <th>DISTRICT</th>
                            <th>STATE</th>
                            <th style="width:100px;">ACTION</th>
                            <!--<th></th>-->
                        </tr>
                    </thead>
                    <tbody>
                        <!--current-page="currentpage"-->
                        <tr dir-paginate="city in DisplayCities| filter:searchCity |itemsPerPage:pageSize" pagination-id="townid" current-page=currentpage>
                            <td>{{ city.index }}</td>
                            <td>{{city.id}} - {{city.name}}</td>
                            <td data-ng-init="salesarea = getSalesArea(city.district)">{{salesarea.name}}</td>
                            <td data-ng-init="zone = getZone(city.state)">{{zone.name}}</td>
                            <td><a data-ng-href="/cities/{{city.id}}"><span class="glyphicon glyphicon-pencil" ></span></a>&nbsp;&nbsp;
                                <a style="color:#b7b8c8;">|</a>&nbsp;&nbsp;
                                <a confirm-button="Delete(city.id)" message="Are you sure? you want to delete?"><span class="glyphicon glyphicon-remove" style="cursor:pointer;" title="Bin"></span></a>&nbsp;
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div align="right">
                    <dir-pagination-controls max-size="25" direction-links="true" boundary-links="true" pagination-id="townid" on-page-change="PageChanged(newPageNumber, oldPageNumber)">
                    </dir-pagination-controls>
                </div>
                <div ng-show="!DisplayCities.length" style="margin:0 auto;text-align:center;padding-top: 5%;">
                    <span style="font-size:18px;font-weight:bold;font-family:Georgia, Serif;">Please select an options</span>
                </div>
            </div>
        </div>

    </div>
    <!-- /.box-body -->
    <div class="box-footer">

    </div>
    <!-- /.box-footer -->
</div>
<!-- /.box -->


<modal2 title1="{{modalTitle}}" visible="stakeholderdataModal">
    <p>{{message}}</p>
</modal2>

<validationmodal title1="Alert!!!" visible="showValidation">
    {{validatestring1}}
</validationmodal>
