<!--
<div style="width:100%; height:auto; min-height:500px;background: #FFFFF0; border: 1px solid #E6E6E6; margin: 5px auto; padding:5px;">
    <div class="row">
        <div class="col-sm-5">
            <h4 style="font-family: Arial; font-weight: bold;font-size:19px;">Country</h4>
        </div>

        <div class="col-sm-7" style="padding-left: 65px;">
            <a data-ng-href="/countries/create" class="btn btn-primary btn-sm" role="button" data-ng-hide="hideCreateButton()"><span class="glyphicon glyphicon-plus"></span> Add New </a>
        </div>

    </div>

    <br/>

    <form class="form-horizontal" role="form" data-ng-show="showForm()">
        <div class="form-group">
            <label for="name" class="col-sm-4 control-label" style="font-size:12px;">Country:</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" id="name" data-ng-model="country.name" placeholder="Country Name">
            </div>
        </div>
        <div class="form-group">
            <label for="name" class="col-sm-4 control-label" style="font-size:12px;">Country Code:</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" id="name" data-ng-model="country.countrycode" placeholder="Country Code">
            </div>
        </div>



        <div class="form-group" align="center">
            <div>

                <a class="btn btn-success btn-sm" type="submit" role="button" data-ng-click="Save()" data-ng-show="isCreateView()"><span class="glyphicon glyphicon-ok"></span> Create </a>

                <a class="btn btn-success btn-sm" type="submit" role="button" data-ng-click="Update()" data-ng-hide="isCreateView()"><span class="glyphicon glyphicon-ok"></span> Update </a>

                <a data-ng-href="/countries" class="btn btn-info btn-sm" role="button"><span class="glyphicon glyphicon-remove"></span> Cancel</a>

            </div>
        </div>
    </form>

    <div data-ng-hide="hideSearchFilter()">
        <form role="form">
            <div class="row">
                <div class="col-lg-offset-8 col-lg-4">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Search for..." style="z-index:0; border-top-left-radius: 15px;border-bottom-left-radius: 15px;" data-ng-model="searchCon">
                        <span class="input-group-btn">
                        <button class="btn btn-default" type="button" style="border-top-right-radius: 15px;border-bottom-right-radius: 15px;"><span class="glyphicon glyphicon-search"></span></button>
                        </span>
                    </div>
                </div>
            </div>
        </form>

    </div>
    <br />

    <div data-ng-hide="showForm()">
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th style="font-size:12px;">#</th>
                    <th style="font-size:12px;">Country</th>
                    <th style="font-size:12px;">Action</th>
                </tr>
            </thead>
            <tbody>
                <tr dir-paginate="country in countries | filter: searchCon |itemsPerPage:5">
                    <td style="font-size:12px;">{{ country.index }}</td>
                    <td style="font-size:12px;">{{country.name}}</td>

                    <td><a data-ng-href="/countries/{{country.id}}"><span class="glyphicon glyphicon-edit" title="Edit" style="color: black;"></span></a>&nbsp;
                        <a data-ng-href="/countries" data-ng-click="Delete(country.id)"><span class="glyphicon glyphicon-trash" style="color: red;" title="Bin"></span></a>&nbsp; </td>
                </tr>
            </tbody>
        </table>

        <div align="right">
            <dir-pagination-controls max-size="5" direction-links="true" boundary-links="true">

            </dir-pagination-controls>

        </div>
    </div>
</div>
-->









<style>
    .stylelink {
        /*		padding: 3px 10px;*/
        background: transparent;
        color: #9d9eb3;
        font-weight: bold;
        /*		border-radius: 50px;*/
        text-decoration: none;
        font-size: 14px;
        display: inline-flex;
        flex-flow: row nowrap;
        max-width: 100%;
        padding: 20px 40px;

    }

    .stylelink.active {
        /*		padding: 3px 10px;*/
        /*		background: #b71c1c;*/
        color: #4a4d72;
        font-weight: bold;
        /*		border-radius: 50px;*/
        text-decoration: none;
        font-size: 14px;
        /*		font-weight: 600;*/
        display: inline-flex;
        flex-flow: row nowrap;
        max-width: 100%;
        padding: 20px 40px;
        border-bottom: 4px solid #e72e5a;
    }

    .sub_menu {
        display: inline-flex;
        flex-flow: row nowrap;
        max-width: 100%;
        padding: 10px 10px;
        border-bottom: 2px solid transparent;
        color: #333;
    }

    .sub_menu.active {
        display: inline-flex;
        flex-flow: row nowrap;
        max-width: 100%;
        padding: 10px 10px;
        color: #000;
        font-weight: bold;
        /*		border-bottom: 2px solid #01adfb;*/
    }

    #wrapper {
        display: table;
        table-layout: fixed;
        width: 100%;
        height: auto;
        border-bottom: 1px solid #e6e6e6;
        /*		background-color: #fff;*/
    }

    #wrapper div {
        display: table-cell;
        height: auto;
    }

    .nav-tabs-custom>.nav-tabs>li {
        width: 16%;
    }

    /*.main_text {
        width: 100%;
        height: auto;
        position: relative;
        text-align: center;
        color: #333;
        padding: 10px 0;
        display: block;
    }
    .main_text.active {
        color: #000;
        font-weight: 600;
    }
    
    .main_text.active:after {
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        top: 100%;
        margin: 0px auto;
        width: 90px;
        height: 2px;
        background: #01adfb;
    }*/

    @media screen and (max-width: 480px) {
        .stylelink {
            font-size: 12px;
            padding: 10px 20px;
        }
        .stylelink.active {
            font-size: 12px;
            padding: 10px 20px;
        }
        .sub_menu {
            font-size: 10px;
        }
        .sub_menu.active {
            font-size: 10px;
        }
    }

</style>

<!-- Horizontal Form -->
<div class="box box-info" style="min-height:450px;border-top:none;">
    <div style=" border-bottom: 1px solid #e6e6e6;">
        <div class="stylelink active box-header with-border " style="padding:20px 10px;background: #ffffff;">
            <h3 class="box-title" style="font-weight:600;">Country </h3>
        </div>
    </div>

    <div class="box-body">
        <!--<div align="left">
            <a data-ng-href="/surveyquestionmlanguage/create" class="btn btn-primary btn-sm " role="button" data-ng-hide="hideCreateButton()">Add New </a>
        </div>-->
        <br/>

        <div class="row">
            <div class="col-sm-4"></div>
            <div data-ng-hide="showForm()" class="col-sm-2" style="text-align:right;padding-right:0px;border-color:#e1e8ee">
                <span>Show</span>
                <select ng-model="pageSize" data-placeholder="Show Entries" ng-change="pageFunction(pageSize)">
						<option value="25">25</option>
						<option value="50">50</option>
						<option value="100">100</option>
					</select>
                <!--					<span>Entries</span>-->
            </div>
            <div data-ng-hide="showForm()" class="col-sm-3" style="padding-right:0px;">
                <form role="form">
                    <div class="input-group">
                        <input type="text" class="form-control ng-pristine ng-valid" placeholder="Search" style="z-index:0;border-radius:2px;border-right:none;border-color:#e1e8ee;border-top-left-radius:4px;border-bottom-left-radius: 4px;" data-ng-model="searchCon">
                        <span class="input-group-btn">
                     <button class="btn btn-default" type="button" style="border-top-right-radius: 4px;border-bottom-right-radius: 4px;border-color:#e1e8ee;background:none;border-left:none;"><span class="glyphicon glyphicon-search"></span></button>
                        </span>
                    </div>
                </form>
            </div>
            <div class="col-sm-3">
                <a data-ng-href="/countries/create" class="btn btn-primary btn-sm  " role="button" data-ng-hide="hideCreateButton()" style="padding:5px 20px;">Add New </a>&nbsp;&nbsp;&nbsp;
            </div>

        </div>
        <br/>

        <form class="form-horizontal" role="form" data-ng-show="showForm()">
            <p align="center" style="color:red">All fields in red are mandatory</p>
            <br/>
            <div class="row" style="margin:0;padding:0;">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="name" class="col-sm-4" style="font-weight:600;margin-top:7px;color:red;">Country:</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" id="name" data-ng-model="country.name" placeholder="Country Name">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="name" class="col-sm-4" style="font-weight:600;margin-top:7px;color:red;">Country Code:</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" id="name" data-ng-model="country.countryCode" placeholder="Country Code">
                        </div>
                    </div>

                </div>
            </div>
            <br>
            <div align="left">
                <div>
                    <a class="btn btn-primary btn-sm" type="submit" role="button" data-ng-click="Save()" data-ng-show="isCreateView()" style="padding:5px 20px;margin-right:10px;"> Create </a>

                    <a class="btn btn-primary btn-sm" type="submit" role="button" data-ng-click="Update()" data-ng-hide="isCreateView()" style="padding:5px 20px;margin-right:10px;"> Update </a>

                    <a data-ng-href="/countries" class="btn btn-danger btn-sm" role="button" style="padding:5px 20px;"> Cancel</a>
                </div>
            </div>
            <br>
        </form>

        <br>
        <div data-ng-hide="showForm()" class="table-responsive">
            <table class="table table-hover">
                <thead>
                    <tr style="border-bottom:1px solid #ccc;">

                        <th style="width:50px;">#</th>
                        <th style="margin-left:10px;">Country</th>
                        <th style="margin-left:10px;">Country Code</th>
                        <th style="width:100px;">Action</th>
                    </tr>
                </thead>

                <tbody>


                    <tr dir-paginate="country in countries | filter: searchCon |itemsPerPage:pageSize" current-page="currentPage">
                        <!--
                        <td>{{ tdo.index }}</td>
                        <td data-ng-init="member = getmember(tdo.memberid)">{{ member.fullname + ' - ' + member.memberId }}</td>
                        <td data-ng-init="todo = gettodotype(tdo.todotypeid)">{{ todo.name }}</td>
                        <td data-ng-init="status = gettodostatus(tdo.todostatusid)">{{ status.name }}</td>
                        <td>{{ tdo.followupdate | date: 'dd-MMM-yyyy' }}</td>
                        <td>
                            <a data-ng-href="/todos/edit/{{tdo.id}}"><span class="glyphicon glyphicon-pencil" title="Edit" ></span></a>&nbsp;&nbsp;
                            <a style="color:#b7b8c8;">|</a>&nbsp;&nbsp;
                            <a confirm-button="Delete(tdo.id)" message="Are you sure? you want to delete?">
                                    <span class="glyphicon glyphicon-remove" style="cursor:pointer;border-left:1px solid #" title="Bin"></span>
                                </a>&nbsp;
                        </td>
-->
                        <td> {{ country.index }}</td>
                        <td>{{country.name}}</td>
                        <td>{{country.countryCode}}</td>

                        <!--
                        <td><a data-ng-href="/countries/{{country.id}}"><span class="glyphicon glyphicon-edit" title="Edit" style="color: black;"></span></a>&nbsp;
                            <a data-ng-href="/countries" data-ng-click="Delete(country.id)"><span class="glyphicon glyphicon-trash" style="color: red;" title="Bin"></span></a>&nbsp; </td>
-->
                        <td><a data-ng-href="/countries/{{country.id}}"><span class="glyphicon glyphicon-pencil" title="Edit" ></span></a>&nbsp;&nbsp;
                            <a style="color:#b7b8c8;">|</a>&nbsp;&nbsp;
                            <a confirm-button="Delete(country.id)" message="Are you sure? you want to delete?"><span class="glyphicon glyphicon-remove" style="cursor:pointer;" title="Bin"></span></a>&nbsp;
                        </td>

                    </tr>
                </tbody>
            </table>
            <br/>
            <div align="right">
                <dir-pagination-controls max-size="25" direction-links="true" boundary-links="true" pagination-id="zonesid" on-page-change="PageChanged(newPageNumber, oldPageNumber)">
                </dir-pagination-controls>
            </div>
        </div>


        <!-- /.box-body -->
        <div class="box-footer">

        </div>
        <!-- /.box-footer -->
    </div>
    <!-- /.box -->

    <!---  <style>
        .nav-tabs-custom > .nav-tabs > li.active {
            border-top-color: #b71c1c;
        }
    </style>--->

    <modal2 title1="{{modalTitle}}" visible="stakeholderdataModal">
        <p>{{message}}</p>
    </modal2>

    <validationmodal title1="Alert!!!" visible="showValidation">
        {{validatestring1}}
    </validationmodal>
