<style>
    .stylelink {
        /*		padding: 3px 10px;*/
        background: transparent;
        color: #9d9eb3;
        font-weight: bold;
        /*		border-radius: 50px;*/
        text-decoration: none;
        font-size: 14px;
        display: inline-flex;
        flex-flow: row nowrap;
        max-width: 100%;
        padding: 20px 40px;

    }

    .stylelink.active {
        /*		padding: 3px 10px;*/
        /*		background: #b71c1c;*/
        color: #4a4d72;
        font-weight: bold;
        /*		border-radius: 50px;*/
        text-decoration: none;
        font-size: 14px;
        /*		font-weight: 600;*/
        display: inline-flex;
        flex-flow: row nowrap;
        max-width: 100%;
        padding: 20px 40px;
        border-bottom: 4px solid #e72e5a;
    }

    .sub_menu {
        display: inline-flex;
        flex-flow: row nowrap;
        max-width: 100%;
        padding: 10px 10px;
        border-bottom: 2px solid transparent;
        color: #333;
    }

    .sub_menu.active {
        display: inline-flex;
        flex-flow: row nowrap;
        max-width: 100%;
        padding: 10px 10px;
        color: #000;
        font-weight: bold;
        /*		border-bottom: 2px solid #01adfb;*/
    }

    #wrapper {
        display: table;
        table-layout: fixed;
        width: 100%;
        height: auto;
        border-bottom: 1px solid #e6e6e6;
        /*		background-color: #fff;*/
    }

    #wrapper div {
        display: table-cell;
        height: auto;
    }

    .nav-tabs-custom>.nav-tabs>li {
        width: 16%;
    }

    @media screen and (max-width: 480px) {
        .stylelink {
            font-size: 12px;
            padding: 10px 20px;
        }

        .stylelink.active {
            font-size: 12px;
            padding: 10px 20px;
        }

        .sub_menu {
            font-size: 10px;
        }

        .sub_menu.active {
            font-size: 10px;
        }
    }
</style>

<!-- Horizontal Form -->
<div class="box box-info" style="min-height:450px;border-top:none;">
    <div style=" border-bottom: 1px solid #e6e6e6;">
        <div class="stylelink active box-header with-border " style="padding:20px 10px;background: #ffffff;">
            <h3 class="box-title" style="font-weight:600;">Custom Field </h3>
        </div>
    </div>

    <div class="box-body">
        <!--<div align="left">
            <a data-ng-href="/surveyquestionmlanguage/create" class="btn btn-primary btn-sm " role="button" data-ng-hide="hideCreateButton()">Add New </a>
        </div>-->
        <br />

        <div class="row">
            <div class="col-sm-4"></div>
            <div data-ng-hide="showForm()" class="col-sm-2"
                style="text-align:right;padding-right:0px;border-color:#e1e8ee">
                <span>Show</span>
                <select ng-model="pageSize" data-placeholder="Show Entries" ng-change="pageFunction(pageSize)">
                    <option value="25">25</option>
                    <option value="50">50</option>
                    <option value="100">100</option>
                </select>
                <!--					<span>Entries</span>-->
            </div>
            <div data-ng-hide="showForm()" class="col-sm-3" style="padding-right:0px;">
                <form role="form">
                    <div class="input-group">
                        <input type="text" class="form-control ng-pristine ng-valid" placeholder="Search"
                            style="z-index:0;border-radius:2px;border-right:none;border-color:#e1e8ee;border-top-left-radius:4px;border-bottom-left-radius: 4px;"
                            data-ng-model="searchCon">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button"
                                style="border-top-right-radius: 4px;border-bottom-right-radius: 4px;border-color:#e1e8ee;background:none;border-left:none;"><span
                                    class="glyphicon glyphicon-search"></span></button>
                        </span>
                    </div>
                </form>
            </div>
            <div class="col-sm-3">
                <a data-ng-href="/customfields/create" class="btn btn-primary btn-sm  " role="button"
                    data-ng-hide="hideCreateButton()" style="padding:5px 20px;">Add New </a>&nbsp;&nbsp;&nbsp;
            </div>

        </div>
        <br />

        <form class="form-horizontal" role="form" data-ng-show="showForm()">
            <p align="center" style="color:red">All fields in red are mandatory</p>
            <br />
            <div class="row" style="margin:0;padding:0;">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label class="col-sm-4" style="font-weight:600;margin-top:7px;color:red;">CUSTOMER</label>
                        <div class="col-sm-6">
                            <select ui-select2 id="customer-area" ng-model="customfield.customerId"
                                data-placeholder="Pick a Customer" style="width:100%">
                                <option value=""></option>
                                <option data-ng-repeat="customer in customers" value="{{customer.id}}">{{ customer.name
                                    }}</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label class="col-sm-4" style="font-weight:600;margin-top:7px;color:red;">CATEGORY</label>
                        <div class="col-sm-6">
                            <select ui-select2 id="category-area" ng-model="customfield.categoryId"
                                data-placeholder="Pick a category" style="width:100%">
                                <option value=""></option>
                                <option data-ng-repeat="category in categories" value="{{category.id}}">{{ category.name
                                    }}</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" style="margin:0;padding:0;">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label class="col-sm-4" style="font-weight:600;margin-top:7px;color:red;">SUB CATEGORY</label>
                        <div class="col-sm-6">
                            <select ui-select2 id="subcategory-area" ng-model="customfield.subCategoryId"
                                data-placeholder="Pick a subcategory" style="width:100%">
                                <option value=""></option>
                                <option data-ng-repeat="subcategory in subcategories" value="{{subcategory.id}}">{{
                                    subcategory.name }}</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="name" class="col-sm-4" style="font-weight:600;margin-top:7px;color:red;">Custom
                            Field One:</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" id="name" data-ng-model="customfield.fieldone"
                                placeholder="Custom Field One">
                        </div>
                    </div>

                </div>
            </div>
            <div class="row" style="margin:0;padding:0;">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label class="col-sm-4" style="font-weight:600;margin-top:7px;color:red;">Custom
                            Field Two</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" id="name" data-ng-model="customfield.fieldtwo"
                                placeholder="Custom Field Two">
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="name" class="col-sm-4" style="font-weight:600;margin-top:7px;color:red;">Custom
                            Field Three</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" id="name" data-ng-model="customfield.fieldthree"
                                placeholder="Custom Field Three">
                        </div>
                    </div>

                </div>
            </div>
            <div class="row" style="margin:0;padding:0;">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label class="col-sm-4" style="font-weight:600;margin-top:7px;color:red;">Custom
                            Field Four</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" id="name" data-ng-model="customfield.fieldfour"
                                placeholder="Custom Field Four">
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="name" class="col-sm-4" style="font-weight:600;margin-top:7px;color:red;">Custom
                            Field Five</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" id="name" data-ng-model="customfield.fieldfive"
                                placeholder="Custom Field Five">
                        </div>
                    </div>

                </div>
            </div>
            <div class="row" style="margin:0;padding:0;">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label class="col-sm-4" style="font-weight:600;margin-top:7px;color:red;">Custom
                            Field Six</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" id="name" data-ng-model="customfield.fieldsix"
                                placeholder="Custom Field Six">
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="name" class="col-sm-4" style="font-weight:600;margin-top:7px;color:red;">Custom
                            Field Seven</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" id="name" data-ng-model="customfield.fieldseven"
                                placeholder="Custom Field Seven">
                        </div>
                    </div>

                </div>
            </div>
            <div class="row" style="margin:0;padding:0;">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label class="col-sm-4" style="font-weight:600;margin-top:7px;color:red;">Custom
                            Field Eight</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" id="name" data-ng-model="customfield.fieldeight"
                                placeholder="Custom Field Eight">
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="name" class="col-sm-4" style="font-weight:600;margin-top:7px;color:red;">Custom
                            Field Nine</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" id="name" data-ng-model="customfield.fieldnine"
                                placeholder="Custom Field Nine">
                        </div>
                    </div>

                </div>
            </div>
            <div class="row" style="margin:0;padding:0;">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label class="col-sm-4" style="font-weight:600;margin-top:7px;color:red;">Custom
                            Field Ten</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" id="name" data-ng-model="customfield.fieldten"
                                placeholder="Custom Field Ten">
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    

                </div>
            </div>
            <br>
            <div align="left">
                <div>
                    <a class="btn btn-primary btn-sm" type="submit" role="button" data-ng-click="Save()"
                        data-ng-show="isCreateView()" style="padding:5px 20px;margin-right:10px;"> Create </a>

                    <a class="btn btn-primary btn-sm" type="submit" role="button" data-ng-click="Update()"
                        data-ng-hide="isCreateView()" style="padding:5px 20px;margin-right:10px;"> Update </a>

                    <a data-ng-href="/customfields" class="btn btn-danger btn-sm" role="button"
                        style="padding:5px 20px;"> Cancel</a>
                </div>
            </div>
            <br>
        </form>

        <br>
        <div data-ng-hide="showForm()" class="table-responsive">
            <table class="table table-hover">
                <thead>
                    <tr style="border-bottom:1px solid #ccc;">

                        <th style="width:50px;">#</th>
                        <th style="margin-left:10px;">Customer</th>
                        <th style="margin-left:10px;">Category</th>
                        <th style="margin-left:10px;">Sub Category</th>
                        <th style="width:100px;">Action</th>
                    </tr>
                </thead>

                <tbody>


                    <tr dir-paginate="customfield in customfields | filter: searchCon |itemsPerPage:pageSize"
                        current-page="currentPage">

                        <td> {{ customfield.index }}</td>
                        <td data-ng-init="customer = getCustomer(customfield.customerId)">{{customer.name}}</td>
                        <td data-ng-init="category = getCategory(customfield.categoryId)">{{category.name}}</td>
                        <td data-ng-init="subcategory = getSubCategory(customfield.subCategoryId)">{{subcategory.name}}</td>

                        <td><a data-ng-href="/customfields/{{customfield.id}}"><span class="glyphicon glyphicon-pencil"
                                    title="Edit"></span></a>&nbsp;&nbsp;
                            <a style="color:#b7b8c8;">|</a>&nbsp;&nbsp;
                            <a confirm-button="Delete(customfield.id)" message="Are you sure? you want to delete?"><span
                                    class="glyphicon glyphicon-remove" style="cursor:pointer;"
                                    title="Bin"></span></a>&nbsp;
                        </td>

                    </tr>
                </tbody>
            </table>
            <br />
            <div align="right">
                <dir-pagination-controls max-size="25" direction-links="true" boundary-links="true"
                    pagination-id="zonesid" on-page-change="PageChanged(newPageNumber, oldPageNumber)">
                </dir-pagination-controls>
            </div>
        </div>


        <!-- /.box-body -->
        <div class="box-footer">

        </div>
        <!-- /.box-footer -->
    </div>
    <!-- /.box -->

    <!---  <style>
        .nav-tabs-custom > .nav-tabs > li.active {
            border-top-color: #b71c1c;
        }
    </style>--->

    <modal2 title1="{{modalTitle}}" visible="stakeholderdataModal">
        <p>{{message}}</p>
    </modal2>

    <validationmodal title1="Alert!!!" visible="showValidation">
        {{validatestring1}}
    </validationmodal>