<style>
    .tht:hover {
        color: blue;
    }
 .stylelink {
        /*		padding: 3px 10px;*/
        background: transparent;
        color: #9d9eb3;
        font-weight: bold;
        /*		border-radius: 50px;*/
        text-decoration: none;
        font-size: 14px;
        display: inline-flex;
        flex-flow: row nowrap;
        max-width: 100%;
        padding: 20px 10px;
    }
    
    .stylelink.active {
        /*		padding: 3px 10px;*/
        /*		background: #b71c1c;*/
        color: #4a4d72;
        font-weight: bold;
        /*		border-radius: 50px;*/
        text-decoration: none;
        font-size: 14px;
        /*		font-weight: 600;*/
        display: inline-flex;
        flex-flow: row nowrap;
        max-width: 100%;
        padding: 20px 10px;
        border-bottom: 4px solid #e72e5a;
    }
    #wrapper {
    display: table;
    table-layout: fixed;
    width: 100%;
    height: auto;
    border-bottom: 1px solid #e6e6e6;
}
</style>

<style>
    th {
        cursor: pointer;
    }
    
    {
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        -o-user-select: none;
        user-select: none;
    }

</style>

<!---<script type="text/javascript">
    var sortingOrder = 'firstname';

</script> -->
<!-- Horizontal Form -->
<div class="box box-info" style="min-height:450px;border-top:none;" data-ng-init="toggleLoading()">
    <div  id="wrapper">
    <div   class=" stylelink active box-header with-border" style="padding:20px 10px;">
        <h3 class="box-title" style="font-weight:600;">{{fieldworkerlist}}</h3>
    </div>
        </div>
    <!-- /.box-header -->
    <!-- form start -->

    <div class="box-body">
        <br/>
            <div class="row"  data-ng-hide="hideSearchFilter()">
            <div class="col-sm-5"></div>
            <div data-ng-hide="hideSearchFilter()" class="col-sm-2" style="text-align:right;padding-right:0px;border-color:#e1e8ee">
                <span>Show</span>
                <select ng-model="pageSize" data-placeholder="Show Entries" ng-change="pageFunction(pageSize)">
                    <option value="25">25</option>
                    <option value="50">50</option>
                    <option value="100">100</option>
                </select>
            </div>
            <div data-ng-hide="hideSearchFilter()" class="col-sm-3" style="padding-right:0px;">
                <form role="form">
                    <div class="input-group">
                        <input type="text" class="form-control ng-pristine ng-valid" placeholder="Search " style="z-index:0;border-right:none;border-color:#e1e8ee;border-top-left-radius:4px;border-bottom-left-radius: 4px;" data-ng-model="searchPart">
                        <span class="input-group-btn">
                     <button class="btn btn-default" type="button" style="border-top-right-radius:4px;border-bottom-right-radius: 4px;border-color:#e1e8ee;background:none;border-left:none;"><span class="glyphicon glyphicon-search"></span></button>
                        </span>
                    </div>
                </form>
            </div>
            <div class="col-sm-2">
                 <a data-ng-href="/fieldworker/create" class="btn btn-primary btn-sm" role="button" style="padding:5px 20px;margin-right:10px;">{{addnew}}</a>
            </div>

        </div>
<!--        -->
<!--
        <div align="left">
            <a data-ng-href="/fieldworkers/create" class="btn btn-primary btn-sm btn-flat" role="button">{{addnew}}</a>
        </div>
        <br/>

        <div data-ng-hide="hideSearchFilter()">
            <br/>

            <div class="row" style="margin:0;padding:0;">
                <div class="col-sm-6" style="padding-top:5px;">
                    <span>{{show}}</span>
                    <select ng-model="pageSize" data-placeholder="Show Entries" ng-change="pageFunction(pageSize)">
                        <option value="25">25</option>
                        <option value="50">50</option>
                        <option value="100">100</option>
                    </select>
                    <span>{{entry}}</span>
                </div>
                <div class="col-sm-6">
                    <div class="row" style="margin:0;padding:0;">
                        <div class="col-sm-4"></div>
                        <div class="col-sm-8">
                            <form role="form">
                                <div class="input-group">
                                    <input type="text" id="Search" class="form-control" placeholder="Search" style="z-index:0;border-radius:20px;width:140%;" data-ng-model="searchPart">
                                </div>
                            </form>

                        </div>
                    </div>
                </div>

            </div>
        </div>
-->
        <br />


        <div data-ng-hide="showForm()" class="table-responsive">
            <table class="table ">

                <thead>
                    <tr>
                        <th  style="width:50px;">#</th>
                        <!--                        <th >{{username | uppercase}}</th>
                        <th class="tht"  ng-click="UserNameFilter()" style="cursor:pointer;"><span style="color:{{backgroundCol2}};">{{username | uppercase}}</span></th>
                        
                        <th class="tht"  ng-click="FirstNameFilter()" style="cursor:pointer;"><span style="color:{{backgroundCol1}};">{{fullname | uppercase}}</span></th> -->

                        <!--
                        <th  ng-click="UserNameFilter()" style="cursor:pointer;" class="firstname"><span style="color:{{backgroundCol2}};">{{username | uppercase}}</span>&nbsp;
                            <a ng-click="sort_by('firstname')"><i class="icon-sort"></i></a>
                        </th>


                        <th  ng-click="FirstNameFilter()" style="cursor:pointer;" class="lastname"><span style="color:{{backgroundCol1}};">{{fullname | uppercase}}</span>&nbsp;
                            <a ng-click="sort_by('lastname')"><i class="icon-sort"></i></a>
                        </th>
                        -->

                         <th ng-click="changeSorting('firstname')">{{username | uppercase}}<span style="margin-left:10px;"><i class="fa fa-sort" ng-class="getIcon('firstname')"></i></span></th>
                        <th ng-click="changeSorting('lastname')">{{fullname | uppercase}}<span style="margin-left:10px;"><i class="fa fa-sort" ng-class="getIconOne('lastname')"></i></span></th>



                        <!-- <th>
                            <a href="" ng-click="sortType = 'firstname'; sortReverse = !sortReverse">
            {{username | uppercase}}
            <span ng-show="sortType == 'firstname' && !sortReverse" class="fa fa-caret-down"></span>
            <span ng-show="sortType == 'firstname' && sortReverse" class="fa fa-caret-up"></span>
          </a>
                        </th>

                        <th>
                            <a href="" ng-click="sortType = 'lastname'; sortReverse = !sortReverse">
            {{fullname | uppercase}}
            <span ng-show="sortType == 'lastname' && !sortReverse" class="fa fa-caret-down"></span>
            <span ng-show="sortType == 'lastname' && sortReverse" class="fa fa-caret-up"></span>
          </a>
                        </th> -->

                        <th >{{printmobile | uppercase}}</th>
                        <th >{{fieldworkeremail | uppercase}}</th>
                        <th >{{assignedsites | uppercase}}</th>
                        <th  style="width:75px;">{{action | uppercase}}</th>

                    </tr>
                </thead>
                <tbody id="bnbody">
                    <!--<tr dir-paginate="partner in partners| filter:searchPart |itemsPerPage:pageSize" current-page="currentpage"> orderBy:sortingOrder:reverse  -->
                    <tr dir-paginate="partner in TotalFWData  = ( partners | filter:searchPart ) |  itemsPerPage:pageSize" current-page="currentPage">
                        <td>{{ partner.index }}</td>
                        <td data-ng-init="useremp = getUser(partner.id)">{{ partner.firstname }}
                            <br>Get Data: {{useremp.syncintime|date:'dd-MMM-yyyy/hh:mm:ss a'}}
                            <br>Push Data: {{useremp.syncouttime|date:'dd-MMM-yyyy/hh:mm:ss a'}}</td>
                        <td>{{ partner.lastname }}</td>
                        <td>{{ partner.mobile }}</td>
                        <td>{{ partner.email }}</td>
                        <td data-ng-init="sites = getassignedSites(partner.sitesassigned)" ng-if="partner.sitesassigned.length>0">
                            <p ng-repeat="site in sites">{{ site.id }}-{{ site.name }}</p>
                        </td>
                        <!--<td ng-if="partner.sitesassigned.length>0">{{partner.Sitename.id}} - {{partner.Sitename.name}}</td>-->
                        <td ng-if="partner.sitesassigned==null"></td>
                        <td>
                            <a data-ng-href="/fieldworker/{{partner.id}}"><span class="glyphicon glyphicon-pencil" ></span></a>&nbsp;&nbsp;
                            <!--							<a confirm-button="Delete(partner.id)"><span class="glyphicon glyphicon-trash" style="color: red;cursor:pointer;" title="Bin"></span></a>&nbsp;-->
                            <a style="color:#b7b8c8;">|</a>&nbsp;&nbsp;
                            <a data-ng-href="/syncoutdata/{{partner.id}}"><span class="glyphicon glyphicon-eye-open" ></span></a>&nbsp;
                        </td>
                    </tr>
                </tbody>
            </table>
            <div align="right">
                <!-- max-size="5"-->
                <dir-pagination-controls max-size="25" direction-links="true" boundary-links="true" on-page-change="PageChanged(newPageNumber, oldPageNumber)">
                </dir-pagination-controls>
            </div>
        </div>

    </div>
    <!-- /.box-body -->
    <div class="box-footer">

    </div>
    <!-- /.box-footer -->
</div>
<!-- /.box -->
