<style>
	/**	.nav-tabs-custom > .nav-tabs > li.active {
		border-top-color: #b71c1c;
	}
    **/
.stylelink {
        /*		padding: 3px 10px;*/
        background: transparent;
        color: #9d9eb3;
        font-weight: bold;
        /*		border-radius: 50px;*/
        text-decoration: none;
        font-size: 14px;
        display: inline-flex;
        flex-flow: row nowrap;
        max-width: 100%;
        padding: 20px 10px;
    }
    
    .stylelink.active {
        /*		padding: 3px 10px;*/
        /*		background: #b71c1c;*/
        color: #4a4d72;
        font-weight: bold;
        /*		border-radius: 50px;*/
        text-decoration: none;
        font-size: 14px;
        /*		font-weight: 600;*/
        display: inline-flex;
        flex-flow: row nowrap;
        max-width: 100%;
        padding: 20px 10px;
        border-bottom: 4px solid #e72e5a;
    }
    #wrapper {
    display: table;
    table-layout: fixed;
    width: 100%;
    height: auto;
    border-bottom: 1px solid #e6e6e6;
}
</style>

<!-- Horizontal Form -->
<div class="box box-info" style="min-height:450px;border-top:none;" data-ng-init="toggleLoading()">
      <div  id="wrapper">
	<div class=" stylelink active box-header with-border" style="padding:20px 10px;">
		<h3 class="box-title" style="font-weight:600;">{{fieldworkercreate}}</h3>
	</div>
    </div>

	<div class="box-body">
		<br/>
		<br>
		<p align="center" style="font-weight:600;margin-top: 8px;color:red;">{{mandatoryfield}}</p>
		<br>
		<div class="nav-tabs-custom">
			<ul class="nav nav-tabs">
				<li class="active" style="cursor:pointer;"><a data-target="#tab_1" data-toggle="tab">{{divbasicinfo}}</a></li>
				<li style="cursor:pointer;"><a data-target="#tab_2" data-toggle="tab">{{divuserinfo}}</a></li>
				<!--ng-hide="tabtwohide"-->
			</ul>
			<div class="tab-content">
				<div class="tab-pane active" id="tab_1">
					<br/>
					<form class="form-horizontal" role="form">
						<div class="row">
							<div class="col-sm-6">
								<div class="form-group">
									<label for="first-name" class="col-sm-4" style="font-weight:600;margin-top:8px;color:red;">{{username}}
									</label>
									<div class="col-sm-6">
										<input type="text" class="form-control" id="firstname" data-ng-model="fieldworker.firstname" placeholder="{{username}}" disabled>
									</div>
								</div>
							</div>
							<div class="col-sm-6">
								<div class="form-group">
									<label for="last-name" class="col-sm-4" style="font-weight:600;margin-top:8px;color:red;">{{fullname}}
									</label>
									<div class="col-sm-6">
										<input type="text" class="form-control" id="lastname" data-ng-model="fieldworker.lastname" placeholder="{{fullname}}">
									</div>
								</div>
							</div>
						</div>

						<div class="row">
							<div class="col-sm-6">
								<div class="form-group">
									<label for="code" class="col-sm-4" style="font-weight:600;margin-top:8px;color:red;">{{printfwcode}}
									</label>
									<div class="col-sm-6">
										<input type="text" class="form-control" id="fwcode" data-ng-model="fieldworker.fwcode" placeholder="{{fwcode}}" readonly>
									</div>
								</div>
							</div>
							<div class="col-sm-6">

							</div>
						</div>

						<div class="row">
							<div class="col-sm-6">
								<div class="form-group">
									<label for="im-provider" class="col-sm-4" style="font-weight:600;margin-top:8px;color:red;">{{state}}
									</label>
									<div class="col-sm-6">
										<input type="text" class="form-control" id="first-name" data-ng-model="zoneName" placeholder="{{state}}" readonly>
									</div>
								</div>
							</div>
							<div class="col-sm-6">
								<div class="form-group">
									<label for="im-provider" class="col-sm-4" style="font-weight:600;margin-top:8px;color:red;">{{district}}
									</label>
									<div class="col-sm-6">
										<input type="text" class="form-control" id="first-name" data-ng-model="salesareaName" placeholder="{{state}}" readonly>
									</div>
								</div>
							</div>
						</div>

						<div class="row">
							<div class="col-sm-6">
								<div class="form-group">
									<label for="partner-manager" class="col-sm-4" style="font-weight:600;margin-top:8px;color:red;">{{comanagerhdf}}
									</label>
									<div class="col-sm-6">
										<input type="text" class="form-control" id="first-name" data-ng-model="coorgName" placeholder="{{facility}}" readonly>
									</div>
								</div>
							</div>
							<div class="col-sm-6">
							</div>
						</div>

						<div class="row">
							<div class="col-sm-6">
								<div class="form-group">
									<label for="email" class="col-sm-4" style="font-weight:600;margin-top:8px;color:red;">{{printemail}} </label>
									<div class="col-sm-6">
										<input type="email" class="form-control" id="email" data-ng-model="fieldworker.email" placeholder="{{email}}">
									</div>
								</div>
							</div>
							<div class="col-sm-6">
								<div class="form-group">
									<label for="mobile" class="col-sm-4" style="font-weight:600;margin-top:8px;color:red;">{{printmobile}}</label>
									<div class="col-sm-6">
										<input type="tel" class="form-control" id="mobile" data-ng-model="fieldworker.mobile" placeholder="{{mobile}}" maxlength="10">
									</div>
								</div>
							</div>
						</div>

						<div class="row">
							<div class="col-sm-6">
								<div class="form-group">
									<label for="address" class="col-sm-4" style="font-weight:600;margin-top:8px;">{{printaddress}}</label>
									<div class="col-sm-6">
										<textarea class="form-control" id="address" data-ng-model="fieldworker.address" placeholder="{{address}}" rows="4"></textarea>
									</div>
								</div>
							</div>
							<div class="col-sm-6">
								<div class="form-group">
									<label for="helplineno" class="col-sm-4" style="font-weight:600;margin-top:8px;">{{latlong}}</label>
									<div class="col-sm-6">
										<div class="input-group">
											<input type="text" class="form-control" id="latitude" data-ng-model="fieldworker.latitude" placeholder="{{latlong}}"><span class="input-group-btn">
                                            <button class="btn btn-default" type="button" ng-Click="toggleMapModal()" autocomplete="off"><span class="glyphicon glyphicon-search"></span>
											</button>
											</span>
										</div>
									</div>
								</div>


								<!-- <div class="form-group">
                    <label for="helplineno" class="col-sm-4" style="font-weight:600;margin-top:8px;">Longitude</label>
                    <div class="col-sm-6">
                        <div class="input-group">
                            <input type="text" class="form-control" id="latitude" data-ng-model="fieldworker.longitude" placeholder="Longitude"> <span class="input-group-btn">
                                            <button class="btn btn-default" type="button" ng-click="SearchLatlong2()" autocomplete="off"><span class="glyphicon glyphicon-search"></span>
                            </button>
                            </span>
                        </div>
                    </div>
                </div>-->
							</div>

						</div>
						<br/>
						<br/>
						<br/>

						<div>
							<div align="left">
								<!--								-<a class="btn btn-success btn-sm " type="submit" role="button" data-ng-click="Save()" data-ng-show="isCreateView">Create </a>-->

								<a class="btn btn-success btn-sm " type="submit" role="button" data-ng-click="Update()" data-ng-hide="isCreateView" ng-disabled="createDisabled"  style="padding:5px 20px;">{{update}} </a>&nbsp;


								<a data-ng-href="/fieldworker" class="btn btn-danger btn-sm " role="button"  style="padding:5px 20px;">{{cancel}}</a>
							</div>
						</div>
					</form>
				</div>
				<!-- /.tab-pane -->
				<div class="tab-pane" id="tab_2">
					<br/>
					<form class="form-horizontal" role="form">

						<div class="row">
							<div class="col-sm-6">
								<div class="form-group">
									<label for="first-name" class="col-sm-4" style="font-weight:600;margin-top:8px;color:red;">{{username}}
									</label>
									<div class="col-sm-6">
										<input type="text" class="form-control" id="firstname" data-ng-model="fieldworker.firstname" placeholder="{{username}}" readonly>
									</div>
								</div>
							</div>
							<div class="col-sm-6">
								<div class="form-group">
									<label for="last-name" class="col-sm-4" style="font-weight:600;margin-top:8px;color:red;">{{password}}
									</label>
									<div class="col-sm-6">
										<input type="password" class="form-control" id="lastname" data-ng-model="user.password" placeholder="{{password}}">
									</div>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-sm-6">
								<div class="form-group">
									<label for="distributionRouteId" class="col-sm-4" style="font-weight:600;margin-top:4px;color:red;">{{LanguagePrint}} </label>
									<div class="col-sm-6">
										<select ui-select2 ng-model="fieldworker.language" data-placeholder="{{LanguagePrint}}" style="width:100%;">
											<option value=""></option>
											<option data-ng-repeat="language in languages" value="{{language.id}}">{{ language.name }}</option>
										</select>
									</div>
								</div>
							</div>
							<div class="col-sm-6"></div>
						</div>

						<br/>
						<br/>
						<br/>

						<div>
							<div align="left">
								<a class="btn btn-primary btn-sm " type="submit" role="button" data-ng-click="Save()" data-ng-show="isCreateView" ng-disabled="createDisabled"  style="padding:5px 20px;">{{create}} </a>&nbsp;

								<a class="btn btn-success btn-sm " type="submit" role="button" data-ng-click="Update()" data-ng-hide="isCreateView" ng-disabled="createDisabled"  style="padding:5px 20px;">{{update}} </a>&nbsp;


								<a data-ng-href="/fieldworker" class="btn btn-danger btn-sm " role="button"  style="padding:5px 20px;">{{cancel}}</a>
							</div>
						</div>

					</form>
				</div>
				<!-- /.tab-pane -->
			</div>
			<!-- /.tab-content -->
		</div>






	</div>
	<!-- /.box-body -->
	<div class="box-footer">

	</div>
	<!-- /.box-footer -->
</div>
<!-- /.box -->










<modal1 title1="Get Location" visible="showMapModal">
	<div style="width:100%; height:auto; min-height:500px;  border: 1px solid #E6E6E6; margin: 5px auto; padding:5px;" id="mapmodals">
		<br/>

		<form class="form-horizontal" role="form">
			<div class="row" style="margin:0px;padding:0;">
				<div class="col-sm-6">
					<div id="mapCanvas"></div>
				</div>
				<div class="col-sm-6">
					<div id="infoPanel">
						<b>Marker status:</b>
						<div id="markerStatus"><i>Click and drag the marker.</i>
						</div>
						<b>Current position:</b>
						<div id="info"></div>
						<b>Closest matching address:</b>
						<div id="mapaddress"></div>
					</div>
				</div>



			</div>

			<br/>
			<br/>

			<div align="left">
				<a class="btn btn-success btn-sm " type="submit" role="button" data-ng-click="SaveMap()"  style="padding:5px 20px;">Save </a>&nbsp;


				<a data-ng-href="" class="btn btn-danger btn-sm " role="button" data-ng-click="CancelMap()"  style="padding:5px 20px;">Cancel</a>
			</div>
		</form>


	</div>


	<style>
		.toggle.android {
			border-radius: 0px;
		}
		
		.toggle.android .toggle-handle {
			border-radius: 0px;
		}
		
		#mapCanvas {
			width: 500px;
			height: 400px;
			float: left;
		}
		
		#infoPanel {
			margin-left: 100px;
		}
		
		#infoPanel div {
			margin-bottom: 5px;
		}

	</style>

</modal1>





<!--<benefmodal1 title1="{{modalTitle12}}" visible="dataModal"  >-->
<benefmodal1 title1="" visible="dataModal"  >
<!--    -->
    <div class="modal-header" style="padding-bottom:22px;color:#ffffff;">
		<div class="pull-right">
					<a data-ng-click="OK()" data-dismiss="modal" class="btn btn-success btn-sm " role="button" style="background:#db4242;border-color:#db4242;padding:5px 20px;font-weight:bold;">{{ok}}</a>
				</div>
		<h4 class="stylelink active modal-title" style="font-weight:600;">{{modalTitle12}}</h4>
	</div>
    
<!--    -->
	<div  style="width:100%; height:auto; min-height:400px;  border: 1px solid #ffffff;padding:10px;" id="savemodals">
		<br/>

		<form class="form-horizontal" role="form">

			<div class="row">
				<div class="col-sm-6">
					<div class="form-group">
						<label for="first-name" class="col-sm-4" style="font-weight:600;margin-top:8px;color:red;">{{printfirstname}}
						</label>
						<div class="col-sm-6">
							{{fieldworker.firstname}}
						</div>
					</div>
				</div>
				<div class="col-sm-6">
					<div class="form-group">
						<label for="last-name" class="col-sm-4" style="font-weight:600;margin-top:8px;color:red;">{{printlastname}}
						</label>
						<div class="col-sm-6">
							{{fieldworker.lastname}}
						</div>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-sm-6">
					<div class="form-group">
						<label for="code" class="col-sm-4" style="font-weight:600;margin-top:8px;color:red;">{{printfwcode}}
						</label>
						<div class="col-sm-6">
							{{fieldworker.fwcode}}
						</div>
					</div>
				</div>
				<div class="col-sm-6">
					<div class="form-group">
						<label for="last-name" class="col-sm-4" style="font-weight:600;margin-top:8px;color:red;">{{LanguagePrint}}
						</label>
						<div class="col-sm-6">
							{{languageName}}
						</div>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-sm-6">
					<div class="form-group">
						<label for="im-provider" class="col-sm-4" style="font-weight:600;margin-top:8px;color:red;">{{state}}
						</label>
						<div class="col-sm-6">
							{{zoneName}}
						</div>
					</div>
				</div>
				<div class="col-sm-6">
					<div class="form-group">
						<label for="im-provider" class="col-sm-4" style="font-weight:600;margin-top:8px;color:red;">{{district}}
						</label>
						<div class="col-sm-6">
							{{salesareaName}}
						</div>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-sm-6">
					<div class="form-group">
						<label for="partner-manager" class="col-sm-4" style="font-weight:600;margin-top:8px;color:red;">{{facility}}
						</label>
						<div class="col-sm-6">
							{{coorgName}}
						</div>
					</div>
				</div>
				<div class="col-sm-6">
					{{fieldworker.site}}
				</div>
			</div>

			<div class="row">
				<div class="col-sm-6">
					<div class="form-group">
						<label for="email" class="col-sm-4" style="font-weight:600;margin-top:8px;color:red;">{{printemail}}</label>
						<div class="col-sm-6">
							{{fieldworker.email}}
						</div>
					</div>
				</div>
				<div class="col-sm-6">
					<div class="form-group">
						<label for="mobile" class="col-sm-4" style="font-weight:600;margin-top:8px;color:red;">{{printmobile}}
						</label>
						<div class="col-sm-6">
							{{fieldworker.mobile}}
						</div>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-sm-6">
					<div class="form-group">
						<label for="address" class="col-sm-4" style="font-weight:600;margin-top:8px;">{{printaddress}}</label>
						<div class="col-sm-6">
							{{fieldworker.address}}
						</div>
					</div>
				</div>
				<div class="col-sm-6">
					<div class="form-group">
						<label for="helplineno" class="col-sm-4" style="font-weight:600;margin-top:8px;">{{latlong}}</label>
						<div class="col-sm-6">
							{{fieldworker.latitude}}
						</div>
					</div>
				</div>


			</div>


			<br/>
			<br/>
			<br/>

<!--
			<div>
				<div align="left">
					<a class="btn btn-success btn-sm " role="button" data-ng-click="OK()">{{ok}}</a>
				</div>
			</div>
-->
		</form>

	</div>


	<style>
		.toggle.android {
			border-radius: 0px;
		}
		
		.toggle.android .toggle-handle {
			border-radius: 0px;
		}
		
		#mapCanvas {
			width: 500px;
			height: 400px;
			float: left;
		}
		
		#infoPanel {
			margin-left: 100px;
		}
		
		#infoPanel div {
			margin-bottom: 5px;
		}

	</style>

</benefmodal1>

<validationmodal title1="Alert" visible="showValidation">
	{{validatestring1}}
</validationmodal>
