<style>
    /*
    .stylelink {
        padding: 3px 10px;
        background: transparent;
        color: #333;
        border-radius: 50px;
        text-decoration: none;
        font-size: 14px;
        display: inline-flex;
        flex-flow: row nowrap;
        max-width: 100%;
    }
    
    .stylelink.active {
        padding: 3px 10px;
        background: #b71c1c;
        color: #fff;
        border-radius: 50px;
        text-decoration: none;
        font-size: 14px;
        font-weight: 600;
        display: inline-flex;
        flex-flow: row nowrap;
        max-width: 100%;
    } */
    
    .stylelink {
        background: transparent;
        color: #9d9eb3;
        font-weight: bold;
        text-decoration: none;
        font-size: 14px;
        display: inline-flex;
        flex-flow: row nowrap;
        max-width: 100%;
        padding: 20px 10px;
    }
    
    .stylelink.active {
        color: #4a4d72;
        font-weight: bold;
        text-decoration: none;
        font-size: 14px;
        display: inline-flex;
        flex-flow: row nowrap;
        max-width: 100%;
        padding: 20px 0px;
        border-bottom: 4px solid #ec0b6d;
    }
    
    .sub_menu {
        display: inline-flex;
        flex-flow: row nowrap;
        max-width: 100%;
        padding: 10px 10px;
        border-bottom: 2px solid transparent;
        color: #333;
    }
    
    .sub_menu.active {
        display: inline-flex;
        flex-flow: row nowrap;
        max-width: 100%;
        padding: 10px 10px;
        color: #000;
        font-weight: bold;
        border-bottom: 2px solid #01adfb;
    }
    
    #wrapper {
        display: table;
        table-layout: fixed;
        width: 100%;
        height: auto;
        border-bottom: 4px solid #f4f4f4;
        background-color: #fff;
        margin-top: 12px;
    }
    
    #wrapper div {
        display: table-cell;
        height: auto;
    }
    
    .sell {
        position: relative;
        min-width: 45px;
    }
    
    .sell:after {
        content: url(images/piclinks/down-arrow.png);
        font: 17px "Consolas", monospace;
        color: #333;
        top: 5px;
        margin-left: -22px;
        padding: 0 0 2px;
        position: absolute;
        pointer-events: none;
    }
    
    .sell select {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        display: block;
        width: 100%;
        /*        max-width: 320px;*/
        height: 32px;
        float: left;
        padding: 0px 7px;
        font-size: 14px;
        line-height: 1.75;
        color: #878993;
        border-radius: 4px;
        background-color: #ffffff;
        background-image: none;
        border: 1px solid #d5d7df;
        -ms-word-break: normal;
        word-break: normal;
    }
    
    .top {
        padding-top: 1.8em;
    }
    
    table,
    th,
    td {
        fill: #262d57;
        font-size: 14px;
    }
    
    th {
        background-color: #d5d7df;
        font-weight: normal;
    }
    
    tr {
        background-color: White;
        color: #262d57;
        font-size: 10px;
    }
    /*.main_text {
        width: 100%;
        height: auto;
        position: relative;
        text-align: center;
        color: #333;
        padding: 10px 0;
        display: block;
    }
    .main_text.active {
        color: #000;
        font-weight: 600;
    }
    
    .main_text.active:after {
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        top: 100%;
        margin: 0px auto;
        width: 90px;
        height: 2px;
        background: #01adfb;
    }*/
    
    .nav-tabs-custom>.nav-tabs>li {
        width: 19%;
    }
    
    @media screen and (max-width: 480px) {
        .stylelink {
            font-size: 12px;
            padding: 10px 20px;
        }
        .stylelink.active {
            font-size: 12px;
/*            padding: 10px 20px;*/
            padding: 10px 0px;
        }
        .sub_menu {
            font-size: 10px;
        }
        .sub_menu.active {
            font-size: 10px;
        }
        .ml{
            padding-left: 0px;
        }
        .ml1{
            margin-left: -5%;
             margin-bottom: 25px;
        }
    }
    
    @media screen and (max-width:350px) {
        .ml{
            padding-left: 0px;
        }
        .ml1{
            margin-left: -7%;
             margin-bottom: 25px;
        }
    }
    
    @media screen and (max-width:376px) and (min-width:355px){
        .ml{
            padding-left: 0px;
        }
        .ml1{
            margin-left: -7%;
             margin-bottom: 25px;
        }
    }
     @media screen and (max-width:1024px) and (min-width:1000px){
        .ml1{
            margin-left: -2%; 
        }
    }
    
    .inactive {
        color: #dddddd;
        pointer-events: none;
        cursor: default;
    }
</style>

<div style="width:100%;height:auto;background:#ffffff;">
    <div id="wrapper">
        <div style="text-align:center;">
            <a class="stylelink" href="/gender"><span style="flex:1;white-space:pre;overflow: hidden;text-overflow: ellipsis;">GENDER</span></a>
        </div>
        <div style="text-align:center;">
            <a class="stylelink" href="/occupation"><span style="flex:1;white-space:pre;overflow: hidden;text-overflow: ellipsis;">OCCUPATION</span></a>
        </div>
        <div style="text-align:center;">
            <a class="stylelink" href="/education"><span style="flex:1;white-space:pre;overflow: hidden;text-overflow: ellipsis;">EDUCATION</span></a>
        </div>
        <div style="text-align:center;">
            <a class="stylelink active" href="/membercustom"><span style="flex:1;white-space:pre;overflow: hidden;text-overflow: ellipsis;">CUSTOM FIELDS</span></a>
        </div>
    </div>
</div>

<!-- Horizontal Form -->
<div class="box box-info" style="min-height:450px;border-top:none;">

    <div class="box-body">
        <!--<div align="left">
            <a data-ng-href="/surveyquestionmlanguage/create" class="btn btn-primary btn-sm " role="button" data-ng-hide="hideCreateButton()">Add New </a>
        </div>-->
        <br/>

        <div class="row padding">
            <div class="col-sm-0 col-md-5"></div>
            <div class="col-sm-12 col-md-7">
                <div class="col-sm-0 col-md-2"></div>
                <div data-ng-hide="showForm()" class="col-xs-12 col-sm-2 col-md-1" style="text-align:left;padding-left:0px;padding-right:0px;">
                    <label>Show</label>
                    <div class="sell">
                        <select ng-model="pageSize" data-placeholder="Show Entries" ng-change="pageFunction(pageSize)">
                            <option value="25">25</option>
                            <option value="50">50</option>
                            <option value="100">100</option>
                        </select>
                    </div>
                    <!--					<span>Entries</span>-->
                </div>
                <div data-ng-hide="showForm()" class="col-xs-12 col-sm-6 col-md-5 top ml" style="padding-right:0px;">
                    <form role="form">
                        <div class="input-group">
                            <span class="input-group-btn">
                     <button class="btn btn-default" type="button" style="border-top-left-radius: 4px;border-bottom-left-radius: 4px;background:none;border-right:none;"><span class="glyphicon glyphicon-search"></span></button>
                            </span>
                            <input type="text" class="form-control ng-pristine ng-valid" placeholder="Search" style="z-index:0;border-radius:2px;border-left:none;border-top-right-radius:4px;border-bottom-right-radius: 4px;" data-ng-model="searchZone">
                        </div>
                    </form>
                </div>
                <div class="col-xs-12 col-sm-3 col-md-2 top ml1">
                    <a data-ng-href="/membercustom/create" class="btn btn-primary btn-sm  " role="button" data-ng-hide="hideCreateButton()" style="padding:5px 20px;">Add New </a>&nbsp;&nbsp;&nbsp;
                </div>
            </div>
        </div>
        <!--        <br/>-->

        <form role="form" data-ng-show="showForm()">
            <br/>
            <br/>
            <div class="row padding">

                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="sales-area">Name <sup>*</sup> </label>
                        <div>
                            <input type="text" class="form-control" id="name" data-ng-model="membercustom.name" placeholder="Name">
                        </div>
                    </div>
                </div>
                
                  <div class="col-sm-3">
                    <div class="form-group">
                        <label for="role">Type <sup>*</sup> </label>
                        <div>
                            <select ui-select2 id="type" data-ng-model="membercustom.type" data-placeholder="Pick a Type" style="width:100%;">
                                <option value=""></option>
                                <option value="text">Textbox</option>
                                <option value="dropdown">Dropdown</option>
                                <option value="date">Date</option>
                                <option value="file">File</option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="sales-area">Mandatory <sup>*</sup></label>
                        <div>
                            <select ui-select2 id="type" data-ng-model="membercustom.mandatory" data-placeholder="Pick an Option" style="width:100%;">
                                <option value=""></option>
                                <option value="yes">Yes</option>
                                <option value="no">No</option>
                            </select>
                        </div>
                    </div>

                </div>
            </div>
            <div class="row padding">
                <div class="col-sm-3" ng-if="membercustom.type=='dropdown'">
                    <div class="form-group">
                        <label for="sales-area">MultiSelect <sup>*</sup></label>
                        <div>
                            <select ui-select2 id="type" data-ng-model="membercustom.multiselect" data-placeholder="Pick an Option" style="width:100%;">
                                <option value=""></option>
                                <option value="yes">Yes</option>
                                <option value="no">No</option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="col-sm-3" ng-if="membercustom.type=='dropdown'">
                    <div class="form-group">
                        <label for="values">Values <sup>*</sup> </label>
                        <div>
                            <input type="text" class="form-control" id="values" data-ng-model="membercustom.values" placeholder="value1,value2...">
                        </div>
                    </div>
                </div>

                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="name">Default <sup>*</sup> </label>
                        <div>
                            <input type="text" class="form-control" id="name" data-ng-model="membercustom.default" placeholder="Default">
                        </div>
                    </div>
                </div>

                <div class="col-sm-3" ng-if="membercustom.type=='text'">
                    <div class="form-group">
                        <label for="sales-area">Max Chars <sup>*</sup> </label>
                        <div>
                            <input type="text" class="form-control" id="name" data-ng-model="membercustom.maxchars" placeholder="MaxChars">
                        </div>
                    </div>
                </div>

                <div class="col-sm-3" ng-if="membercustom.type=='file'">
                    <div class="form-group">
                        <label for="sales-area">Max Size <sup>*</sup> </label>
                        <div>
                            <input type="text" class="form-control" id="name" data-ng-model="membercustom.maxsize" placeholder="In MBs">
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <div align="right">
                <div>
                    <a data-ng-href="/membercustom" class="btn btn-danger btn-sm " role="button" style="padding:5px 20px;margin-right:10px;">Cancel</a>

                    <a class="btn btn-info btn-sm " type="submit" role="button" data-ng-click="Save()" data-ng-show="isCreateView()"  ng-disabled="submitDisable" style="padding:5px 20px;margin-right:10px;">Create </a>

                    <a class="btn btn-info btn-sm " type="submit" role="button" data-ng-click="Update()" data-ng-hide="isCreateView()" ng-disabled="submitDisable" style="padding:5px 20px;margin-right:10px;">Update </a>
                    
                    <button type="button" class="btn btn-primary btn-sm " style="padding:5px 20px;" data-ng-click="LangClick()">L</button>
                </div>
            </div>
            <br>
        </form>

        <!--        <br>-->
        <div data-ng-hide="showForm()" class="table-responsive">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>S NO.</th>
                        <th ng-click="changeSorting('language')">NAME<span style="margin-left:10px;"><i class="fa fa-sort-desc" ng-class="getIcon('language')"></i></span></th>


                        <th ng-click="changeSorting('memberid')">TYPE<span style="margin-left:10px;"><i class="fa fa-sort-desc" ng-class="getIcon('memberid')"></i></span></th>

                        <th ng-click="changeSorting('membercustomid')">MANDATORY<span style="margin-left:10px;"><i class="fa fa-sort-desc" ng-class="getIcon('membercustomid')"></i></span></th>

                        <th ng-click="changeSorting('category')">DEFAULT<span style="margin-left:10px;"><i class="fa fa-sort-desc" ng-class="getIcon('category')"></i></span></th>

                        <!--                        <th ng-click="changeSorting('membercustomstatusid')">Status<span style="margin-left:10px;"><i class="fa fa-sort-desc" ng-class="getIcon('membercustomstatusid')"></i></span></th>-->

                        <th style="width:100px;">ACTION</th>
                    </tr>
                </thead>

                <tbody>

                    <tr dir-paginate="wflow in TotalData  = ( membercustomheaders | filter:searchZone ) |itemsPerPage:pageSize" pagination-id="zonesid" current-page="currentPage">
                        <td>{{ wflow.index }}</td>
                        <td>{{ wflow.name }}</td>
                        <td>{{ wflow.type| uppercase }}</td>
                        <td>{{ wflow.mandatory|uppercase }}</td>
                        <td>{{ wflow.default }}</td>

                        <td>
                            <a data-ng-href="/membercustom/edit/{{wflow.id}}">
                                <!--                                <span class="glyphicon glyphicon-pencil" title="Edit" ></span>-->
                                <img class="iccon" src="images/piclinks/edit.png" title="Edit">
                            </a>&nbsp;&nbsp;
                            <!--                            <a style="color:#b7b8c8;">|</a>&nbsp;&nbsp;-->
                            <a confirm-button="Delete(wflow.id)" message="Are you sure? you want to delete?">
                                <!--                                <span class="glyphicon glyphicon-remove" style="cursor:pointer;border-left:1px solid #" title="Bin"></span>-->
                                <img class="iccon" src="images/piclinks/cross.png" style="cursor:pointer;" title="Bin">
                            </a>&nbsp;
                        </td>
                    </tr>
                </tbody>
            </table>
            <br/>
            <div class="padding" align="right">
                <dir-pagination-controls max-size="25" direction-links="true" boundary-links="true" pagination-id="zonesid" on-page-change="PageChanged(newPageNumber, oldPageNumber)">
                </dir-pagination-controls>
            </div>
        </div>
        <br/>
        <!-- /.box-body -->
        <div class="box-footer">

        </div>
        <!-- /.box-footer -->
    </div>
    <!-- /.box -->

    <!---  <style>
        .nav-tabs-custom > .nav-tabs > li.active {
            border-top-color: #b71c1c;
        }
    </style>--->

    <modal2 title1="{{modalTitle}}" visible="stakeholderdataModal">
        <p>{{message}}</p>
    </modal2>

    <validationmodal title1="Alert!!!" visible="showValidation">
        {{validatestring1}}
    </validationmodal>
    
    

    <langmodal visible="langModel">
        <div class="modal-header" style="color:#ffffff;padding:0px;">
<!--            <div class="pull-right" style='padding:15px;'></div>-->
            <h4 class="stylelink modal-title" style="color:#262d57;padding-left:26px;">Language </h4>
        </div>
        <div style="width:100%; height:auto; min-height:400px;  border: 1px solid #ffffff;" id="savemodals">
            <br>
            <form role="form">
<!--                <div class="col-sm-12">-->
                    <div class="table-responsive">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th style="width:150px;">S NO.</th>
                                    <th style="width:250px;">Language</th>
                                    <th style="width:160px;">Name</th>
                                    <th style="width:160px;" ng-if="membercustom.type=='dropdown'">Values</th>
                                </tr>
                            </thead>
                            <tbody>
                                <!--current-page="currentpage"-->
                                <tr ng-repeat="lang in languages">
                                    <td>{{ $index + 1 }}</td>
                                    <td>{{ lang.name }}</td>
                                    <td style="width:260px;">
                                        <input type="text" class="form-control" id="name" data-ng-model="lang.fieldname" placeholder="Name" style="width:60%;">
                                    </td>
                                    <td style="width:260px;" ng-if="membercustom.type=='dropdown'">
                                        <input type="text" class="form-control" id="name" data-ng-model="lang.values" placeholder="Values" style="width:60%;">
                                    </td>
                                </tr>
                            </tbody>
                        </table>

                    </div>
<!--                </div>-->
                <br>
                <br>
                <div class="form-group">
                        <div align="right">
                            <a data-ng-click="cancleQucikAdd()" data-dismiss="modal" class="btn btn-danger btn-sm " role="button" style="padding:5px 20px;margin-right:10px;">Cancel  </a>
                            
                            <a class="btn btn-info btn-sm " type="submit" role="button" data-ng-click="SaveLang()" style="padding:5px 20px;margin-right:30px;" data-ng-show="isCreateView()">Add  </a>&nbsp;

                            <a class="btn btn-info btn-sm " type="submit" role="button" data-ng-click="SaveLang()" style="padding:5px 20px;margin-right:30px;" data-ng-hide="isCreateView()">Update  </a>&nbsp;
                    </div>
                </div>

            </form>
        </div>

        <style>
            div.scroll {
                width: 100%;
                height: 100px;
                overflow: scroll;
            }

            .toggle.android {
                border-radius: 0px;
            }

            .toggle.android .toggle-handle {
                border-radius: 0px;
            }

            #mapCanvas {
                width: 500px;
                height: 400px;
                float: left;
            }

            #infoPanel {
                margin-left: 100px;
            }

            #infoPanel div {
                margin-bottom: 5px;
            }

        </style>

    </langmodal>