<!--
<style>
    .stylelink {
        background: transparent;
        color: #fff;
        font-weight: bold;
        text-decoration: none;
        font-size: 14px;
        display: inline-flex;
        flex-flow: row nowrap;
        max-width: 100%;
        padding: 20px 10px;
    }
    
    .stylelink.active {
        color: #fff;
        font-weight: bold;
        text-decoration: none;
        font-size: 14px;
        font-weight: 600;
        display: inline-flex;
        flex-flow: row nowrap;
        max-width: 100%;
        padding: 20px 10px;
        border-bottom: 4px solid #cc3535;
    }
    
    .sub_menu {
        display: inline-flex;
        flex-flow: row nowrap;
        max-width: 100%;
        padding: 10px 10px;
        border-bottom: 2px solid transparent;
        color: #333;
    }
    
    .sub_menu.active {
        display: inline-flex;
        flex-flow: row nowrap;
        max-width: 100%;
        padding: 10px 10px;
        color: #000;
        font-weight: bold;
        border-bottom: 2px solid #01adfb;
    }
    
    #wrapper {
        display: table;
        table-layout: fixed;
        width: 100%;
        height: auto;
        background-color: #fff;
    }
    
    #wrapper div {
        display: table-cell;
        height: auto;
    }
    
    .nav-tabs-custom > .nav-tabs > li {
        width: 16%;
    }
    
    @media screen and (max-width: 480px) {
        .stylelink {
            font-size: 12px;
            padding: 5px 10px;
        }
        .stylelink.active {
            font-size: 12px;
            padding: 5px 10px;
        }
        .sub_menu {
            font-size: 10px;
        }
        .sub_menu.active {
            font-size: 10px;
        }
        .nav-tabs-custom > .nav-tabs > li {
            position: relative;
            display: block;
            padding: 10px;
            text-align: center;
            width: 180px;
        }
    }

</style>
-->
<style>
    	.stylelink {
/*		padding: 3px 10px;*/
		background: transparent;
		color: #9d9eb3;
        font-weight:bold;
/*		border-radius: 50px;*/
		text-decoration: none;
		font-size: 14px;
		display: inline-flex;
		flex-flow: row nowrap;
		max-width: 100%;
        padding:20px 40px;
       
	}
	
	.stylelink.active {
/*		padding: 3px 10px;*/
/*		background: #b71c1c;*/
		color: #4a4d72;
         font-weight:bold;
/*		border-radius: 50px;*/
		text-decoration: none;
		font-size: 14px;
/*		font-weight: 600;*/
		display: inline-flex;
		flex-flow: row nowrap;
		max-width: 100%;
         padding:20px 40px;
        border-bottom:4px solid #e72e5a;
	}
    
    .sub_menu {
        display: inline-flex;
        flex-flow: row nowrap;
        max-width: 100%;
        padding: 10px 10px;
        border-bottom: 2px solid transparent;
        color: #333;
    }
    
    .sub_menu.active {
        display: inline-flex;
        flex-flow: row nowrap;
        max-width: 100%;
        padding: 10px 10px;
        color: #000;
        font-weight: bold;
        /*		border-bottom: 2px solid #01adfb;*/
    }
    
    #wrapper {
        display: table;
        table-layout: fixed;
        width: 100%;
        height: auto;
        border-bottom: 1px solid #e6e6e6;
        /*		background-color: #fff;*/
    }
    
    #wrapper div {
        display: table-cell;
        height: auto;
    }
    .nav-tabs-custom > .nav-tabs > li  {
        width:16%;
    }
    /*.main_text {
        width: 100%;
        height: auto;
        position: relative;
        text-align: center;
        color: #333;
        padding: 10px 0;
        display: block;
    }
    .main_text.active {
        color: #000;
        font-weight: 600;
    }
    
    .main_text.active:after {
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        top: 100%;
        margin: 0px auto;
        width: 90px;
        height: 2px;
        background: #01adfb;
    }*/
    
    @media screen and (max-width: 480px) {
        .stylelink {
            font-size: 12px;
            padding: 10px 20px;
        }
        .stylelink.active {
            font-size: 12px;
            padding: 10px 20px;
        }
        .sub_menu {
            font-size: 10px;
        }
        .sub_menu.active {
            font-size: 10px;
        }
    }

</style>


<!---<div style="width:100%;height:auto;background:#e84a4a;">
    <div id="wrapper">
        <div style="text-align:center;">
            <a class="stylelink active " href="/surveyquestionmlanguage"><span style="flex:1;white-space:pre;overflow: hidden;text-overflow: ellipsis;">ONE TO ONE QUESTION</span></a>
        </div>
        <div style="text-align:center;">
            <a class="stylelink " href="/consentform"><span style="flex:1;white-space:pre;overflow: hidden;text-overflow: ellipsis;">CONSENT FORM</span></a>
        </div>

    </div>

</div>-->



<!-- Horizontal Form -->
<div class="box box-info" style="min-height:450px;border-top:none">
    <div id="wrapper"></div>
    <div class="box-header with-border stylelink active" style="background:#ffffff;padding:20px 10px;">
        <h3 class="box-title"  style="font-weight:600;">One to One Question</h3>
    </div>
    <!-- /.box-header -->
    <!-- form start -->

    <div class="box-body">
        <!--<div align="left">
            <a data-ng-href="/surveyquestionmlanguage/create" class="btn btn-primary btn-sm " role="button" data-ng-hide="hideCreateButton()">Add New </a>
        </div>-->
        <br/>

        <form class="form-horizontal" role="form">
            <p align="center" style="color:red">All fields in red are mandatory</p>
            <br/>
            <div class="row" style="margin:0;padding:0;">
                <div class="col-sm-6">

                    <div class="form-group">
                        <label for="name" class="col-sm-4" style="font-weight:600;margin-top:7px;color:red;">Skip Question
                        </label>
                        <div class="col-sm-6">
                            <input type="checkbox" id="skipquestion" data-ng-model="surveyquestion.skipquestion">
                        </div>
                    </div>

                    <div class="form-group" ng-if="surveyquestion.skipquestion==true">
                        <label for="zone" class="col-sm-4" style="font-weight:600;margin-top:5px;color:red;">Skip On
                        </label>
                        <div class="col-sm-6">
                            <select ui-select2 id="pillarid" ng-model="surveyquestion.skipon" data-placeholder="Skip On" style="width:100%">
                                <option value=""></option>
                                <option value="yes">Yes</option>
                                <option value="no">No</option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="zone" class="col-sm-4" style="font-weight:600;margin-top:5px;color:red;">Pillar
                        </label>
                        <div class="col-sm-6">
                            <select ui-select2 id="pillarid" ng-model="surveyquestion.pillarid" data-placeholder="Pick a Pillar" style="width:100%">
                                <option value=""></option>
                                <option data-ng-repeat="pillar in pillars" value="{{pillar.id}}">{{ pillar.name }}</option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="name" class="col-sm-4" style="font-weight:600;margin-top:7px;color:red;">Question
                        </label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" id="question" data-ng-model="surveyquestion.question" placeholder="Name">
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="name" class="col-sm-4" style="font-weight:600;margin-top:7px;">No of Options</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" id="noofdropdown" data-ng-model="surveyquestion.noofoptions" placeholder="No of Options">
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="name" class="col-sm-4" style="font-weight:600;margin-top:7px;color:red;">Options
                        </label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" id="answeroptions" data-ng-model="surveyquestion.answeroptions" placeholder="eg:Yes,No">
                        </div>
                    </div>
                </div>

                <div class="col-sm-6">



                    <div class="form-group">
                        <label for="sales-area" class="col-sm-4" style="font-weight:600;margin-top:5px;">Question Type</label>
                        <div class="col-sm-6">
                            <select ui-select2 id="sales-area" ng-model="surveyquestion.questiontype" data-placeholder="Pick a Type" style="width:100%">
                                <option value=""></option>
                                <option value="r">Radio Button</option>
                                <option value="t">Text Field</option>
                                <option value="nt">Numeric Text Field</option>
                                <option value="rt">Range Text Field</option>
                                <option value="mt">Mobile Number</option>
                                <option value="pt">Percentage Text Field</option>
                                <option value="bt">Address Button</option>
                                <option value="bp">Photo Button</option>
                                <option value="c">Check Box</option>
                                <option value="cc">Counted Check Box</option>
                                <option value="sq">Sub Question</option>
                                <option value="skp">Skip Question</option>
                                <option value="scheme">Scheme</option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group" data-ng-hide="NotScheme">
                        <label for="employee-id" class="col-sm-4" style="font-weight:600;margin-top:7px;">Scheme Serial Number</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" ng-model="surveyquestion.schemeslno" placeholder="Enter Scheme  Serial Number" style="width:100%">
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="name" class="col-sm-4" style="font-weight:600;margin-top:7px;">Question Serial Number</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" id="questionno" data-ng-model="surveyquestion.serialno" placeholder="Question Serial Number">
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="name" class="col-sm-4" style="font-weight:600;margin-top:5px;color:red;">Action on Yes
                        </label>
                        <div class="col-sm-6">
                            <select ui-select2 id="yesaction" ng-model="surveyquestion.yesaction" data-placeholder="Pick an Action" style="width:100%">
                                <option value=""></option>
                                <option value="nextquestion">Next Question</option>
                                <option value="nextmodule">Next Module</option>
                                <option value="popup">Pop Up</option>
                                <option value="skp">Skip Question</option>
                                <option value="providenextquestion">Provide Info then Next Question</option>
                                <option value="increment">Updating Beneficiary Data with date</option>
                                <option value="incrementskip">Updating Beneficiary Data with date and skip</option>
                                <option value="incrementonly">Updating Beneficiary Data</option>
                                <option value="incrementonlyskip">Updating Beneficiary Data With Skip</option>
                                <option value="freeflow">Free Flow</option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group" data-ng-hide="YesPopup">
                        <label for="name" class="col-sm-4" style="font-weight:600;margin-top:5px;">Yes Pop Up Type</label>
                        <div class="col-sm-6">
                            <select ui-select2 id="sales-area" ng-model="surveyquestion.yespopup" data-placeholder="Pick a Popup Type" style="width:100%">
                                <option value=""></option>
                                <option value="todos">TODOs</option>
                                <option value="datepicker">Date Picker</option>
                                <option value="plhiv">PLHIV Status</option>
                                <option value="reportincident">Report Incident</option>
                                <option value="reportincidentothers">Report Incident Others</option>
                                <option value="champions">Champions List</option>
                                <option value="dateforid">Capturing Date for IDs</option>
                                <option value="applicationflow">Application Flow</option>
                                <option value="applicationflowboth">Application Flow Both</option>
                                <option value="condomdetails">Health Data</option>
                                <option value="financialliteracy">Financial Literacy</option>
                                <option value="financialplanning">Financial Planning</option>
                                 <option value="phonetype">Phone Type</option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group" data-ng-hide="YesTodo">
                        <label for="name" class="col-sm-4" style="font-weight:600;margin-top:5px;">Yes Todo Type</label>
                        <div class="col-sm-6">
                            <select ui-select2 id="yestodotype" ng-model="surveyquestion.yestodotype" data-placeholder="Pick a Todo Type" style="width:100%">
                                <option value=""></option>
                                <option data-ng-repeat="todotype in todotypes" value="{{todotype.id}}">{{ todotype.name }}</option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group" data-ng-hide="YesDocument">
                        <label for="name" class="col-sm-4" style="font-weight:600;margin-top:5px;">Yes Scheme/Document</label>
                        <div class="col-sm-6">
                            <select ui-select2 id="yesdocument" ng-model="surveyquestion.yesdocumentflag" data-placeholder="Pick a Scheme/Document" style="width:100%">
                                <option value=""></option>
                                <option value="true">Document</option>
                                <option value="false">Scheme</option>
                            </select>
                        </div>
                    </div>

                    <!-- 
                    <div class="form-group">
                        <label for="name" class="col-sm-4" style="font-weight:600;margin-top:5px;"> check</label>
                        <div class="col-sm-6">
                            <select ui-select2 ng-model="mybool" data-placeholder="Check" style="width:100%">
                                <option value="" />
                                <option value="true">Document</option>
                                <option value="false">Scheme</option>
                            </select>
                        </div>
                    -->
                    <div class="form-group" data-ng-hide="YesDocument">
                        <label for="name" class="col-sm-4" style="font-weight:600;margin-top:5px;">Yes Select Scheme/Document</label>
                        <div class="col-sm-6">
                            <select ui-select2 id="yesselectdocument" ng-model="surveyquestion.yesdocumentid" data-placeholder="Pick a Select Scheme/Document" style="width:100%">
                                <option value=""></option>
                                <option data-ng-repeat="todotype in yesdocumentsorschemes" value="{{todotype.id}}">{{ todotype.name }}</option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="name" class="col-sm-4" style="font-weight:600;margin-top:5px;color:red;">Action on No
                        </label>
                        <div class="col-sm-6">
                            <select ui-select2 id="noaction" ng-model="surveyquestion.noaction" data-placeholder="Pick an Action" style="width:100%">
                                <option value=""></option>
                                <option value="nextquestion">Next Question</option>
                                <option value="nextmodule">Next Module</option>
                                <option value="popup">Pop Up</option>
                                <option value="skp">Skip Question</option>
                                <option value="providenextquestion">Provide Info then Next Question</option>
                                <option value="increment">Updating Beneficiary Data with date</option>
                                <option value="incrementskip">Updating Beneficiary Data with date and skip</option>
                                <option value="incrementonly">Updating Beneficiary Data</option>
                                <option value="incrementonlyskip">Updating Beneficiary Data With Skip</option>
                                <option value="freeflow">Free Flow</option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group" data-ng-hide="NoPopup">
                        <label for="name" class="col-sm-4" style="font-weight:600;margin-top:5px;">No Pop Up Type</label>
                        <div class="col-sm-6">
                            <select ui-select2 id="sales-area" ng-model="surveyquestion.nopopup" data-placeholder="Pick a Popup Type" style="width:100%">
                                <option value=""></option>
                                <option value="todos">TODOs</option>
                                <option value="datepicker">Date Picker</option>
                                <option value="plhiv">PLHIV Status</option>
                                <option value="reportincident">Report Incident</option>
                                <option value="reportincidentothers">Report Incident Others</option>
                                <option value="champions">Champions List</option>
                                <option value="dateforid">Capturing Date for IDs</option>
                                <option value="applicationflow">Application Flow</option>
                                <option value="applicationflowboth">Application Flow Both</option>
                                <option value="condomdetails">Health Data</option>
                                <option value="financialliteracy">Financial Literacy</option>
                                <option value="financialplanning">Financial Planning</option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group" data-ng-hide="NoTodo">
                        <label for="name" class="col-sm-4" style="font-weight:600;margin-top:5px;">No Todo Type</label>
                        <div class="col-sm-6">
                            <select ui-select2 id="notodotype" ng-model="surveyquestion.notodotype" data-placeholder="Pick a Todo Type" style="width:100%">
                                <option value=""></option>
                                <option data-ng-repeat="todotype in todotypes" value="{{todotype.id}}">{{ todotype.name }}</option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group" data-ng-hide="NoDocument">
                        <label for="name" class="col-sm-4" style="font-weight:600;margin-top:5px;">No Scheme/Document</label>
                        <div class="col-sm-6">
                            <select ui-select2 id="nodocument" ng-model="surveyquestion.nodocumentflag" data-placeholder="Pick a Scheme/Document" style="width:100%">
                                <option value=""></option>
                                <option value=true>Document</option>
                                <option value=false>Scheme</option>
                            </select>
                        </div>
                    </div>



                    <div class="form-group" data-ng-hide="NoDocument">
                        <label for="name" class="col-sm-4" style="font-weight:600;margin-top:5px;">No Select Scheme/Document</label>
                        <div class="col-sm-6">
                            <select ui-select2 id="noselectdocument" ng-model="surveyquestion.nodocumentid" data-placeholder="Pick a Select Scheme/Document" style="width:100%">
                                <option value=""></option>
                                <option data-ng-repeat="todotype in nodocumentsorschemes" value="{{todotype.id}}">{{ todotype.name }}</option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group" data-ng-hide="NotSubQuestion">
                        <label for="employee-id" class="col-sm-4" style="font-weight:600;margin-top:7px;">Sub Question</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" ng-model="taskbreakup" placeholder="Enter No.of Sub Questions" style="width:100%">
                        </div>
                    </div>

                    <div class="form-group" data-ng-hide="NotSkipQuestion">
                        <label for="employee-id" class="col-sm-4" style="font-weight:600;margin-top:7px;">Skip To</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" ng-model="surveyquestion.skipto" placeholder="Skip To Question" style="width:100%">
                        </div>
                    </div>


                    <div class="form-group" data-ng-hide="YesNotSkipQuestion">
                        <label for="employee-id" class="col-sm-4" style="font-weight:600;margin-top:7px;">Yes Skip To</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" ng-model="surveyquestion.yesskipto" placeholder="Skip To Question" style="width:100%">
                        </div>
                    </div>

                    <div class="form-group" data-ng-hide="NoNotSkipQuestion">
                        <label for="employee-id" class="col-sm-4" style="font-weight:600;margin-top:7px;">No Skip To</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" ng-model="surveyquestion.noskipto" placeholder="Skip To Question" style="width:100%">
                        </div>
                    </div>


                    <div class="form-group" data-ng-hide="YesIncrement">
                        <label for="employee-id" class="col-sm-4" style="font-weight:600;margin-top:5px;">Yes Updating Beneficiary Data</label>
                        <div class="col-sm-6">
                            <select ui-select2 ng-model="surveyquestion.yesincrement" data-placeholder="Yes Updating Beneficiary Data" style="width:100%;">
                                <option value=""></option>
                                <option value="savings">No.Of Savings Accounts</option>
                                <option value="insuranceproducts">No Of Insurance Products</option>
                                <option value="pensionproducts">No Of Pension Products</option>
                                <option value="investmentproducts">No Of Investment Products</option>
                                <option value="savingsources">No Of Informal Saving Sources</option>
                                <option value="informalcreditsources">No Of Informal Credit Sources</option>
                                <option value="formalcreditsources">No Of Formal Credit Sources</option>
                                <option value="reciept">Date Of Reciept</option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group" data-ng-hide="NoIncrement">
                        <label for="employee-id" class="col-sm-4" style="font-weight:600;margin-top:5px;">No Updating Beneficiary Data</label>
                        <div class="col-sm-6">
                            <select ui-select2 ng-model="surveyquestion.noincrement" data-placeholder="No Updating Beneficiary Data" style="width:100%;">
                                <option value=""></option>
                                <option value="savings">No.Of Savings Accounts</option>
                                <option value="insuranceproducts">No Of Insurance Products</option>
                                <option value="pensionproducts">No Of Pension Products</option>
                                <option value="investmentproducts">No Of Investment Products</option>
                                <option value="savingsources">No Of Informal Saving Sources</option>
                                <option value="informalcreditsources">No Of Informal Credit Sources</option>
                                <option value="formalcreditsources">No Of Formal Credit Sources</option>
                                <option value="reciept">Date Of Reciept</option>
                                <option value="nophone">No Phone</option>
                            </select>
                        </div>
                    </div>


                    <div class="form-group" data-ng-hide="YesProvideInfo">
                        <label for="employee-id" class="col-sm-4" style="font-weight:600;margin-top:7px;">Yes Provide Info</label>
                        <div class="col-sm-6">
                            <textarea type="text" class="form-control" ng-model="surveyquestion.yesprovideinfo" placeholder="Yes Provide Info" style="width:100%" rows="4"></textarea>
                        </div>
                    </div>

                    <div class="form-group" data-ng-hide="NoProvideInfo">
                        <label for="employee-id" class="col-sm-4" style="font-weight:600;margin-top:7px;">No Provide Info</label>
                        <div class="col-sm-6">
                            <textarea type="text" class="form-control" ng-model="surveyquestion.noprovideinfo" placeholder="No Provide Info" style="width:100%" rows="4"></textarea>
                        </div>
                    </div>

                    <div class="form-group" data-ng-hide="NotCountedCheckbox">
                        <label for="employee-id" class="col-sm-4" style="font-weight:600;margin-top:7px;">No Of Responses</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" ng-model="surveyquestion.noofresponses" placeholder="No Of Responses" style="width:100%">
                        </div>
                    </div>

                    <div class="form-group" data-ng-hide="NotRange">
                        <label for="employee-id" class="col-sm-4" style="font-weight:600;margin-top:7px;">Range</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" ng-model="surveyquestion.range" placeholder="Range" style="width:100%">
                        </div>
                    </div>
                </div>

            </div>

            <div data-ng-hide="NotSubQuestion">
                <div class="table-responsive">
                    <h3><u>Sub Questions</u></h3>
                    <table class="table  table-striped">
                        <thead>
                            <tr>
                                <th ng-style="style">SI NO</th>
                                <th ng-style="style">NAME</th>
                                <th ng-style="style">NAME (GUJARATI)</th>
                                <th ng-style="style">QUESTION TYPE</th>
                                <th ng-style="style">NO OF DROPDOWNS</th>
                                <th ng-style="style">ANSWERS</th>
                                <th ng-style="style">QUESTION NUMBER</th>
                            </tr>
                        </thead>

                        <tr ng-repeat="item in sub_surveyquestions">
                            <div class="form-group">
                                <td style="width: 50px;"> <strong class="text-cente col-sm-2">{{$index+1}}</strong>
                                </td>
                                <td style="width: 180px;">
                                    <input type="text" class="form-control" id="name" data-ng-model="item.question" placeholder="Name">
                                </td>
                                <td style="width: 180px;">
                                    <input type="text" class="form-control" id="name" data-ng-model="item.gujrathi" placeholder="Name (Gujarati)">
                                </td>

                                <td style="width: 180px;">
                                    <select ui-select2 id="sales-area" ng-model="item.questiontype" data-placeholder="Pick a Type" style="width:100%">
                                        <option value=""></option>
                                        <option value="r">Radio Button</option>
                                        <option value="t">Text Field</option>
                                        <option value="nt">Numeric Text Field</option>
                                        <option value="rt">Range Text Field</option>
                                        <option value="mt">Mobile Number</option>
                                        <option value="pt">Percentage Text Field</option>
                                        <option value="bt">Address Button</option>
                                        <option value="bp">Photo Button</option>
                                        <option value="c">Check Box</option>
                                        <option value="cc">Counted Check Box</option>
                                    </select>
                                </td>
                                <td>
                                    <input type="text" class="form-control" id="name" data-ng-model="item.noofdropdown" placeholder="No of Dropdown">
                                </td>
                                <td>
                                    <input type="text" class="form-control" id="name" data-ng-model="item.answers" placeholder="eg:Male (પુરુષ)  ,Female (સ્ત્રી)">
                                </td>
                                <td>
                                    <input type="text" class="form-control" id="name" data-ng-model="item.questionno" placeholder="Question Number">
                                </td>
                            </div>
                        </tr>

                    </table>
                </div>
            </div>

            <br/>
            <br/>
            <br/>


            <div class="nav-tabs-custom">
                <ul class="nav nav-tabs" align="center">
                    <li class="active" style="cursor:pointer;"><a data-target="#tab_1" data-toggle="tab">English</a>
                    </li>
                    <li style="cursor:pointer;"><a data-target="#tab_2" data-toggle="tab">Hindi</a>
                    </li>
                    <li style="cursor:pointer;"><a data-target="#tab_3" data-toggle="tab">Kannada</a>
                    </li>
                    <li style="cursor:pointer;"><a data-target="#tab_4" data-toggle="tab">Tamil</a>
                    </li>
                    <li style="cursor:pointer;"><a data-target="#tab_5" data-toggle="tab">Telugu</a>
                    </li>
                    <li style="cursor:pointer;"><a data-target="#tab_6" data-toggle="tab">Marathi</a>
                    </li>
                </ul>
            </div>
            <div class="tab-content">
                <div class="tab-pane active" id="tab_1">
                    <form class="form-horizontal" role="form">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="name" class="col-sm-4" style="font-weight:600;margin-top:7px;color:red;">Question
                                    </label>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control" id="name" data-ng-model="surveyquestion.question" placeholder="Name">
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="name" class="col-sm-4" style="font-weight:600;margin-top:7px;color:red;">Options
                                    </label>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control" id="answers" data-ng-model="surveyquestion.answeroptions" placeholder="eg:Yes,No">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="employee-id" class="col-sm-4" style="font-weight:600;margin-top:7px;">Yes Provide Info</label>
                                    <div class="col-sm-6">
                                        <textarea type="text" class="form-control" ng-model="surveyquestion.yesprovideinfo" placeholder="Yes Provide Info" style="width:100%" rows="4"></textarea>
                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="employee-id" class="col-sm-4" style="font-weight:600;margin-top:7px;">No Provide Info</label>
                                    <div class="col-sm-6">
                                        <textarea type="text" class="form-control" ng-model="surveyquestion.noprovideinfo" placeholder="No Provide Info" style="width:100%" rows="4"></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>

                <div class="tab-pane" id="tab_2">
                    <form class="form-horizontal" role="form">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="name" class="col-sm-4" style="font-weight:600;margin-top:7px;color:red;">Question
                                    </label>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control" id="name" data-ng-model="surveyquestion.hnquestion" placeholder="Name">
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="name" class="col-sm-4" style="font-weight:600;margin-top:7px;color:red;">Options
                                    </label>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control" id="answers" data-ng-model="surveyquestion.hnansweroptions" placeholder="eg:Yes,No">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="employee-id" class="col-sm-4" style="font-weight:600;margin-top:7px;">Yes Provide Info</label>
                                    <div class="col-sm-6">
                                        <textarea type="text" class="form-control" ng-model="surveyquestion.hnyesprovideinfo" placeholder="Yes Provide Info" style="width:100%" rows="4"></textarea>
                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="employee-id" class="col-sm-4" style="font-weight:600;margin-top:7px;">No Provide Info</label>
                                    <div class="col-sm-6">
                                        <textarea type="text" class="form-control" ng-model="surveyquestion.hnnoprovideinfo" placeholder="No Provide Info" style="width:100%" rows="4"></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>



                <div class="tab-pane" id="tab_3">
                    <form class="form-horizontal" role="form">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="name" class="col-sm-4" style="font-weight:600;margin-top:7px;color:red;">Question
                                    </label>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control" id="name" data-ng-model="surveyquestion.kaquestion" placeholder="Name">
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="name" class="col-sm-4" style="font-weight:600;margin-top:7px;color:red;">Options
                                    </label>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control" id="answers" data-ng-model="surveyquestion.kaansweroptions" placeholder="eg:Yes,No">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="employee-id" class="col-sm-4" style="font-weight:600;margin-top:7px;">Yes Provide Info</label>
                                    <div class="col-sm-6">
                                        <textarea type="text" class="form-control" ng-model="surveyquestion.kayesprovideinfo" placeholder="Yes Provide Info" style="width:100%" rows="4"></textarea>
                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="employee-id" class="col-sm-4" style="font-weight:600;margin-top:7px;">No Provide Info</label>
                                    <div class="col-sm-6">
                                        <textarea type="text" class="form-control" ng-model="surveyquestion.kanoprovideinfo" placeholder="No Provide Info" style="width:100%" rows="4"></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>

                </div>


                <div class="tab-pane" id="tab_4">
                    <form class="form-horizontal" role="form">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="name" class="col-sm-4" style="font-weight:600;margin-top:7px;color:red;">Question
                                    </label>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control" id="name" data-ng-model="surveyquestion.taquestion" placeholder="Name">
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="name" class="col-sm-4" style="font-weight:600;margin-top:7px;color:red;">Options
                                    </label>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control" id="answers" data-ng-model="surveyquestion.taansweroptions" placeholder="eg:Yes,No">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="employee-id" class="col-sm-4" style="font-weight:600;margin-top:7px;">Yes Provide Info</label>
                                    <div class="col-sm-6">
                                        <textarea type="text" class="form-control" ng-model="surveyquestion.tayesprovideinfo" placeholder="Yes Provide Info" style="width:100%" rows="4"></textarea>
                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="employee-id" class="col-sm-4" style="font-weight:600;margin-top:7px;">No Provide Info</label>
                                    <div class="col-sm-6">
                                        <textarea type="text" class="form-control" ng-model="surveyquestion.tanoprovideinfo" placeholder="No Provide Info" style="width:100%" rows="4"></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>


                <div class="tab-pane " id="tab_5">
                    <form class="form-horizontal" role="form">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="name" class="col-sm-4" style="font-weight:600;margin-top:7px;color:red;">Question
                                    </label>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control" id="name" data-ng-model="surveyquestion.tequestion" placeholder="Name">
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="name" class="col-sm-4" style="font-weight:600;margin-top:7px;color:red;">Options
                                    </label>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control" id="answers" data-ng-model="surveyquestion.teansweroptions" placeholder="eg:Yes,No">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="employee-id" class="col-sm-4" style="font-weight:600;margin-top:7px;">Yes Provide Info</label>
                                    <div class="col-sm-6">
                                        <textarea type="text" class="form-control" ng-model="surveyquestion.teyesprovideinfo" placeholder="Yes Provide Info" style="width:100%" rows="4"></textarea>
                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="employee-id" class="col-sm-4" style="font-weight:600;margin-top:7px;">No Provide Info</label>
                                    <div class="col-sm-6">
                                        <textarea type="text" class="form-control" ng-model="surveyquestion.tenoprovideinfo" placeholder="No Provide Info" style="width:100%" rows="4"></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>

                <div class="tab-pane " id="tab_6">
                    <form class="form-horizontal" role="form">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="name" class="col-sm-4" style="font-weight:600;margin-top:7px;color:red;">Question
                                    </label>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control" id="name" data-ng-model="surveyquestion.maquestion" placeholder="Name">
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="name" class="col-sm-4" style="font-weight:600;margin-top:7px;color:red;">Options
                                    </label>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control" id="answers" data-ng-model="surveyquestion.maansweroptions" placeholder="eg:Yes,No">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="employee-id" class="col-sm-4" style="font-weight:600;margin-top:7px;">Yes Provide Info</label>
                                    <div class="col-sm-6">
                                        <textarea type="text" class="form-control" ng-model="surveyquestion.mayesprovideinfo" placeholder="Yes Provide Info" style="width:100%" rows="4"></textarea>
                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="employee-id" class="col-sm-4" style="font-weight:600;margin-top:7px;">No Provide Info</label>
                                    <div class="col-sm-6">
                                        <textarea type="text" class="form-control" ng-model="surveyquestion.manoprovideinfo" placeholder="No Provide Info" style="width:100%" rows="4"></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>

            </div>
            <br>
            <div align="left">
                <div>
                    <button type="button" class="btn btn-success btn-sm " data-ng-click="addRouteLinks()" data-ng-show="isCreateView()" ng-disabled="submitDisable" style="padding:5px 20px;margin-right:10px;">Save</button>

                    <!--<button type="button" class="btn btn-success btn-sm " data-ng-click="updateSurveyQuestion()" data-ng-hide="isCreateView()">Update</button>-->
                    <!--<data-cb-button-update data-singular="surveyquestion" data-plural="surveyquestions" data-label="Update" data-slug="surveyquestionmlanguage" data-ng-hide="isCreateView()" ng-disabled="submitDisable"></data-cb-button-update>-->
                    <button type="button" class="btn btn-success btn-sm " data-ng-click="updateSurveyQuestion()" data-ng-hide="isCreateView()" style="padding:5px 20px;margin-right:10px;">Update</button>

                    <a data-ng-href="/onetoonequestion" class="btn btn-danger btn-sm " role="button" style="padding:5px 20px;">Cancel</a>

                    <!--                    <data-cb-button-delete data-singular="original" data-slug="surveyquestions" data-ng-hide="isCreateView()"></data-cb-button-delete>-->
                </div>
            </div>
            <br>
        </form>


        <!-- /.box-body -->
        <div class="box-footer">

        </div>
        <!-- /.box-footer -->
    </div>
    <!-- /.box -->

    <!---  <style>
        .nav-tabs-custom > .nav-tabs > li.active {
            border-top-color: #b71c1c;
        }
    </style>--->

    <modal2 title1="{{modalTitle}}" visible="stakeholderdataModal">
        <p>{{message}}</p>
    </modal2>

    <validationmodal title1="Alert!!!" visible="showValidation">
        {{validatestring1}}
    </validationmodal>
