<style>
    .stylelink {
        /*		padding: 3px 10px;*/
        background: transparent;
        color: #9d9eb3;
        font-weight: bold;
        /*		border-radius: 50px;*/
        text-decoration: none;
        font-size: 14px;
        display: inline-flex;
        flex-flow: row nowrap;
        max-width: 100%;
        padding: 20px 10px;
    }
    
    .stylelink.active {
        /*		padding: 3px 10px;*/
        /*		background: #b71c1c;*/
        color: #4a4d72;
        font-weight: bold;
        /*		border-radius: 50px;*/
        text-decoration: none;
        font-size: 14px;
        /*		font-weight: 600;*/
        display: inline-flex;
        flex-flow: row nowrap;
        max-width: 100%;
        padding: 20px 10px;
        padding-left: 0px;
        /*        border-bottom: 4px solid #e72e5a;*/
    }
    
    .sell {
        position: relative;
        width: 55px;
    }
    
    .sell:after {
        content: url(images/piclinks/down-arrow.png);
        font: 17px "Consolas", monospace;
        color: #333;
        top: 5px;
        margin-left: -22px;
        padding: 0 0 2px;
        position: absolute;
        pointer-events: none;
    }
    
    .sell select {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        display: block;
        width: 100%;
        /*        max-width: 320px;*/
        height: 32px;
        float: left;
        padding: 0px 7px;
        font-size: 14px;
        line-height: 1.75;
        color: #878993;
        border-radius: 4px;
        background-color: #ffffff;
        background-image: none;
        border: 1px solid #d5d7df;
        -ms-word-break: normal;
        word-break: normal;
    }
    
    .tht:hover {
        color: blue;
    }
    
    #wrapper {
        display: table;
        table-layout: fixed;
        width: 100%;
        height: auto;
        /*        border-bottom: 1px solid #e6e6e6;*/
    }
    
    #wrapper div {
        display: table-cell;
        height: auto;
    }
    
    .nav-tabs-custom>.nav-tabs>li {
        width: 16%;
    }
    /*.main_text {
        width: 100%;
        height: auto;
        position: relative;
        text-align: center;
        color: #333;
        padding: 10px 0;
        display: block;
    }
    .main_text.active {
        color: #000;
        font-weight: 600;
    }
    
    .main_text.active:after {
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        top: 100%;
        margin: 0px auto;
        width: 90px;
        height: 2px;
        background: #01adfb;
    }*/
    
       .top {
        padding-top: 1.8em;
    }

    @media screen and (max-width: 480px) {
        .stylelink {
            font-size: 12px;
            padding: 10px 20px;
        }
        .stylelink.active {
            font-size: 12px;
            /*            padding: 10px 20px;*/
            padding: 10px 0px;
        }
        .sub_menu {
            font-size: 10px;
        }
        .sub_menu.active {
            font-size: 10px;
        }
        .ml {
            padding-left: 0px;
        }
        .ml1 {
            margin-left: -5%;
            margin-bottom: 25px;
        }
        .sell {
            position: relative;
            width: 100%;
        }
    }

    @media screen and (max-width:350px) {
        .ml {
            padding-left: 0px;
        }
        .ml1 {
            margin-left: -7%;
            margin-bottom: 25px;
        }
    }

    @media screen and (max-width:376px) and (min-width:355px) {
        .ml {
            padding-left: 0px;
        }
        .ml1 {
            margin-left: -7%;
            margin-bottom: 25px;
        }
    }

    @media screen and (max-width:769px) {
        .left {
            padding-left: 30px!important;
        }
    }

    @media screen and (max-width:1024px) and (min-width:1000px) {
        .ml1 {
            margin-left: -2%;
        }
        .sell {
            position: relative;
            width: 45px;
        }
    }

</style>

<!-- Horizontal Form -->
<div class="box box-info" style="min-height:450px;border-top:none;">
    <div id="wrapper">
        <div class="stylelink active box-header with-border">
            <h3 class="box-title" style="font-weight:bold;">{{todolanguage.todoLabel}} </h3>
        </div>
    </div>

    <div class="box-body">
        <!--<div align="left">
            <a data-ng-href="/surveyquestionmlanguage/create" class="btn btn-primary btn-sm " role="button" data-ng-hide="hideCreateButton()">Add New </a>
        </div>-->
        <br/>

        <div class="row padding">
            <div class="col-sm-0 col-md-5"></div>
            <div class="col-sm-12 col-md-7">
                <div class="col-sm-0 col-md-2"></div>
                <div data-ng-hide="showForm()" class="col-xs-12 col-sm-2 col-md-1" style=" padding-right:0px;padding-left:0px;">
                <label class="showlabel">Show</label>
                <div class="sell">
                    <select ng-model="pageSize" data-placeholder="Show Entries" ng-change="pageFunction(pageSize)">
                        <option value="25">25</option>
                        <option value="50">50</option>
                        <option value="100">100</option>
                    </select>
                    <!--					<span>Entries</span>-->
                </div>
            </div>
            <div data-ng-hide="showForm()" class="col-xs-12 col-sm-6 col-md-5 top ml" style="padding-right:0px;">
                <form role="form">
                    <div class="input-group">
                        <span class="input-group-btn">
                     <button class="btn btn-default" type="button" style="border-top-left-radius: 4px;border-bottom-left-radius: 4px;border-color:#e1e8ee;background:none;border-right:none;"><span class="glyphicon glyphicon-search"></span></button>
                        </span>
                        <input type="text" class="form-control ng-pristine ng-valid" placeholder="Search" style="z-index:0;border-radius:2px;border-left:none;border-color:#e1e8ee;border-top-right-radius:4px;border-bottom-right-radius: 4px;" data-ng-model="searchZone">

                    </div>
                </form>
            </div>
            <div class="col-xs-12 col-sm-3 col-md-2 top ml1">
                <a data-ng-href="/todos/create" class="btn btn-primary btn-sm  " role="button" data-ng-hide="hideCreateButton()" style="padding:5px 20px;">Add New </a>&nbsp;&nbsp;&nbsp;
            </div>

            </div>
        </div>
<!--        <br/>-->

        <form class="" role="form" data-ng-show="showForm()">
            <p align="center" style="color:#ec0b6d">All fields in <sup>*</sup> are mandatory</p>
            <br/>
            <div class="row padding">
                <div class="col-sm-3">
                    <!--
                    <div class="form-group">
                        <label for="role" class="col-sm-4" style="font-weight:600;margin-top:7px;color:red;">{{todolanguage.language}} </label>
                        <div class="col-sm-6">
                            <select ui-select2 id="language" data-ng-model="todo.language" data-placeholder="Pick a Language" style="width:100%;">
									<option value=""></option>
									<option data-ng-repeat="language in languages" value="{{language.id}}">{{ language.name }}</option>
								</select>
                        </div>
                    </div>
-->
                    <div class="form-group">
                        <label for="sales-area"  >{{todolanguage.member}}<sup>*</sup> </label>
                        <div >
                            <select ui-select2 id="member" ng-model="todo.memberid" data-placeholder="Pick a Member" style="width:100%">
                                <option value=""></option>
                                <option data-ng-repeat="member in members" value="{{member.id}}">{{member.fullname + ' - ' + member.memberId }}</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="sales-area" >{{todolanguage.todoLabel}}<sup>*</sup> </label>
                        <div >
                            <select ui-select2 id="workflow" data-ng-model="todo.todotypeid" data-placeholder="Pick a Todo" style="width:100%">
                                <option value=""></option>
                                 <option ng-if="todotype.parentFlag==true" data-ng-repeat="todotype in todotypes" value="{{todotype.id}}">{{todotype.name}}</option>
                                <option ng-if="todotype.parentFlag==false" data-ng-repeat="todotype in todotypes" value="{{todotype.parentId}}">{{todotype.name}}</option>
<!--
                                <option ng-if="languageId==7" data-ng-repeat="todotype in todotypes" value="{{todotype.id}}">{{todotype.lang3}}</option>
                                <option ng-if="languageId==8" data-ng-repeat="todotype in todotypes" value="{{todotype.id}}">{{todotype.lang4}}</option>
                                <option ng-if="languageId==10" data-ng-repeat="todotype in todotypes" value="{{todotype.id}}">{{todotype.lang5}}</option>
                                <option ng-if="languageId==18" data-ng-repeat="todotype in todotypes" value="{{todotype.id}}">{{todotype.lang6}}</option>
                                <option ng-if="languageId==19" data-ng-repeat="todotype in todotypes" value="{{todotype.id}}">{{todotype.lang7}}</option>
-->
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="sales-area" >{{todolanguage.status}}<sup>*</sup> </label>
                        <div >
                            <select ui-select2 id="gender" data-ng-model="todo.todostatusid" data-placeholder="Pick a Status" style="width:100%">
                                <option value=""></option>
                                <option ng-if="todostatus.parentFlag==true" data-ng-repeat="todostatus in todostatuses" value="{{todostatus.id}}">{{todostatus.name}}</option>
                                <option ng-if="todostatus.parentFlag==false" data-ng-repeat="todostatus in todostatuses" value="{{todostatus.parentId}}">{{todostatus.name}}</option>
<!--
                                <option ng-if="languageId==7" data-ng-repeat="todostatus in todostatuses" value="{{todostatus.id}}">{{todostatus.lang3}}</option>
                                <option ng-if="languageId==8" data-ng-repeat="todostatus in todostatuses" value="{{todostatus.id}}">{{todostatus.lang4}}</option>
                                <option ng-if="languageId==10" data-ng-repeat="todostatus in todostatuses" value="{{todostatus.id}}">{{todostatus.lang5}}</option>
                                <option ng-if="languageId==18" data-ng-repeat="todostatus in todostatuses" value="{{todostatus.id}}">{{todostatus.lang6}}</option>
                                <option ng-if="languageId==19" data-ng-repeat="todostatus in todostatuses" value="{{todostatus.id}}">{{todostatus.lang7}}</option>
-->
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="name" >{{todolanguage.followUp}}<sup>*</sup>
                        </label>
                        <div >
                            <td style="width: 100%">
                                <p class="input-group" style="width: 100%">
                                    <input type="text" id="{{'datepickerdob' + $index}}" class="form-control" datepicker-popup="{{format}}" ng-model="todo.followupdate" is-open="picker.dobopened" min="minDate" max="'2015-06-22'" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" close-text="Close" min-date="dtmax"> <span class="input-group-btn"><button type="button" class="btn btn-default nobodr" ng-click="opendob($event, $index)"><img src="images/piclinks/calender-copy-3.png" class="calddate"></button>
                                </span> </p>
                            </td>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="sales-area" >{{todolanguage.assignedTo}}<sup>*</sup> </label>
                        <div >
                            <select ui-select2 id="gender" ng-model="todo.assignedto" data-placeholder="Pick a Assigned To" style="width:100%">
                                <option value=""></option>
                                <option data-ng-repeat="user in users" value="{{user.id}}">{{user.username}}</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <div align="right">
                <div>
                    <a data-ng-href="/todos" class="btn btn-danger btn-sm " role="button" style="padding:5px 20px;margin-right:10px;">{{todolanguage.cancelLabel}}</a>
                    
                    <a class="btn btn-info btn-sm " type="submit" role="button" data-ng-click="Save()" data-ng-show="isCreateView()" ng-disabled="submitDisable" style="padding:5px 20px;margin-right:30px;">{{todolanguage.saveLabel}} </a>

                    <a class="btn btn-info btn-sm " type="submit" role="button" data-ng-click="Update()" data-ng-hide="isCreateView()" ng-disabled="submitDisable" style="padding:5px 20px;margin-right:30px;">{{todolanguage.updateLabel}} </a>
                </div>
            </div>
            <br>
        </form>

<!--        <br>-->
        <div data-ng-hide="showForm()" class="table-responsive">
            <table class="table">
                <thead>
                    <tr style="border-bottom:1px solid #ccc;">
                        <th>S NO.</th>

                        <th ng-click="changeSorting('memberid')">Member<span style="margin-left:10px;"><i class="fa fa-sort-desc" ng-class="getIcon('memberid')"></i></span></th>

                        <th ng-click="changeSorting('todotypeid')">Todo Type<span style="margin-left:10px;"><i class="fa fa-sort-desc" ng-class="getIcon('todotypeid')"></i></span></th>

                        <th ng-click="changeSorting('todostatusid')">Status<span style="margin-left:10px;"><i class="fa fa-sort-desc" ng-class="getIcon('todostatusid')"></i></span></th>

                        <th ng-click="changeSorting('followupdate')">Followup Date<span style="margin-left:10px;"><i class="fa fa-sort-desc" ng-class="getIcon('followupdate')"></i></span></th>

                        <th style="width:100px;">ACTION</th>
                    </tr>
                </thead>

                <tbody>

                    <tr dir-paginate="tdo in TotalData  = ( todos | filter:searchZone ) |itemsPerPage:pageSize" pagination-id="zonesid" current-page="currentPage">
                        <td>{{ tdo.index }}</td>
                        <td data-ng-init="member = getmember(tdo.memberid)">{{ member.fullname + ' - ' + member.memberId }}</td>
                        <td data-ng-init="todo = gettodotype(tdo.todotypeid)">{{ todo.name }}</td>
                        <td data-ng-init="status = gettodostatus(tdo.todostatusid)">{{ status.name }}</td>
                        <td>{{ tdo.followupdate | date: 'dd-MMM-yyyy' }}</td>
                        <td>
                            <a data-ng-href="/todos/edit/{{tdo.id}}"><img src="images/piclinks/edit.png" width="16px" title="Edit"></a>&nbsp;&nbsp;&nbsp;
                            <!--                            <a style="color:#b7b8c8;">|</a>&nbsp;&nbsp;-->
                            <a confirm-button="Delete(tdo.id)" message="Are you sure? you want to delete?">
                                <img src="images/piclinks/cross.png" style="cursor:pointer;" width="16px" title="Bin">
                            </a>&nbsp;
                        </td>
                    </tr>
                </tbody>
            </table>
            <br/>
            <div class="padding" align="right">
                <dir-pagination-controls max-size="25" direction-links="true" boundary-links="true" pagination-id="zonesid" on-page-change="PageChanged(newPageNumber, oldPageNumber)">
                </dir-pagination-controls>
            </div>
        </div>
        <br/>

        <!-- /.box-body -->
        <div class="box-footer">

        </div>
        <!-- /.box-footer -->
    </div>
    <!-- /.box -->

    <!---  <style>
        .nav-tabs-custom > .nav-tabs > li.active {
            border-top-color: #b71c1c;
        }
    </style>--->

    <modal2 title1="{{modalTitle}}" visible="stakeholderdataModal">
        <p>{{message}}</p>
    </modal2>

    <validationmodal title1="Alert!!!" visible="showValidation">
        {{validatestring1}}
    </validationmodal>

    <mapmodal visible="mapdataModal">
        <div class="modal-header" style="color:#ffffff;padding:0px;">
            <div class="pull-right" style='padding:15px;'></div>
            <h4 class="stylelink active modal-title">Select Location </h4>
        </div>
        <div style="width:100%; height:auto; min-height:300px;  border: 1px solid #ffffff;padding:5px" id="savemodals">
            <br>
            <form class="form-horizontal" role="form" style="padding-top:20px;">
                <div class="row" style="margin:0;padding:0;font-size: 12px;">
                    <div class="col-sm-19" style="padding:5px;">
                        <div id='mapCanvas' style="display:block;height:850px:width:550px;">
                        </div>
                        <div class="col-sm-4">
                            <br>
                            <div id="infoPanel">
                                <b style="color:blue;">Marker Status:</b>
                                <div id="markerStatus"><i>Click Drag</i>
                                </div>
                                <b style="color:blue;">Current Position</b>
                                <div id="info"></div>
                                <b style="color:blue;">Closest Address</b>
                                <div id="mapaddress"></div>
                            </div>
                        </div>
                    </div>
                </div>

                <br>
                <div class="form-group">
                    <div align="center">
                        <div align="center">
                            <a data-ng-click="CLOSEBUTTON()" data-dismiss="modal" class="btn btn-primary btn-sm " role="button" style="border-color:#db4242;padding:5px 20px;font-weight:bold;">Ok</a>&nbsp;

                            <a data-ng-click="CLOSEBUTTON()" data-dismiss="modal" class="btn btn-danger btn-sm " role="button" style="padding:5px 20px;">Cancel </a>
                        </div>
                    </div>
                </div>
            </form>
            <br/>
        </div>

        <style>
            div.scroll {
                width: 100%;
                height: 100px;
                overflow: scroll;
            }
            
            .toggle.android {
                border-radius: 0px;
            }
            
            .toggle.android .toggle-handle {
                border-radius: 0px;
            }
            
            #mapCanvas {
                width: 800px;
                height: 500px;
                float: center;
            }
            
            #infoPanel {
                margin-left: 100px;
            }
            
            #infoPanel div {
                margin-bottom: 5px;
            }

        </style>
    </mapmodal>
