<style>
    /*toggle*/

    .active,
    .inactive {
        font-size: 40px;
        cursor: pointer;
    }

    .active,
    .inactive {
        font-size: 40px;
        cursor: pointer;
    }

    i.active {
        color: #5cb85c
    }

    i.inactive {
        color: #d9534f
    }

    /*tog end*/

    .switch {
        position: relative;
        display: inline-block;
        width: 60px;
        height: 34px;
    }

    .switch input {
        opacity: 0;
        width: 0;
        height: 0;
    }

    .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #ccc;
        -webkit-transition: .4s;
        transition: .4s;
    }

    .slider:before {
        position: absolute;
        content: "";
        height: 26px;
        width: 26px;
        left: 4px;
        bottom: 4px;
        background-color: white;
        -webkit-transition: .4s;
        transition: .4s;
    }

    input:checked+.slider {
        background-color: #2196F3;
    }

    input:focus+.slider {
        box-shadow: 0 0 1px #2196F3;
    }

    input:checked+.slider:before {
        -webkit-transform: translateX(26px);
        -ms-transform: translateX(26px);
        transform: translateX(26px);
    }

    /* Rounded sliders */

    .slider.round {
        border-radius: 34px;
    }

    .slider.round:before {
        border-radius: 50%;
    }

    /*
	.stylelink {
		padding: 3px 10px;
		background: transparent;
		color: #333;
		border-radius: 50px;
		text-decoration: none;
		font-size: 14px;
		display: inline-flex;
		flex-flow: row nowrap;
		max-width: 100%;
	}
	
	.stylelink.active {
		padding: 3px 10px;
		background: #b71c1c;
		color: #fff;
		border-radius: 50px;
		text-decoration: none;
		font-size: 14px;
		font-weight: 600;
		display: inline-flex;
		flex-flow: row nowrap;
		max-width: 100%;
	}*/

    .stylelink {
        background: transparent;
        color: #9d9eb3;
        font-weight: bold;
        text-decoration: none;
        font-size: 14px;
        display: inline-flex;
        flex-flow: row nowrap;
        max-width: 100%;
        padding: 20px 10px;
    }
    
    .stylelink.active {
        color: #4a4d72;
        font-weight: bold;
        text-decoration: none;
        font-size: 14px;
        display: inline-flex;
        flex-flow: row nowrap;
        max-width: 100%;
        padding: 20px 0px;
/*        border-bottom: 4px solid #ec0b6d;*/
    }


    .sub_menu {
        display: inline-flex;
        flex-flow: row nowrap;
        max-width: 100%;
        padding: 10px 10px;
        border-bottom: 2px solid transparent;
        color: #333;
    }

    .sub_menu.active {
        display: inline-flex;
        flex-flow: row nowrap;
        max-width: 100%;
        padding: 10px 10px;
        color: #000;
        font-weight: bold;
        border-bottom: 2px solid #01adfb;
    }

       #wrapper {
        display: table;
        table-layout: fixed;
        width: 100%;
        height: auto;
        border-bottom: 4px solid #f4f4f4;
/*        background-color: #fff;*/
        margin-top:12px;
    }
    
    #wrapper div {
        display: table-cell;
        height: auto;
    }
    
     
    
    /*.main_text {
        width: 100%;
        height: auto;
        position: relative;
        text-align: center;
        color: #333;
        padding: 10px 0;
        display: block;
    }
    .main_text.active {
        color: #000;
        font-weight: 600;
    }
    
    .main_text.active:after {
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        top: 100%;
        margin: 0px auto;
        width: 90px;
        height: 2px;
        background: #01adfb;
    }*/

    .nav-tabs-custom>.nav-tabs>li {
        width: 19%;
    }

    @media screen and (max-width: 480px) {
        .stylelink {
            font-size: 10px;
            padding: 5px 10px;
        }
        .stylelink.active {
            font-size: 10px;
            padding: 5px 10px;
        }
        .sub_menu {
            font-size: 10px;
            padding: 5px 10px;
        }
        .sub_menu.active {
            font-size: 10px;
            padding: 5px 10px;
        }
        .nav-tabs-custom>.nav-tabs>li {
            position: relative;
            display: block;
            padding: 10px;
            text-align: center;
            width: 180px;
        }
    }

</style>

<div style="width:100%;height:auto;background:#ffffff;">
    <div id="wrapper">
        <!--
        <div style="text-align:center; ">
            <a class="stylelink" href="/co-organisation"><span style="flex:1;white-space:pre;overflow: hidden;text-overflow: ellipsis;">FACILITY MANAGER/HDF</span></a>
        </div>
        <div style="text-align:center; ">
            <a class="stylelink" href="/mentor"><span style="flex:1;white-space:pre;overflow: hidden;text-overflow: ellipsis;">OTHER ROLES</span></a>
        </div>
        <div style="text-align:center; ">
            <a class="stylelink" href="/roles"><span style="flex:1;white-space:pre;overflow: hidden;text-overflow: ellipsis;">ROLES</span></a>
        </div>
-->
        <div style="text-align:left;">
            <a class="stylelink active" href="/users"><span style="flex:1;white-space:pre;overflow: hidden;text-overflow: ellipsis;font-size: large;">USERS</span></a>
        </div>
        <!--
<div style="text-align:center; ">
    <a class="stylelink" href="/mentorassign"><span style="flex:1;white-space:pre;overflow: hidden;text-overflow: ellipsis;">FACILITY ASSIGN</span></a>
</div>
-->
    </div>

</div>


<!-- Horizontal Form -->
<div class="box box-info" style="min-height:450px;border-top:none;">
<!--    <div class="box-header with-border">-->
        <!--		<h3 class="box-title">{{heading}}</h3>-->
<!--    </div>-->
    <!-- /.box-header -->
    <!-- form start -->

    <div class="box-body">
        <br/>
        <form role="form" autocomplete="off">
            <p align="center">All fields in <sup>*</sup> are mandatory</p>
            <br/>
            <div class="padding">
                <div class="col-sm-3">
                <div class="form-group">
                        <label for="role" >Role Name <sup>*</sup></label>
                        <div>
                            <select ui-select2 id="role" ng-model="user.roleId" data-placeholder="Pick a Role Name" style="width:100%;" ng-disabled="roleDisable">
								<option value=""></option>
								<option data-ng-repeat="role in roles" value="{{role.id}}">{{role.name}}</option>
							</select>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                <div class="form-group">
                        <label for="role">First Name <sup>*</sup></label>
                        <div>
                            <input type="text" class="form-control" data-ng-model="user.firstName" placeholder="First Name" style="width:100%;" onkeypress="return ((event.charCode > 64 && event.charCode < 91) || (event.charCode > 96 && event.charCode < 123) || event.charCode == 8 || event.charCode == 32 || (event.charCode >= 48 && event.charCode <= 57));" ng-disabled="usernameDisable">
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                <div class="form-group">
                        <label for="role">Last Name <sup>*</sup></label>
                        <div>
                            <input type="text" class="form-control" data-ng-model="user.lastName" placeholder="Last Name" style="width:100%;" onkeypress="return ((event.charCode > 64 && event.charCode < 91) || (event.charCode > 96 && event.charCode < 123) || event.charCode == 8 || event.charCode == 32 || (event.charCode >= 48 && event.charCode <= 57));" ng-disabled="usernameDisable">
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                <div class="form-group">
                        <label for="role">User Name <sup>*</sup></label>
                        <div>
                            <input type="text" class="form-control" data-ng-model="user.username" placeholder="User Name" style="width:100%;" onkeypress="return ((event.charCode > 64 && event.charCode < 91) || (event.charCode > 96 && event.charCode < 123) || event.charCode == 8 || event.charCode == 32 || (event.charCode >= 48 && event.charCode <= 57));" ng-disabled="usernameDisable">
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                        <div class="form-group">
                        <label for="role">Phone<sup>*</sup> </label>

                        <div class="row" style="margin:0;">
                            <div class="col-sm-6">
                                <select ui-select2 data-ng-model="user.countryCode" data-placeholder="Pick a Country Code" style="width:100%;" ng-disabled="userDisable">
									<option value=""></option>
									<option data-ng-repeat="country in countries" value="{{country.countryCode}}">{{ country.countryCode }} - {{ country.name }}</option>
								</select>
                            </div>
                            <div class="col-sm-6">
                                 <input type="text" class="form-control" id="longitude" data-ng-model="user.mobile" placeholder="Phone No" pattern='[A-Za-z\\s]*' numbers-only maxlength="10">
                            </div>
                            

<!--
                        </div>
                        <p1> </p1>
                        <div>
-->
                           
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                <div class="form-group">
                        <label for="role" >Address<sup>*</sup> </label>
                        <div class="row" style="margin:0;">
                        <div class="col-sm-6">
                            <input type="text" class="form-control" id="latitude" data-ng-model="user.latitude" placeholder="Latitude">

                        </div>
                            <div class="col-sm-6">
                            <input type="text" class="form-control" id="longitude" data-ng-model="user.longitude" placeholder="Longitude">
                        </div>
                    </div>
                        
<!--                        <p1> </p1>-->
                        
                    </div>
                </div>
                <div class="col-sm-3">
                  <div class="form-group">
                        <label for="role">Password <sup>*</sup></label>
                        <div>
                            <input type="password" class="form-control" id="password" data-ng-model="user.password" placeholder="Password" style="width:100%;" autocomplete="off">
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="role">Confirm Password<sup>*</sup></label>
                        <div>
                            <input type="password" class="form-control" id="password" data-ng-model="user.confirm" placeholder="Confirm Password" style="width:100%;" autocomplete="off">
                        </div>
                    </div>

                </div>
                <div class="col-sm-3">
                <div class="form-group">
                        <label for="distribution-area">Language<sup>*</sup></label>
                        <div>
                            <select ui-select2 id="partner" ng-model="user.language" data-placeholder="Pick a Language" style="width: 100%;">
								<option value=""></option>
								<option data-ng-repeat="language in languages" value="{{language.id}}">{{language.name}}</option>
							</select>

                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="customer-area">Customer</label>
                        <div>
                            <select ui-select2 id="customer-area" ng-model="user.customerId" data-placeholder="Pick a Customer" style="width:100%">
                                <option value=""></option>
                                <option data-ng-repeat="customer in customers" value="{{customer.id}}">{{ customer.name }}</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                        <div class="form-group">
                            <label for="category-area">Category</label>
                            <div>
                                <select ui-select2 id="category-area" ng-model="user.categoryId" data-placeholder="Pick a category" style="width:100%">
                                    <option value=""></option>
                                    <option data-ng-repeat="category in categories" value="{{category.id}}">{{ category.name }}</option>
                                </select>
                            </div>
                        </div>
                    </div>
                <div class="col-sm-3">
                        <div class="form-group">
                            <label for="subcategory-area">Sub Category</label>
                            <div>
                                <select ui-select2 id="subcategory-area" ng-model="user.subcategoryId" data-placeholder="Pick a subcategory" style="width:100%">
                                    <option value=""></option>
                                    <option data-ng-repeat="subcategory in subcategories" value="{{subcategory.id}}">{{ subcategory.name }}</option>
                                </select>
                            </div>
                        </div>
                    </div>
                <div class="col-sm-3" ng-repeat="organisationlevel in organisationlevels">
                    <div class="form-group">
                        <label for="sales-area">{{organisationlevel.name}} <sup>*</sup> </label>
                        <div>
                            <!-- <select ng-if="$last" multiple ui-select2 id="organisationlevel+{{$index}}" ng-model="organisationlevel.locationid" data-placeholder="Select {{organisationlevel.name}}" style="width:100%" ng-change="orgLevelChange($index+1,organisationlevel.locationid)" ng-disabled="roleDisable||(organisationlevel.id!==user.level&&isPartner==='true')"> -->
                                <select ng-if="$last" multiple ui-select2 id="organisationlevel+{{$index}}" ng-model="organisationlevel.locationid" data-placeholder="Select {{organisationlevel.name}}" style="width:100%" ng-change="orgLevelChange($index+1,organisationlevel.locationid)" ng-disabled="false">
                                <!-- <option value=""></option> -->
                                <option data-ng-repeat="levelone in organisationlevel.organisationlocations" value="{{levelone.id}}">{{levelone.name}}</option>
                            </select>

                            <!-- <select ng-if="!$last" multiple ui-select2 id="organisationlevel+{{$index}}" ng-model="organisationlevel.locationid" data-placeholder="Select {{organisationlevel.name}}" style="width:100%" ng-change="orgLevelChange($index+1,organisationlevel.locationid)" ng-disabled="roleDisable||(organisationlevel.id!==user.level&&isPartner==='true')"> -->
                                <select ng-if="!$last" multiple ui-select2 id="organisationlevel+{{$index}}" ng-model="organisationlevel.locationid" data-placeholder="Select {{organisationlevel.name}}" style="width:100%" ng-change="orgLevelChange($index+1,organisationlevel.locationid)" ng-disabled="false">
                                <!-- <option value=""></option> -->
                                <option data-ng-repeat="levelone in organisationlevel.organisationlocations" value="{{levelone.id}}">{{levelone.name}}</option>
                            </select>
                        </div>
                    </div>
                </div>
<!--
                <div class="col-sm-3">
                <div class="form-group">
                        <label for="distribution-area">Language<sup>*</sup></label>
                        <div>
                            <select ui-select2 id="partner" ng-model="user.language" data-placeholder="Pick a Language" style="width: 100%;">
								<option value=""></option>
								<option data-ng-repeat="language in languages" value="{{language.id}}">{{ language.name }}</option>
							</select>

                        </div>
                    </div>
                </div>
-->
                <div class="col-sm-3">
                <div class="form-group">

                        <div ng-init="init()">
                            <label for="distribution-area">Is Partner<sup>*</sup></label>
                            <div>
                                <i class="fa fa-toggle-on active" ng-if="user.isPartner == true" ng-click="changeStatus();"></i>
                                <i class="fa fa-toggle-on fa-rotate-180 inactive" ng-if="user.isPartner == false" ng-click="changeStatus();"></i> 
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                   <div class="form-group">
                        <label for="role">Email<sup>*</sup></label>
                        <div>
                            <input type="text" class="form-control" id="email" data-ng-model="user.email" placeholder="Email" style="width:100%;" autocomplete="off">
                        </div>
                    </div>
                </div>
<!--
                <div class="col-sm-3">
                
                    <div class="form-group">
                        <label for="distribution-area" class="col-sm-4" style="font-weight:600;margin-top:7px;color:red;">Location</label>
                        <div class="col-sm-6">
                            <select ui-select2 id="partner" ng-model="user.location" data-placeholder="Pick a Location" style="width: 100%;">
								<option value=""></option>
								<option data-ng-repeat="location in locations" value="{{location.id}}">{{ location.name }}</option>
							</select>

                        </div>
                    </div>

                </div>
-->
            </div>
          
                      
<!--
                    <div class="form-group">
                        <label for="distribution-area" class="col-sm-4" style="font-weight:600;margin-top:7px;color:red;">Location</label>
                        <div class="col-sm-6">
                            <select ui-select2 id="partner" ng-model="user.location" data-placeholder="Pick a Location" style="width: 100%;">
								<option value=""></option>
								<option data-ng-repeat="location in locations" value="{{location.id}}">{{ location.name }}</option>
							</select>

                        </div>
                    </div>
-->

            <br/>
            <br/>
            <br/>
         </form>

    </div>
     <div align="right">
                    <!-- <a data-ng-href="/users" class="btn btn-danger btn-sm " role="button" style="padding:5px 20px;margin-right:10px;">Cancel</a> -->
                    <a class="btn btn-danger btn-sm " type="submit" role="button" data-ng-click="Cancel()" style="padding:5px 20px;margin-right:10px;">Cancel </a>

                    <a class="btn btn-info btn-sm " type="submit" role="button" data-ng-click="Save()" data-ng-hide="Saved" style="padding:5px 20px;margin-right:30px;">Create </a>

                    <a class="btn btn-info btn-sm " type="submit" role="button" data-ng-click="Update()" data-ng-hide="Updated" style="padding:5px 20px;margin-right:30px;">Update </a>        
            </div>
    <br/>
    <!-- /.box-body -->
    <div class="box-footer">

    </div>
    <!-- /.box-footer -->
</div>
<!-- /.box -->

<modal2 title1="{{modalTitle}}" visible="stakeholderdataModal">
    <p>{{message}}</p>
</modal2>

<validationmodal title1="Alert!!!" visible="showValidation">
    {{validatestring1}}
</validationmodal>

<validationmodal title1="Alert!!!" visible="showUniqueValidation">
    {{validatestring2}}
</validationmodal>
