<style>
  /*	.stylelink {
              padding: 3px 10px;
              background: transparent;
              color: #333;
              border-radius: 50px;
              text-decoration: none;
              font-size: 14px;
              display: inline-flex;
              flex-flow: row nowrap;
              max-width: 100%;
          }
          
          .stylelink.active {
              padding: 3px 10px;
              background: #b71c1c;
              color: #fff;
              border-radius: 50px;
              text-decoration: none;
              font-size: 14px;
              font-weight: 600;
              display: inline-flex;
              flex-flow: row nowrap;
              max-width: 100%;
          }*/

  .stylelink {
    background: transparent;
    color: #9d9eb3;
    font-weight: bold;
    text-decoration: none;
    font-size: 14px;
    display: inline-flex;
    flex-flow: row nowrap;
    max-width: 100%;
    padding: 20px 10px;
  }

  .stylelink.active {
    color: #4a4d72;
    font-weight: bold;
    text-decoration: none;
    font-size: 14px;
    display: inline-flex;
    flex-flow: row nowrap;
    max-width: 100%;
    padding: 20px 0px;
    border-bottom: 4px solid #ec0b6d;
  }

  .sub_menu {
    display: inline-flex;
    flex-flow: row nowrap;
    max-width: 100%;
    padding: 10px 10px;
    border-bottom: 2px solid transparent;
    color: #333;
  }

  .sub_menu.active {
    display: inline-flex;
    flex-flow: row nowrap;
    max-width: 100%;
    padding: 10px 10px;
    color: #000;
    font-weight: bold;
    /*		border-bottom: 2px solid #01adfb;*/
  }

  #wrapper {
    display: table;
    table-layout: fixed;
    width: 100%;
    height: auto;
    border-bottom: 4px solid #f4f4f4;
    background-color: #fff;
    margin-top: 12px;
  }

  #wrapper div {
    display: table-cell;
    height: auto;
  }

  .sell {
    position: relative;
    min-width: 45px;
  }

  .sell:after {
    content: url(images/piclinks/down-arrow.png);
    font: 17px "Consolas", monospace;
    color: #333;
    top: 5px;
    margin-left: -22px;
    padding: 0 0 2px;
    position: absolute;
    pointer-events: none;
  }

  .sell select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    display: block;
    width: 100%;
    /*        max-width: 320px;*/
    height: 32px;
    float: left;
    padding: 0px 7px;
    font-size: 14px;
    line-height: 1.75;
    color: #878993;
    border-radius: 4px;
    background-color: #ffffff;
    background-image: none;
    border: 1px solid #d5d7df;
    -ms-word-break: normal;
    word-break: normal;
  }

  .top {
    padding-top: 1.8em;
  }

  table,
  th,
  td {
    fill: #262d57;
    font-size: 14px;
  }

  th {
    background-color: #d5d7df;
    font-weight: normal;
  }

  tr {
    background-color: White;
    color: #262d57;
    font-size: 10px;
  }

  /*.main_text {
              width: 100%;
              height: auto;
              position: relative;
              text-align: center;
              color: #333;
              padding: 10px 0;
              display: block;
          }
          .main_text.active {
              color: #000;
              font-weight: 600;
          }
          
          .main_text.active:after {
              content: '';
              position: absolute;
              left: 0;
              right: 0;
              top: 100%;
              margin: 0px auto;
              width: 90px;
              height: 2px;
              background: #01adfb;
          }*/

  @media screen and (max-width: 480px) {
    .stylelink {
      font-size: 12px;
      padding: 10px 20px;
    }

    .stylelink.active {
      font-size: 12px;
      /*            padding: 10px 20px;*/
      padding: 10px 0px;
    }

    .sub_menu {
      font-size: 10px;
    }

    .sub_menu.active {
      font-size: 10px;
    }

    .ml {
      padding-left: 0px;
    }

    .ml1 {
      margin-left: -5%;
      margin-bottom: 25px;
    }
  }

  @media screen and (max-width:350px) {
    .ml {
      padding-left: 0px;
    }

    .ml1 {
      margin-left: -7%;
      margin-bottom: 25px;
    }
  }

  @media screen and (max-width:376px) and (min-width:355px) {
    .ml {
      padding-left: 0px;
    }

    .ml1 {
      margin-left: -7%;
      margin-bottom: 25px;
    }
  }

  @media screen and (max-width:1024px) and (min-width:1000px) {
    .ml1 {
      margin-left: -2%;
    }
  }

  .inactive {
    color: #dddddd;
    pointer-events: none;
    cursor: default;
  }

</style>

<!-- Horizontal Form -->
<div class="box box-info" style="min-height:450px;border-top:none;">
  <div id="wrapper">
    <div class="stylelink active box-header with-border">
        <h3 class="box-title" style="font-weight:bold;">Customer List </h3>
    </div>
</div>

  <div class="box-body">
    <br>
    <div class="row padding" data-ng-hide="showForm()">
      <div class="col-sm-0 col-md-5"></div>
      <div class="col-sm-12 col-md-7">
        <div class="col-sm-0 col-md-2"></div>
        <div data-ng-hide="hideSearchFilter()" class="col-xs-12 col-sm-2 col-md-1"
          style="text-align:left;padding-left:0px;;padding-right:0px;border-color:#e1e8ee">
          <label>Show</label>
          <div class="sell">
            <select ng-model="pageSize" data-placeholder="Show Entries" ng-change="pageFunction(pageSize)">
              <option value="25">25</option>
              <option value="50">50</option>
              <option value="100">100</option>
            </select>
          </div>

        </div>
        <div data-ng-hide="hideSearchFilter()" class="col-xs-12 col-sm-6 col-md-5 top ml" style="padding-right:0px;">

          <form role="form">
            <div class="input-group">
              <span class="input-group-btn">
                <button class="btn btn-default" type="button"
                  style="border-top-left-radius:4px;border-bottom-left-radius: 4px;background:none;border-right:none;"><span
                    class="glyphicon glyphicon-search"></span></button>
              </span>
              <input type="text" class="form-control ng-pristine ng-valid" placeholder="Search"
                style="z-index:0;border-left:none;border-top-right-radius:4px;border-bottom-right-radius: 4px;"
                ng-model="searchCustomer">
            </div>
          </form>

        </div>
        <div class="col-xs-6 col-sm-3 col-md-2 top ml1">
          <a data-ng-href="/add-customer/create" class="btn btn-primary btn-sm"  role="button"
            data-ng-hide="hideCreateButton()" style="padding:5px 20px;margin-right:10px;">Add New </a>
        </div>
        <!-- <div class="col-xs-6 col-sm-3 col-md-2 top ml1">
          <a data-ng-href="/formlevel/create" class="btn btn-danger btn-sm" role="button"
            data-ng-hide="hideCreateButton()" style="padding:5px 20px;margin-right:10px;">Cancel </a>
        </div> -->
      </div>
    </div>
    <div class="row padding">
      <div class="col-sm-12" data-ng-hide="!showForm()">
        <form role="form">
          <p align="center">All fields in <sup>*</sup> are mandatory</p>
          <br />
          <br />
          <div class="row padding">
            <div class="col-sm-4" align="right">
              <label for="name">Customer Code<sup>*</sup></label>
            </div>
            <div class="col-sm-4">
              <input type="text" class="form-control" id="name" data-ng-model="customer.customercode" placeholder="Customer Code">
            </div>
          </div>
          <br/>
          <div class="row padding">
            <div class="col-sm-4" align="right">
              <label for="name">Customer Name<sup>*</sup></label>
            </div>
            <div class="col-sm-4">
              <input type="text" class="form-control" id="name" data-ng-model="customer.customername" placeholder="Customer Name">
            </div>
          </div>
          <br/>
          <div class="row padding">
            <div class="col-sm-4" align="right">
              <label for="name">Mobile No<sup>*</sup></label>
            </div>
            <div class="col-sm-4">
              <input type="text" class="form-control" id="name" data-ng-model="customer.customerno" placeholder="Customer No" pattern='[A-Za-z\\s]*' numbers-only maxlength="10">
            </div>
          </div>
          <br/>
          <div class="row padding">
            <div class="col-sm-4" align="right">
              <label for="name">Address<sup>*</sup></label>
            </div>
            <div class="col-sm-4">
              <textarea type="text" class="form-control" id="name" data-ng-model="customer.customeraddress" placeholder="Address"></textarea>
            </div>
          </div>
          <br/>
          <div class="row padding">
            <div class="col-sm-4" align="right">
              <label for="name">Customer Category<sup>*</sup></label>
            </div>
            <div class="col-sm-4">
              <select ui-select2 id="subcategory-area" ng-model="customer.customercategoryid"
              data-placeholder="Pick a Category" style="width:100%">
              <option value=""></option>
              <option data-ng-repeat="customercategory in customercategories" value="{{customercategory.id}}">{{ customercategory.name }}
              </option>
            </select>
            </div>
          </div>
          <br />
          <br />
          <br />
          <div align="right">
            <div>
              <a data-ng-href="/add-customer" class="btn btn-danger btn-sm " role="button"
                style="padding:5px 20px;margin-right:10px;">Cancel</a>
    
              <button type="button" class="btn btn-info btn-sm " data-ng-click="saveCustomer()"
                data-ng-show="isCreateView()" ng-disabled="submitDisable"
                style="padding:5px 20px;margin-right:10px;">Save</button>
    
              <button type="button" class="btn btn-info btn-sm " data-ng-click="updateCustomer()"
              data-ng-hide="isCreateView()"  style="padding:5px 20px;margin-right:10px;"
                ng-disabled="neWsubmitDisable">Update</button>
            </div>
          </div>
          <br>
        </form>
      </div>
    </div>
    <br>

    <div data-ng-hide="showForm()">
      <div>
        <div class="table-responsive">
          <table class="table table-hover">
            <thead>
              <tr>
                <th>S NO.</th>
                <th>CUSTOMER NAME</th>
                <th>CUSTOMER CODE</th>
                <th>CUSTOMER NO</th>
                <th>CUSTOMER ADDRESS</th>
                <th style="width:100px;">ACTION</th>
              </tr>
            </thead>
            <tbody>
              <tr dir-paginate="customer in customers | filter: searchCustomer |itemsPerPage:pageSize">
                <td>{{customer.index}}</td>
                <td>{{customer.customername}}</td>
                <td>{{customer.customercode}}</td>
                <td>{{customer.customerno}}</td>
                <td>{{customer.customeraddress}}</td>
                <td>
                  <a data-ng-href="/add-customer/edit/{{customer.id}}" role="button">
                    <img class="iccon" src="images/piclinks/edit.png">
                  </a>
                </td>
              </tr>
            </tbody>
          </table>
          <br />
        </div>
      </div>
    </div>
  </div>
</div>
