<style>
  /*	.stylelink {
              padding: 3px 10px;
              background: transparent;
              color: #333;
              border-radius: 50px;
              text-decoration: none;
              font-size: 14px;
              display: inline-flex;
              flex-flow: row nowrap;
              max-width: 100%;
          }
          
          .stylelink.active {
              padding: 3px 10px;
              background: #b71c1c;
              color: #fff;
              border-radius: 50px;
              text-decoration: none;
              font-size: 14px;
              font-weight: 600;
              display: inline-flex;
              flex-flow: row nowrap;
              max-width: 100%;
          }*/

  .stylelink {
    background: transparent;
    color: #9d9eb3;
    font-weight: bold;
    text-decoration: none;
    font-size: 14px;
    display: inline-flex;
    flex-flow: row nowrap;
    max-width: 100%;
    padding: 20px 10px;
  }

  .stylelink.active {
    color: #4a4d72;
    font-weight: bold;
    text-decoration: none;
    font-size: 14px;
    display: inline-flex;
    flex-flow: row nowrap;
    max-width: 100%;
    padding: 20px 0px;
    border-bottom: 4px solid #ec0b6d;
  }

  .sub_menu {
    display: inline-flex;
    flex-flow: row nowrap;
    max-width: 100%;
    padding: 10px 10px;
    border-bottom: 2px solid transparent;
    color: #333;
  }

  .sub_menu.active {
    display: inline-flex;
    flex-flow: row nowrap;
    max-width: 100%;
    padding: 10px 10px;
    color: #000;
    font-weight: bold;
    /*		border-bottom: 2px solid #01adfb;*/
  }

  #wrapper {
    display: table;
    table-layout: fixed;
    width: 100%;
    height: auto;
    border-bottom: 4px solid #f4f4f4;
    background-color: #fff;
    margin-top: 12px;
  }

  #wrapper div {
    display: table-cell;
    height: auto;
  }

  .sell {
    position: relative;
    min-width: 45px;
  }

  .sell:after {
    content: url(images/piclinks/down-arrow.png);
    font: 17px "Consolas", monospace;
    color: #333;
    top: 5px;
    margin-left: -22px;
    padding: 0 0 2px;
    position: absolute;
    pointer-events: none;
  }

  .sell select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    display: block;
    width: 100%;
    /*        max-width: 320px;*/
    height: 32px;
    float: left;
    padding: 0px 7px;
    font-size: 14px;
    line-height: 1.75;
    color: #878993;
    border-radius: 4px;
    background-color: #ffffff;
    background-image: none;
    border: 1px solid #d5d7df;
    -ms-word-break: normal;
    word-break: normal;
  }

  .top {
    padding-top: 1.8em;
  }

  table,
  th,
  td {
    fill: #262d57;
    font-size: 14px;
  }

  th {
    background-color: #d5d7df;
    font-weight: normal;
  }

  tr {
    background-color: White;
    color: #262d57;
    font-size: 10px;
  }

  /*.main_text {
              width: 100%;
              height: auto;
              position: relative;
              text-align: center;
              color: #333;
              padding: 10px 0;
              display: block;
          }
          .main_text.active {
              color: #000;
              font-weight: 600;
          }
          
          .main_text.active:after {
              content: '';
              position: absolute;
              left: 0;
              right: 0;
              top: 100%;
              margin: 0px auto;
              width: 90px;
              height: 2px;
              background: #01adfb;
          }*/

  @media screen and (max-width: 480px) {
    .stylelink {
      font-size: 12px;
      padding: 10px 20px;
    }

    .stylelink.active {
      font-size: 12px;
      /*            padding: 10px 20px;*/
      padding: 10px 0px;
    }

    .sub_menu {
      font-size: 10px;
    }

    .sub_menu.active {
      font-size: 10px;
    }

    .ml {
      padding-left: 0px;
    }

    .ml1 {
      margin-left: -5%;
      margin-bottom: 25px;
    }
  }

  @media screen and (max-width:350px) {
    .ml {
      padding-left: 0px;
    }

    .ml1 {
      margin-left: -7%;
      margin-bottom: 25px;
    }
  }

  @media screen and (max-width:376px) and (min-width:355px) {
    .ml {
      padding-left: 0px;
    }

    .ml1 {
      margin-left: -7%;
      margin-bottom: 25px;
    }
  }

  @media screen and (max-width:1024px) and (min-width:1000px) {
    .ml1 {
      margin-left: -2%;
    }
  }

  .inactive {
    color: #dddddd;
    pointer-events: none;
    cursor: default;
  }

</style>
<div style="width:100%;height:auto;background:#ffffff;">
  <div id="wrapper">
    <div style="text-align:center;">
      <a class="stylelink" href="/customers-list"><span
          style="flex:1;white-space:pre;overflow: hidden;text-overflow: ellipsis;">CLIENT</span></a>
    </div>
    
    <div style="text-align:center;">
      <a class="stylelink active" href="/category-list"><span
          style="flex:1;white-space:pre;overflow: hidden;text-overflow: ellipsis;">CATEGORY</span></a>
    </div>

    <div style="text-align:center;">
      <a class="stylelink" href="/subcategory-list"><span
          style="flex:1;white-space:pre;overflow: hidden;text-overflow: ellipsis;">SUB CATEGORY</span></a>
    </div>

    <div style="text-align:center;">
      <a class="stylelink " href="/timeslot"><span
          style="flex:1;white-space:pre;overflow: hidden;text-overflow: ellipsis;">TIME SLOT</span></a>
    </div>
    <div style="text-align:center;">
      <a class="stylelink " href="/groupcreate"><span
          style="flex:1;white-space:pre;overflow: hidden;text-overflow: ellipsis;">GROUP</span></a>
    </div>

    <div style="text-align:center;">
      <a class="stylelink" href="/servicequestion-type-list"><span
          style="flex:1;white-space:pre;overflow: hidden;text-overflow: ellipsis;">QUESTION TYPE</span></a>
    </div>

    <div style="text-align:center;">
      <a class="stylelink" href="/servicequestion-list"><span
          style="flex:1;white-space:pre;overflow: hidden;text-overflow: ellipsis;">SERVICE QUESTION</span></a>
    </div>
  </div>
</div>

<!-- Horizontal Form -->
<div class="box box-info" style="min-height:450px;border-top:none;">

  <div class="box-body">
    <!--<div align="left">
                  <a data-ng-href="/surveyquestionmlanguage/create" class="btn btn-primary btn-sm " role="button" data-ng-hide="hideCreateButton()">Add New </a>
              </div>-->
    <br />

    <form role="form">
      <p align="center">All fields in <sup>*</sup> are mandatory</p>
      <br />
      <br />
      <div class="row padding">
        <div class="col-sm-4" align="right">
          <label for="name">Category Name<sup>*</sup></label>
        </div>
        <div class="col-sm-4">
          <input type="text" class="form-control" id="name" data-ng-model="category.name" placeholder="Category Name">
        </div>
        <div class="col-sm-4">
          <!-- <input type="text" class="form-control" id="customer" data-ng-model="onetoone.customer"
                  placeholder="Customer"> -->
        </div>
      </div>
      <br />
      <div class="row padding">
        <div class="col-sm-4" align="right">
          <label for="name">Client<sup>*</sup></label>
        </div>
        <div class="col-sm-4">
          <select ui-select2 id="customer-area" ng-model="category.customerId" data-placeholder="Pick a Client"
            style="width:100%" ng-disabled="disableCustomer">
            <option value=""></option>
            <option data-ng-repeat="customer in customers" value="{{customer.id}}">{{ customer.name }}</option>
          </select>
        </div>
        <div class="col-sm-4">
          <!-- <input type="text" class="form-control" id="customer" data-ng-model="onetoone.customer"
                      placeholder="Customer"> -->
        </div>
      </div>

      <br />
      <br />
      <!-- <div ng-if="onetoone.applyskip=='yes'">
              <h3 class="padding3">Skip Rule</h3>
              <br />
              <div class="row padding">
                <div class="col-sm-3">
                  <div class="form-group">
                    <label for="name">Question<sup>*</sup> </label>
                    <div>
                      <select ui-select2 id="sales-area" ng-model="onetoone.skipquestionid" data-placeholder="Question"
                        style="width:100%">
                        <option value=""></option>
                        <option data-ng-repeat="question in surveyquestions" value="{{question.id}}">{{ question.question }}
                        </option>
                      </select>
                    </div>
                  </div>
                </div>
                <div class="col-sm-3">
                  <div class="form-group">
                    <label for="name">Value<sup>*</sup></label>
                    <div>
                      <select ui-select2 id="sales-area" ng-model="onetoone.skipquestionvalue" data-placeholder="Value"
                        style="width:100%">
                        <option value=""></option>
                        <option data-ng-repeat="arr in skipnewArray" value="{{arr}}">{{ arr }}</option>
                      </select>
                    </div>
                  </div>
                </div>
              </div>
      
            </div> -->
      <br />
      <br />
      <!-- <div
              ng-if="onetoone.applytomessage=='yes' && onetoone.answeroptions.length>0 && (onetoone.questiontype==6 || onetoone.questiontype==2)">
              <h3 style="font-weight:600;margin-top:5px;padding-left:20px;">Apply Todo / Message Rule</h3>
              <br />
              <div>
         
                <div class="table-responsive">
                  <table class="table ">
                    <thead>
                      <tr>
                        <th style="width:150px;">S NO.</th>
                        <th style="width:250px;">VALUE</th>
                        <th style="width:160px;">Todo / Message</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr ng-repeat="arr in answerOptionsArray">
                        <td>{{ $index + 1 }}</td>
                        <td style="width:180px;">
                          <input type="text" class="form-control" id="name" data-ng-model="arr.value" placeholder="Value"
                            style="width:50%;" readonly>
                        </td>
                        <td style="width:180px;">
                          <select multiple ui-select2 id="typolog" ng-model="arr.todotype" data-placeholder="Todo / Message"
                            style="width:70%;">
                            <option value=""></option>
                            <option data-ng-repeat="todotype in todotypes" value="{{todotype.id}}">{{ todotype.name }}
                            </option>
                          </select>
                        </td>
                      </tr>
                    </tbody>
                  </table>
      
                </div>
         
              </div>
              <div class="col-sm-6">
              </div>
            </div> -->
      <br />
      <br />
      <div align="right">
        <div>
          <a data-ng-href="/category-list" class="btn btn-danger btn-sm " role="button"
            style="padding:5px 20px;margin-right:10px;">Cancel</a>

          <button type="button" class="btn btn-info btn-sm " data-ng-click="savecategory()"
            data-ng-show="isCreateView()" ng-disabled="submitDisable"
            style="padding:5px 20px;margin-right:10px;">Save</button>

          <button type="button" class="btn btn-info btn-sm " data-ng-click="Updatecategory()"
            data-ng-hide="isCreateView()" style="padding:5px 20px;margin-right:10px;"
            ng-disabled="neWsubmitDisable">Update</button>

          <!-- <button type="button" class="btn btn-info btn-sm " data-ng-click="Updatecustomer()"
                  data-ng-hide="isCreateView()" style="padding:5px 20px;margin-right:10px;">Update</button> -->

          <button type="button" class="btn btn-primary btn-sm " data-ng-click="LangClick()"
            style="padding:5px 20px;margin-right:30px;">L</button>
        </div>
      </div>
      <br>
    </form>


    <!-- /.box-body -->
    <div class="box-footer">

    </div>
    <!-- /.box-footer -->
  </div>

  <modal2 title1="Congrats!!!" visible="stakeholderdataModal">
        
    <strong>{{message}}</strong>
    
  </modal2>


<validationmodal title1="Alert!!!" visible="showValidation">
    {{validatestring1}}
</validationmodal>


