<style>
    .stylelink {
        /*		padding: 3px 10px;*/
        background: transparent;
        color: #9d9eb3;
        font-weight: bold;
        /*		border-radius: 50px;*/
        text-decoration: none;
        font-size: 14px;
        display: inline-flex;
        flex-flow: row nowrap;
        max-width: 100%;
        padding: 20px 40px;

    }

    .stylelink.active {
        /*		padding: 3px 10px;*/
        /*		background: #b71c1c;*/
        color: #4a4d72;
        font-weight: bold;
        /*		border-radius: 50px;*/
        text-decoration: none;
        font-size: 14px;
        /*		font-weight: 600;*/
        display: inline-flex;
        flex-flow: row nowrap;
        max-width: 100%;
        padding: 20px 40px;
        border-bottom: 4px solid #e72e5a;
    }

    .sub_menu {
        display: inline-flex;
        flex-flow: row nowrap;
        max-width: 100%;
        padding: 10px 10px;
        border-bottom: 2px solid transparent;
        color: #333;
    }

    .sub_menu.active {
        display: inline-flex;
        flex-flow: row nowrap;
        max-width: 100%;
        padding: 10px 10px;
        color: #000;
        font-weight: bold;
        border-bottom: 2px solid #01adfb;
    }

    #wrapper {
        display: table;
        table-layout: fixed;
        width: 100%;
        height: auto;
        border-bottom: 1px solid #e6e6e6;
        /*		background-color: #fff;*/
    }

    #wrapper div {
        display: table-cell;
        height: auto;
    }

    /*.main_text {
        width: 100%;
        height: auto;
        position: relative;
        text-align: center;
        color: #333;
        padding: 10px 0;
        display: block;
    }
    .main_text.active {
        color: #000;
        font-weight: 600;
    }
    
    .main_text.active:after {
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        top: 100%;
        margin: 0px auto;
        width: 90px;
        height: 2px;
        background: #01adfb;
    }*/

    /*
    tbody tr td {
        color:#9d9eb3;
        
    }
*/

    thead tr th {
        color: #4a4d72;
    }

    @media screen and (max-width: 480px) {
        .stylelink {
            font-size: 12px;
            padding: 10px 20px;
        }
        .stylelink.active {
            font-size: 12px;
            padding: 10px 20px;
        }
        .sub_menu {
            font-size: 10px;
        }
        .sub_menu.active {
            font-size: 10px;
        }
    }

    .inactive {
        color: #dddddd;
        pointer-events: none;
        cursor: default;
    }

</style>

<div style="width:100%;height:auto;background:#ffffff;">
    <div id="wrapper">
        <div style="text-align:center;" ng-if="leveldefinitions[0].visible">
            <a class="stylelink" href="/level1-list"><span style="flex:1;white-space:pre;overflow: hidden;text-overflow: ellipsis;">{{leveldefinitions[0].name}}</span></a>
        </div>

        <div style="text-align:center;" ng-if="leveldefinitions[1].visible">
            <a class="stylelink" href="/level2-list"><span style="flex:1;white-space:pre;overflow: hidden;text-overflow: ellipsis;">{{leveldefinitions[1].name}}</span></a>
        </div>

        <div style="text-align:center;" ng-if="leveldefinitions[2].visible">
            <a class="stylelink" href="/level3-list"><span style="flex:1;white-space:pre;overflow: hidden;text-overflow: ellipsis;">{{leveldefinitions[2].name}}</span></a>
        </div>

        <div style="text-align:center;" ng-if="leveldefinitions[3].visible">
            <a class="stylelink" href="/level4-list"><span style="flex:1;white-space:pre;overflow: hidden;text-overflow: ellipsis;">{{leveldefinitions[3].name}}</span></a>
        </div>
        
        <div style="text-align:center;" ng-if="leveldefinitions[4].visible">
            <a class="stylelink active" href="/level5-list"><span style="flex:1;white-space:pre;overflow: hidden;text-overflow: ellipsis;">{{leveldefinitions[4].name}}</span></a>
        </div>
    </div>
</div>



<!-- Horizontal Form -->
<!--<div class="box box-info" style="min-height:450px;border-color:#b71c1c;margin-top:5px;">-->
<div class="box box-info" style="min-height:450px;border-top:none;">
    <div class="box-header with-border">
        <!--		<h3 class="box-title">State</h3>-->
    </div>
    <!-- /.box-header -->
    <!-- form start -->

    <div class="box-body" style="padding:20px;">

        <div class="row">
            <div class="col-sm-4"></div>
            <div data-ng-hide="showForm()" class="col-sm-2" style="text-align:right;padding-right:0px;border-color:#e1e8ee">
                <span>Show</span>
                <select ng-model="pageSize" data-placeholder="Show Entries" ng-change="pageFunction(pageSize)">
						<option value="25">25</option>
						<option value="50">50</option>
						<option value="100">100</option>
					</select>
                <!--					<span>Entries</span>-->
            </div>
            <div data-ng-hide="showForm()" class="col-sm-3" style="padding-right:0px;">
                <!--
            <div class="row" style="margin:0;padding:0;">
						<div class="col-sm-5"></div>
						<div class="col-sm-7">
-->
                <form role="form">
                    <div class="input-group">
                        <input type="text" class="form-control ng-pristine ng-valid" placeholder="Search" style="z-index:0;border-radius:2px;border-right:none;border-color:#e1e8ee;border-top-left-radius:4px;border-bottom-left-radius: 4px;" data-ng-model="searchZone">
                        <span class="input-group-btn">
                     <button class="btn btn-default" type="button" style="border-top-right-radius: 4px;border-bottom-right-radius: 4px;border-color:#e1e8ee;background:none;border-left:none;"><span class="glyphicon glyphicon-search"></span></button>
                        </span>
                    </div>
                </form>

                <!--
						</div>
					</div>
-->
            </div>
            <div class="col-sm-3">
                <a data-ng-href="/level5/create" class="btn btn-primary btn-sm  " role="button" data-ng-hide="hideCreateButton()" style="padding:5px 20px;">Add New </a>&nbsp;&nbsp;&nbsp;
            </div>

        </div>
        <br/>

        <form class="form-horizontal" role="form" data-ng-show="showForm()">
            <toaster-container toaster-options="{'position-class': 'toast-container-custo','time-out': 3000,'body-output-type': 'template'}"></toaster-container>
            <br/>
            <div class="row" style="margin:0;padding:0" data-ng-show="isCreateView()">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="champion" class="col-sm-4" style="font-weight:600;margin-top:4px;color:red;">{{leveldefinitions[0].name}}
									</label>
                        <div class="col-sm-6">
                            <select ui-select2 id="typolog" ng-model="level1" data-placeholder="{{leveldefinitions[0].name}}" style="width:100%;">
                                <option value=""></option>
											<option data-ng-repeat="level in levelones" value="{{level.id}}">{{ level.name }}</option>
										</select>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="champion" class="col-sm-4" style="font-weight:600;margin-top:4px;color:red;">{{leveldefinitions[1].name}}
									</label>
                        <div class="col-sm-6">
                            <select ui-select2 id="typolog" ng-model="level2" data-placeholder="{{leveldefinitions[1].name}}" style="width:100%;">
                                <option value=""></option>
											<option data-ng-repeat="level2 in leveltwos" value="{{level2.id}}">{{ level2.name }}</option>
										</select>
                        </div>
                    </div>
                    
                    <div class="form-group">
                        <label for="champion" class="col-sm-4" style="font-weight:600;margin-top:4px;color:red;">{{leveldefinitions[2].name}}
									</label>
                        <div class="col-sm-6">
                            <select ui-select2 id="typolog" ng-model="level3" data-placeholder="{{leveldefinitions[2].name}}" style="width:100%;">
                                <option value=""></option>
											<option data-ng-repeat="level3 in levelthrees" value="{{level3.id}}">{{ level3.name }}</option>
										</select>
                        </div>
                    </div>
                    
                     <div class="form-group">
                        <label for="champion" class="col-sm-4" style="font-weight:600;margin-top:4px;color:red;">{{leveldefinitions[3].name}}
									</label>
                        <div class="col-sm-6">
                            <select ui-select2 id="typolog" ng-model="level4" data-placeholder="{{leveldefinitions[3].name}}" style="width:100%;">
                                <option value=""></option>
											<option data-ng-repeat="level4 in levelfours" value="{{level4.id}}">{{ level4.name }}</option>
										</select>
                        </div>
                    </div>
                </div>

            </div>
            <br/>
            <div class="row" style="margin:0;padding:0;" data-ng-show="isCreateView()">
                <div class="col-sm-12">
                    <div class="table-responsive">
                        <table class="table ">
                            <thead>
                                <tr>
                                    <th style="width:150px;">#</th>
                                    <th style="width:250px;">{{leveldefinitions[4].name}}</th>
                                    <th style="width:160px;">ACTION</th>
                                </tr>
                            </thead>
                            <tbody>
                                <!--current-page="currentpage"-->
                                <tr ng-repeat="level5 in DisplayLevelfives">
                                    <td>{{ $index + 1 }}</td>
                                    <td style="width:260px;">
                                        <input type="text" class="form-control" id="name" data-ng-model="level5.name" placeholder="{{leveldefinitions[4].name}}" style="width:60%;" ng-change="levelChange($index, level5.name)">
                                    </td>
                                    <td>
                                        <a data-ng-click="Lang($index, level5.name)" href="" title="Language" ng-class="level5.disableLang ? '' : 'inactive'"><img src="{{level5.langdark}}" style="margin-bottom: 6px;" title="Language" /></a>&nbsp;&nbsp;

                                        <a data-ng-click="Add($index)" ng-if="$last" ng-class="level5.disableAdd ? '' : 'inactive'"><span class="glyphicon glyphicon-plus" style="cursor:pointer;" title="Add"></span></a>&nbsp;&nbsp;

                                        <a data-ng-click="Remove($index)" ng-if="$last&&!$first" ng-class="level5.disableRemove ? '' : 'inactive'"><span class="glyphicon glyphicon-remove" style="cursor:pointer;" title="Remove"></span></a>&nbsp;
                                    </td>
                                </tr>
                            </tbody>
                        </table>

                    </div>
                </div>
            </div>

            <div class="row" style="margin:0;padding:0" data-ng-hide="isCreateView()">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="name" class="col-sm-4" style="font-weight:600;margin-top:7px;color:red;">{{leveldefinitions[0].name}} </label>
                        <div class="col-sm-6">
                            <select ui-select2 id="typolog" ng-model="levelfive.leveloneid" data-placeholder="{{leveldefinitions[0].name}}" style="width:100%;" ng-disabled=true>
                                <option value=""></option>
											<option data-ng-repeat="level in levelones" value="{{level.id}}">{{ level.name }}</option>
										</select>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="name" class="col-sm-4" style="font-weight:600;margin-top:7px;color:red;">{{leveldefinitions[1].name}} </label>
                        <div class="col-sm-6">
                            <select ui-select2 id="typolog" ng-model="levelfive.leveltwoid" data-placeholder="{{leveldefinitions[1].name}}" style="width:100%;" ng-disabled=true>
                                <option value=""></option>
											<option data-ng-repeat="level2 in leveltwos" value="{{level2.id}}">{{ level2.name }}</option>
										</select>
                        </div>
                    </div>
                    
                    <div class="form-group">
                        <label for="name" class="col-sm-4" style="font-weight:600;margin-top:7px;color:red;">{{leveldefinitions[2].name}} </label>
                        <div class="col-sm-6">
                            <select ui-select2 id="typolog" ng-model="levelfive.levelthreeid" data-placeholder="{{leveldefinitions[2].name}}" style="width:100%;" ng-disabled=true>
                                <option value=""></option>
											<option data-ng-repeat="level3 in levelthrees" value="{{level3.id}}">{{ level3.name }}</option>
										</select>
                        </div>
                    </div>
                    
                     <div class="form-group">
                        <label for="name" class="col-sm-4" style="font-weight:600;margin-top:7px;color:red;">{{leveldefinitions[3].name}} </label>
                        <div class="col-sm-6">
                            <select ui-select2 id="typolog" ng-model="levelfive.levelfourid" data-placeholder="{{leveldefinitions[3].name}}" style="width:100%;" ng-disabled=true>
                                <option value=""></option>
											<option data-ng-repeat="level4 in levelfours" value="{{level4.id}}">{{ level4.name }}</option>
										</select>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="name" class="col-sm-4" style="font-weight:600;margin-top:7px;color:red;">Name </label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" id="name" data-ng-model="levelfive.name" placeholder="Name" pattern='[A-Za-z\\s]*'>
                        </div>
                        <div class="col-sm-1">
                            <a href="" data-ng-click="EditLang()" href="" title="Language"><img src="images/Ldark.png" style="margin-bottom: 19px;" title="Language" /></a>
                        </div>
                    </div>
                </div>
            </div>
            <br/>
            <br/>
            <br/>

            <div align="left">
                <div>
                    <a class="btn btn-primary btn-sm " type="submit" role="button" data-ng-click="Save()" data-ng-show="isCreateView()" ng-disabled="submitDisable" style="padding:5px 20px;margin-right:10px;">Create </a>

                    <a class="btn btn-success btn-sm " type="submit" role="button" data-ng-click="Update()" data-ng-hide="isCreateView()" ng-disabled="submitDisable" style="padding:5px 20px;margin-right:10px;">Update </a>
                    <a data-ng-href="/level5-list" class="btn btn-danger btn-sm " role="button" style="padding:5px 20px;">Cancel</a>
                </div>
            </div>
        </form>

        <div data-ng-hide="hideSearchFilter()">

            <div class="row" style="margin:0;padding:0;">
                <!--
				<div class="col-sm-6" style="padding-top:5px;">
					<span>Show</span>
					<select ng-model="pageSize" data-placeholder="Show Entries" ng-change="pageFunction(pageSize)">
						<option value="25">25</option>
						<option value="50">50</option>
						<option value="100">100</option>
					</select>
					<span>Entries</span>
				</div>
				<div class="col-sm-6">
-->
                <!---	<div class="row" style="margin:0;padding:0;">
						<div class="col-sm-4"></div>
						<div class="col-sm-8">
							<form role="form">
								<div class="input-group">
									<input type="text" class="form-control" placeholder="Search for..." style="z-index:0; border-top-left-radius: 15px;border-bottom-left-radius: 15px;" data-ng-model="searchZone">
									<span class="input-group-btn">
                        <button class="btn btn-default" type="button" style="border-top-right-radius: 15px;border-bottom-right-radius: 15px;"><span class="glyphicon glyphicon-search"></span></button>
									</span>
								</div>
							</form>

						</div>
					</div>--->
                <!--
                    	<div class="row" style="margin:0;padding:0;">
						<div class="col-sm-5"></div>
						<div class="col-sm-7">
							<form role="form">
								<div class="input-group">
									<input type="text" class="form-control ng-pristine ng-valid" placeholder="Search" style="z-index:0;border-radius:2px;border-right:none;border-color:#e1e8ee;border-top-left-radius:4px;border-bottom-left-radius: 4px;" data-ng-model="searchZone" >
									   <span class="input-group-btn">
                     <button class="btn btn-default" type="button" style="border-top-right-radius: 4px;border-bottom-right-radius: 4px;border-color:#e1e8ee;background:none;border-left:none;"><span class="glyphicon glyphicon-search"></span></button>
									</span>
								</div>
							</form>

						</div>
					</div>
				</div>
-->

            </div>
        </div>
        <br />


        <div data-ng-hide="showForm()" class="table-responsive">
            <div class="row" style="margin:0;padding:0">
            <div class="col-sm-6">
                <div class="form-group">
                    <label for="zone" class="col-sm-4" style="font-weight:600;margin-top:5px;padding-left:30px;">{{leveldefinitions[0].name}}</label>
                    <div class="col-sm-6">
                        <select ui-select2 id="zone" ng-model="level1Id" data-placeholder="{{leveldefinitions[0].name}}" style="width:85%;">
							<option value=""></option>
							<option data-ng-repeat="levelone in levelones" value="{{levelone.id}}">{{ levelone.name }}</option>
						</select>
                    </div>
                </div>
                <br>
                <br>
                
                <div class="form-group">
                    <label for="zone" class="col-sm-4" style="font-weight:600;margin-top:5px;padding-left:30px;">{{leveldefinitions[2].name}}</label>
                    <div class="col-sm-6">
                        <select ui-select2 id="zone" ng-model="level3Id" data-placeholder="{{leveldefinitions[2].name}}" style="width:85%;">
							<option value=""></option>
							<option data-ng-repeat="levelthree in levelthreelist" value="{{levelthree.id}}">{{ levelthree.name }}</option>
						</select>
                    </div>
                </div>
            </div>

            <div class="col-sm-6">
                <div class="form-group">
                    <label for="zone" class="col-sm-4" style="font-weight:600;margin-top:5px;padding-left:30px;">{{leveldefinitions[1].name}}</label>
                    <div class="col-sm-6">
                        <select ui-select2 id="zone" ng-model="level2Id" data-placeholder="{{leveldefinitions[1].name}}" style="width:85%;">
							<option value=""></option>
							<option data-ng-repeat="leveltwo in leveltwolist" value="{{leveltwo.id}}">{{ leveltwo.name }}</option>
						</select>
                    </div>
                </div>
                <br>
                <br>
                
                <div class="form-group">
                    <label for="zone" class="col-sm-4" style="font-weight:600;margin-top:5px;padding-left:30px;">{{leveldefinitions[3].name}}</label>
                    <div class="col-sm-6">
                        <select ui-select2 id="zone" ng-model="level4Id" data-placeholder="{{leveldefinitions[3].name}}" style="width:85%;">
							<option value=""></option>
							<option data-ng-repeat="levelfour in levelfourlist" value="{{levelfour.id}}">{{ levelfour.name }}</option>
						</select>
                    </div>
                </div>
            </div>
            </div>
            <br/>
            <br/>
            
            <table class="table">
                <thead>
                    <tr style="border-bottom:1px solid #ccc;">
                        <th style="width:50px;">#</th>
                        <th>{{leveldefinitions[2].name}}</th>
                        <th>{{leveldefinitions[0].name}}</th>
                        <th>{{leveldefinitions[1].name}}</th>
                        <th>{{leveldefinitions[2].name}}</th>
                        <th>{{leveldefinitions[3].name}}</th>
                        <th style="width:100px;">ACTION</th>
                    </tr>
                </thead>

                <tbody>

                    <tr dir-paginate="l5 in TotalData  = ( levelfives | filter:searchZone ) |itemsPerPage:pageSize" pagination-id="zonesid" current-page="currentPage">
                        <td>{{ l5.index }}</td>
                        <td>{{l5.name}}</td>
                        <td data-ng-init="l1 = getLevel1(l5.leveloneid)">{{l1.name}}</td>
                        <td data-ng-init="l2 = getLevel2(l5.leveltwoid)">{{l2.name}}</td>
                        <td data-ng-init="l3 = getLevel3(l5.levelthreeid)">{{l3.name}}</td>
                         <td data-ng-init="l4 = getLevel4(l5.levelfourid)">{{l4.name}}</td>
                        <td>
                            <a data-ng-href="/level5/edit/{{l5.id}}"><span class="glyphicon glyphicon-pencil" title="Edit" ></span></a>&nbsp;&nbsp;
                            <a style="color:#b7b8c8;">|</a>&nbsp;&nbsp;
                            <a confirm-button="Delete(l5.id)" message="Are you sure? you want to delete?">
                                    <span class="glyphicon glyphicon-remove" style="cursor:pointer;border-left:1px solid #" title="Bin"></span>
                                </a>&nbsp;
                        </td>
                    </tr>
                </tbody>
            </table>
            <br/>
            <div align="right">
                <dir-pagination-controls max-size="25" direction-links="true" boundary-links="true" pagination-id="zonesid" on-page-change="PageChanged(newPageNumber, oldPageNumber)">
                </dir-pagination-controls>
            </div>
        </div>

    </div>
    <!-- /.box-body -->
    <div class="box-footer">

    </div>
    <!-- /.box-footer -->
</div>
<!-- /.box -->


<modal2 title1="{{modalTitle}}" visible="stakeholderdataModal">
    <p>{{message}}</p>
</modal2>

<validationmodal title1="Alert!!!" visible="showValidation">
    {{validatestring1}}
</validationmodal>

<langmodal visible="langModel">
    <div class="modal-header" style="color:#ffffff;padding:0px;">
        <div class="pull-right" style='padding:15px;'></div>
        <h4 class="stylelink active modal-title">Language </h4>
    </div>
    <div style="width:100%; height:auto; min-height:400px;  border: 1px solid #ffffff;padding:5px" id="savemodals">
        <br>
        <form class="form-horizontal" role="form" style="padding-left:2em;">

            <div class="row" style="margin:0px;" ng-repeat="language in languages">
                <div class="form-group">
                    <label for="state" class="col-sm-4" style="font-weight:600;margin-top: 8px;color:red;margin-left:20px;">{{language.name}} </label>
                    <div class="col-sm-5">
                        <input type="text" class="form-control" id="name" data-ng-model="language.lang" placeholder="{{language.name}}" ng-blur="Validname($event, member.name)"> </div>
                </div>
            </div>
            <br>
            <br>
            <div class="form-group">
                <div align="center">
                    <div align="center">
                        <a class="btn btn-primary btn-sm " type="submit" role="button" data-ng-click="SaveLang()" style="padding:5px 20px;" data-ng-show="isCreateView()">Add  </a>&nbsp;
                        
                        <a class="btn btn-primary btn-sm " type="submit" role="button" data-ng-click="UpdateLang()" style="padding:5px 20px;" data-ng-hide="isCreateView()">Update  </a>&nbsp;

                        <a data-ng-click="cancleQucikAdd()" data-dismiss="modal" class="btn btn-danger btn-sm " role="button" style="padding:5px 20px;">Cancel  </a>
                    </div>
                </div>
            </div>
        </form>
    </div>

    <style>
        div.scroll {
            width: 100%;
            height: 100px;
            overflow: scroll;
        }

        .toggle.android {
            border-radius: 0px;
        }

        .toggle.android .toggle-handle {
            border-radius: 0px;
        }

        #mapCanvas {
            width: 500px;
            height: 400px;
            float: left;
        }

        #infoPanel {
            margin-left: 100px;
        }

        #infoPanel div {
            margin-bottom: 5px;
        }

    </style>

</langmodal>
