<style>
  /*	.stylelink {
                padding: 3px 10px;
                background: transparent;
                color: #333;
                border-radius: 50px;
                text-decoration: none;
                font-size: 14px;
                display: inline-flex;
                flex-flow: row nowrap;
                max-width: 100%;
            }
            
            .stylelink.active {
                padding: 3px 10px;
                background: #b71c1c;
                color: #fff;
                border-radius: 50px;
                text-decoration: none;
                font-size: 14px;
                font-weight: 600;
                display: inline-flex;
                flex-flow: row nowrap;
                max-width: 100%;
            }*/

  .stylelink {
    background: transparent;
    color: #9d9eb3;
    font-weight: bold;
    text-decoration: none;
    font-size: 14px;
    display: inline-flex;
    flex-flow: row nowrap;
    max-width: 100%;
    padding: 20px 10px;
  }

  .stylelink.active {
    color: #4a4d72;
    font-weight: bold;
    text-decoration: none;
    font-size: 14px;
    display: inline-flex;
    flex-flow: row nowrap;
    max-width: 100%;
    padding: 20px 0px;
    border-bottom: 4px solid #ec0b6d;
  }

  .sub_menu {
    display: inline-flex;
    flex-flow: row nowrap;
    max-width: 100%;
    padding: 10px 10px;
    border-bottom: 2px solid transparent;
    color: #333;
  }

  .sub_menu.active {
    display: inline-flex;
    flex-flow: row nowrap;
    max-width: 100%;
    padding: 10px 10px;
    color: #000;
    font-weight: bold;
    /*		border-bottom: 2px solid #01adfb;*/
  }

  #wrapper {
    display: table;
    table-layout: fixed;
    width: 100%;
    height: auto;
    border-bottom: 4px solid #f4f4f4;
    background-color: #fff;
    margin-top: 12px;
  }

  #wrapper div {
    display: table-cell;
    height: auto;
  }

  .sell {
    position: relative;
    min-width: 45px;
  }

  .sell:after {
    content: url(images/piclinks/down-arrow.png);
    font: 17px "Consolas", monospace;
    color: #333;
    top: 5px;
    margin-left: -22px;
    padding: 0 0 2px;
    position: absolute;
    pointer-events: none;
  }

  .sell select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    display: block;
    width: 100%;
    /*        max-width: 320px;*/
    height: 32px;
    float: left;
    padding: 0px 7px;
    font-size: 14px;
    line-height: 1.75;
    color: #878993;
    border-radius: 4px;
    background-color: #ffffff;
    background-image: none;
    border: 1px solid #d5d7df;
    -ms-word-break: normal;
    word-break: normal;
  }

  .top {
    padding-top: 1.8em;
  }

  table,
  th,
  td {
    fill: #262d57;
    font-size: 14px;
  }

  th {
    background-color: #d5d7df;
    font-weight: normal;
  }

  tr {
    background-color: White;
    color: #262d57;
    font-size: 10px;
  }

  /*.main_text {
                width: 100%;
                height: auto;
                position: relative;
                text-align: center;
                color: #333;
                padding: 10px 0;
                display: block;
            }
            .main_text.active {
                color: #000;
                font-weight: 600;
            }
            
            .main_text.active:after {
                content: '';
                position: absolute;
                left: 0;
                right: 0;
                top: 100%;
                margin: 0px auto;
                width: 90px;
                height: 2px;
                background: #01adfb;
            }*/

  @media screen and (max-width: 480px) {
    .stylelink {
      font-size: 12px;
      padding: 10px 20px;
    }

    .stylelink.active {
      font-size: 12px;
      /*            padding: 10px 20px;*/
      padding: 10px 0px;
    }

    .sub_menu {
      font-size: 10px;
    }

    .sub_menu.active {
      font-size: 10px;
    }

    .ml {
      padding-left: 0px;
    }

    .ml1 {
      margin-left: -5%;
      margin-bottom: 25px;
    }
  }

  @media screen and (max-width:350px) {
    .ml {
      padding-left: 0px;
    }

    .ml1 {
      margin-left: -7%;
      margin-bottom: 25px;
    }
  }

  @media screen and (max-width:376px) and (min-width:355px) {
    .ml {
      padding-left: 0px;
    }

    .ml1 {
      margin-left: -7%;
      margin-bottom: 25px;
    }
  }

  @media screen and (max-width:1024px) and (min-width:1000px) {
    .ml1 {
      margin-left: -2%;
    }
  }

  .inactive {
    color: #dddddd;
    pointer-events: none;
    cursor: default;
  }
</style>
<div style="width:100%;height:auto;background:#ffffff;">
  <div id="wrapper">
    <div style="text-align:center;">
      <a class="stylelink " href="/customers-list"><span
          style="flex:1;white-space:pre;overflow: hidden;text-overflow: ellipsis;">CLIENT</span></a>
    </div>
   
    <div style="text-align:center;">
      <a class="stylelink" href="/category-list"><span
          style="flex:1;white-space:pre;overflow: hidden;text-overflow: ellipsis;">CATEGORY</span></a>
    </div>

    <div style="text-align:center;">
      <a class="stylelink" href="/subcategory-list"><span
          style="flex:1;white-space:pre;overflow: hidden;text-overflow: ellipsis;">SUB CATEGORY</span></a>
    </div>

    <div style="text-align:center;">
      <a class="stylelink active" href="/timeslot"><span
          style="flex:1;white-space:pre;overflow: hidden;text-overflow: ellipsis;">TIME SLOT</span></a>
    </div>
    <div style="text-align:center;">
      <a class="stylelink " href="/groupcreate"><span
          style="flex:1;white-space:pre;overflow: hidden;text-overflow: ellipsis;">GROUP</span></a>
    </div>

    <div style="text-align:center;">
      <a class="stylelink" href="/servicequestion-type-list"><span
          style="flex:1;white-space:pre;overflow: hidden;text-overflow: ellipsis;">QUESTION TYPE</span></a>
    </div>

    <div style="text-align:center;">
      <a class="stylelink" href="/servicequestion-list"><span
          style="flex:1;white-space:pre;overflow: hidden;text-overflow: ellipsis;">SERVICE QUESTION</span></a>
    </div>
  </div>
</div>

<!-- Horizontal Form -->
<div class="box box-info" style="min-height:450px;border-top:none;">

  <div class="box-body">
    <br>
    <div class="row padding">
      <div class="col-sm-0 col-md-5"></div>
      <div class="col-sm-12 col-md-7">
        <div class="col-sm-0 col-md-2"></div>
        <div data-ng-hide="hideSearchFilter()" class="col-xs-12 col-sm-2 col-md-1"
          style="text-align:left;padding-left:0px;;padding-right:0px;border-color:#e1e8ee">
          <label>Show</label>
          <div class="sell">
            <select ng-model="pageSize" data-placeholder="Show Entries" ng-change="pageFunction(pageSize)">
              <option value="25">25</option>
              <option value="50">50</option>
              <option value="100">100</option>
            </select>
          </div>

        </div>
        <div class="col-xs-12 col-sm-6 col-md-5 top ml" style="padding-right:0px;">

          <form role="form">
            <div class="input-group">
              <span class="input-group-btn">
                <button class="btn btn-default" type="button"
                  style="border-top-left-radius:4px;border-bottom-left-radius: 4px;background:none;border-right:none;"><span
                    class="glyphicon glyphicon-search"></span></button>
              </span>
              <input type="text" class="form-control ng-pristine ng-valid" placeholder="Search"
                style="z-index:0;border-left:none;border-top-right-radius:4px;border-bottom-right-radius: 4px;"
                ng-model="searchTimeslot">
            </div>
          </form>

        </div>
        <div class="col-xs-12 col-sm-3 col-md-2 top ml1">
          <a data-ng-href="/timeslotcreate" class="btn btn-primary btn-sm " role="button"
            style="padding:5px 20px;margin-right:10px;">Add New </a>
        </div>
      </div>
    </div>
    <div class="row padding">
      <div class="col-sm-6" data-ng-hide="showForm()">

      </div>
    </div>
    <br>

    <div data-ng-hide="showForm()">
      <div>
        <div class="table-responsive">
          <table class="table table-hover">
            <thead>
              <tr>
                <th>S NO.</th>
                <th>CLIENT</th>
                <th>CATEGORY</th>
                <th>SUB CATEGORY</th>
                <th>Time Slot</th>
                <th style="width:100px;">ACTION</th>
              </tr>
            </thead>
            <tbody>
              <tr dir-paginate="customertimeslot in customertimeslots | filter: searchTimeslot |itemsPerPage:pageSize">
                <td>{{customertimeslot.index}}</td>
                <td>{{customertimeslot.customername}}</td>
                <!-- <td data-ng-init="customer = getcustomer(customertimeslot.customerid)">{{customer.name}}</td> -->
                <!-- <td data-ng-init="category = getcategory(customertimeslot.categoryId)">{{category.name}}</td> -->
                <td>{{customertimeslot.categoryname}}</td>
                <!-- <td data-ng-init="subcategory = getsubcategory(customertimeslot.subcategoryId)">{{subcategory.name}}</td> -->
                <td>{{customertimeslot.subcategoryname}}</td>
                <td>{{customertimeslot.timeslotids}}</td>
                <td>
                  <a data-ng-href="/timeslot/{{customertimeslot.id}}" role="button">
                      <img class="iccon" src="images/piclinks/edit.png">
                    </a>
                </td>
              </tr>
            </tbody>
          </table>
          <br />

        </div>

      </div>
    </div>

  </div>
</div>