 <div class="modal-header">
          <h3>You've Timed Out!</h3>
      </div>
      <div class="modal-body">
          <p>
            You were idle too long. You are logged out.
          </p>
      </div>