<style>
    /*
	.stylelink {
		padding: 3px 10px;
		background: transparent;
		color: #333;
		border-radius: 50px;
		text-decoration: none;
		font-size: 14px;
		display: inline-flex;
		flex-flow: row nowrap;
		max-width: 100%;
	}
	
	.stylelink.active {
		padding: 3px 10px;
		background: #b71c1c;
		color: #fff;
		border-radius: 50px;
		text-decoration: none;
		font-size: 14px;
		font-weight: 600;
		display: inline-flex;
		flex-flow: row nowrap;
		max-width: 100%;
	}*/
	
    
        .stylelink {
/*		padding: 3px 10px;*/
		background: transparent;
		color: #9d9eb3;
        font-weight:bold;
/*		border-radius: 50px;*/
		text-decoration: none;
		font-size: 14px;
		display: inline-flex;
		flex-flow: row nowrap;
		max-width: 100%;
        padding:20px 40px;
       
	}
	
	.stylelink.active {
/*		padding: 3px 10px;*/
/*		background: #b71c1c;*/
		color: #4a4d72;
         font-weight:bold;
/*		border-radius: 50px;*/
		text-decoration: none;
		font-size: 14px;
/*		font-weight: 600;*/
		display: inline-flex;
		flex-flow: row nowrap;
		max-width: 100%;
         padding:20px 40px;
        border-bottom:4px solid #e72e5a;
	}
	
	.sub_menu {
		display: inline-flex;
		flex-flow: row nowrap;
		max-width: 100%;
		padding: 10px 10px;
		border-bottom: 2px solid transparent;
		color: #333;
	}
	
	.sub_menu.active {
		display: inline-flex;
		flex-flow: row nowrap;
		max-width: 100%;
		padding: 10px 10px;
		color: #000;
		font-weight: bold;
		border-bottom: 2px solid #01adfb;
	}
	
	#wrapper {
		display: table;
		table-layout: fixed;
		width: 100%;
		height: auto;
         border-bottom: 1px solid #e6e6e6;
/*		background-color: #fff;*/
	}
	
	#wrapper div {
		display: table-cell;
		height: auto;
	}
	/*.main_text {
        width: 100%;
        height: auto;
        position: relative;
        text-align: center;
        color: #333;
        padding: 10px 0;
        display: block;
    }
    .main_text.active {
        color: #000;
        font-weight: 600;
    }
    
    .main_text.active:after {
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        top: 100%;
        margin: 0px auto;
        width: 90px;
        height: 2px;
        background: #01adfb;
    }*/
	 .nav-tabs-custom > .nav-tabs > li {
        width: 19%;
    }
	
	@media screen and (max-width: 480px) {
		.stylelink {
			font-size: 12px;
             padding:5px 10px;
		}
		.stylelink.active {
			font-size: 12px;
             padding:5px 10px;
		}
		.sub_menu {
			font-size: 10px;
		}
		.sub_menu.active {
			font-size: 10px;
		}
         .nav-tabs-custom > .nav-tabs > li {
         position: relative;
    display: block;
    padding:10px;
            text-align: center;
            width:180px;
        }
	}

</style>

<div style="width:100%;height:auto;background:#ffffff;">
	<div id="wrapper">
		<div style="text-align:center;">
			<a class="stylelink" href="/stakeholder"><span style="flex:1;white-space:pre;overflow: hidden;text-overflow: ellipsis;">STAKE HOLDER</span></a>
		</div>
		<div style="text-align:center;">
			<a class="stylelink active" href="/followupgroup"><span style="flex:1;white-space:pre;overflow: hidden;text-overflow: ellipsis;">FOLLOWUP GROUP</span></a>
		</div>
		<!--<div style="text-align:center;padding: 20px 0px;">
			<a class="stylelink" href="/followupbulkupdates"><span style="flex:1;white-space:pre;overflow: hidden;text-overflow: ellipsis;">Bulk Update</span></a>
		</div>-->
		<div style="text-align:center;">
			<a class="stylelink" href="/followupreportincident"><span style="flex:1;white-space:pre;overflow: hidden;text-overflow: ellipsis;">FOLLOWUP REPORT INCIDENT</span></a>
		</div>
		<div style="text-align:center;">
			<a class="stylelink" href="/purposeofmeet"><span style="flex:1;white-space:pre;overflow: hidden;text-overflow: ellipsis;">PURPOSE OF MEET</span></a>
		</div>
	</div>

</div>

<!-- Horizontal Form -->
<div class="box box-info" style="min-height:450px;border-top:none;">
	<div class="box-header with-border">
<!--		<h3 class="box-title">Group Meeting Follow Up</h3>-->
	</div>
	<!-- /.box-header -->
	<!-- form start -->

	<div class="box-body" style="padding:20px;">
        <div class="row">
             <div class="col-sm-5"></div>
            <div data-ng-hide="hideSearchFilter()" class="col-sm-2" style="text-align:right;padding-right:0px;border-color:#e1e8ee">
					<span>Show</span>
					<select ng-model="pageSize" data-placeholder="Show Entries" ng-change="pageFunction(pageSize)">
						<option value="25">25</option>
						<option value="50">50</option>
						<option value="100">100</option>
					</select>
<!--					<span>Entries</span>-->
				</div>
            <div data-ng-hide="hideSearchFilter()" class="col-sm-3" style="padding-right:0px;">
<!--
            <div class="row" style="margin:0;padding:0;">
						<div class="col-sm-5"></div>
						<div class="col-sm-7">
-->
							<form role="form">
								<div class="input-group">
									<input type="text" class="form-control ng-pristine ng-valid" placeholder="Search" style="z-index:0;border-right:none;border-color:#e1e8ee;border-top-left-radius:4px;border-bottom-left-radius: 4px;" data-ng-model="searchfollowupgroup">
								    <span class="input-group-btn">
                     <button class="btn btn-default" type="button" style="border-top-right-radius:4px;border-bottom-right-radius: 4px;border-color:#e1e8ee;background:none;border-left:none;"><span class="glyphicon glyphicon-search"></span></button>
                                    </span>
								</div>
							</form>
<!--
						</div>
					</div>
-->
            </div>
		<div class="col-sm-2">
			<a data-ng-href="/groupmeeting/create" class="btn btn-primary btn-sm " role="button" data-ng-hide="hideCreateButton(); hideSearchFilter()" style="padding:5px 20px;margin-right:10px;">Add New </a>
		</div>
            </div>
		<br/>

		<form class="form-horizontal" role="form" data-ng-show="showForm()">
			<p align="center" style="color:red">All fields in red are mandatory</p>
			<br/>
			<div class="row" style="margin:0;padding:0;">
				<div class="col-sm-6">
					<div class="form-group">
						<label for="name" class="col-sm-4" style="font-weight:600;margin-top:7px;color:red;">Name</label>
						<div class="col-sm-6">
							<input type="text" class="form-control" id="name" data-ng-model="followupgroup.name" placeholder="Name">
						</div>
					</div>
				</div>
				<div class="col-sm-6"></div>
			</div>
			<br/>
			<br/>
			<br/>
			<div class="nav-tabs-custom">
				<ul class="nav nav-tabs" align="center">
					<li class="active" style="cursor:pointer;"><a data-target="#tab_1" data-toggle="tab">Hindi</a></li>
					<li style="cursor:pointer;"><a data-target="#tab_2" data-toggle="tab">Kannada</a></li>
					<li style="cursor:pointer;"><a data-target="#tab_3" data-toggle="tab">Tamil</a></li>
					<li style="cursor:pointer;"><a data-target="#tab_4" data-toggle="tab">Telugu</a></li>
					<li style="cursor:pointer;"><a data-target="#tab_5" data-toggle="tab">Marathi</a></li>
				</ul>
			</div>

			<div class="tab-content">
				<div class="tab-pane active" id="tab_1">
					<div class="row">
						<div class="col-sm-6">
							<div class="form-group">
								<label for="name" class="col-sm-4" style="font-weight:600;margin-top:7px;color:red;">Name</label>
								<div class="col-sm-6">
									<input type="text" class="form-control" id="hnname" data-ng-model="followupgroup.hnname" placeholder="Name">
								</div>
							</div>
						</div>
						<div class="col-sm-6">
						</div>
					</div>
				</div>


				<div class="tab-pane" id="tab_2">
					<div class="row">
						<div class="col-sm-6">
							<div class="form-group">
								<label for="name" class="col-sm-4" style="font-weight:600;margin-top:7px;color:red;">Name</label>
								<div class="col-sm-6">
									<input type="text" class="form-control" id="knname" data-ng-model="followupgroup.knname" placeholder="Name">
								</div>
							</div>
						</div>
						<div class="col-sm-6">
						</div>
					</div>
				</div>


				<div class="tab-pane" id="tab_3">
					<div class="row">
						<div class="col-sm-6">
							<div class="form-group">
								<label for="name" class="col-sm-4" style="font-weight:600;margin-top:7px;color:red;">Name</label>
								<div class="col-sm-6">
									<input type="text" class="form-control" id="taname" data-ng-model="followupgroup.taname" placeholder="Name">
								</div>
							</div>
						</div>
						<div class="col-sm-6">
						</div>
					</div>
				</div>

				<div class="tab-pane" id="tab_4">
					<div class="row">
						<div class="col-sm-6">
							<div class="form-group">
								<label for="name" class="col-sm-4" style="font-weight:600;margin-top:7px;color:red;">Name</label>
								<div class="col-sm-6">
									<input type="text" class="form-control" id="tename" data-ng-model="followupgroup.tename" placeholder="Name">
								</div>
							</div>
						</div>
						<div class="col-sm-6">
						</div>
					</div>
				</div>
				<div class="tab-pane" id="tab_5">
					<div class="row">
						<div class="col-sm-6">
							<div class="form-group">
								<label for="name" class="col-sm-4" style="font-weight:600;margin-top:7px;color:red;">Name</label>
								<div class="col-sm-6">
									<input type="text" class="form-control" id="mrname" data-ng-model="followupgroup.mrname" placeholder="Name">
								</div>
							</div>
						</div>
						<div class="col-sm-6">
						</div>
					</div>
				</div>
			</div>
<br>
			<div align="left">
				<div>
					<a class="btn btn-primary btn-sm " type="submit" role="button" data-ng-click="Savefollowupgroup()" data-ng-show="isCreateView()" ng-disabled="submitDisable" style="padding:5px 20px;margin-right:10px;">Create </a>

					<a class="btn btn-success btn-sm " type="submit" role="button" data-ng-click="Updatefollowupgroup()" data-ng-hide="isCreateView()" ng-disabled="submitDisable" style="padding:5px 20px;margin-right:10px;">Update </a>


					<a data-ng-href="/groupmeeting" class="btn btn-danger btn-sm " role="button" style="padding:5px 20px;">Cancel</a>
				</div>
			</div>
		</form>

		<div data-ng-hide="hideSearchFilter()">

<!--
	<div class="row" style="margin:0;padding:0;">
				<div class="col-sm-6" style="padding-top:5px;">
					<span>Show</span>
					<select ng-model="pageSize" data-placeholder="Show Entries" ng-change="pageFunction(pageSize)">
						<option value="25">25</option>
						<option value="50">50</option>
						<option value="100">100</option>
					</select>
					<span>Entries</span>
				</div>
				<div class="col-sm-6">
					<div class="row" style="margin:0;padding:0;">
						<div class="col-sm-5"></div>
						<div class="col-sm-7">
							<form role="form">
								<div class="input-group">
									<input type="text" class="form-control ng-pristine ng-valid" placeholder="Search" style="z-index:0;border-right:none;border-color:#e1e8ee;border-top-left-radius:4px;border-bottom-left-radius: 4px;" data-ng-model="searchfollowupgroup">
								    <span class="input-group-btn">
                     <button class="btn btn-default" type="button" style="border-top-right-radius:4px;border-bottom-right-radius: 4px;border-color:#e1e8ee;background:none;border-left:none;"><span class="glyphicon glyphicon-search"></span></button>
                                    </span>
								</div>
							</form>

						</div>
					</div>
				</div>

			</div>
-->
		</div>
		<br />



		<div data-ng-hide="showForm()" class="table-responsive">
			<table class="table ">

				<thead>
					<tr>
						<th  style="width:50px;">#</th>
						<th>ENGLISH</th>
						<th>HINDI</th>
						<th>TELUGU</th>
						<th>TAMIL</th>
						<th>KANNADA</th>
						<th>MARATHI</th>
						<th style="width:100px;">ACTION</th>
					</tr>
				</thead>
				<tbody>
					<tr dir-paginate="followupgroup in followupgroups | filter: searchfollowupgroup |itemsPerPage:pageSize" current-page="currentpage">
						<td>{{ followupgroup.index }}</td>
						<td>{{followupgroup.name}}</td>
						<td>{{followupgroup.hnname}}</td>
						<td>{{followupgroup.tename}}</td>
						<td>{{followupgroup.taname}}</td>
						<td>{{followupgroup.knname}}</td>
						<td>{{followupgroup.mrname}}</td>

						<td><a data-ng-href="/groupmeeting/{{followupgroup.id}}"><span class="glyphicon glyphicon-pencil" title="Edit" ></span></a>&nbsp;&nbsp;
                            <a style="color:#b7b8c8;">|</a>&nbsp;&nbsp;
							<a confirm-button="Delete(followupgroup.id)" message="Are you sure? you want to delete?"><span class="glyphicon glyphicon-remove" style="cursor:pointer;" title="Bin"></span></a>&nbsp;</td>
					</tr>
				</tbody>
			</table>
<br/>
			<div align="right">
				<dir-pagination-controls max-size="25" direction-links="true" boundary-links="true" on-page-change="PageChanged(newPageNumber, oldPageNumber)">

				</dir-pagination-controls>

			</div>
		</div>

	</div>
	<!-- /.box-body -->
	<div class="box-footer">

	</div>
	<!-- /.box-footer -->
</div>
<!-- /.box -->


<modal2 title1="{{modalTitle}}" visible="stakeholderdataModal">
	<p>{{message}}</p>
</modal2>

<validationmodal title1="Alert!!!" visible="showValidation">
	{{validatestring1}}
</validationmodal>




