<style>
    .stylelink {
        background: transparent;
        color: #9d9eb3;
        font-weight: bold;
        text-decoration: none;
        font-size: 14px;
        display: inline-flex;
        flex-flow: row nowrap;
        max-width: 100%;
        padding: 20px 10px;
    }

    .stylelink.active {
        color: #4a4d72;
        font-weight: bold;
        text-decoration: none;
        font-size: 14px;
        display: inline-flex;
        flex-flow: row nowrap;
        max-width: 100%;
        padding: 20px 0px;
        border-bottom: 4px solid #ec0b6d;
        margin-left: 56px;
    }

    .sub_menu {
        display: inline-flex;
        flex-flow: row nowrap;
        max-width: 100%;
        padding: 10px 10px;
        border-bottom: 2px solid transparent;
        color: #333;
    }

    .sub_menu.active {
        display: inline-flex;
        flex-flow: row nowrap;
        max-width: 100%;
        padding: 10px 10px;
        color: #000;
        font-weight: bold;
        /*		border-bottom: 2px solid #01adfb;*/
    }

    #wrapper {
        display: table;
        table-layout: fixed;
        width: 100%;
        height: auto;
        border-bottom: 4px solid #f4f4f4;
        background-color: #fff;
        margin-top: 12px;
    }

    #wrapper div {
        display: table-cell;
        height: auto;
    }

    .sell {
        position: relative;
        min-width: 45px;
    }

    .sell:after {
        content: url(images/piclinks/down-arrow.png);
        font: 17px "Consolas", monospace;
        color: #333;
        top: 5px;
        margin-left: -22px;
        padding: 0 0 2px;
        position: absolute;
        pointer-events: none;
    }

    .sell select {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        display: block;
        width: 100%;
        /*        max-width: 320px;*/
        height: 32px;
        float: left;
        padding: 0px 7px;
        font-size: 14px;
        line-height: 1.75;
        color: #878993;
        border-radius: 4px;
        background-color: #ffffff;
        background-image: none;
        border: 1px solid #d5d7df;
        -ms-word-break: normal;
        word-break: normal;
    }

    .top {
        padding-top: 1.8em;
    }

    table,
    th,
    td {
        fill: #262d57;
        font-size: 14px;
    }

    th {
        background-color: #d5d7df;
        font-weight: normal;
    }

    tr {
        background-color: White;
        color: #262d57;
        font-size: 10px;
    }

    @media screen and (max-width: 480px) {
        .stylelink {
            font-size: 12px;
            padding: 10px 20px;
        }

        .stylelink.active {
            font-size: 12px;
            /*            padding: 10px 20px;*/
            padding: 10px 0px;
        }

        .sub_menu {
            font-size: 10px;
        }

        .sub_menu.active {
            font-size: 10px;
        }

        .ml {
            padding-left: 0px;
        }

        .ml1 {
            margin-left: -5%;
            margin-bottom: 25px;
        }
    }

    @media screen and (max-width:350px) {
        .ml {
            padding-left: 0px;
        }

        .ml1 {
            margin-left: -7%;
            margin-bottom: 25px;
        }
    }

    @media screen and (max-width:376px) and (min-width:355px) {
        .ml {
            padding-left: 0px;
        }

        .ml1 {
            margin-left: -7%;
            margin-bottom: 25px;
        }
    }

    @media screen and (max-width:1024px) and (min-width:1000px) {
        .ml1 {
            margin-left: -2%;
        }
    }

    .inactive {
        color: #dddddd;
        pointer-events: none;
        cursor: default;
    }

</style>
<!-- <div style="width:100%;height:auto;background:#ffffff;">
      <div id="wrapper">
        <div style="text-align:left;">
          <a class="stylelink active" href="/formlevel"><span
              style="flex:1;white-space:pre;overflow: hidden;text-overflow: ellipsis;">Details</span></a>
        </div>
  
      </div>
    </div> -->
<div style="width:100%;height:auto;background:#ffffff;">
    <div id="wrapper">
        <div ng-if="hideMenu" style="text-align:left;">
            <a class="stylelink" href="/multilanguagelist"><span style="flex:1;white-space:pre;overflow: hidden;text-overflow: ellipsis;">MULTILANGUAGE LIST</span></a>
        </div>
        <div style="text-align:left;">
            <a class="stylelink active" href="/formleveldetailslist"><span style="flex:1;white-space:pre;overflow: hidden;text-overflow: ellipsis;">TICKET LIST</span></a>
        </div>
        <div ng-if="hideMenu" style="text-align:left;">
            <a class="stylelink" href="/formlevelactivitieslist"><span style="flex:1;white-space:pre;overflow: hidden;text-overflow: ellipsis;">ACTIVITIES LIST</span></a>
        </div>
        <div ng-if="hideMenu" style="text-align:left;">
            <a class="stylelink" href="/formlevellineitemlist"><span style="flex:1;white-space:pre;overflow: hidden;text-overflow: ellipsis;">LINE ITEM LIST</span></a>
        </div>
        <div ng-if="hideMenu" style="text-align:left;">
            <a class="stylelink" href="/formlevelschedulehistorylist"><span style="flex:1;white-space:pre;overflow: hidden;text-overflow: ellipsis;">SCHEDULE HISTORY LIST</span></a>
        </div>

    </div>
</div>

<div style="width:100%;height:auto;background:#ffffff;">
    <div id="wrapper">
        <div class="col-sm-6" style="text-align:center;">
            <a class="stylelink active" href="/formlevelsummary/create"><span style="flex:1;white-space:pre;overflow: hidden;text-overflow: ellipsis;">SUMMARY</span></a>
        </div>
        <div class="col-sm-6" style="text-align:center;">
            <a class="stylelink" href="/formlevel/create"><span style="flex:1;white-space:pre;overflow: hidden;text-overflow: ellipsis;">DETAILS</span></a>
        </div>


    </div>
</div>

<!-- Horizontal Form -->
<div class="box box-info" style="min-height:450px;border-top:none;">

    <div class="box-body">
        <br />

        <form role="form">
            <p align="center">All fields in <sup>*</sup> are mandatory</p>
            <br />

            <br />
            <div class="row">
                <div class="col-sm-6">
                    <div class="col-sm-4">
                        <label for="name">SER</label>
                    </div>
                    <div class="col-sm-8">
                        <input type="text" style="width:100%;" class="form-control" id="ser" data-ng-model="langrcdetail.serno" placeholder="{{ rcdetailLang.serno }}">
                    </div>
                </div>

                <div class="col-sm-6"></div>
            </div>

            <div class="row">
                <div class="col-sm-6">
                    <div class="col-sm-4">
                        <label for="name">RC Status</label>
                    </div>
                    <div class="col-sm-8">
                        <div style="min-width:100%"> {{healthsurveyquestion.question}} - {{healthsurveyquestion.rcCode}} </div>
                        <!-- <input type="text" style="width:100%;" class="form-control" id="ser" data-ng-model="healthsurveyquestion.question" placeholder="{{ rcdetailLang.rcstatus }}"> -->
                    </div>
                </div>
            </div>
            <br/>
<!--
            <div class="row" style="margin:0px;">
                <div class="col-sm-6">
                    <label for="name">Next Status</label>
                </div>
                <div class="col-sm-6" ng-if="healthsurveyquestion.questiontype == 1">
                    <input type="text" class="form-control" id="answer" ng-model="onetoone.answer">
                </div>
                <div class="col-sm-6" ng-if="healthsurveyquestion.questiontype == 11">
                    <select ui-select2 id="rcstatus" ng-model="onetoone.answer" data-placeholder="{{ rcdetailLang.rcstatus }}" style="width:100%">
                        <option value=""></option>
                      
                        <option data-ng-repeat="role in healthsurveyquestion.answeroptionsarray" value="{{role}}">{{ role }}
                        </option>
                    </select>
                </div>
            </div>
-->
            <div class="row" >
                <div class="col-sm-6">
                    <div class="col-sm-4">
                    <label for="name">Next Status</label>
                </div>

                <div class="col-sm-8" ng-if="healthsurveyquestion.questiontype == 1">
                    <input type="text" class="form-control" id="answer" ng-model="onetoone.answer">
                </div>

                <div class="col-sm-8" ng-if="healthsurveyquestion.questiontype == 11">
                    <select ui-select2 data-placeholder="{{ rcdetailLang.rcstatus }}" style="min-width:100%" ng-model="onetoone.answer">
                        <option value=""></option>
                      
                        <option data-ng-repeat="role in healthsurveyquestion.answeroptionsarray" value="{{role}}">{{ role }}
                        </option>
                    </select>
                </div>
                </div>
                
            </div>

            <div class="row" style="margin-top:4px;">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="formid" class="col-sm-4" style="font-weight:600;margin-top: 8px;">ETA Time</label>
                        <div class="col-sm-7">
                            <p class="input-group" style="width: 100%">

                                <!-- <input type="text" id="{{'datepickerstartdate' + $index}}" class="form-control" datepicker-popup="{{format}}" ng-model="startdate" is-open="picker.startdateopened" min="minDate" max="'2015-06-22'" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" close-text="Close" max-date="dtmax"> <span class="input-group-btn"><button type="button" class="btn btn-default nobodr" ng-click="openstartdate($event, $index)"><img src="images/piclinks/calender-copy-3.png" class="calddate"></button> -->
                                <!--
                            <input type="text" id="{{'datepickerstartdate' + $index}}" class="form-control" datepicker-popup="{{format}}" data-ng-model="$parent.etadate" is-open="picker.startdateopened" min-date="minDate" max="'2015-06-22'" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" close-text="Close" > <span class="input-group-btn"><button type="button" class="btn btn-default nobodr" ng-click="openstartdate($event, $index)"><img src="images/piclinks/calender-copy-3.png" class="calddate"></button>
                        </span> </p>
-->
                                <input type="datetime-local" class="form-control" style="border-radius:4px;" ng-model="langrcdetail.etadate">
                        </div>
                        <div class="col-sm-1">
                            <img src="images/piclinks/Calendar-new.png" style="width:35px;margin-left:-20px;">
                        </div>
                        <!--
                    <div class="col-sm-6"></div>
                    <div class="col-sm-6">
                  <div class="input-group">
                    <timepicker data-ng-model="$parent.etadate" hour-step="hstep"
                        minute-step="mstep" show-meridian="ismeridian"
                        style="height: 25px; width:98px"></timepicker>
                </div>
              </div>
-->
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="col-sm-4">
                        <label for="name">SLA</label>
                    </div>
                    <div class="col-sm-8">
                        <input type="text" style="width:100%;" class="form-control" id="sla" data-ng-model="langrcdetail.sla" placeholder="{{ rcdetailLang.sla }}">
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-6">
                    <div class="col-sm-4">
                        <label for="name">Summary</label>
                    </div>
                    <div class="col-sm-8">
                        <input type="text" style="width:100%;" class="form-control" id="summary" data-ng-model="langrcdetail.summary" placeholder="{{ rcdetailLang.summary }}">
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="col-sm-4">
                        <label for="name">Serial No / Service Tag</label>
                    </div>
                    <div class="col-sm-8">
                        <input type="text" style="width:100%;" class="form-control" id="slno" data-ng-model="langrcdetail.serialnoservicetag" placeholder="{{ rcdetailLang.serialnoservicetag }}">
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-6">
                    <div class="col-sm-4">
                        <label for="name">Remarks</label>
                    </div>
                    <div class="col-sm-8">
                        <textarea style="width:100%;height:50px!important;" class="form-control" id="remarks" data-ng-model="onetoone.remark" placeholder="{{ rcdetailLang.dellremarks }}"></textarea>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="col-sm-4">
                        <label for="name">State</label>
                    </div>
                    <div class="col-sm-8">
                        <input type="text" style="width:100%;" class="form-control" id="state" data-ng-model="langrcdetail.state" placeholder="{{ rcdetailLang.state }}">
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-6">
                    <div class="col-sm-4">
                        <label for="customer-area">Customer Name</label>
                    </div>
                    <div class="col-sm-8">
                        <input type="text" style="width:100%;" class="form-control" id="ser" data-ng-model="langrcdetail.customername" placeholder="Pick a Customer">
                    </div>
                </div>
                <div class="col-sm-6" style="margin-bottom:18px">
                    <div class="col-sm-4">
                        <label for="name">LOB</label>
                    </div>
                    <div class="col-sm-8">
                        <input type="text" style="width:100%;" class="form-control" id="lob" data-ng-model="langrcdetail.lob" placeholder="{{ rcdetailLang.lob }}">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="col-sm-4">
                        <label for="name">Contact Person Name</label>
                    </div>
                    <div class="col-sm-8">
                        <input type="text" style="width:100%;" class="form-control" id="contactname" data-ng-model="langrcdetail.contactpersonname" placeholder="{{ rcdetailLang.contactpersonname }}">
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="col-sm-4">
                        <label for="name">Model Description</label>
                    </div>
                    <div class="col-sm-8">
                        <input type="text" style="width:100%;" class="form-control" id="modeldescription" data-ng-model="langrcdetail.modeldescription" placeholder="{{ rcdetailLang.modeldescription }}">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="col-sm-4">
                        <label for="name">Customer Address</label>
                    </div>
                    <div class="col-sm-8">
                        <textarea rows="2" style="height:50px!important;" class="form-control" id="customer_address" data-ng-model="langrcdetail.customeraddress" placeholder="{{ rcdetailLang.customeraddress }}"></textarea>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="col-sm-4">
                        <label for="name">Case Description</label>
                    </div>
                    <div class="col-sm-8">
                        <textarea rows="2" style="width:100%;height:50px" class="form-control" id="casedescription" data-ng-model="langrcdetail.casedescription" placeholder="{{ rcdetailLang.casedescription }}"></textarea>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-6">
                    <div class="col-sm-4">
                        <label for="name">Contact No</label>
                    </div>
                    <div class="col-sm-8">
                        <input type="text" style="width:100%;" class="form-control" id="contactno" data-ng-model="langrcdetail.contactno" placeholder="{{ rcdetailLang.contactno }}">
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="col-sm-4">
                        <label for="name">Call Date</label>
                    </div>
                    <div class="col-sm-8">
                        <input type="text" style="width:100%;" class="form-control" id="call" data-ng-model="langrcdetail.call" placeholder="{{ rcdetailLang.call }}">
                    </div>
                </div>
                <div class="col-sm-6"></div>
                <div class="col-sm-6">
                    <div class="col-sm-4">
                        <label for="name">Planned</label>
                    </div>
                    <div class="col-sm-8">
                        <input type="checkbox">
                    </div>
                </div>
            </div>

            <div class="row" style="margin-top:2%;float:right;">
                <!-- <button type="button" class="btn btn-default"> Save</button> -->
                <!-- <button type="button" class="btn btn-info btn-sm " data-ng-click="Submit()" data-ng-hide="isCreateView()"
            style="padding:5px 20px;margin-right:10px;">Save</button> -->
                <a class="btn btn-info btn-sm " type="submit" role="button" data-ng-click="Submit()" ng-disabled="submitDisable" style="padding:5px 20px;margin-right:1em;">Save </a>
                <a class="btn btn-danger btn-sm " data-ng-click="cancelClick()" role="button" style="padding:5px 20px;margin-right:3em;">Cancel</a>
            </div>
        </form>
    </div>
    <br>
    <br>
</div>
<br>



<modal2 title1="Congrats!!!" visible="stakeholderdataModal">

    <strong>{{message}}</strong>

</modal2>


<validationmodal title1="Alert!!!" visible="showValidation">
    {{validatestring1}}
</validationmodal>
</div>
</div>
