<style>
   .stylelink {
    /*		padding: 3px 10px;*/
    background: transparent;
    color: #9d9eb3;
    font-weight: bold;
    /*		border-radius: 50px;*/
    text-decoration: none;
    font-size: 14px;
    display: inline-flex;
    flex-flow: row nowrap;
    max-width: 100%;
    padding: 20px 10px;
}
.stylelink.active {
    /*		padding: 3px 10px;*/
    /*		background: #b71c1c;*/
    color: #4a4d72;
    font-weight: bold;
    /*		border-radius: 50px;*/
    text-decoration: none;
    font-size: 14px;
    /*		font-weight: 600;*/
    display: inline-flex;
    flex-flow: row nowrap;
    max-width: 100%;
    padding: 20px 10px;
    border-bottom: 4px solid #e72e5a;
}
#wrapper {
    display: table;
    table-layout: fixed;
    width: 100%;
    height: auto;
    border-bottom: 1px solid #e6e6e6;
}
    
    .tht:hover {
        color: blue;
    }
    
    a {
        color: #333;
    }
    
    .table-striped {
        /*        background-color: #ed7878;*/
    }

</style>
<!-- Horizontal Form -->
<div class="box box-info" style="min-height:450px;border-top:none;">
    <div id="wrapper">
    <div class=" stylelink active box-header with-border" style="padding:20px 10px;">
        <h3 class="box-title" style="font-weight:600;">SPM BUDGET</h3>
    </div>
        </div>
    <!-- /.box-header -->
    <!-- form start -->
    <div class="box-body">
        <div align="left"> </div>
        <br/>
        <div data-ng-hide="showForm()" class="table-responsive row">
            <div class="col-sm-1"></div>
            <div class="col-sm-10">
                <table class="table" style="height:420px;">
                    <tbody>
                        <tr>
                            <th colspan="5" style="text-align:center;">SPM BUDGET ENTRY FORM</th>
                        </tr>
                        <tr>
                            <th> SELECT YEAR </th>
                            <th>
                                <select ui-select2 id="year" data-ng-model="spmbudget.year" data-placeholder="Select Budget Year" style="width:94%;" ng-change="YearFunction(spmbudget.year)">
                                    <option value=""></option>
                                    <option data-ng-repeat="budget in spmbudgetyears" value="{{budget.id}}">{{budget.name}}</option>

                                </select>
                                <span ng-click="Add_Year()" class="pull-right glyphicon glyphicon-plus" style="cursor:pointer;padding-top:4px;"></span>
                            </th>

                        </tr>

                        <tr>
                            <th> SELECT CO </th>
                            <th>
                                <select ui-select2 id="year" data-ng-model="spmbudget.facility" data-placeholder="Select CO" style="width:94%;" ng-change=COmember(spmbudget.facility) ng-disabled="isCreateView">
                                    <option value=""></option>
                                    <option ng-repeat="comem in comembers" value="{{comem.id}}">{{comem.firstName}}</option>
                                </select>
                            </th>
                        </tr>
                        <tr>
                            <th>BUDGET HEAD</th>
                            <th>AMOUNT</th>
                            <th ng-hide="CO_Budget_Dispaly">ACTUAL</th>
                        </tr>
                        <tr>
                            <td>
                                <div class="row " style="margin:0px;line-height:2.8;">
                                    <label for="state" style="font-weight:600;color:red;">Human Resources</label>
                                </div>
                                <br/>
                                <div class="row " style="margin:0px;line-height:2.5;">
                                    <label for="state" style="font-weight:600;color:red;">Travel and Communication</label>
                                </div>
                                <br/>
                                <div class="row" style="margin:0px;line-height:2.6">
                                    <label for="state" style="font-weight:600;color:red;">Generic Activities</label>
                                </div>
                                <div class="row" style="margin:0px;line-height:4">
                                    <label for="state" style="font-weight:600;color:red;">Specific Activities</label>
                                </div>
                                <div class="row" style="margin:0px;line-height:3.4">
                                    <label for="state" style="font-weight:600;color:red;">MSM/TG - Activities</label>
                                </div>
                                <div class="row" style="margin:0px;line-height:3.6">
                                    <label for="state" style="font-weight:600;color:red;">Administrative Expenses</label>
                                </div>
                                <div class="row" style="margin:0px;line-height:3.6">
                                    <label for="state" style="font-weight:600;color:red;">Monitoring, Evaluation and Learning (MEAL)</label>
                                </div>
                                <br />
                                <div class="row" style="margin:0px;line-height:3.6">
                                    <label for="state" style="font-weight:1000;font-size:15px;color:red;">Total</label>
                                </div>
                            </td>
<!--                            <td ng-show="CO_Budget_Dispaly">-->
                                                        <td >

                                <input type="text" class="form-control" id="humanresources" data-ng-model="spmbudget.humanresources" placeholder="Human Resources" numbers-only="true">
                                <br/>
                                <input type="text" class="form-control" id="travelandcommunication" data-ng-model="spmbudget.travelandcommunication" placeholder="Travel and Communication" numbers-only="true">
                                <br/>
                                <input type="text" class="form-control" id="genericactivity" data-ng-model="spmbudget.genericactivity" placeholder="Generic Activities" numbers-only="true">
                                <br/>
                                <input type="text" class="form-control" id="specificactivity" data-ng-model="spmbudget.specificactivity" placeholder="Specific Activities" numbers-only="true">
                                <br/>
                                <input type="text" class="form-control" id="msgtgactivity" data-ng-model="spmbudget.msgtgactivity" placeholder="MSM/TG - Activities" numbers-only="true">
                                <br/>
                                <input type="text" class="form-control" id="administrativeexpense" data-ng-model="spmbudget.administrativeexpense" placeholder="Administrative Expenses" numbers-only="true">
                                <br/>
                                <input type="text" class="form-control" id="monitoringevaluation" data-ng-model="spmbudget.monitoringevaluation" placeholder="Monitoring, Evaluation and Learning (MEAL)" numbers-only="true">
                                <br/>
                                <input type="text" class="form-control" id="totalamount" data-ng-model="spmbudget.totalamount" placeholder="Total" numbers-only="true" readonly>
                            </td>


<!--
                            <td ng-hide="CO_Budget_Dispaly">
                                <input type="text" class="form-control" id="humanresources" data-ng-model="spmbudget.humanresources" placeholder="Human Resources" numbers-only="true">
                                <br/>
                                <input type="text" class="form-control" id="travelandcommunication" data-ng-model="spmbudget.travelandcommunication" placeholder="Travel and Communication" numbers-only="true">
                                <br/>
                                <input type="text" class="form-control" id="genericactivity" data-ng-model="spmbudget.genericactivity" placeholder="Generic Activities" numbers-only="true">
                                <br/>
                                <input type="text" class="form-control" id="specificactivity" data-ng-model="spmbudget.specificactivity" placeholder="Specific Activities" numbers-only="true">
                                <br/>
                                <input type="text" class="form-control" id="msgtgactivity" data-ng-model="spmbudget.msgtgactivity" placeholder="MSM/TG - Activities" numbers-only="true">
                                <br/>
                                <input type="text" class="form-control" id="administrativeexpense" data-ng-model="spmbudget.administrativeexpense" placeholder="Administrative Expenses" numbers-only="true">
                                <br/>
                                <input type="text" class="form-control" id="monitoringevaluation" data-ng-model="spmbudget.monitoringevaluation" placeholder="Monitoring, Evaluation and Learning (MEAL)" numbers-only="true">
                                <br/>
                                <input type="text" class="form-control" id="totalamount" data-ng-model="spmbudget.totalamount" placeholder="Total" numbers-only="true" readonly>
                            </td>
-->
                            <td ng-hide="CO_Budget_Dispaly">
                                <input class="form-control" style="background-color:#eee" ng-model="CO_Budget_HumanResources"><br>
                                <input class="form-control" style="background-color:#eee" ng-model="CO_Budget_TravelandCommunication"><br>
                                <input class="form-control" style="background-color:#eee" ng-model="CO_Budget_GenericActivity"><br>
                                <input class="form-control" style="background-color:#eee" ng-model="CO_Budget_SpecificActivity"><br>
                                <input class="form-control" style="background-color:#eee" ng-model="CO_Budget_MsgtActivity"><br>
                                <input class="form-control" style="background-color:#eee" ng-model="CO_Budget_AdministrativeExpence"><br>
                                <input class="form-control" style="background-color:#eee" ng-model="CO_Budget_MoniteringEvaluation"><br>
                                <input class="form-control" style="background-color:#eee" ng-model="CO_Budget_Total">
                            </td>

                            <!--<td ng-hide="CO_Budget_Dispaly">
                                <div class="row">
                                <div class="col-sm-6">
                                     <input type="text" class="form-control" id="humanresources" data-ng-model="spmbudget.humanresources" placeholder="Human Resources" numbers-only="true">
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-control" style="background-color:#eee">{{CO_Budget_HumanResources}}</div></div>
                                    </div>

                                <br />
                                <div class="row">
                                 <div class="col-sm-6">
                                      <input type="text" class="form-control" id="travelandcommunication" data-ng-model="spmbudget.travelandcommunication" placeholder="Travel and Communication" numbers-only="true">
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-control" style="background-color:#eee">{{CO_Budget_TravelandCommunication}}</div>
                                    </div>
                                </div>

                                <br />
                                 <div class="row">
                                 <div class="col-sm-6">
                                      <input type="text" class="form-control" id="genericactivity" data-ng-model="spmbudget.genericactivity" placeholder="Generic Activities" numbers-only="true">
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-control" style="background-color:#eee">{{CO_Budget_GenericActivity}}</div>
                                    </div>
                                </div>

                                <br />
                                 <div class="row">
                                 <div class="col-sm-6">
                                       <input type="text" class="form-control" id="specificactivity" data-ng-model="spmbudget.specificactivity" placeholder="Specific Activities" numbers-only="true">
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-control" style="background-color:#eee">{{CO_Budget_SpecificActivity}}</div>
                                    </div>
                                </div>

                                <br />
                                <div class="row">
                                 <div class="col-sm-6">
                                        <input type="text" class="form-control" id="msgtgactivity" data-ng-model="spmbudget.msgtgactivity" placeholder="MSM/TG - Activities" numbers-only="true">
                                
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-control"style="background-color:#eee" style="background-color:#eee">{{CO_Budget_MsgtActivity}}</div>
                                    </div>
                                </div>
                                <br />
                                  <div class="row">
                                 <div class="col-sm-6">
                                       <input type="text" class="form-control" id="administrativeexpense" data-ng-model="spmbudget.administrativeexpense" placeholder="Administrative Expenses" numbers-only="true">
                                
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-control" style="background-color:#eee">{{CO_Budget_AdministrativeExpence}}</div>
                                    </div>
                                </div>

                                <br />
                                 <div class="row">
                                 <div class="col-sm-6">
                                     <input type="text" class="form-control" id="monitoringevaluation" data-ng-model="spmbudget.monitoringevaluation" placeholder="Monitoring, Evaluation and Learning (MEAL)" numbers-only="true">
                                
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-control" style="background-color:#eee">{{CO_Budget_MoniteringEvaluation}}</div>
                                    </div>
                                </div>

                                <br />
                                <div class="row">
                                 <div class="col-sm-6">
                                     <input type="text" class="form-control" id="totalamount" data-ng-model="spmbudget.totalamount" placeholder="Total" numbers-only="true" readonly>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-control" style="background-color:#eee">{{CO_Budget_Total}}</div>
                                    </div>
                                </div>

                                <br />
                            </td>-->
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-sm-2"></div>
        </div>
    </div>
    <!-- /.box-body -->
    <div class="box-footer">
        <a class="btn btn-success btn-sm " type="submit" role="button" data-ng-click="Save()" ng-disabled="saveDisable" data-ng-hide="isCreateView">Save </a>&nbsp;&nbsp;
        <a class="btn btn-success btn-sm " type="submit" role="button" data-ng-click="Update()" ng-disabled="saveDisable" data-ng-show="isCreateView">Update </a>&nbsp;&nbsp;
        <a data-ng-href="/spmbudgets" class="btn btn-danger btn-sm " role="button">Cancel</a>
    </div>
    <!-- /.box-footer -->
</div>
<!-- /.box -->

<script type="text/ng-template" id="template/AddYear.html">
    <style>
        p {
            white-space: pre;
        }

    </style>
    <div class="modal-header" style="background:#e85a5a;padding-bottom:22px;color:#ffffff;">
        <h4 class=" modal-title" style="color:#fff;font-weight:bold;">BUDGET YEAR</h4>
    </div>
    <div class="modal-body">
        <form class="form-horizontal" role="form">
            <p align="center" style="color:red">Field is Mandatory</p>
            <br />
            <div class="row" style="margin:0;padding:0;">
                <div class="col-sm-8">
                    <div class="form-group">
                        <label for="name" class="col-sm-4" style="font-weight:600;margin-top:7px;color:red;">Budget Year </label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" id="name" data-ng-model="spmbudgetyear.name" placeholder="Budget Year" disabled>
                        </div>

                    </div>
                </div>
                <div class="col-sm-4"></div>
            </div>
            <br/>
            <br/>
            <br/>

            <div align="left">
                <div>
                    <a class="btn btn-success btn-sm " type="submit" role="button" data-ng-click="Budget()" ng-disabled="budgetDisable" style="padding:5px 20px;margin-right:10px;">Create </a>
                    <a data-ng-click="OkValidation()" class="btn btn-danger btn-sm " role="button" style="padding:5px 20px;">Cancel</a>
                </div>
            </div>
        </form>
    </div>
</script>


<script type="text/ng-template" id="template/validation.html">
    <style>
        p {
            white-space: pre;
        }

    </style>
    <div class="modal-header" style="background:#e85a5a;padding-bottom:22px;color:#ffffff;">
        <h4 class="modal-title" style="color:#fff;font-weight:bold;">Alert<a data-ng-click="OkValidation()" data-dismiss="modal" class="btn btn-info  pull-right" role="button" style="background:#db4242;border-color:#db4242;">OK</a></h4>
    </div>
    <div class="modal-body">
        {{validatestring1}}
    </div>
</script>


<modal2 title1="{{modalTitle}}" visible="stakeholderdataModal">
    <p>{{message}}</p>
</modal2>
