<style>
    .stylelink {
        background: transparent;
        color: #9d9eb3;
        font-weight: bold;
        text-decoration: none;
        font-size: 14px;
        display: inline-flex;
        flex-flow: row nowrap;
        max-width: 100%;
        padding: 20px 10px;
    }
    
    .stylelink.active {
        color: #4a4d72;
        font-weight: bold;
        text-decoration: none;
        font-size: 14px;
        display: inline-flex;
        flex-flow: row nowrap;
        max-width: 100%;
        padding: 20px 0px;
        border-bottom: 4px solid #ec0b6d;
    }

    .sub_menu {
        display: inline-flex;
        flex-flow: row nowrap;
        max-width: 100%;
        padding: 10px 10px;
        border-bottom: 2px solid transparent;
        color: #333;
    }

    .sub_menu.active {
        display: inline-flex;
        flex-flow: row nowrap;
        max-width: 100%;
        padding: 10px 10px;
        color: #000;
        font-weight: bold;
        border-bottom: 2px solid #01adfb;
    }

       #wrapper {
        display: table;
        table-layout: fixed;
        width: 100%;
        height: auto;
        border-bottom: 4px solid #f4f4f4;
        background-color: #fff;
        margin-top:12px;
    }
    
    #wrapper div {
        display: table-cell;
        height: auto;
    }
    
     .sell {
        position: relative;
        min-width: 45px;
    }
    
    .sell:after {
        content: url(images/piclinks/down-arrow.png) ;
        font: 17px "Consolas", monospace;
        color: #333;
        top: 5px;
        margin-left: -22px;
        padding: 0 0 2px;
        position: absolute;
        pointer-events: none;
    }
    
    .sell select {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        display: block;
        width: 100%;
        /*        max-width: 320px;*/
        height: 32px;
        float: left;
        padding: 0px 7px;
        font-size: 14px;
        line-height: 1.75;
        color: #878993;
        border-radius: 4px;
        background-color: #ffffff;
        background-image: none;
        border: 1px solid #d5d7df;
        -ms-word-break: normal;
        word-break: normal;
    }

    .top{
        padding-top: 1.8em;
    }
    
    table,
th,
td {
    fill: #262d57;
    font-size: 14px;
}
th {
    background-color: #d5d7df;
    font-weight: normal;
}
tr {
    background-color: White;
    color: #262d57;
    font-size: 10px;
}

    /*.main_text {
        width: 100%;
        height: auto;
        position: relative;
        text-align: center;
        color: #333;
        padding: 10px 0;
        display: block;
    }
    .main_text.active {
        color: #000;
        font-weight: 600;
    }
    
    .main_text.active:after {
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        top: 100%;
        margin: 0px auto;
        width: 90px;
        height: 2px;
        background: #01adfb;
    }*/

    /*
    tbody tr td {
        color:#9d9eb3;
        
    }
*/

    thead tr th {
        color: #4a4d72;
    }

     @media screen and (max-width: 480px) {
        .stylelink {
            font-size: 12px;
            padding: 10px 20px;
        }
        .stylelink.active {
            font-size: 12px;
/*            padding: 10px 20px;*/
            padding: 10px 0px;
        }
        .sub_menu {
            font-size: 10px;
        }
        .sub_menu.active {
            font-size: 10px;
        }
        .ml{
            padding-left: 0px;
        }
        .ml1{
            margin-left: -5%;
             margin-bottom: 25px;
        }
     .margin1{
         margin-left: -15px;
         margin-right: -15px;
     }
    }
    
    @media screen and (max-width:350px) {
        .ml{
            padding-left: 0px;
        }
        .ml1{
            margin-left: -7%;
             margin-bottom: 25px;
        }
        
    }
    
    @media screen and (max-width:376px) and (min-width:355px){
        .ml{
            padding-left: 0px;
        }
        .ml1{
            margin-left: -7%;
             margin-bottom: 25px;
        }
    }
     @media screen and (max-width:1024px) and (min-width:1000px){
        .ml1{
            margin-left: -2%; 
        }
         .margin1{
             margin: 0;
         }
    }
    @media screen and(max-width:769px){
        .margin1{
            margin: 0px;
        }
    }

    .inactive {
        color: #dddddd;
        pointer-events: none;
        cursor: default;
    }

</style>

<div style="width:100%;height:auto;background:#ffffff;">
    <div id="wrapper">
        <div style="text-align:center;">
            <a class="stylelink" href="/workflows-list"><span style="flex:1;white-space:pre;overflow: hidden;text-overflow: ellipsis;">WORK FLOW</span></a>
        </div>

        <div style="text-align:center;">
            <a class="stylelink" href="/workflow-status-list"><span style="flex:1;white-space:pre;overflow: hidden;text-overflow: ellipsis;">STATUS</span></a>
        </div>

        <div style="text-align:center;">
            <a class="stylelink" href="/workflow-category-list"><span style="flex:1;white-space:pre;overflow: hidden;text-overflow: ellipsis;">CATEGORY</span></a>
        </div>

        <div style="text-align:center;">
            <a class="stylelink active" href="/workflow-priority-list"><span style="flex:1;white-space:pre;overflow: hidden;text-overflow: ellipsis;">PRIORITY</span></a>
        </div>
    </div>
</div>

<!-- Horizontal Form -->
<!--<div class="box box-info" style="min-height:450px;border-color:#b71c1c;margin-top:5px;">-->
<div class="box box-info" style="min-height:450px;border-top:none;">
<!--    <div class="box-header with-border">-->
        <!--		<h3 class="box-title">State</h3>-->
<!--    </div>-->
    <!-- /.box-header -->
    <!-- form start -->

    <div class="box-body">
        <br/>
        <div class="row padding">
            <div class="col-xs-12 col-sm-5 col-md-5" data-ng-hide="showForm()" >
                <div class="col-xs-12 col-sm-12 col-md-6">
                    <div class="form-group margin1">
                        <label for="zone" class="">Work Flow <sup>*</sup> </label>
                        <div class="">
                            <select ui-select2 id="zone" ng-model="workflowdisplayId" data-placeholder="Workflow" style="width:100%;">
							<option value=""></option>
							<option data-ng-repeat="workflow in workflows" value="{{workflow.id}}">{{ workflow.name }}</option>
						</select>
                        </div>
                    </div>
                </div>
            </div>
            


            <div class="col-sm-7 col-md-7">
                <div class="col-sm-0 col-md-2"></div>
                 <div data-ng-hide="showForm()" class="col-xs-12 col-sm-2 col-md-1" style="text-align:left;padding-left:0px;padding-right:0px;">
                <label>Show</label>
                     <div class="sell">
                <select ng-model="pageSize" data-placeholder="Show Entries" ng-change="pageFunction(pageSize)">
						<option value="25">25</option>
						<option value="50">50</option>
						<option value="100">100</option>
					</select>
                </div>
                <!--					<span>Entries</span>-->
            </div>
            <div data-ng-hide="showForm()" class="col-xs-12 col-sm-6 col-md-5 top ml" style="padding-right:0px;">
                <!--
            <div class="row" style="margin:0;padding:0;">
						<div class="col-sm-5"></div>
						<div class="col-sm-7">
-->
                <form role="form">
                    <div class="input-group">
                        <input type="text" class="form-control ng-pristine ng-valid" placeholder="Search" style="z-index:0;border-radius:2px;border-right:none;border-top-left-radius:4px;border-bottom-left-radius: 4px;" data-ng-model="searchZone">
                        <span class="input-group-btn">
                     <button class="btn btn-default" type="button" style="border-top-right-radius: 4px;border-bottom-right-radius: 4px;background:none;border-left:none;"><span class="glyphicon glyphicon-search"></span></button>
                        </span>
                    </div>
                </form>

                <!--
						</div>
					</div>
-->
            </div>
            <div class="col-xs-12 col-sm-3 col-md-2 top ml1">
                <a data-ng-href="/workflow-priority/create" class="btn btn-primary btn-sm  " role="button" data-ng-hide="hideCreateButton()" style="padding:5px 20px;">Add New </a>&nbsp;&nbsp;&nbsp;
            </div>

            </div>
        </div>
<!--        <br/>-->

        <form class="" role="form" data-ng-show="showForm()">
            <toaster-container toaster-options="{'position-class': 'toast-container-custo','time-out': 3000,'body-output-type': 'template'}"></toaster-container>
            <br/>
            <div class="row" style="margin:0;padding:0" data-ng-show="isCreateView()">
                <br/>
                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="champion" class="">Work Flow <sup>*</sup> </label>
                        <div class="">
                            <select ui-select2 id="typolog" ng-model="workflow" data-placeholder="Work Flow" style="width:100%;">
                                <option value=""></option>
											<option data-ng-repeat="workflow in workflows" value="{{workflow.id}}">{{ workflow.name }}</option>
										</select>
                        </div>
                    </div>
                </div>
            </div>
            <br/>
            <div data-ng-show="isCreateView()">
                    <div class="table-responsive">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th>S NO.</th>
                                    <th>PRIORITY</th>
                                    <th style="width:160px;">ACTION</th>
                                </tr>
<!--
                                <tr>
                                    <th style="width:150px;">#</th>
                                    <th style="width:250px;">PRIORITY</th>
                                    <th style="width:160px;">ACTION</th>
                                </tr>
-->
                            </thead>
                            <tbody>
                                <!--current-page="currentpage"-->
                                <tr ng-repeat="wflwprty in DisplayWorkflowPriorities">
                                    <td>{{ $index + 1 }}</td>
                                    <td style="width:50%;">
                                        <input type="text" class="form-control" id="name" data-ng-model="wflwprty.name" placeholder="PRIORITY" style="width:60%;" ng-change="levelChange($index, wflwprty.name)">
                                    </td>
                                    <td>
                                        <a data-ng-click="Lang($index, wflwprty.name)" href="" title="Language" ng-class="wflwprty.disableLang ? '' : 'inactive'"><img src="{{wflwprty.langdark}}" style="margin-bottom: 6px;" title="Language" /></a>&nbsp;&nbsp;

                                        <a data-ng-click="Add($index)" ng-if="$last" ng-class="wflwprty.disableAdd ? '' : 'inactive'">
<!--                                            <span class="glyphicon glyphicon-plus" style="cursor:pointer;" title="Add"></span>-->
                                         <img class="iccon" src="images/piclinks/edit.png" style="cursor:pointer;width: 16px;margin-bottom: 8px;" title="Add">
                                        </a>&nbsp;&nbsp;

                                        <a data-ng-click="Remove($index)" ng-if="$last&&!$first" ng-class="wflwprty.disableRemove ? '' : 'inactive'">
<!--                                            <span class="glyphicon glyphicon-remove" style="cursor:pointer;" title="Remove"></span>-->
                                        <img class="iccon" src="images/piclinks/cross.png" style="cursor:pointer;width: 16px;margin-bottom: 8px;" title="Remove">
                                        </a>&nbsp;
                                    </td>
                                </tr>
                            </tbody>
                        </table>

                    </div>
            </div>

            <div class="row padding" data-ng-hide="isCreateView()">
                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="name" class="">Work Flow <sup>*</sup> </label>
                        <div class="">
                            <select ui-select2 id="typolog" ng-model="workflowpriority.workflowid" data-placeholder="Work Flow" style="width:100%;" ng-disabled=true>
                                <option value=""></option>
											<option data-ng-repeat="workflow in workflows" value="{{workflow.id}}">{{ workflow.name }}</option>
										</select>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="name" class="">Name <sup>*</sup> </label>
                        <div class="">
                            <input type="text" class="form-control" id="name" data-ng-model="workflowpriority.name" placeholder="Name" pattern='[A-Za-z\\s]*'>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <div class="">
                            <a href="" data-ng-click="EditLang()" href="" title="Language"><img src="images/Ldark.png" style="margin-bottom: 19px;" title="Language" /></a>
                        </div>
                    </div>
                </div>
            </div>
            <br/>
            <br/>
            <br/>

            <div align="right">
                <div>
                    <a data-ng-href="/workflow-priority-list" class="btn btn-danger btn-sm " role="button" style="padding:5px 20px;margin-right:10px;">Cancel</a>
                    
                    <a class="btn btn-info btn-sm " type="submit" role="button" data-ng-click="Save()" data-ng-show="isCreateView()" ng-disabled="submitDisable" style="padding:5px 20px;margin-right:30px;">Create </a>

                    <a class="btn btn-info btn-sm " type="submit" role="button" data-ng-click="Update()" data-ng-hide="isCreateView()" ng-disabled="submitDisable" style="padding:5px 20px;margin-right:30px;">Update </a>
                </div>
            </div>
        </form>

        <div data-ng-hide="hideSearchFilter()">

            <div class="row" style="margin:0;padding:0;">
            </div>
        </div>
<!--        <br />-->

        <div data-ng-hide="showForm()" class="table-responsive">
<!--
             <div class="row" style="margin:0;padding:0">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="zone" class="col-sm-4" style="font-weight:600;margin-top:5px;padding-left:30px;">Work Flow</label>
                        <div class="col-sm-6">
                            <select ui-select2 id="zone" ng-model="workflowdisplayId" data-placeholder="Workflow" style="width:85%;">
							<option value=""></option>
							<option data-ng-repeat="workflow in workflows" value="{{workflow.id}}">{{ workflow.name }}</option>
						</select>
                        </div>
                    </div>
                </div>
            </div>
-->
<!--
            <br/>
            <br/>
-->
            
            <table class="table">
                <thead>
                    <tr>
                        <th>S NO.</th>
                        <th>PRIORITY</th>
                        <th>WORK FLOW</th>
                        <th style="width:100px;">ACTION</th>
                    </tr>
<!--
                    <tr style="border-bottom:1px solid #ccc;">
                        <th style="width:50px;">S NO.</th>
                        <th>PRIORITY</th>
                        <th>WORK FLOW</th>
                        <th style="width:100px;">ACTION</th>
                    </tr>
-->
                </thead>

                <tbody>

                    <tr dir-paginate="workflowpriority in TotalData  = ( workflowpriorities | filter:searchZone ) |itemsPerPage:pageSize" pagination-id="zonesid" current-page="currentPage">
                        <td>{{ workflowpriority.index }}</td>
                        <td>{{workflowpriority.name}}</td>
                        <td data-ng-init="wflow = getworkflow(workflowpriority.workflowid)">{{wflow.name}}</td>
                        <td>
                            <a data-ng-href="/workflow-priority/edit/{{workflowpriority.id}}">
<!--                                <span class="glyphicon glyphicon-pencil" title="Edit" ></span>-->
                             <img class="iccon" src="images/piclinks/edit.png">
                            </a>&nbsp;&nbsp;
<!--                            <a style="color:#b7b8c8;">|</a>&nbsp;&nbsp;-->
                            <a confirm-button="Delete(workflowcategory.id)" message="Are you sure? you want to delete?">
<!--                                    <span class="glyphicon glyphicon-remove" style="cursor:pointer;border-left:1px solid #" title="Bin"></span>-->
                                <img class="iccon" src="images/piclinks/cross.png" style=";cursor:pointer;" title="Bin">
                            </a>&nbsp;
                        </td>
                    </tr>
                </tbody>
            </table>
            <br/>
            <div class="padding" align="right">
                <dir-pagination-controls max-size="25" direction-links="true" boundary-links="true" pagination-id="zonesid" on-page-change="PageChanged(newPageNumber, oldPageNumber)">
                </dir-pagination-controls>
            </div>
        </div>
    </div>
    <br/>
    <!-- /.box-body -->
    <div class="box-footer">

    </div>
    <!-- /.box-footer -->
</div>
<!-- /.box -->


<modal2 title1="{{modalTitle}}" visible="stakeholderdataModal">
    <p>{{message}}</p>
</modal2>

<validationmodal title1="Alert!!!" visible="showValidation">
    {{validatestring1}}
</validationmodal>

<langmodal visible="langModel">
    <div class="modal-header" style="color:#ffffff;padding:0px;">
<!--        <div class="pull-right" style='padding:15px;'></div>-->
        <h4 class="stylelink modal-title" style="color:#262d57;padding-left:26px;">Language</h4>
    </div>
    <div style="width:100%; height:auto; min-height:400px;  border: 1px solid #ffffff;" id="savemodals">
        <br/>
        <div class="row padding">
         <div class="col-sm-3">
            <div class="form-group">
                <label for="state" class="">Order <sup>*</sup> </label>
                <div class="">
                    <input type="text" class="form-control" id="order" data-ng-model="myobj.orderNo" placeholder="Order">
                    <br>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="form-group">
                <label for="state" class="">Default </label>
                <div class="">
                    <select ui-select2="" id="typolog" ng-model="myobj.default" data-placeholder="Default" style="width:100%">
                      <option value=""></option>
                      <option value="yes">Yes</option>
                        <option value="no">No</option>
                    </select>
                </div>
            </div>
        </div>
        </div>
        
        <hr style="margin-top:0px;">
        <form class="" role="form">
            <br/>
            <div class="row padding">
                <div class="col-sm-3"  ng-repeat="language in languages">
                    <div class="form-group">
                    <label for="state" class="">{{language.name}} <sup>*</sup> </label>
                    <div class="">
                        <input type="text" class="form-control" id="name" data-ng-model="language.lang" placeholder="{{language.name}}" ng-blur="Validname($event, member.name)"> </div>
                </div>
                </div>
            </div>
            <br>
            <br>
            <div class="form-group">
                    <div align="right">
                        <a data-ng-click="cancleQucikAdd()" data-dismiss="modal" class="btn btn-danger btn-sm " role="button" style="padding:5px 20px;margin-right:10px;">Cancel  </a>
                        
                        <a class="btn btn-info btn-sm " type="submit" role="button" data-ng-click="SaveLang()" style="padding:5px 20px;margin-right:30px;" data-ng-show="isCreateView()">Add  </a>&nbsp;
                        
                        <a class="btn btn-info btn-sm " type="submit" role="button" data-ng-click="UpdateLang()" style="padding:5px 20px;margin-right:30px;" data-ng-hide="isCreateView()">Update  </a>&nbsp;
                    </div>
            </div>

        </form>
    </div>

    <style>
        div.scroll {
            width: 100%;
            height: 100px;
            overflow: scroll;
        }

        .toggle.android {
            border-radius: 0px;
        }

        .toggle.android .toggle-handle {
            border-radius: 0px;
        }

        #mapCanvas {
            width: 500px;
            height: 400px;
            float: left;
        }

        #infoPanel {
            margin-left: 100px;
        }

        #infoPanel div {
            margin-bottom: 5px;
        }

    </style>

</langmodal>
