<!-- Horizontal Form -->
<div class="box box-info" style="min-height:450px;border-color:#b71c1c;" data-ng-init="toggleLoading()">
	<div class="box-header with-border">
		<h3 class="box-title">{{bulkupdateheader}}</h3>
	</div>
	<!-- /.box-header -->
	<!-- form start -->

	<div class="box-body">
		<div align="left">
			<a data-ng-href="/bulkupdates/create" class="btn btn-primary btn-sm btn-flat" role="button" data-ng-hide="hideCreateButton()">{{addnew}}</a>
		</div>
		<br/>

		<form class="form-horizontal" role="form" data-ng-show="showForm()">
			<div align="left">
				<a ng-click="toggleModal1()" class="btn btn-primary btn-sm btn-flat" role="button">{{addmember}}</a>
			</div>
			<br/>

			<div class="row" style="margin:0;padding:0;">
				<div class="col-sm-6" style="padding-left:0;">


					<div>
						<table class="table table-bordered table-striped" id="mytable">
							<thead>
								<tr>
									<th>#</th>
									<th>{{memberfullname}}</th>
									<th>{{memberdetails}}</th>
									<th>{{removebutton}} ?</th>
								</tr>
							</thead>
							<tbody>
								<tr ng-repeat="partner in bulkpartners">

									<td>{{ $index +1 }}</td>
									<td>{{partner.fullname }}</td>
									<td>{{partner.nickname}},{{partner.phonenumber}},{{partner.hotspot}}</td>
									<td align="center">
										<a data-ng-click="RemoveMember($index)"><span class="glyphicon glyphicon-remove" style="color: red;" title="Bin"></span></a>
									</td>
							</tbody>
						</table>

						<!--<div align="right">
                        <dir-pagination-controls max-size="5" direction-links="true" boundary-links="true">
                        </dir-pagination-controls>
                    </div>-->
					</div>
				</div>
				<div class="col-sm-6">
					<div class="form-group">
						<label for="city" class="col-sm-4" style="font-weight: 600;margin-top: 8px;">{{followuprequired}} <span style="color:red">*</span></label>
						<div class="col-sm-6">
							<select ui-select2 ng-model="bulkupdate.follow" multiple data-placeholder="{{followuprequired}}" style="width:100%;" ng-disabled="DisableFollowUp">
								<option ng-repeat="todopurpose in bulkupdatefollowups" value="{{todopurpose.id}}">{{todopurpose.name}}</option>
							</select>
						</div>
					</div>

					<!--<div class="form-group">
						<label for="city" class="col-sm-4" style="font-weight: 600;">Follow Up Required</label>
						<div class="col-sm-6">
							<select ui-select2 ng-model="groupmeeting.follow" multiple data-placeholder="Follow Up Required" style="width:100%;">
								<option ng-repeat="todopurpose in followupgroups" value="{{todopurpose.id}}">{{todopurpose.name}}</option>
							</select>
						</div>
					</div>-->

					<!--<div class="form-group">
						<label for="city" class="col-sm-4" style="font-weight: 600;margin-top: 8px;">Date</label>
						<div class="col-sm-6">
							<p class="input-group">
								<input type="text" id="{{'datepickerdob' + $index}}" class="form-control" datepicker-popup="{{format}}" ng-model="bulkupdate.datetime" is-open="picker.dobopened" min="minDate" max="'2015-06-22'" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" close-text="Close" />
								<span class="input-group-btn"><button class="btn btn-default" ng-click="opendob($event, $index)"><i class="glyphicon glyphicon-calendar"></i></button>
                                </span>
							</p>
						</div>
					</div>-->
				</div>
			</div>
			<br/>
			<br/>
			<br/>

			<div>
				<div align="left">
					<a class="btn btn-success btn-sm btn-flat" type="submit" role="button" data-ng-click="Savebulkupdate()" data-ng-show="isCreateView()">{{create}}</a>

					<a class="btn btn-success btn-sm btn-flat" type="submit" role="button" data-ng-click="Updatebulkupdate()" data-ng-hide="isCreateView()">{{update}}</a>


					<a data-ng-href="/bulkupdates" class="btn btn-danger btn-sm btn-flat" role="button">{{cancel}}</a>
				</div>
			</div>

		</form>

		<div data-ng-hide="hideSearchFilter()">

			<div class="row" style="margin:0;padding:0;">
				<div class="col-sm-6" style="padding-top:5px;">
					<span>{{show}}</span>
					<select ng-model="pageSize" data-placeholder="Show Entries">
						<option value="5">5</option>
						<option value="10">10</option>
						<option value="15">15</option>
					</select>
					<span>{{entry}}</span>
				</div>
				<div class="col-sm-6">
					<div class="row" style="margin:0;padding:0;">
						<div class="col-sm-4"></div>
						<div class="col-sm-8">
							<form role="form">
								<div class="input-group">
									<input type="text" id="Search" class="form-control" placeholder="{{searchfor}}..." style="z-index:0; border-top-left-radius: 15px;border-bottom-left-radius: 15px;">
									<span class="input-group-btn">
                        <button class="btn btn-default" type="button" style="border-top-right-radius: 15px;border-bottom-right-radius: 15px;"><span class="glyphicon glyphicon-search"></span>
									</button>
									</span>
								</div>
							</form>

						</div>
					</div>
				</div>

			</div>
		</div>
		<br />


		<div data-ng-hide="showForm()">
			<table class="table table-bordered table-striped">

				<thead>
					<tr>
						<th style="width:50px;">#</th>
						<th>{{membername}}</th>
						<th>{{followup}}</th>
						<th>{{followupdate}}</th>
						<!--                        <th style="width:75px;">Action</th>-->
					</tr>
				</thead>
				<tbody id="bnbody">
					<tr dir-paginate="bulkupdate in Printbulkupdates |itemsPerPage:pageSize" pagination-id="table1">
						<td>{{ bulkupdate.index }}</td>
						<td>
							<p ng-repeat="specificpillar in bulkupdate.memberlist track by $index">{{specificpillar.fullname}}</p>
						</td>
						<td>
							<p ng-repeat="specificpillar in bulkupdate.followup track by $index">{{specificpillar.name}}</p>
						</td>


						<td>{{bulkupdate.datetime |date:'dd-MMM-yyyy'}}</td>

						<!--<td><a data-ng-href="/bulkupdates/{{bulkupdate.id}}"><span class="glyphicon glyphicon-edit" title="Edit" style="color: black;"></span></a>&nbsp; &nbsp;
							<a confirm-button="Delete(bulkupdate.id)"><span class="glyphicon glyphicon-trash" style="color: red;cursor:pointer;" title="Bin"></span></a>&nbsp;
						</td>-->
					</tr>
				</tbody>
			</table>

			<div align="right">
				<dir-pagination-controls pagination-id="table1" max-size="5" direction-links="true" boundary-links="true">
				</dir-pagination-controls>
			</div>
		</div>

	</div>
	<!-- /.box-body -->
	<div class="box-footer">

	</div>
	<!-- /.box-footer -->
</div>
<!-- /.box -->



<!--<div style="width:100%; height:auto; min-height:500px;background: #FFFFF0;  border: 1px solid #E6E6E6; margin: 5px auto; padding:5px;">
    <div class="row" style="margin:0;padding:0;">

        <div class="col-sm-5">
            <h4 style="font-family: Arial; font-weight: bold;font-size:19px;">Bulk Update</h4>
        </div>

        <div class="col-sm-7" style="padding-left: 65px;">
            <a data-ng-href="/bulkupdates/create" class="btn btn-primary btn-sm" role="button" data-ng-hide="hideCreateButton()"><span class="glyphicon glyphicon-plus"></span> Add New</a>
        </div>
    </div>

    <br/>

    <form class="form-horizontal" role="form" data-ng-show="showForm()">

        <div class="row">
            <div class="col-sm-6">
                <div align="center">
                    <a ng-click="toggleModal1()" class="btn btn-default btn-sm" role="button"><span class="glyphicon glyphicon-plus"></span> Add Member</a>
                </div>
                <br/>

                <div>
                    <table class="table table-bordered table-striped" id="mytable">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Member Full Name</th>
                                <th>Member Details</th>
                                <th>Remove ?</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="partner in bulkpartners">

                                <td>{{ $index +1 }}</td>
                                <td>{{partner.fullname }}</td>
                                <td>{{partner.nickname}},{{partner.phonenumber}},{{partner.hotspot}}</td>
                                <td align="center">
                                    <a data-ng-click="RemoveMember($index)"><span class="glyphicon glyphicon-remove" style="color: red;" title="Bin"></span></a>
                                </td>
                        </tbody>
                    </table>

                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label for="city" class="col-sm-4">Follow Up Required</label>
                    <div class="col-sm-6">
                        <select ui-select2 ng-model="bulkupdate.follow" multiple data-placeholder="Follow Up Required" style="width:260px;">
                            <option value="Filling the applications and submitting to UHD">Filling the applications and submitting to UHD</option>
                            <option value="Scheduling meeting with CO Manager">Scheduling meeting with CO Manager</option>
                            <option value="Scheduling meeting with UHD Facilitator">Scheduling meeting with UHD Facilitator</option>
                            <option value="Scheduling meeting with RIO/FS Mentor">Scheduling meeting with RIO/FS Mentor</option>
                            <option value="Scheduling meeting with Stakeholder">Scheduling meeting with Stakeholder</option>
                            <option value="Collection of documents">Collection of documents</option>
                            <option value="Facilitation of services">Facilitation of services</option>
                            <option value="Continue the discussion in 1 to 1">Continue the discussion in 1 to 1</option>
                            <option value="Membership recipt">Membership recipt</option>
                        </select>
                    </div>
                </div>

                <div class="form-group">
                    <label for="city" class="col-sm-4">Date</label>
                    <div class="col-sm-6">
                        <td style="width: 250px;">
                            <p class="input-group" style="width: 200px;">
                                <input type="text" id="{{'datepickerdob' + $index}}" class="form-control" datepicker-popup="{{format}}" ng-model="bulkupdate.datetime" is-open="picker.dobopened" min="minDate" max="'2015-06-22'" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" close-text="Close" style="width:220px;" />
                                <span class="input-group-btn"><button class="btn btn-default" ng-click="opendob($event, $index)"><i class="glyphicon glyphicon-calendar"></i></button>
                                </span>
                            </p>
                        </td>
                    </div>
                </div>
            </div>
        </div>

        <div class="form-group">
            <div style="padding-left:40%">
                <a class="btn btn-success btn-sm" type="submit" role="button" data-ng-click="Savebulkupdate()" data-ng-show="isCreateView()"><span class="glyphicon glyphicon-ok"></span> Create </a>

                <a class="btn btn-success btn-sm" type="submit" role="button" data-ng-click="Updatebulkupdate()" data-ng-hide="isCreateView()"><span class="glyphicon glyphicon-ok"></span> Update </a>


                <a data-ng-href="/bulkupdates" class="btn btn-info btn-sm" role="button"><span class="glyphicon glyphicon-remove"></span> Cancel</a>
            </div>
        </div>

    </form>


    <div data-ng-hide="hideSearchFilter()">
        <form role="form">
            <div class="row">
                <div class="col-lg-offset-8 col-lg-4">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Search for..." style="z-index:0; border-top-left-radius: 15px;border-bottom-left-radius: 15px;" data-ng-model="searchbulkupdate">
                        <span class="input-group-btn">
                        <button class="btn btn-default" type="button" style="border-top-right-radius: 15px;border-bottom-right-radius: 15px;"><span class="glyphicon glyphicon-search"></span>
                        </button>
                        </span>
                    </div>
                </div>
            </div>
        </form>

    </div>
    <br />

    <div data-ng-hide="showForm()">
        <table class="table table-bordered table-striped">

            <thead>
                <tr>
                    <th>#</th>
                    <th>Member Name</th>
                    <th>FollowUp</th>
                    <th>FollowUp Date</th>

                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr dir-paginate="bulkupdate in bulkupdates | filter: searchbulkupdate |itemsPerPage:5">
                    <td>{{ bulkupdate.index }}</td>
                    <td data-ng-init="st = getMemberName(bulkupdate.memberlist)">{{st.fullname}}</td>
                    <td>{{bulkupdate.followup}}</td>
                    <td>{{bulkupdate.datetime}}</td>

                    <td><a data-ng-href="/bulkupdates/{{bulkupdate.id}}"><span class="glyphicon glyphicon-edit" title="Edit" style="color: black;"></span></a>&nbsp;
                        <a data-ng-href="/bulkupdates" data-ng-click="Delete(bulkupdate.id)"><span class="glyphicon glyphicon-trash" title="Bin" style="color: red;"></span></a>&nbsp; </td>
                </tr>
            </tbody>
        </table>

        <div align="right">
            <dir-pagination-controls max-size="5" direction-links="true" boundary-links="true">

            </dir-pagination-controls>

        </div>
    </div>
</div>-->



<modal1 title1="Search Member" visible="showModal1" >
<!--	<h4 class="modal-title">{{searchmember}}</h4>-->
	<div style="width:100%; height:auto; min-height:500px;  border: 1px solid #E6E6E6; margin: 5px auto; padding:5px;">
		<br/>
		<div>
			
			<form role="form">
				<div class="row">
					<div class="col-lg-offset-8 col-lg-4">
						<div class="input-group">
							<input type="text" class="form-control" placeholder="{{searchfor}}..." style="z-index:0; border-top-left-radius: 15px;border-bottom-left-radius: 15px;" data-ng-model="searchbulkupdate">
							<span class="input-group-btn">
                        <button class="btn btn-default" type="button" style="border-top-right-radius: 15px;border-bottom-right-radius: 15px;"><span class="glyphicon glyphicon-search"></span>
							</button>
							</span>
						</div>
					</div>
				</div>
			</form>

		</div>
		<br />
		<form class="form-horizontal" role="form">
			<table class="table table-bordered table-striped">
				<thead>
					<tr>
						<th>#</th>
						<th>{{membername}}</th>
						<th>{{select}}?</th>

					</tr>
				</thead>
				<tbody>
					<tr dir-paginate="partner in partners | filter:searchbulkupdate |itemsPerPage:10" pagination-id="table2">
						<td>{{ partner.index + 1}}</td>
						<td>{{partner.fullname}}</td>
						<td>
							<input class="eventCheckbox" type="checkbox" ng-model="partner.enabled" id="{{partner.enabled}}" value="{{partner.id}}" name="vehicle">
						</td>
					</tr>
				</tbody>
			</table>
			<div align="right">
				<dir-pagination-controls pagination-id="table2" max-size="5" direction-links="true" boundary-links="true">
				</dir-pagination-controls>
			</div>

			<br/>
			<br/>
			<br/>


			<div>
				<div align="left">
					<a data-ng-click="SaveScheme()" class="btn btn-success btn-sm btn-flat" role="button">{{savebutton}}</a>
					<a data-ng-click="CancelReport()" class="btn btn-danger btn-sm btn-flat" role="button">{{cancel}}</a>
				</div>
			</div>

		</form>
	</div>


	<style>
		.toggle.android {
			border-radius: 0px;
		}
		
		.toggle.android .toggle-handle {
			border-radius: 0px;
		}

	</style>


</modal1>





<modal1 title1="Follow Up Member" visible="showfollowupModal">
	<div style="width:100%; height:auto; min-height:300px;  border: 1px solid #E6E6E6; margin: 5px auto; padding:5px;">
		<br/>

		<br />
		<div>
			<form class="form-horizontal" role="form">
				<div class="form-group">
					<label for="name" class="col-sm-4" style="font-weight: 600;margin-top: 8px;">{{followuprequired}}</label>
					<div class="col-sm-4">
						<input type="text" class="form-control" id="name" data-ng-model="printpurpose" placeholder="{{followuprequired}}" style="width:260px;">

					</div>
				</div>

				<div class="form-group">
					<label for="city" class="col-sm-4" style="font-weight: 600;margin-top: 4px;">{{status}}</label>
					<div class="col-sm-6">
						<select ui-select2 ng-model="newtodo.status" data-placeholder="{{status}}" style="width:260px;">
							<option value=""></option>
							<option value="1">Open</option>
							<option value="2" disabled>Close</option>
						</select>
					</div>
				</div>

				<div class="form-group">
					<label for="city" class="col-sm-4" style="font-weight: 600;margin-top: 8px;">{{followupdate}}</label>
					<div class="col-sm-6">
						<td style="width: 250px;">
							<p class="input-group" style="width: 200px;">
								<input type="text" id="{{'datepickerfollowup' + $index}}" class="form-control" datepicker-popup="{{format}}" ng-model="newtodo.datetime" is-open="followdt.followupopened" min="minDate" max="'2015-06-22'" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" close-text="Close" style="width:220px;" min-date="dtmin"/>
								<span class="input-group-btn"><button type="button" class="btn btn-default" ng-click="open($event,item, $index)"><i class="glyphicon glyphicon-calendar"></i></button>
                                </span>
							</p>
						</td>
					</div>
				</div>



				<div class="form-group">
					<div style="padding-left:40%">
						<a class="btn btn-success btn-sm btn-flat" type="submit" role="button" data-ng-click="SavetodoFollow()">{{savebutton}}</a>



						<a data-ng-click="CancelFollow()" class="btn btn-danger btn-sm btn-flat" role="button">{{cancel}}</a>
					</div>
				</div>

			</form>
		</div>
	</div>


	<style>
		.toggle.android {
			border-radius: 0px;
		}
		
		.toggle.android .toggle-handle {
			border-radius: 0px;
		}
		
		.color-green {
			color: #00a65a;
		}
		
		.color-blue {
			color: #00c0ef;
		}
		
		.color-red {
			color: #dd4b39;
		}
		
		.color-black {
			color: rgb(83, 12, 44);
		}
		
		.color-meganta {
			color: #f39c12;
		}

	</style>


</modal1>




<modal2 title1="{{modalTitle}}" visible="bulkupdatedataModal">
	<p>{{message}}</p>
</modal2>

<validationmodal title1="Alert!!!" visible="showValidation">   
	{{validatestring1}}
</validationmodal>