<div style="width:100%; height:auto; min-height:500px;background: #FFFFF0;border: 1px solid #E6E6E6; margin: 5px auto; padding:5px;">
    <!--<h2>Country</h2>-->

    <div class="row">
        <div class="col-sm-5">

            <h4 style="font-family: Arial; font-weight: bold; font-size: 19px;">Site Area</h4>
        </div>
        <div class="col-sm-7">
            <div class="form-group">
                <a data-ng-href="/distribution-subareas/create" class="btn btn-primary btn-sm" role="button" data-ng-hide="hideCreateButton(); hideSearchFilter()"><span class="glyphicon glyphicon-plus"></span> Add New</a>
            </div>
        </div>
    </div>

    <div data-ng-hide="hideSearchFilter()">
        <form role="form">
            <div class="row">
                <div class="col-lg-offset-8 col-lg-4">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Search for..." style="z-index:0; border-top-left-radius: 15px;border-bottom-left-radius: 15px;" ng-model="searchName">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button" style="border-top-right-radius: 15px;border-bottom-right-radius: 15px;"><span class="glyphicon glyphicon-search"></span></button>
                    </span>
                    </div>
                </div>
            </div>
            <br/>
        </form>
    </div>

    <!--<h2>Branch Area</h2>-->
    <form class="form-horizontal" role="form" data-ng-show="showForm()">
        <div class="form-group">
            <label for="name" class="col-sm-4 control-label" style="font-size:12px;">Site Area :</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" id="name" data-ng-model="distributionSubarea.name" placeholder="Site Area">
            </div>
        </div>

        <div class="form-group">
            <label for="zone" class="col-sm-4 control-label" style="font-size:12px; margin-top: -4px;">State Area:</label>
            <div class="col-sm-6">
                <select ui-select2 id="zoneId" data-ng-model="distributionSubarea.zoneId" data-placeholder="Pick a State Area" ng-change="zonemainChanged(this, distributionSubarea.zoneId)" style="width: 180px;">
                    <option value=""></option>
                    <option data-ng-repeat="zone in zones" value="{{zone.id}}">{{ zone.name }}</option>
                </select>
            </div>
        </div>

         <div class="form-group">
            <label for="sales-area" class="col-sm-4 control-label" style="font-size:12px; margin-top: -4px;">District Area:</label>
            <div class="col-sm-6">
                <select ui-select2 id="salesAreaId" data-ng-model="distributionSubarea.salesAreaId" data-placeholder="Pick a District Area " ng-change="salesareamainChanged(this, distributionSubarea.salesAreaId)" style="width: 180px;">
                    <option value=""></option>
                    <option data-ng-repeat="salesArea in salesAreas" value="{{salesArea.id}}">{{ salesArea.name }}</option>
                </select>
            </div>
        </div>
        
        <div class="form-group">
            <label for="distribution-area" class="col-sm-4 control-label" style="font-size:12px; margin-top: -4px;">Community Area :</label>
            <div class="col-sm-6">
                <select ui-select2 id="distribution-area" ng-model="distributionSubarea.distributionAreaId" data-placeholder="Pick a Community Org" style="width: 180px;">
                    <option value=""></option>
                    <option data-ng-repeat="distributionArea in distributionAreas" value="{{distributionArea.id}}">{{ distributionArea.name }}</option>
                </select>
            </div>
        </div>
        
       


        <div class="form-group" align="center">
            <div>
                <!--<data-cb-form-submit data-singular="distributionSubarea" data-plural="distributionSubareas" data-label="Create" data-slug="distribution-subareas" data-ng-show="isCreateView()"></data-cb-form-submit>-->
                <a class="btn btn-success btn-sm" type="submit" role="button" data-ng-click="Save()" data-ng-show="isCreateView()"><span class="glyphicon glyphicon-ok"></span> Create </a>

                <a class="btn btn-success btn-sm" type="submit" role="button" data-ng-click="Update()" data-ng-hide="isCreateView()"><span class="glyphicon glyphicon-ok"></span> Update </a>

                <a data-ng-href="/distribution-subareas" class="btn btn-info btn-sm" role="button"><span class="glyphicon glyphicon-remove"></span> Cancel</a>

              
            </div>
        </div>
    </form>

    <div data-ng-hide="showForm()">

        <form class="form-horizontal" role="form">
            <div class="row" style="margin:0; padding:0;">
                <div class="col-sm-3">
                    <div>
                        <label for="zone" class="col-sm-5 control-label" style="font-size:12px; margin-top: -4px;">State Area:</label>
                        <div class="col-sm-5">
                            <select ui-select2 id="zone" ng-model="zoneId" data-placeholder="Pick a State Area" ng-change="zoneChanged(this, zoneId)" style="width: 180px;">
                                <option value=""></option>
                                <option data-ng-repeat="zone  in zones" value="{{zone.id}}">{{ zone.name }}</option>
                            </select>
                        </div>
                    </div>
                </div>
                
                <div class="col-sm-3">
                    <div>
                        <label for="salesarea" class="col-sm-6 control-label" style="font-size:12px; margin-top: -4px;">District Area:</label>
                        <div class="col-sm-5">
                            <select ui-select2 id="salesarea" ng-model="salesareaId" data-placeholder="Pick a District Area" ng-change="salesareaChanged(this,salesareaId)" style="width: 180px;">
                                <option value=""></option>
                                <option data-ng-repeat="salesarea in salesareas" value="{{salesarea.id}}">{{ salesarea.name }}</option>
                            </select>
                        </div>
                    </div>
                </div>
                
                <div class="col-sm-4">
                    <div>
                        <label for="distributionarea" class="col-sm-6 control-label" style="font-size:12px; margin-top: -4px;">Community Area:</label>
                        <div class="col-sm-5">
                            <select ui-select2 id="distributionarea" ng-model="distributionareaId" data-placeholder="Pick a Community Area" ng-change="distributionareaChanged(this, distributionareaId)" style="width: 180px;">
                                <option value=""></option>
                                <option data-ng-repeat="distributionarea in distributionareas" value="{{distributionarea.id}}">{{ distributionarea.name}}</option>
                            </select>
                        </div>
                    </div>
                </div>
                
                
                <div class="col-sm-3"></div>
            </div>
            <br/>
        </form>


        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th style="font-size:12px;">#</th>
                    <th style="font-size:12px;">Branch Area</th>
                    <th style="font-size:12px;">Branch</th>
                    <th style="font-size:12px;">City</th>
                    <th style="font-size:12px;">Country</th>
                    <th style="font-size:12px;">Action</th>
                </tr>
            </thead>
            <tbody>
                <tr dir-paginate="distributionSubarea in distributionSubareas | filter:searchName |itemsPerPage:10">
                    <td style="font-size:12px;">{{ distributionSubarea.index }}</td>
                    <td style="font-size:12px;">{{distributionSubarea.name}}</td>
                    <td style="font-size:12px;" data-ng-init="distributionArea = getDistributionArea(distributionSubarea.distributionAreaId)">{{distributionArea.name}}</td>
                    <td style="font-size:12px;" data-ng-init="salesArea = getSalesArea(distributionSubarea.salesAreaId)">{{salesArea.name}}</td>
                    <td style="font-size:12px;" data-ng-init="zone = getZone(distributionSubarea.zoneId)">{{zone.name}}</td>
                    <td>
               <a data-ng-href="/distribution-subareas/{{distributionSubarea.id}}"><span class="glyphicon glyphicon-edit" style="color: black;" title="Edit"></span></a>&nbsp; 
                        
         <a data-ng-href="/distribution-subareas" data-ng-click="updateFlag(distributionSubarea.id)"><span class="glyphicon glyphicon-trash" style="color: red;" title="Bin"></span></a>&nbsp;            
                    </td>          
                </tr>
            </tbody>
        </table>
        <div align="right">
            <dir-pagination-controls max-size="5" direction-links="true" boundary-links="true">

            </dir-pagination-controls>

        </div>
    </div>
</div>