<style>
  .stylelink {
    background: transparent;
    color: #9d9eb3;
    font-weight: bold;
    text-decoration: none;
    font-size: 14px;
    display: inline-flex;
    flex-flow: row nowrap;
    max-width: 100%;
    padding: 20px 0px;
    margin-left: 20px;
  }

  .stylelink.active {
    color: #4a4d72;
    font-weight: bold;
    text-decoration: none;
    font-size: 14px;
    display: inline-flex;
    flex-flow: row nowrap;
    max-width: 100%;
    padding: 20px 0px;
    border-bottom: 4px solid #ec0b6d;
    margin-left: 20px;
  }

  .sub_menu {
    display: inline-flex;
    flex-flow: row nowrap;
    max-width: 100%;
    padding: 10px 10px;
    border-bottom: 2px solid transparent;
    color: #333;
  }

  .sub_menu.active {
    display: inline-flex;
    flex-flow: row nowrap;
    max-width: 100%;
    padding: 10px 10px;
    color: #000;
    font-weight: bold;
    /*		border-bottom: 2px solid #01adfb;*/
  }

  #wrapper {
    display: table;
    table-layout: fixed;
    width: 100%;
    height: auto;
    border-bottom: 4px solid #f4f4f4;
    background-color: #fff;
    margin-top: 12px;
  }

  #wrapper div {
    display: table-cell;
    height: auto;
  }


  .sell {
    position: relative;
    min-width: 45px;
  }

  .sell:after {
    content: url(images/piclinks/down-arrow.png);
    font: 17px "Consolas", monospace;
    color: #333;
    top: 5px;
    margin-left: -22px;
    padding: 0 0 2px;
    position: absolute;
    pointer-events: none;
  }

  .sell select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    display: block;
    width: 100%;
    /*        max-width: 320px;*/
    height: 32px;
    float: left;
    padding: 0px 7px;
    font-size: 14px;
    line-height: 1.75;
    color: #878993;
    border-radius: 4px;
    background-color: #ffffff;
    background-image: none;
    border: 1px solid #d5d7df;
    -ms-word-break: normal;
    word-break: normal;
  }

  .top {
    padding-top: 1.8em;
  }

  table,
  th,
  td {
    fill: #262d57;
    font-size: 14px;
  }

  th {
    background-color: #d5d7df;
    font-weight: normal;
  }

  tr {
    background-color: White;
    color: #262d57;
    font-size: 10px;
  }

  @media screen and (max-width: 480px) {
    .stylelink {
      font-size: 12px;
      padding: 10px 20px;
    }

    .stylelink.active {
      font-size: 12px;
      /*            padding: 10px 20px;*/
      padding: 10px 0px;
    }

    .sub_menu {
      font-size: 10px;
    }

    .sub_menu.active {
      font-size: 10px;
    }

    .ml {
      padding-left: 0px;
    }

    .ml1 {
      margin-left: -5%;
      margin-bottom: 25px;
    }
  }

  @media screen and (max-width:350px) {
    .ml {
      padding-left: 0px;
    }

    .ml1 {
      margin-left: -7%;
      margin-bottom: 25px;
    }
  }

  @media screen and (max-width:376px) and (min-width:355px) {
    .ml {
      padding-left: 0px;
    }

    .ml1 {
      margin-left: -7%;
      margin-bottom: 25px;
    }
  }

  @media screen and (max-width:1024px) and (min-width:1000px) {
    .ml1 {
      margin-left: -2%;
    }
  }

  .inactive {
    color: #dddddd;
    pointer-events: none;
    cursor: default;
  }

</style>

<div style="width:100%;height:auto;background:#ffffff;">
  <div id="wrapper">
    <div style="text-align:left;">
      <a class="stylelink" href="/multilanguagelist"><span
          style="flex:1;white-space:pre;overflow: hidden;text-overflow: ellipsis;">MULTILANGUAGE LIST</span></a>
    </div>
    <div style="text-align:left;">
      <a class="stylelink active" href="/formleveldetailslist"><span
          style="flex:1;white-space:pre;overflow: hidden;text-overflow: ellipsis;">TICKET LIST</span></a>
    </div>
    <div style="text-align:left;">
      <a class="stylelink" href="/formlevelactivitieslist"><span
          style="flex:1;white-space:pre;overflow: hidden;text-overflow: ellipsis;">ACTIVITIES LIST</span></a>
    </div>
    <div style="text-align:left;">
      <a class="stylelink" href="/formlevellineitemlist"><span
          style="flex:1;white-space:pre;overflow: hidden;text-overflow: ellipsis;">LINE ITEM LIST</span></a>
    </div>
    <div style="text-align:left;">
      <a class="stylelink" href="/formlevelschedulehistorylist"><span
          style="flex:1;white-space:pre;overflow: hidden;text-overflow: ellipsis;">SCHEDULE HISTORY LIST</span></a>
    </div>

  </div>
</div>

<!-- Horizontal Form -->
<div class="box box-info" style="min-height:450px;border-top:none;">

  <div class="box-body">
    <br />
    <div class="row padding">

      <div class="col-xs-12 col-sm-5 col-md-5">
        <div class="col-xs-6 col-sm-12 col-md-6">
            <div class="margin1" data-ng-hide="showForm()">
                <div class="form-group">
                    <label for="zone" class="">Customer <sup>*</sup></label>
                    <div class="">
                        <select ui-select2 id="customer" ng-model="customerId" data-placeholder="Customer"
                            style="width:100%;">
                            <option value=""></option>
                            <option data-ng-repeat="customer in customers" value="{{customer.id}}">
                                {{ customer.name }}</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xs-6 col-sm-12 col-md-6">
            <div class="margin1" data-ng-hide="showForm()">
                <div class="form-group">
                    <label for="zone" class="">Status <sup>*</sup></label>
                    <div class="">
                        <select ui-select2 id="zone" ng-model="zoneId" data-placeholder="Status"
                            style="width:100%;">
                            <option value=""></option>
                            <option data-ng-repeat="zone in zones" value="{{zone.id}}">{{ zone.name }}</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-sm-12 col-md-7">
      <div class="col-md-2">
        <!-- <div>
          <h4 style="font-weight:600;font-size:20px;padding-top: 10px;">Details List</h4>
        </div> -->
      </div>
      <div class="col-md-10">
        <div class="col-sm-0 col-md-1"></div>
        <div data-ng-hide="showForm()" class="col-md-1" style="text-align:left;padding-left:0px;padding-right:0px;">
          <label>Show</label>
          <div class="sell">
            <select ng-model="pageSize" data-placeholder="Show Entries" ng-change="pageFunction(pageSize)">
              <option value="25">25</option>
              <option value="50">50</option>
              <option value="100">100</option>
            </select>
          </div>
          <!--					<span>Entries</span>-->
        </div>
        <div data-ng-hide="showForm()" class=" col-md-5 top ml" style="padding-right:0px;">

          <form role="form">
            <div class="input-group">
              <span class="input-group-btn">
                <button class="btn btn-default" type="button"
                  style="border-top-left-radius: 4px;border-bottom-left-radius: 4px;background:none;border-right:none;"><span
                    class="glyphicon glyphicon-search"></span></button>
              </span>
              <input type="text" class="form-control ng-pristine ng-valid" placeholder="Search"
                style="z-index:0;border-radius:2px;border-left:none;border-top-right-radius:4px;border-bottom-right-radius: 4px;"
                data-ng-model="searchZone">
            </div>
          </form>

        </div>
        <div class="col-md-5 top ml1">
          <a data-ng-href="/uploadxls" class="btn btn-primary btn-sm  col-md-5" role="button"
            data-ng-hide="hideCreateButton()" style="padding:5px 2px;">XLS Upload</a>&nbsp;
          <a data-ng-href="/formlevel/create" class="btn btn-primary btn-sm  col-md-5" role="button"
            data-ng-hide="hideCreateButton()" style="padding:5px 8px;margin-left: 15px;">Add New </a>&nbsp;&nbsp;&nbsp;
        </div>
      </div>
      </div>
    </div>

    <!-- <form class="" role="form" data-ng-show="showForm()"> -->
    <form class="" role="form">
      <!-- <toaster-container
        toaster-options="{'position-class': 'toast-container-custo','time-out': 3000,'body-output-type': 'template'}">
      </toaster-container> -->
      <br />
      <!-- <div data-ng-show="isCreateView()"> -->
      <div>
        <div class="table-responsive">
          <table class="table table-hover" style="table-layout:fixed;">
            <thead>
              <tr>
                <!-- <th style="width:70px;">S NO.</th>
                <th style="width:100px;">LANGUAGE</th>
                <th style="width:100px;">SER</th>
                <th style="width:100px;">RC STATUS</th>
                <th style="width:150px;">CUSTOMER NAME</th>
                <th style="width:100px;">ACTION</th> -->
                <th style="width:80px;">SR NO.</th>
                <!-- <th style="width:120px;">SER</th> -->
                <th style="width:150px;">DISPATCH NUMBER</th>
                <!-- <th style="width:150px;">CUSTOMER</th> -->
                <th style="width:145px;">SERVICE PROVIDER</th>
                <th style="width:145px;">DISPATCH STATUS</th>
                <th style="width:150px;">CATEGORY</th>
                <th style="width:150px;">SUBCATEGORY</th>
                <th style="width:150px;">CUSTOMER NAME</th>
                <th style="width:200px;">CUSTOMER CONTACT NAME</th>
                <th style="width:255px;">CUSTOMER CONTACT EMAIL ADDRESS</th>
                <th style="width:150px;">CITY</th>
                <!-- <th style="width:100px;">PINCODE</th> -->
                <th style="width:170px;">SERVICE POSTAL CODE</th>
                <!-- <th style="width:300px;">ADDRESS</th> -->
                <th style="width:300px;">SERVICE ADDRESS LINE 1</th>
                <th style="width:300px;">SERVICE ADDRESS LINE 2</th>
                <!-- <th style="width:120px;">STATUS</th> -->
                <th style="width:150px;">CREATED DATE/TIME</th>
                <th style="width:150px;">ETA</th>
                <!-- <th style="width:150px;">LAST ACTION</th> -->
                <th style="width:190px;">SERVICE EVENT DATE/TIME</th>
                <th style="width:100px;">ACTION</th>
              </tr>

            </thead>
            <tbody>
              <!--current-page="currentpage"-->
              <tr ng-repeat="rcdetail in rcdetails">
                <!-- <td>{{ rcdetail.index }}</td>
                <td>{{ rcdetail.serno }}</td>
                <td>{{ rcdetail.rcstatus }}</td>
                <td>{{ rcdetail.customername }}</td>
                <td><a data-ng-href="/formlevel/edit/{{rcdetail.id}}"><img src="images/piclinks/edit.png" title="Edit"
                      class="edit1"></a>&nbsp;
                </td> -->
                <td>{{rcdetail.index}}</td>
                <td style="width:80px;">{{rcdetail.dispatchno}}</td>
                <!-- <td style="width:120px;">{{ rcdetail.customername }}</td> -->
                <td style="width:120px;">{{rcdetail.serviceprovider}}</td>
                <td data-ng-init="status = getstatus(rcdetail.statusId)" style="width:120px;">{{status.name}}</td>
                <td data-ng-init="category = getcategory(rcdetail.categoryId)" style="width:150px;">{{category.name}}
                </td>
                <td data-ng-init="subcategory = subgetcategory(rcdetail.subcategoryId)" style="width:150px;">
                  {{subcategory.name}}</td>
                <td style="width:120px;">{{rcdetail.customername}}</td>
                <td style="width:120px;">{{rcdetail.customercontactname}}</td>
                <td style="width:120px;">{{rcdetail.customercontactemail}}</td>
                <td data-ng-init="city = getcity(rcdetail.cityId)" style="width:150px;">{{city.name}}</td>
                <td data-ng-init="pincode = getpincode(rcdetail.pincodeId)" style="width:100px;">{{pincode.name}}</td>
                <td style="width:300px;">{{rcdetail.serviceaddress1}}</td>
                <td style="width:300px;">{{rcdetail.serviceaddress2}}</td>
                <!-- <td data-ng-init="status = getstatus(rcdetail.statusId)" style="width:120px;">{{ status.name }}</td> -->
                <td style="width:150px;">{{rcdetail.createdtime | date:'dd-MMM-yyyy hh:mm:ss a'}}</td>
                <td style="width:150px;">{{rcdetail.etatime | date:'dd-MMM-yyyy hh:mm:ss a'}}</td>
                <td style="width:150px;">{{rcdetail.lastmodifiedtime | date:'dd-MMM-yyyy hh:mm:ss a'}}</td>
                <td style="width:100px;"><a data-ng-href="/formlevel/edit/{{rcdetail.id}}"><img
                      src="images/piclinks/edit.png" title="Edit" class="edit1"></a>&nbsp;
                </td>
              </tr>
            </tbody>
          </table>

        </div>
      </div>
    </form>

  </div>

</div>
