<!--
<style>
    .stylelink {
        background: transparent;
        color: #fff;
        font-weight: bold;
        text-decoration: none;
        font-size: 14px;
        display: inline-flex;
        flex-flow: row nowrap;
        max-width: 100%;
        padding: 20px 10px;
    }
    
    .stylelink.active {
        color: #fff;
        font-weight: bold;
        text-decoration: none;
        font-size: 14px;
        font-weight: 600;
        display: inline-flex;
        flex-flow: row nowrap;
        max-width: 100%;
        padding: 20px 10px;
        border-bottom: 4px solid #cc3535;
    }
    
    .sub_menu {
        display: inline-flex;
        flex-flow: row nowrap;
        max-width: 100%;
        padding: 10px 10px;
        border-bottom: 2px solid transparent;
        color: #333;
    }
    
    .sub_menu.active {
        display: inline-flex;
        flex-flow: row nowrap;
        max-width: 100%;
        padding: 10px 10px;
        color: #000;
        font-weight: bold;
        border-bottom: 2px solid #01adfb;
    }
    
    #wrapper {
        display: table;
        table-layout: fixed;
        width: 100%;
        height: auto;
        background-color: #fff;
    }
    
    #wrapper div {
        display: table-cell;
        height: auto;
    }
    
    .nav-tabs-custom > .nav-tabs > li {
        width: 16%;
    }
    
    @media screen and (max-width: 480px) {
        .stylelink {
            font-size: 12px;
            padding: 5px 10px;
        }
        .stylelink.active {
            font-size: 12px;
            padding: 5px 10px;
        }
        .sub_menu {
            font-size: 10px;
        }
        .sub_menu.active {
            font-size: 10px;
        }
        .nav-tabs-custom > .nav-tabs > li {
            position: relative;
            display: block;
            padding: 10px;
            text-align: center;
            width: 180px;
        }
    }

</style>
-->
<style>
    .stylelink {
        /*		padding: 3px 10px;*/
        background: transparent;
        color: #9d9eb3;
        font-weight: bold;
        /*		border-radius: 50px;*/
        text-decoration: none;
        font-size: 14px;
        display: inline-flex;
        flex-flow: row nowrap;
        max-width: 100%;
        padding: 20px 40px;

    }

    .stylelink.active {
        /*		padding: 3px 10px;*/
        /*		background: #b71c1c;*/
        color: #4a4d72;
        font-weight: bold;
        /*		border-radius: 50px;*/
        text-decoration: none;
        font-size: 14px;
        /*		font-weight: 600;*/
        display: inline-flex;
        flex-flow: row nowrap;
        max-width: 100%;
        padding: 20px 40px;
        padding-left: 0px;
/*        border-bottom: 4px solid #e72e5a;*/
    }

    .sub_menu {
        display: inline-flex;
        flex-flow: row nowrap;
        max-width: 100%;
        padding: 10px 10px;
        border-bottom: 2px solid transparent;
        color: #333;
    }

    .sub_menu.active {
        display: inline-flex;
        flex-flow: row nowrap;
        max-width: 100%;
        padding: 10px 10px;
        color: #000;
        font-weight: bold;
        /*		border-bottom: 2px solid #01adfb;*/
    }

    #wrapper {
        display: table;
        table-layout: fixed;
        width: 100%;
        height: auto;
        border-bottom: 1px solid #f4f4f4;
        /*		background-color: #fff;*/
    }

    #wrapper div {
        display: table-cell;
        height: auto;
    }

    .nav-tabs-custom>.nav-tabs>li {
        width: 16%;
    }

    /*.main_text {
        width: 100%;
        height: auto;
        position: relative;
        text-align: center;
        color: #333;
        padding: 10px 0;
        display: block;
    }
    .main_text.active {
        color: #000;
        font-weight: 600;
    }
    
    .main_text.active:after {
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        top: 100%;
        margin: 0px auto;
        width: 90px;
        height: 2px;
        background: #01adfb;
    }*/

    @media screen and (max-width: 480px) {
        .stylelink {
            font-size: 12px;
            padding: 10px 20px;
        }
        .stylelink.active {
            font-size: 12px;
/*            padding: 10px 20px;*/
            padding: 10px 0px;
        }
        .sub_menu {
            font-size: 10px;
        }
        .sub_menu.active {
            font-size: 10px;
        }
    }

</style>

<!-- Horizontal Form -->
<div class="box box-info" style="min-height:450px;border-top:none;margin-top:12px;">
    <div style=" border-bottom: 1px solid #f4f4f4;background:#f4f4f4;">
        <div class="stylelink active box-header with-border ">
            <h3 class="box-title" style="font-weight:bold;">Member </h3>
            <div class="col-sm-6" style="margin-top:-6px;">
                <input type="text" class="form-control" id="memberid" data-ng-model="member.memberLabel" placeholder="Member">
            </div>
        </div>
    </div>

    <div class="box-body">
        <!--<div align="left">
            <a data-ng-href="/surveyquestionmlanguage/create" class="btn btn-primary btn-sm " role="button" data-ng-hide="hideCreateButton()">Add New </a>
        </div>-->
        <br/>

        <form role="form">
            <div class="row padding">
                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="role">Language <sup>*</sup> </label>
                        <div>
                            <select ui-select2 id="language" data-ng-model="member.language" data-placeholder="Pick a Language" style="width:100%;" ng-disabled="languageDisable">
									<option value=""></option>
									<option data-ng-repeat="language in languages" value="{{language.id}}">{{ language.name }}</option>
								</select>
                        </div>
                    </div>   
                </div>
                
                 <div class="col-sm-3">
                    <!--
                    <div class="form-group">
                        <label for="employee-id" class="col-sm-4" style="font-weight:600;margin-top:7px;color:red;">Enable Write </label>
                        <div class="col-sm-2">
                            <input type="checkbox" id="memberid" data-ng-model="member.enableWrite" placeholder="Enable Write">
                        </div>
                    </div>
-->

                    <div class="form-group">
                        <label for="role">Enable for Roles <sup>*</sup> </label>
                        <div>
                            <select multiple ui-select2 id="enableforroles" data-ng-model="member.enableforroles" data-placeholder="Pick a Role" style="width:100%;">
									<option value=""></option>
									<option data-ng-repeat="role in roles" value="{{role.id}}">{{ role.name }}</option>
								</select>
                        </div>
                    </div>
                </div>
                
                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="name">Full Name <sup>*</sup></label>
                        <div>
                            <input type="text" class="form-control" id="name" data-ng-model="member.fullname" placeholder="Full Name">
                        </div>
                    </div>
                </div>
                
                <div class="col-sm-3">
                     <div class="form-group">
                        <label for="memberid">Member ID <sup>*</sup></label>
                        <div>
                            <input type="text" class="form-control" id="memberid" data-ng-model="member.memberId" placeholder="Member ID">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row padding">
                <div class="col-sm-3">
                     <div class="form-group">
                        <label for="name">DOB <sup>*</sup>
                        </label>
                        <div>
                            <input type="text" class="form-control" id="memberid" data-ng-model="member.dob" placeholder="DOB">
                        </div>
                    </div>
                </div>
                
                <div class="col-sm-3">
                     <div class="form-group">
                        <label for="name">Age <sup>*</sup></label>
                        <div>
                            <input type="text" class="form-control" id="age" data-ng-model="member.age" placeholder="Age">
                        </div>
                    </div>
                </div>
                
                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="sales-area">Gender <sup>*</sup> </label>
                        <div>
                            <input type="text" class="form-control" id="memberid" data-ng-model="member.gender" placeholder="Gender">
                        </div>
                    </div>
                </div>
                
                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="sales-area">Occupation <sup>*</sup> </label>
                        <div>
                            <input type="text" class="form-control" id="memberid" data-ng-model="member.occupation" placeholder="Occupation">
                        </div>
                    </div>
                </div>
                
                <div class="col-sm-3">
                     <div class="form-group">
                        <label for="sales-area">Education  <sup>*</sup></label>
                        <div>
                            <input type="text" class="form-control" id="memberid" data-ng-model="member.education" placeholder="Education">
                        </div>
                    </div>
                </div>
                
                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="employee-id">Address <sup>*</sup> </label>
                        <div>
                            <input type="text" class="form-control" id="memberid" data-ng-model="member.address" placeholder="Address">
                        </div>
                    </div>
                </div>
                
                <div class="col-sm-3">
                     <div class="form-group">
                        <label for="typology">Latitude / Longitude <sup>*</sup> </label>
                         <div class="row">
                              <div class="col-sm-6">
                            <input type="text" class="form-control" id="latitude" data-ng-model="member.latitude" placeholder="Latitude">

                        </div>
                             <div class="col-sm-6">
                            <input type="text" class="form-control" id="longitude" data-ng-model="member.longitude" placeholder="Longitude">
                        </div>
                         </div>
                       
<!--                        <p1> </p1>-->
                        
                    </div>
                </div>
                
                <div class="col-sm-3">
                     <div class="form-group">
                        <label for="name">Stress <sup>*</sup></label>
                        <div>
                            <input type="text" class="form-control" id="age" data-ng-model="member.stress" placeholder="Stress">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row padding">
                <div class="col-sm-3">
                      <div class="form-group">
                        <label for="name">Save <sup>*</sup></label>
                        <div>
                            <input type="text" class="form-control" id="age" data-ng-model="member.saveLabel" placeholder="Save">
                        </div>
                    </div>
                </div>
                
                <div class="col-sm-3">
                     <div class="form-group">
                        <label for="name">Update <sup>*</sup></label>
                        <div>
                            <input type="text" class="form-control" id="age" data-ng-model="member.updateLabel" placeholder="Update">
                        </div>
                    </div>
                </div>
                
                <div class="col-sm-3">
                     <div class="form-group">
                        <label for="name">Cancel <sup>*</sup></label>
                        <div>
                            <input type="text" class="form-control" id="age" data-ng-model="member.cancelLabel" placeholder="Cancel">
                        </div>
                    </div>
                </div>    
            </div>
            <br>
            <div align="right">
                <div>
                    <a data-ng-href="/memberlanguage" class="btn btn-danger btn-sm " role="button" style="padding:5px 20px;margin-right:10px;">Cancel</a>
                    
                    <button type="button" class="btn btn-info btn-sm" data-ng-click="Save()" data-ng-if="hideSave" ng-disabled="submitDisable" style="padding:5px 20px;margin-right:30px;">Save</button>

                    <button type="button" class="btn btn-info btn-sm " data-ng-click="Update()" data-ng-if="hideUpdate" style="padding:5px 20px;margin-right:30px;">Update</button>
                </div>
            </div>
            <br>
        </form>

        <br/>
        <!-- /.box-body -->
        <div class="box-footer">

        </div>
        <!-- /.box-footer -->
    </div>
    <!-- /.box -->

    <!---  <style>
        .nav-tabs-custom > .nav-tabs > li.active {
            border-top-color: #b71c1c;
        }
    </style>--->

    <modal2 title1="{{modalTitle}}" visible="stakeholderdataModal">
        <p>{{message}}</p>
    </modal2>

    <validationmodal title1="Alert!!!" visible="showValidation">
        {{validatestring1}}
    </validationmodal>
