<style>
    /*
	.stylelink {
		padding: 3px 10px;
		background: transparent;
		color: #333;
		border-radius: 50px;
		text-decoration: none;
		font-size: 14px;
		display: inline-flex;
		flex-flow: row nowrap;
		max-width: 100%;
	}
	
	.stylelink.active {
		padding: 3px 10px;
		background: #b71c1c;
		color: #fff;
		border-radius: 50px;
		text-decoration: none;
		font-size: 14px;
		font-weight: 600;
		display: inline-flex;
		flex-flow: row nowrap;
		max-width: 100%;
	}
	*/
    
    
    .stylelink {
        /*		padding: 3px 10px;*/
        background: transparent;
        color: #9d9eb3;
        font-weight: bold;
        /*		border-radius: 50px;*/
        text-decoration: none;
        font-size: 14px;
        display: inline-flex;
        flex-flow: row nowrap;
        max-width: 100%;
        padding: 20px 10px;
    }
    
    .stylelink.active {
        /*		padding: 3px 10px;*/
        /*		background: #b71c1c;*/
        color: #4a4d72;
        font-weight: bold;
        /*		border-radius: 50px;*/
        text-decoration: none;
        font-size: 14px;
        /*		font-weight: 600;*/
        display: inline-flex;
        flex-flow: row nowrap;
        max-width: 100%;
        padding: 20px 10px;
        border-bottom: 4px solid #e72e5a;
    }
    
	.sub_menu {
		display: inline-flex;
		flex-flow: row nowrap;
		max-width: 100%;
		padding: 10px 10px;
		border-bottom: 2px solid transparent;
		color: #333;
	}
	
	.sub_menu.active {
		display: inline-flex;
		flex-flow: row nowrap;
		max-width: 100%;
		padding: 10px 10px;
		color: #000;
		font-weight: bold;
		border-bottom: 2px solid #01adfb;
	}
	
	#wrapper {
		display: table;
		table-layout: fixed;
		width: 100%;
		height: auto;
        border-bottom: 1px solid #e6e6e6;
/*		background-color: #fff;*/
	}
	
	#wrapper div {
		display: table-cell;
		height: auto;
	}
	/*.main_text {
        width: 100%;
        height: auto;
        position: relative;
        text-align: center;
        color: #333;
        padding: 10px 0;
        display: block;
    }
    .main_text.active {
        color: #000;
        font-weight: 600;
    }
    
    .main_text.active:after {
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        top: 100%;
        margin: 0px auto;
        width: 90px;
        height: 2px;
        background: #01adfb;
    }*/
	
	@media screen and (max-width: 480px) {
		.stylelink {
			font-size: 12px;
		}
		.stylelink.active {
			font-size: 12px;
		}
		.sub_menu {
			font-size: 10px;
		}
		.sub_menu.active {
			font-size: 10px;
		}
	}

</style>

<div style="width:100%;height:auto;background:#ffffff;">
	<div id="wrapper">
		<div style="text-align:center;">
			<a class="stylelink" href="/facilitymanager"><span style="flex:1;white-space:pre;overflow: hidden;text-overflow: ellipsis;">FACILITY MANAGER/HDF</span></a>
		</div>
		<div style="text-align:center;">
			<a class="stylelink active" href="/otherroles"><span style="flex:1;white-space:pre;overflow: hidden;text-overflow: ellipsis;">OTHER ROLES</span></a>
		</div>
		<div style="text-align:center;">
			<a class="stylelink" href="/roles"><span style="flex:1;white-space:pre;overflow: hidden;text-overflow: ellipsis;">ROLES</span></a>
		</div>
		<div style="text-align:center;">
			<a class="stylelink" href="/users"><span style="flex:1;white-space:pre;overflow: hidden;text-overflow: ellipsis;">USERS</span></a>
		</div>
		<div style="text-align:center;">
			<a class="stylelink" href="/facilityassign"><span style="flex:1;white-space:pre;overflow: hidden;text-overflow: ellipsis;">FACILITY ASSIGN</span></a>
		</div>
	</div>
</div>


<!-- Horizontal Form -->
<div class="box box-info" style="min-height:450px;border-top:none;">
	<div class="box-header with-border">
<!--		<h3 class="box-title">Other Roles</h3>-->
	</div>
	<!-- /.box-header -->
	<!-- form start -->

	<div class="box-body" style="padding:20px;">
		<div align="left">

		</div>
		<br/>
		<form class="form-horizontal" role="form">
			<p align="center" style="color:red">All fields in red are mandatory</p>
			<br/>
			<div class="row" style="margin:0;padding:0;">

				<div class="col-sm-6">
					<div class="form-group">
						<label for="role" class="col-sm-4" style="font-weight:600;margin-top:7px;color:red;">Role </label>
						<div class="col-sm-6">
							<select ui-select2 ng-model="mentor.role" data-placeholder="Pick a Role" style="width:100%;" ng-change="currentRole()">
								<option value=""></option>
								<option data-ng-repeat="role in userroles" value="{{role.id}}">{{ role.name }}</option>
							</select>
						</div>
					</div>
				</div>

				<div class="col-sm-6">
					<div class="form-group">
						<label for="city" class="col-sm-4" style="font-weight:600;margin-top:7px;color:red;">Name </label>
						<div class="col-sm-6">
							<input type="text" class="form-control" id="name" ng-model="mentor.name" placeholder="Name">
						</div>
					</div>

				</div>
			</div>

			<div class="row" style="margin:0;padding:0;">

				<div class="col-sm-6">
					<div class="form-group">
						<label for="city" class="col-sm-4" style="font-weight:600;margin-top:7px;">Mobile No</label>
						<div class="col-sm-6">
							<input type="text" class="form-control" id="mobile" ng-model="mentor.mobile" placeholder="Mobile No" maxlength="10" numbers-only="true">
						</div>
					</div>
				</div>
				<div class="col-sm-6">
					<div class="form-group">
						<label for="route" class="col-sm-4" style="font-weight:600;margin-top:7px;">Address</label>
						<div class="col-sm-6">
							<textarea type="text" class="form-control" id="address" data-ng-model="mentor.address" placeholder="Address" rows="3"></textarea>
						</div>
					</div>
				</div>
			</div>
			<div class="row" style="margin:0;padding:0;">
				

				<div class="col-sm-6">
					<div class="form-group">
						<label for="helplineno" class="col-sm-4" style="font-weight:600;margin-top:7px;">Lat/Long</label>
						<div class="col-sm-6">
							<div class="input-group">
								<input type="text" class="form-control" id="latlong" data-ng-model="mentor.latitude" placeholder="Lat/Long">
								<span class="input-group-btn">
                                            <button class="btn btn-default" type="button" ng-click="toggleMapModal()" autocomplete="off"><span class="glyphicon glyphicon-search"></span>
								</button>
								</span>
							</div>
						</div>
					</div>
				</div>

				<div class="col-sm-6" ng-if="mentor.role!=16">
					<div class="form-group">
						<label for="zone" class="col-sm-4" style="font-weight:600;margin-top:7px;">State <span style="color:red">*</span></label>
						<div class="col-sm-6">
							<select ui-select2 id="state" ng-model="mentor.state" data-placeholder="Pick a State" style="width:100%;">
								<option value=""></option>
								<option data-ng-repeat="zone in zones" value="{{zone.id}}">{{ zone.name }}</option>
							</select>
						</div>
					</div>
				</div>
			</div>

			<br/>
			<br/>
			<br/>
			<div align="left">
				<div>
					<a class="btn btn-primary btn-sm" type="submit" role="button" data-ng-click="Save()" data-ng-show="showSaveButton" ng-disabled="submitDisable" style="padding:5px 20px;margin-right:10px;">Create </a>

					<a class="btn btn-success btn-sm" type="submit" role="button" data-ng-click="Update()" data-ng-hide="HideUpdateButton" ng-disabled="submitDisable" style="padding:5px 20px;margin-right:10px;">Update </a>

					<a data-ng-href="/otherroles" class="btn btn-danger btn-sm " role="button"  style="padding:5px 20px;">Cancel</a>

				</div>
			</div>


		</form>

	</div>
	<!-- /.box-body -->
	<div class="box-footer">

	</div>
	<!-- /.box-footer -->
</div>
<!-- /.box -->



<modal2 title1="{{modalTitle}}" visible="stakeholderdataModal">
	<p>{{message}}</p>
</modal2>

<validationmodal title1="Alert!!!" visible="showValidation">
	{{validatestring1}}
</validationmodal>


<modal1 title1="Get Location" visible="showMapModal">
	<form class="form-horizontal" role="form">
		<div class="row" style="margin:0;padding:0;">
			<div class="col-sm-8">
				<div id="mapCanvas"></div>
			</div>
			<div class="col-sm-4">
				<div id="infoPanel">
					<b>Marker status:</b>
					<div id="markerStatus"><i>Click and drag the marker.</i>
					</div>
					<b>Current position:</b>
					<div id="info"></div>
					<b>Closest matching address:</b>
					<div id="mapaddress"></div>
				</div>
			</div>

		</div>
		<br/>
		<br/>
		<br/>

		<div align="left">
			<div>
				<a class="btn btn-success btn-sm " type="submit" role="button" data-ng-click="SaveMap()"  style="padding:5px 20px;margin-right:10px;">Save </a>


				<a data-ng-href="" class="btn btn-danger btn-sm " role="button" data-ng-click="CancelMap()"  style="padding:5px 20px;">Cancel</a>
			</div>
		</div>
	</form>


	<style>
		.toggle.android {
			border-radius: 0px;
		}
		
		.toggle.android .toggle-handle {
			border-radius: 0px;
		}
		
		#mapCanvas {
			width: 100%;
			height: 400px;
			float: left;
		}
		/*#infoPanel {
            margin-left: 100px;
        }
        
        #infoPanel div {
            margin-bottom: 5px;
        }*/

	</style>

</modal1>

