<style>

    .stylelink {
      background: transparent;
      color: #9d9eb3;
      font-weight: bold;
      text-decoration: none;
      font-size: 14px;
      display: inline-flex;
      flex-flow: row nowrap;
      max-width: 100%;
      padding: 20px 10px;
    }

    .stylelink.active {
      color: #4a4d72;
    font-weight: bold;
    text-decoration: none;
    font-size: 14px;
    display: inline-flex;
    flex-flow: row nowrap;
    max-width: 100%;
    padding: 20px 0px;
    border-bottom: 4px solid #ec0b6d;
    margin-left: 56px;
    }

    .sub_menu {
      display: inline-flex;
      flex-flow: row nowrap;
      max-width: 100%;
      padding: 10px 10px;
      border-bottom: 2px solid transparent;
      color: #333;
    }

    .sub_menu.active {
      display: inline-flex;
      flex-flow: row nowrap;
      max-width: 100%;
      padding: 10px 10px;
      color: #000;
      font-weight: bold;
      /*		border-bottom: 2px solid #01adfb;*/
    }

    #wrapper {
      display: table;
      table-layout: fixed;
      width: 100%;
      height: auto;
      border-bottom: 4px solid #f4f4f4;
      background-color: #fff;
      margin-top: 12px;
    }

    #wrapper div {
      display: table-cell;
      height: auto;
    }

    .sell {
      position: relative;
      min-width: 45px;
    }

    .sell:after {
      content: url(images/piclinks/down-arrow.png);
      font: 17px "Consolas", monospace;
      color: #333;
      top: 5px;
      margin-left: -22px;
      padding: 0 0 2px;
      position: absolute;
      pointer-events: none;
    }

    .sell select {
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      display: block;
      width: 100%;
      /*        max-width: 320px;*/
      height: 32px;
      float: left;
      padding: 0px 7px;
      font-size: 14px;
      line-height: 1.75;
      color: #878993;
      border-radius: 4px;
      background-color: #ffffff;
      background-image: none;
      border: 1px solid #d5d7df;
      -ms-word-break: normal;
      word-break: normal;
    }

    .top {
      padding-top: 1.8em;
    }

    table,
    th,
    td {
      fill: #262d57;
      font-size: 14px;
    }

    th {
      background-color: #d5d7df;
      font-weight: normal;
    }

    tr {
      background-color: White;
      color: #262d57;
      font-size: 10px;
    }

    @media screen and (max-width: 480px) {
      .stylelink {
        font-size: 12px;
        padding: 10px 20px;
      }

      .stylelink.active {
        font-size: 12px;
        /*            padding: 10px 20px;*/
        padding: 10px 0px;
      }

      .sub_menu {
        font-size: 10px;
      }

      .sub_menu.active {
        font-size: 10px;
      }

      .ml {
        padding-left: 0px;
      }

      .ml1 {
        margin-left: -5%;
        margin-bottom: 25px;
      }
    }

    @media screen and (max-width:350px) {
      .ml {
        padding-left: 0px;
      }

      .ml1 {
        margin-left: -7%;
        margin-bottom: 25px;
      }
    }

    @media screen and (max-width:376px) and (min-width:355px) {
      .ml {
        padding-left: 0px;
      }

      .ml1 {
        margin-left: -7%;
        margin-bottom: 25px;
      }
    }

    @media screen and (max-width:1024px) and (min-width:1000px) {
      .ml1 {
        margin-left: -2%;
      }
    }

    .inactive {
      color: #dddddd;
      pointer-events: none;
      cursor: default;
    }

  </style>
  <!-- <div style="width:100%;height:auto;background:#ffffff;">
    <div id="wrapper">
      <div style="text-align:left;">
        <a class="stylelink active" href="/formlevel"><span
            style="flex:1;white-space:pre;overflow: hidden;text-overflow: ellipsis;">Details</span></a>
      </div>

    </div>
  </div> -->
  <div style="width:100%;height:auto;background:#ffffff;">
      <div id="wrapper">
        <div style="text-align:left;">
          <a class="stylelink active" href="/multilanguagelist"><span
              style="flex:1;white-space:pre;overflow: hidden;text-overflow: ellipsis;">MULTILANGUAGE LIST</span></a>
        </div>
        <div style="text-align:left;">
          <a class="stylelink" href="/formleveldetailslist"><span
              style="flex:1;white-space:pre;overflow: hidden;text-overflow: ellipsis;">TICKET LIST</span></a>
        </div>
        <div style="text-align:left;">
          <a class="stylelink" href="/formlevelactivitieslist"><span
              style="flex:1;white-space:pre;overflow: hidden;text-overflow: ellipsis;">ACTIVITIES LIST</span></a>
        </div>
        <div style="text-align:left;">
          <a class="stylelink" href="/formlevellineitemlist"><span
              style="flex:1;white-space:pre;overflow: hidden;text-overflow: ellipsis;">LINE ITEM LIST</span></a>
        </div>
        <div style="text-align:left;">
          <a class="stylelink" href="/formlevelschedulehistorylist"><span
              style="flex:1;white-space:pre;overflow: hidden;text-overflow: ellipsis;">SCHEDULE HISTORY LIST</span></a>
        </div>
    
      </div>
    </div>

  <!-- Horizontal Form -->
  <div class="box box-info" style="min-height:480px;border-top:none;">

    <div class="box-body">
      <br />

      <form class="form-horizontal" role="form">
        <p align="center">All fields in <sup>*</sup> are mandatory</p>
        <br />

       <br />
        
       <div class="col-sm-6">

        <div class="form-group" style="margin-bottom: 1px;">
            <label class="col-sm-6">DISPATCH NUMBER<sup>*</sup></label>
            <div class="col-sm-6">
                <input type="text" class="form-control" id="dispatchno" data-ng-model="langrcdetail.dispatchno" placeholder="DISPATCH NUMBER" >
            </div>
        </div>

        <div class="form-group" style="margin-bottom: 1px;">
            <label class="col-sm-6">SERVICE CALL DATE<sup>*</sup></label>
            <div class="col-sm-6">
                <input type="text" class="form-control" id="servicecalldate" data-ng-model="langrcdetail.servicecalldate" placeholder="SERVICE CALL DATE" >
            </div>
        </div>

        <div class="form-group" style="margin-bottom: 1px;">
            <label class="col-sm-6">SERVICE PROVIDER<sup>*</sup></label>
            <div class="col-sm-6">
                <input type="text" class="form-control" id="serviceprovider" data-ng-model="langrcdetail.serviceprovider" placeholder="SERVICE PROVIDER" >
            </div>
        </div>

        <div class="form-group" style="margin-bottom: 1px;">
            <label class="col-sm-6">LOGISTIC PROVIDER<sup>*</sup></label>
            <div class="col-sm-6">
                <input type="text" class="form-control" id="logisticprovider" data-ng-model="langrcdetail.logisticprovider" placeholder="LOGISTIC PROVIDER" >
            </div>
        </div>

        <div class="form-group" style="margin-bottom: 1px;">
            <label class="col-sm-6">TRANSPORT<sup>*</sup></label>
            <div class="col-sm-6">
                <input type="text" class="form-control" id="transport" data-ng-model="langrcdetail.transport" placeholder="TRANSPORT" >
            </div>
        </div>

        <div class="form-group" style="margin-bottom: 1px;">
            <label class="col-sm-6">DISPATCH STATUS<sup>*</sup></label>
            <div class="col-sm-6">
                <input type="text" class="form-control" id="dispatchstatus" data-ng-model="langrcdetail.dispatchstatus" placeholder="DISPATCH STATUS" >
            </div>
        </div>

        <div class="form-group" style="margin-bottom: 1px;">
            <label class="col-sm-6">LOB<sup>*</sup></label>
            <div class="col-sm-6">
                <input type="text" class="form-control" id="lobnew" data-ng-model="langrcdetail.lobnew" placeholder="LOB" >
            </div>
        </div>

        <div class="form-group" style="margin-bottom: 1px;">
            <label class="col-sm-6">SYSTEM CLASSIFICATION<sup>*</sup></label>
            <div class="col-sm-6">
                <input type="text" class="form-control" id="sysclassification" data-ng-model="langrcdetail.sysclassification" placeholder="SYSTEM CLASSIFICATION" >
            </div>
        </div>

        <div class="form-group" style="margin-bottom: 1px;">
            <label class="col-sm-6">END SERVICE WINDOW<sup>*</sup></label>
            <div class="col-sm-6">
                <input type="text" class="form-control" id="endservicewindow" data-ng-model="langrcdetail.endservicewindow" placeholder="END SERVICE WINDOW" >
            </div>
        </div>

        <div class="form-group" style="margin-bottom: 1px;">
            <label class="col-sm-6">SERVICE TAG<sup>*</sup></label>
            <div class="col-sm-6">
                <input type="text" class="form-control" id="servicetag" data-ng-model="langrcdetail.servicetag" placeholder="SERVICE TAG" >
            </div>
        </div>

        <div class="form-group" style="margin-bottom: 1px;">
            <label class="col-sm-6">DSP TYPE<sup>*</sup></label>
            <div class="col-sm-6">
                <input type="text" class="form-control" id="dpstype" data-ng-model="langrcdetail.dpstype" placeholder="DSP TYPER" >
            </div>
        </div>

        <div class="form-group" style="margin-bottom: 1px;">
            <label class="col-sm-6">CALL TYPE<sup>*</sup></label>
            <div class="col-sm-6">
                <input type="text" class="form-control" id="calltype" data-ng-model="langrcdetail.calltype" placeholder="CALL TYPE" >
            </div>
        </div>

        <div class="form-group" style="margin-bottom: 1px;">
            <label class="col-sm-6">SERVICE LEVEL<sup>*</sup></label>
            <div class="col-sm-6">
                <input type="text" class="form-control" id="servicelevel" data-ng-model="langrcdetail.servicelevel" placeholder="SERVICE LEVEL" >
            </div>
        </div>

        <div class="form-group" style="margin-bottom: 1px;">
            <label class="col-sm-6">CUSTOMER NUMBER<sup>*</sup></label>
            <div class="col-sm-6">
                <input type="text" class="form-control" id="customerno" data-ng-model="langrcdetail.customerno" placeholder="CUSTOMER NUMBER" >
            </div>
        </div>

        <div class="form-group" style="margin-bottom: 1px;">
            <label class="col-sm-6">CUSTOMER NAME<sup>*</sup></label>
            <div class="col-sm-6">
                <input type="text" class="form-control" id="customernamenew" data-ng-model="langrcdetail.customernamenew" placeholder="CUSTOMER NAME" >
            </div>
        </div>

        <div class="form-group" style="margin-bottom: 1px;">
            <label class="col-sm-6">CUSTOMER CONTACT NAME<sup>*</sup></label>
            <div class="col-sm-6">
                <input type="text" class="form-control" id="customercontactname" data-ng-model="langrcdetail.customercontactname" placeholder="CUSTOMER CONTACT NAME" >
            </div>
        </div>

        <div class="form-group" style="margin-bottom: 1px;">
            <label class="col-sm-6">CUSTOMER CONTACT PHONE NUMBER<sup>*</sup></label>
            <div class="col-sm-6">
                <input type="text" class="form-control" id="customercontactphno" data-ng-model="langrcdetail.customercontactphno" placeholder="CUSTOMER CONTACT PHONE NUMBER" >
            </div>
        </div>

        <div class="form-group" style="margin-bottom: 1px;">
            <label class="col-sm-6">CUSTOMER CONTACT EMAIL ADDRESS<sup>*</sup></label>
            <div class="col-sm-6">
                <input type="text" class="form-control" id="customercontactemail" data-ng-model="langrcdetail.customercontactemail" placeholder="CUSTOMER CONTACT EMAIL ADDRESSR" >
            </div>
        </div>

        <div class="form-group" style="margin-bottom: 1px;">
            <label class="col-sm-6">CUSTOMER SECONDARY CONTACT NAME<sup>*</sup></label>
            <div class="col-sm-6">
                <input type="text" class="form-control" id="customersecondarycontactno" data-ng-model="langrcdetail.customersecondarycontactno" placeholder="CUSTOMER SECONDARY CONTACT NAME" >
            </div>
        </div>

        <div class="form-group" style="margin-bottom: 1px;">
            <label class="col-sm-6">CUSTOMER SECONDARY CONTACT PHONE NUMBER<sup>*</sup></label>
            <div class="col-sm-6">
                <input type="text" class="form-control" id="customersecondarycontactphno" data-ng-model="langrcdetail.customersecondarycontactphno" placeholder="CUSTOMER SECONDARY CONTACT PHONE NUMBER" >
            </div>
        </div>

        <div class="form-group" style="margin-bottom: 1px;">
            <label class="col-sm-6">CUSTOMER SECONDARY CONTACT EMAIL ADDRESS<sup>*</sup></label>
            <div class="col-sm-6">
                <input type="text" class="form-control" id="customersecondarycontactemail" data-ng-model="langrcdetail.customersecondarycontactemail" placeholder="CUSTOMER SECONDARY CONTACT EMAIL ADDRESS" >
            </div>
        </div>

        <div class="form-group" style="margin-bottom: 1px;">
            <label class="col-sm-6">COUNTRY<sup>*</sup></label>
            <div class="col-sm-6">
                <input type="text" class="form-control" id="country" data-ng-model="langrcdetail.country" placeholder="COUNTRY" >
            </div>
        </div>

        <div class="form-group" style="margin-bottom: 1px;">
            <label class="col-sm-6">STATE<sup>*</sup></label>
            <div class="col-sm-6">
                <input type="text" class="form-control" id="statenew" data-ng-model="langrcdetail.statenew" placeholder="STATE" >
            </div>
        </div>

        <div class="form-group" style="margin-bottom: 1px;">
            <label class="col-sm-6">CITY<sup>*</sup></label>
            <div class="col-sm-6">
                <input type="text" class="form-control" id="citynew" data-ng-model="langrcdetail.citynew" placeholder="CITY" >
            </div>
        </div>

        <div class="form-group" style="margin-bottom: 1px;">
            <label class="col-sm-6">POSTAL SERVICE CODE<sup>*</sup></label>
            <div class="col-sm-6">
                <input type="text" class="form-control" id="servicepostalcode" data-ng-model="langrcdetail.servicepostalcode" placeholder="POSTAL SERVICE CODE" >
            </div>
        </div>



       </div>

       <div class="col-sm-6">
        
        <div class="form-group" style="margin-bottom: 1px;">
            <label class="col-sm-6">SERVICE ADDRESS LINE 1<sup>*</sup></label>
            <div class="col-sm-6">
                <input type="text" class="form-control" id="serviceaddress1" data-ng-model="langrcdetail.serviceaddress1" placeholder="SERVICE ADDRESS LINE 1" >
            </div>
        </div>

        <div class="form-group" style="margin-bottom: 1px;">
            <label class="col-sm-6">SERVICE ADDRESS LINE 2<sup>*</sup></label>
            <div class="col-sm-6">
                <input type="text" class="form-control" id="serviceaddress2" data-ng-model="langrcdetail.serviceaddress2" placeholder="SERVICE ADDRESS LINE 2" >
            </div>
        </div>

        <div class="form-group" style="margin-bottom: 1px;">
            <label class="col-sm-6">SERVICE ADDRESS LINE 3<sup>*</sup></label>
            <div class="col-sm-6">
                <input type="text" class="form-control" id="serviceaddress3" data-ng-model="langrcdetail.serviceaddress3" placeholder="SERVICE ADDRESS LINE 3" >
            </div>
        </div>

        <div class="form-group" style="margin-bottom: 1px;">
            <label class="col-sm-6">SERVICE ADDRESS LINE 4<sup>*</sup></label>
            <div class="col-sm-6">
                <input type="text" class="form-control" id="serviceaddress4" data-ng-model="langrcdetail.serviceaddress4" placeholder="SERVICE ADDRESS LINE 4" >
            </div>
        </div>

        <div class="form-group" style="margin-bottom: 1px;">
            <label class="col-sm-6">PART NUMBER<sup>*</sup></label>
            <div class="col-sm-6">
                <input type="text" class="form-control" id="partnumber" data-ng-model="langrcdetail.partnumber" placeholder="PART NUMBER" >
            </div>
        </div>

        <div class="form-group" style="margin-bottom: 1px;">
            <label class="col-sm-6">PART QUNATITY<sup>*</sup></label>
            <div class="col-sm-6">
                <input type="text" class="form-control" id="partquantity" data-ng-model="langrcdetail.partquantity" placeholder="PART QUNATITY" >
            </div>
        </div>

        <div class="form-group" style="margin-bottom: 1px;">
            <label class="col-sm-6">PART STATUS<sup>*</sup></label>
            <div class="col-sm-6">
                <input type="text" class="form-control" id="partstatus" data-ng-model="langrcdetail.partstatus" placeholder="PART STATUS" >
            </div>
        </div>

        <div class="form-group" style="margin-bottom: 1px;">
            <label class="col-sm-6">PART STATUS DATE<sup>*</sup></label>
            <div class="col-sm-6">
                <input type="text" class="form-control" id="partstatusdate" data-ng-model="langrcdetail.partstatusdate" placeholder="PART STATUS DATE" >
            </div>
        </div>

        <div class="form-group" style="margin-bottom: 1px;">
            <label class="col-sm-6">CARRIER NAME<sup>*</sup></label>
            <div class="col-sm-6">
                <input type="text" class="form-control" id="carriername" data-ng-model="langrcdetail.carriername" placeholder="CARRIER NAME" >
            </div>
        </div>

        <div class="form-group" style="margin-bottom: 1px;">
            <label class="col-sm-6">WAYBILL NUMBER<sup>*</sup></label>
            <div class="col-sm-6">
                <input type="text" class="form-control" id="waybillno" data-ng-model="langrcdetail.waybillno" placeholder="WAYBILL NUMBER" >
            </div>
        </div>

        <div class="form-group" style="margin-bottom: 1px;">
            <label class="col-sm-6">AGENT DESCRIPTION<sup>*</sup></label>
            <div class="col-sm-6">
                <input type="text" class="form-control" id="agentdescription" data-ng-model="langrcdetail.agentdescription" placeholder="AGENT DESCRIPTION" >
            </div>
        </div>

        <div class="form-group" style="margin-bottom: 1px;">
            <label class="col-sm-6">CLOSURE DATE<sup>*</sup></label>
            <div class="col-sm-6">
                <input type="text" class="form-control" id="closuredate" data-ng-model="langrcdetail.closuredate" placeholder="CLOSURE DATE" >
            </div>
        </div>

        <div class="form-group" style="margin-bottom: 1px;">
            <label class="col-sm-6">COMMENTS TO VENDOR<sup>*</sup></label>
            <div class="col-sm-6">
                <input type="text" class="form-control" id="commentstovendor" data-ng-model="langrcdetail.commentstovendor" placeholder="COMMENTS TO VENDOR" >
            </div>
        </div>

        <div class="form-group" style="margin-bottom: 1px;">
            <label class="col-sm-6">WARRANTY INVOICE DATE<sup>*</sup></label>
            <div class="col-sm-6">
                <input type="text" class="form-control" id="warrantyinvoicedate" data-ng-model="langrcdetail.warrantyinvoicedate" placeholder="WARRANTY INVOICE DATE" >
            </div>
        </div>

        <div class="form-group" style="margin-bottom: 1px;">
            <label class="col-sm-6">WARRANTY INVOICE NUMBER<sup>*</sup></label>
            <div class="col-sm-6">
                <input type="text" class="form-control" id="warrantyinvoiceno" data-ng-model="langrcdetail.warrantyinvoiceno" placeholder="WARRANTY INVOICE NUMBER" >
            </div>
        </div>

        <div class="form-group" style="margin-bottom: 1px;">
            <label class="col-sm-6">WARRANTY BILL FROM STATE<sup>*</sup></label>
            <div class="col-sm-6">
                <input type="text" class="form-control" id="warrantybillfromstate" data-ng-model="langrcdetail.warrantybillfromstate" placeholder="WARRANTY BILL FROM STATE" >
            </div>
        </div>

        <div class="form-group" style="margin-bottom: 1px;">
            <label class="col-sm-6">ORIGINAL ORDER BUID<sup>*</sup></label>
            <div class="col-sm-6">
                <input type="text" class="form-control" id="originalorderbuid" data-ng-model="langrcdetail.originalorderbuid" placeholder="ORIGINAL ORDER BUID" >
            </div>
        </div>

        <div class="form-group" style="margin-bottom: 1px;">
            <label class="col-sm-6">REPLY CODE<sup>*</sup></label>
            <div class="col-sm-6">
                <input type="text" class="form-control" id="replycode" data-ng-model="langrcdetail.replycode" placeholder="REPLY CODE" >
            </div>
        </div>

        <div class="form-group" style="margin-bottom: 1px;">
            <label class="col-sm-6">ENGINEER ID<sup>*</sup></label>
            <div class="col-sm-6">
                <input type="text" class="form-control" id="engineerid" data-ng-model="langrcdetail.engineerid" placeholder="ENGINEER ID" >
            </div>
        </div>

        <div class="form-group" style="margin-bottom: 1px;">
            <label class="col-sm-6">ENGINEER NAME<sup>*</sup></label>
            <div class="col-sm-6">
                <input type="text" class="form-control" id="engineername" data-ng-model="langrcdetail.engineername" placeholder="ENGINEER NAME" >
            </div>
        </div>



       </div>



        
        <br />
        <br />
        <br />
        <div align="left">
          <div class="col-sm-11" style="margin-bottom: 50px;margin-block-start: 50px;">

            <button type="button" class="btn btn-info btn-sm " data-ng-click="Save()" data-ng-show="isCreateView()"
              style="padding:5px 20px;margin-right:10px;">Create</button>

            <button type="button" class="btn btn-info btn-sm " data-ng-click="Update()" data-ng-hide="isCreateView()"
              style="padding:5px 20px;margin-right:10px;">Update</button>

            <a href="/multilanguagelist" class="btn btn-danger btn-sm " role="button"
              style="padding:5px 20px;margin-right:10px;">Cancel</a>


          </div>
        </div>
        <br>
        <br>
      </form>


      <modal2 title1="Congrats!!!" visible="stakeholderdataModal">
        
        <strong>{{message}}</strong>
        
      </modal2>
    
    
    <validationmodal title1="Alert!!!" visible="showValidation">
        {{validatestring1}}
    </validationmodal>
    </div>
  </div>
