<style>
	/*	.stylelink {
		padding: 3px 10px;
		background: transparent;
		color: #333;
		border-radius: 50px;
		text-decoration: none;
		font-size: 14px;
		display: inline-flex;
		flex-flow: row nowrap;
		max-width: 100%;
	}
	
	.stylelink.active {
		padding: 3px 10px;
		background: #b71c1c;
		color: #fff;
		border-radius: 50px;
		text-decoration: none;
		font-size: 14px;
		font-weight: 600;
		display: inline-flex;
		flex-flow: row nowrap;
		max-width: 100%;
	}
	*/
	
	  .stylelink {
        /*		padding: 3px 10px;*/
        background: transparent;
        color: #9d9eb3;
        font-weight: bold;
        /*		border-radius: 50px;*/
        text-decoration: none;
        font-size: 14px;
        display: inline-flex;
        flex-flow: row nowrap;
        max-width: 100%;
        padding: 20px 10px;
    }
    
    .stylelink.active {
        /*		padding: 3px 10px;*/
        /*		background: #b71c1c;*/
        color: #4a4d72;
        font-weight: bold;
        /*		border-radius: 50px;*/
        text-decoration: none;
        font-size: 14px;
        /*		font-weight: 600;*/
        display: inline-flex;
        flex-flow: row nowrap;
        max-width: 100%;
        padding: 20px 10px;
        border-bottom: 4px solid #e72e5a;
    }
    
	
	.sub_menu {
		display: inline-flex;
		flex-flow: row nowrap;
		max-width: 100%;
		padding: 10px 10px;
		border-bottom: 2px solid transparent;
		color: #333;
	}
	
	.sub_menu.active {
		display: inline-flex;
		flex-flow: row nowrap;
		max-width: 100%;
		padding: 10px 10px;
		color: #000;
		font-weight: bold;
		border-bottom: 2px solid #01adfb;
	}
	
	#wrapper {
		display: table;
		table-layout: fixed;
		width: 100%;
		height: auto;
        border-bottom: 1px solid #e6e6e6;
		/*		background-color: #fff;*/
	}
	
/*
	#wrapper div {
		display: table-cell;
		height: auto;
	}
*/
	/*.main_text {
        width: 100%;
        height: auto;
        position: relative;
        text-align: center;
        color: #333;
        padding: 10px 0;
        display: block;
    }
    .main_text.active {
        color: #000;
        font-weight: 600;
    }
    
    .main_text.active:after {
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        top: 100%;
        margin: 0px auto;
        width: 90px;
        height: 2px;
        background: #01adfb;
    }*/
	
	@media screen and (max-width: 480px) {
		.stylelink {
			font-size: 12px;
            padding:5px 10px;
		}
		.stylelink.active {
			font-size: 12px;
            padding:5px 10px;
		}
		.sub_menu {
			font-size: 10px;
		}
		.sub_menu.active {
			font-size: 10px;
		}
	}

</style>

<!--<div style="width:100%;height:auto;background:#e85a5a;">
	<div id="wrapper">
		<div style="text-align:center;">
			<a class="stylelink" href="/zones"><span style="flex:1;white-space:pre;overflow: hidden;text-overflow: ellipsis;">STATE</span></a>
		</div>
		<div style="text-align:center;">
			<a class="stylelink" href="/sales-areas"><span style="flex:1;white-space:pre;overflow: hidden;text-overflow: ellipsis;">DISTRICT</span></a>
		</div>
		<div style="text-align:center;">
			<a class="stylelink" href="/cities"><span style="flex:1;white-space:pre;overflow: hidden;text-overflow: ellipsis;">TOWN</span></a>
		</div>
		
		<div style="text-align:center;">
			<a class="stylelink" href="/employees"><span style="flex:1;white-space:pre;overflow: hidden;text-overflow: ellipsis;">FACILITY</span></a>
		</div>
		<div style="text-align:center;">
			<a class="stylelink active" href="/routes"><span style="flex:1;white-space:pre;overflow: hidden;text-overflow: ellipsis;">SITE</span></a>
		</div>
	</div>

</div>-->


<!-- Horizontal Form -->
<div class="box box-info" style="min-height:450px;border-TOP:none;">
    <div id="wrapper">
	<div class="stylelink active box-header with-border" style="background:#ffffff;padding:20px 10px;">
		<h3 class="box-title" style="font-weight:600;">Sites</h3>
	</div>
        </div>
	<!-- /.box-header -->
	<!-- form start -->

	<div class="box-body" style="padding:20px;">
		<div class="row">
			<div class="col-sm-6">
<!--
				<a data-ng-href="/routes/create" class="btn btn-primary btn-sm " role="button" data-ng-hide="hideCreateButton(); hideSearchFilter()" style="padding:5px 20px;margin-right:10px;">Add New </a>
				<a data-ng-href="/uploadroutes" class="btn btn-success btn-sm " role="button" data-ng-hide="hideCreateButton()" style="padding:5px 20px;">Upload</a>
-->
			</div>
			<div class="col-sm-6">
				<div class="row">
                    <div class="col-sm-6"></div>
                <div class="col-sm-1"><button class="btn btn-danger btn-sm"></button></div>
                    <div class="col-sm-2">Archived</div>
                     <div class="col-sm-1"><button class="btn btn-success btn-sm"></button></div>
                    <div class="col-sm-2">Unassigned</div>
                </div>
			</div>
		</div>
		<br/>

	<div data-ng-hide="hideSearchFilter()">
<br/>
			<div class="row" >
                <div class="col-sm-4"></div>
				<div class="col-sm-2" style="text-align:right;padding-right:0px;border-color:#e1e8ee;">
					<span>Show</span>
					<select ng-model="pageSize" data-placeholder="Show Entries" ng-change="pageFunction(pageSize)">
						<option value="25">25</option>
						<option value="50">50</option>
						<option value="100">100</option>
					</select>
				</div>
				<div class="col-sm-3" style="padding-right:0px;">
<!--
					<div class="row" style="margin:0;padding:0;">
					<div class="col-sm-4"></div>
					<div class="col-sm-8">
-->
						<form role="form" class="">
							<div class="input-group">
								<input type="text" class="form-control ng-pristine ng-valid" placeholder="Search" style="z-index:0;border-right:none;border-color:#e1e8ee;border-top-left-radius:4px;border-bottom-left-radius: 4px;"  ng-model="searchDA">
                                  <span class="input-group-btn">
                     <button class="btn btn-default" type="button" style="border-top-right-radius:4px;border-bottom-right-radius: 4px;border-color:#e1e8ee;background:none;border-left:none;"><span class="glyphicon glyphicon-search"></span></button>
                        </span>
							</div>
						</form>

<!--
					</div>
				</div>
-->
				</div>
                <div class="col-sm-3">
                <a data-ng-href="/site/create" class="btn btn-primary btn-sm " role="button" data-ng-hide="hideCreateButton(); hideSearchFilter()" style="padding:5px 20px;margin-right:10px;">Add New </a>
				<a data-ng-href="/uploadsite" class="btn btn-success btn-sm " role="button" data-ng-hide="hideCreateButton()" style="padding:5px 20px;">Upload</a>
                </div>
			</div>
		</div>
		<br />




		<div data-ng-hide="showForm()">
            <br/>
			<form role="form" class="form-horizontal">
				<div class="row" style="margin:0;padding:0;">
					<div class="col-sm-4">
						<div class="form-group">
							<label for="zone" class="col-lg-4 col-md-4 col-sm-4 col-xs-4" style="font-weight:600;margin-top:5px;">State</label>
							<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
								<select ui-select2 id="zone" ng-model="countryId" data-placeholder="Pick a State" style="width:100%;">
									<option value=""></option>
									<option data-ng-repeat="zone  in zones" value="{{zone.id}}">{{ zone.name }}</option>
								</select>
							</div>
						</div>
					</div>
					<div class="col-sm-4">
						<div class="form-group">
							<label for="salesarea" class="col-lg-4 col-md-4 col-sm-4 col-xs-4" style="font-weight:600;margin-top:5px;">District</label>
							<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
								<select ui-select2 id="salesarea" ng-model="stateId" data-placeholder="Pick a District" style="width:100%;">
									<option value=""></option>
									<option data-ng-repeat="salesarea in salesareas" value="{{salesarea.id}}">{{ salesarea.name }}</option>
								</select>
							</div>
						</div>
					</div>


					<!--			<div class="row" style="margin:0;padding:0;">-->
					<div class="col-sm-4">
						<div class="form-group">
							<label for="distributionarea" class="col-lg-4 col-md-4 col-sm-4 col-xs-4" style="font-weight:600;margin-top:5px;">Facility</label>
							<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
								<select ui-select2 id="firstName" ng-model="facilityId" data-placeholder="Pick a Facility" style="width:100%;">
									<option value=""></option>
									<option data-ng-repeat="partner in facilities" value="{{partner.id}}">{{ partner.firstName}}</option>
								</select>
							</div>
						</div>
					</div>
					<div class="col-sm-6">
					</div>
					<!--				</div>-->
				</div>
			</form>
<div class="table-responsive">
			<table class="table">
				<thead>
					<tr>
						<th>#</th>
						<th>SITE NAME</th>
						<th>FACILITY</th>
						<th>DISTRICT</th>
						<th>STATE</th>
<!--                        <th ng-style="style">MEMBER COUNT</th>-->
						<th style="width:100px;">ACTION</th>
					</tr>
				</thead>
				<tbody>

					<tr dir-paginate="route in displayroutes | filter: searchDA |itemsPerPage:pageSize" pagination-id="routesId" current-page=currentpage ng-style="{'color':route.colour}">

						<td>{{ route.index }}</td>
						<td>{{route.id}} - {{route.name}}</td>
						<td data-ng-init="partner = getPartner(route.partnerId)">{{partner.firstName}}</td>

						<td data-ng-init="salesArea = getSalesArea(route.salesAreaId)">{{salesArea.name}}</td>
						<td data-ng-init="zone = getZone(route.zoneId)">{{zone.name}}</td>
<!--                        <td style="padding-left:5%;">{{route.totalamounts.length}}</td>-->
						  <td ng-if="route.deleteflag == true">
                            <a data-ng-href="/site/{{route.id}}"><span class="glyphicon glyphicon-pencil" style="color: black;" title="Edit"></span></a>&nbsp;&nbsp;

							<a confirm-button="UnDelete(route.id)" message="Do you want to Unarchive this Site?" title="Confirm Unarchive!"><span><img src="images/unarchiveicon.png" style="color:#333;cursor:pointer; height:10%; width:20%;" title="Unarchive"></span></a>&nbsp;
						</td>
						
						<td ng-if="route.deleteflag == false">
                            <a data-ng-href="/site/{{route.id}}"><span class="glyphicon glyphicon-pencil"  title="Edit"></span></a>&nbsp;&nbsp;
                            <a style="color:#b7b8c8;">|</a>&nbsp;&nbsp;
							<a confirm-button="Delete(route.id)" message="Do you want to Archive this Site?" title="Confirm Archive!"><span><img src="images/archiveicon.png" style="cursor:pointer; height:2%; width:20%;" title="Archive"></span></a>&nbsp;
						</td>
					</tr>
				</tbody>
			</table>
            </div>
			<div align="right">
				<dir-pagination-controls max-size="5" direction-links="true" boundary-links="true" pagination-id="routesId" on-page-change="PageChanged(newPageNumber, oldPageNumber)">

				</dir-pagination-controls>
			</div>
		</div>

		<div ng-show="!displayroutes.length" style="margin:0 auto;text-align:center;padding-top: 5%;">
			<span style="font-size:18px;font-weight:bold;">Please select an options</span>
		</div>
	</div>
	<!-- /.box-body -->
	<div class="box-footer">

	</div>
	<!-- /.box-footer -->
</div>
<!-- /.box -->


<validationmodal title1="Alert!!!" visible="showValidation">
	{{validatestring1}}
</validationmodal>