<style>
    th {
        width: 22%;
        text-align: right;
    }
    
    .panel-default>.panel-heading {
        /*        background: #e85a5a;*/
        
        background: #e72e5a;
    }
    
    .panel-title {
        color: #ffffff;
    }
    
    . > tbody > tr:nth-child(even) > td,
    . > tbody > tr:nth-child(even) > th {
        background-color: #f9f9f9;
    }
    
    .stylelink {
        /*		padding: 3px 10px;*/
        
        background: transparent;
        color: #9d9eb3;
        font-weight: bold;
        /*		border-radius: 50px;*/
        
        text-decoration: none;
        font-size: 14px;
        display: inline-flex;
        flex-flow: row nowrap;
        max-width: 100%;
        padding: 20px 10px;
    }
    
    .stylelink.active {
        /*		padding: 3px 10px;*/
        /*		background: #b71c1c;*/
        
        color: #4a4d72;
        font-weight: bold;
        /*		border-radius: 50px;*/
        
        text-decoration: none;
        font-size: 14px;
        /*		font-weight: 600;*/
        
        display: inline-flex;
        flex-flow: row nowrap;
        max-width: 100%;
        padding: 20px 10px;
        border-bottom: 4px solid #e72e5a;
    }
    
    #wrapper {
        display: table;
        table-layout: fixed;
        width: 100%;
        height: auto;
        border-bottom: 1px solid #e6e6e6;
    }
</style>
<div class="box box-info" style="min-height:450px;border-top:none;">
    <div id="wrapper">
        <div class=" stylelink active box-header with-border " style="padding:20px 10px;">
            <h3 class=" box-title " style="font-weight:600">Last Pushed Data </h3>
            <!--
        <div class="col-sm-6"></div>
        <div class="col-sm-3">
            <h3 class="box-title pull-right">{{SyncOutTime.datetime|date:'dd-MMM-yyyy hh:mm:ss a'}}</h3>
        </div>
-->
        </div>
    </div>

    <!-- /.box-header -->
    <!-- form start -->

    <div class="box-body" style="padding:20px;">
        <div class="row">
            <div align="left" class="col-sm-3">
                <a data-ng-href="/fieldworker" class="btn btn-danger btn-sm " role="button" style="padding:5px 20px;margin-right:10px;">Cancel </a>
            </div>
            <div class="col-sm-6">
                <table class="table">
                    <tr>
                        <th>FW USERNAME</th>
                        <td>{{selectedFW.firstname}}</td>
                    </tr>
                    <tr>
                        <th>FW FULL NAME</th>
                        <td>{{selectedFW.lastname}}</td>
                    </tr>
                    <tr>
                        <th>ASSIGNED</th>
                        <td data-ng-init="sites = getassignedSites(selectedFW.sitesassigned)" ng-if="selectedFW.sitesassigned.length>0">
                            <p ng-repeat="site in sites">{{ site.id }}-{{ site.name }}</p>
                        </td>
                    </tr>

                </table>
            </div>
        </div>
        <br/>



        <div id="accordion" role="tablist" aria-multiselectable="true">
            <!--    first tab -->
            <div class="panel panel-default" ng-click="onCLickThirdSyncOut(thirdSyncout.datetime)">
                <div class="panel-heading" role="tab" id="headingOne">
                    <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
        {{thirdSyncout.datetime|date:'dd-MMM-yyyy hh:mm:ss a'}}
        </a>
      </h4>
                </div>
                <div id="collapseOne" class="panel-collapse collapse in table-responsive" role="tabpanel" aria-labelledby="headingOne">
                    <br/>

                    <table class="table   ">
                        <tr>
                            <th style="padding-right:2px;">ACTION

                            </th>
                            <td style="font-weight:bold;padding-left:2px;">DETAILS
                            </td>
                        </tr>
                        <tr>
                            <th ng-style="style">MEMBERS UPDATED/ADDED
                            </th>
                            <td>{{thirdSyncMembers}}
                            </td>
                        </tr>
                        <tr>
                            <th ng-style="style">1-1
                            </th>
                            <td>{{thirdSyncAnswers}}
                            </td>
                        </tr>
                        <tr>
                            <th ng-style="style">APPLICATION
                            </th>
                            <td>{{thirdSyncSchemes}}
                            </td>
                        </tr>
                        <tr>
                            <th ng-style="style">INCIDENT</th>
                            <td>{{thirdSyncIncidents}}
                            </td>
                        </tr>
                        <tr>
                            <th ng-style="style">STAKEHOLDER MEETINGS
                            </th>
                            <td>{{thirdstakeholders.length}}
                            </td>
                        </tr>
                        <tr>
                            <th ng-style="style">GROUP MEETINGS
                            </th>
                            <td>{{thirdgroupmeetings.length}}
                            </td>
                        </tr>
                    </table>
                    <!--
     <table class="table   ">
				<thead>
					<tr>
						<th>Fullname</th>
						<th>Nickname</th>
						<th>Hotspot</th>
						<th>Avahan Id</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					<tr dir-paginate="beneficiary in beneficiaries| filter:searchPart |itemsPerPage:10" pagination-id="bnbody">
						<td>{{ beneficiary.fullname }}</td>
						<td>{{ beneficiary.nickname }}</td>
						<td>{{ beneficiary.hotspot }}</td>
						<td>{{ beneficiary.avahanid}}</td>
					</tr>
				</tbody>
			</table>
-->
                </div>
            </div>
            <!--    2nd tab-->
            <div class="panel panel-default" ng-click="onCLickSecondSyncOut(secondSyncout.datetime)">
                <div class="panel-heading" role="tab" id="headingTwo">
                    <h4 class="panel-title">
        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
       {{secondSyncout.datetime|date:'dd-MMM-yyyy hh:mm:ss a'}}
        </a>
      </h4>
                </div>
                <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                    <br/>

                    <table class="table   ">
                        <tr>
                            <th style="padding-right:2px;">ACTION

                            </th>
                            <td style="font-weight:bold;padding-left:2px;">DETAILS
                            </td>
                        </tr>
                        <tr>
                            <th ng-style="style">MEMBERS UPDATED/ADDED
                            </th>
                            <td>{{secondSyncMembers}}
                            </td>
                        </tr>
                        <tr>
                            <th ng-style="style">1-1
                            </th>
                            <td>{{secondSyncAnswers}}
                            </td>
                        </tr>
                        <tr>
                            <th ng-style="style">APPLICATION
                            </th>
                            <td>{{secondSyncSchemes}}
                            </td>
                        </tr>
                        <tr>
                            <th ng-style="style">INCIDENT</th>
                            <td>{{secondSyncIncidents}}
                            </td>
                        </tr>
                        <tr>
                            <th ng-style="style">STAKEHOLDER MEETINGS
                            </th>
                            <td>{{secondstakeholders.length}}
                            </td>
                        </tr>
                        <tr>
                            <th ng-style="style">GROUP MEETINGS
                            </th>
                            <td>{{secondgroupmeetings.length}}
                            </td>
                        </tr>
                    </table>
                    <!--
      <table class="table   ">
				<thead>
					<tr>
						<th>Member</th>
						<th>Incident Date</th>
						<th>Severity</th>
						<th>Followup Date</th>
					</tr>
				</thead>
				<tbody>
					<tr dir-paginate="beneficiary in reportincidents| filter:searchPart |itemsPerPage:pageSize" pagination-id="ribody">
						<td>{{ beneficiary.Membername.fullname }}</td>
						<td>{{ beneficiary.incidentdate|date:'dd-MMM-yyyy' }}</td>
						<td>{{ beneficiary.severity }}</td>
						<td>{{ beneficiary.followupdate|date:'dd-MMM-yyyy' }}</td>
					</tr>
				</tbody>
			</table>
-->
                </div>
            </div>
            <!--    3rd tab -->
            <div class="panel panel-default" ng-click="onCLickFirstSyncOut(firstSyncout.datetime)">
                <div class="panel-heading" role="tab" id="headingThree">
                    <h4 class="panel-title">
        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
         {{firstSyncout.datetime|date:'dd-MMM-yyyy hh:mm:ss a'}}
        </a>
      </h4>
                </div>
                <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                    <br/>

                    <table class="table   ">
                        <tr>
                            <th style="padding-right:2px;">ACTION

                            </th>
                            <td style="font-weight:bold;padding-left:2px;">DETAILS
                            </td>
                        </tr>
                        <tr>
                            <th ng-style="style">MEMBERS UPDATED/ADDED
                            </th>
                            <td>{{firstSyncMembers}}
                            </td>
                        </tr>
                        <tr>
                            <th ng-style="style">1-1
                            </th>
                            <td>{{firstSyncAnswers}}
                            </td>
                        </tr>
                        <tr>
                            <th ng-style="style">APPLICATION
                            </th>
                            <td>{{firstSyncSchemes}}
                            </td>
                        </tr>
                        <tr>
                            <th ng-style="style">INCIDENT</th>
                            <td>{{firstSyncIncidents}}
                            </td>
                        </tr>
                        <tr>
                            <th ng-style="style">STAKEHOLDER MEETINGS
                            </th>
                            <td>{{firststakeholders.length}}
                            </td>
                        </tr>
                        <tr>
                            <th ng-style="style">GROUP MEETINGS
                            </th>
                            <td>{{firstgroupmeetings.length}}
                            </td>
                        </tr>
                    </table>
                    <!--
        
   <table class="table   ">
				<thead>
					<tr>
						<th>Scheme/Document</th>
						<th>Member</th>
						<th>Stage</th>
						<th>Followup Date</th>
					</tr>
				</thead>
				<tbody>
					<tr dir-paginate="beneficiary in schememasters| filter:searchPart |itemsPerPage:pageSize" pagination-id="smbody">
						<td ng-if="beneficiary.documentflag==true">Document</td>
                        <td ng-if="beneficiary.documentflag==false">Scheme</td>
						<td>{{ beneficiary.Membername.fullname }}</td>
						<td>{{ beneficiary.Stage.name }}</td>
						<td>{{ beneficiary.datetime|date:'dd-MMM-yyyy' }}</td>
					</tr>
				</tbody>
			</table>
-->
                </div>
            </div>



        </div>
    </div>
    <div class="box-footer"></div>
</div>