<style>
    .stylelink {
        background: transparent;
        color: #9d9eb3;
        font-weight: bold;
        text-decoration: none;
        font-size: 14px;
        display: inline-flex;
        flex-flow: row nowrap;
        max-width: 100%;
        padding: 20px 40px;
    }
    
    .stylelink.active {
        color: #4a4d72;
        font-weight: bold;
        text-decoration: none;
        font-size: 14px;
        display: inline-flex;
        flex-flow: row nowrap;
        max-width: 100%;
        padding: 20px 40px;
        border-bottom: 4px solid #e72e5a;
    }
    
    .sub_menu {
        display: inline-flex;
        flex-flow: row nowrap;
        max-width: 100%;
        padding: 10px 10px;
        border-bottom: 2px solid transparent;
        color: #333;
    }
    
    .sub_menu.active {
        display: inline-flex;
        flex-flow: row nowrap;
        max-width: 100%;
        padding: 10px 10px;
        color: #000;
        font-weight: bold;
        border-bottom: 2px solid #01adfb;
    }
    
    #wrapper {
        display: table;
        table-layout: fixed;
        width: 100%;
        height: auto;
        border-bottom: 1px solid #e6e6e6;
        /*		background-color: #fff;*/
    }
    
    #wrapper div {
        display: table-cell;
        height: auto;
    }
    
    .nav-tabs-custom > .nav-tabs > li {
        width: 19%;
    }
    
    @media screen and (max-width: 480px) {
        .stylelink {
            font-size: 12px;
        }
        .stylelink.active {
            font-size: 12px;
        }
        .sub_menu {
            font-size: 10px;
        }
        .sub_menu.active {
            font-size: 10px;
        }
        .nav-tabs-custom > .nav-tabs > li {
            position: relative;
            display: block;
            padding: 10px;
            text-align: center;
            width: 180px;
        }
        .space {
            padding: 5px 0px 5px 0px;
        }
    }

</style>


<!-- Horizontal Form -->

<div class="box box-info" style="min-height:450px;border-TOP:none;">
    <div style=" border-bottom: 1px solid #e6e6e6;">
        <div class="stylelink active box-header with-border " style="padding:20px 10px;">
            <h3 class="box-title" style="font-weight:600;">Transfer Member Completed</h3>
        </div>
    </div>

    <!-- /.box-header -->
    <!-- form start -->

    <div class="box-body" style="padding:20px;">
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <label for="role" class="col-sm-4" style="font-weight: 600;margin-top:7px;color:red">New Avahan ID </label>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" id="name" data-ng-model="beneficiary.avahanid" placeholder="Please type Avahan ID"  disabled="disabled">
                    </div>
                </div>


            </div>
            <div class="col-sm-6"></div>
        </div>
        <br/>
        <div class="row form-horizontal" style="margin:0px;">
            <div class="col-sm-6">
                <div class="form-group">
                    <label for="tiid" class="col-sm-4 ng-binding" style="font-weight:600;">Full Name</label>
                    <div class="col-sm-6">
                        {{beneficiary.fullname}}
                    </div>
                </div>
                <div class="form-group">
                    <label for="tiid" class="col-sm-4 ng-binding" style="font-weight:600;">Nick Name</label>
                    <div class="col-sm-6">
                        {{beneficiary.nickname}}
                    </div>
                </div>
                <div class="form-group">
                    <label for="tiid" class="col-sm-4 ng-binding" style="font-weight:600;">Typology</label>
                    <div class="col-sm-6">
                        {{beneficiary.typology|uppercase}}
                    </div>
                </div>
                <div class="form-group">
                    <label for="tiid" class="col-sm-4 ng-binding" style="font-weight:600;">Gender</label>
                    <div class="col-sm-6">
                       {{beneficiary.genderName}}
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label for="tiid" class="col-sm-4 ng-binding" style="font-weight:600;">CO</label>
                    <div class="col-sm-6">
                       {{beneficiary.facilityName}}
                    </div>
                </div>
                <div class="form-group">
                    <label for="tiid" class="col-sm-4 ng-binding" style="font-weight:600;">Site</label>
                    <div class="col-sm-6">
                        {{beneficiary.siteName}}
                    </div>
                </div>
                <div class="form-group">
                    <label for="tiid" class="col-sm-4 ng-binding" style="font-weight:600;">FW</label>
                    <div class="col-sm-6">
                        {{beneficiary.fieldworkername}}
                    </div>
                </div>
            </div>
        </div>
        <br/>
        <br/>
        <div align="left">
            <div>
                <a class="btn btn-primary btn-sm " type="submit" role="button" data-ng-href="/transfer" style="background:#e62e59;color:#fafafa;font-weight:600;padding:5px 10px;margin-right:10px;">TRANSFER ANOTHER MEMBER </a>

                <a data-ng-href="/" class="btn btn-danger btn-sm " role="button" style="padding:5px 20px;">Cancel</a>

            </div>
        </div>
    </div>

</div>
