<style>
    .stylelink {
        /*		padding: 3px 10px;*/
        background: transparent;
        color: #9d9eb3;
        font-weight: bold;
        /*		border-radius: 50px;*/
        text-decoration: none;
        font-size: 14px;
        display: inline-flex;
        flex-flow: row nowrap;
        max-width: 100%;
        padding: 20px 10px;
    }

    .stylelink.active {
        /*		padding: 3px 10px;*/
        /*		background: #b71c1c;*/
        color: #4a4d72;
        font-weight: bold;
        /*		border-radius: 50px;*/
        text-decoration: none;
        font-size: 14px;
        /*		font-weight: 600;*/
        display: inline-flex;
        flex-flow: row nowrap;
        max-width: 100%;
        padding: 20px 10px;
        padding-left:0px;
        /*        border-bottom: 4px solid #e72e5a;*/
    }

    .sell {
        position: relative;
        width: 55px;
    }

    .sell:after {
        content: url(images/piclinks/down-arrow.png);
        font: 17px "Consolas", monospace;
        color: #333;
        top: 5px;
        margin-left: -22px;
        padding: 0 0 2px;
        position: absolute;
        pointer-events: none;
    }

    .sell select {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        display: block;
        width: 100%;
        /*        max-width: 320px;*/
        height: 32px;
        float: left;
        padding: 0px 7px;
        font-size: 14px;
        line-height: 1.75;
        color: #878993;
        border-radius: 4px;
        background-color: #ffffff;
        background-image: none;
        border: 1px solid #d5d7df;
        -ms-word-break: normal;
        word-break: normal;
    }

    .tht:hover {
        color: blue;
    }

    #wrapper {
        display: table;
        table-layout: fixed;
        width: 100%;
        height: auto;
        /*        border-bottom: 1px solid #e6e6e6;*/
    }

    .top {
        padding-top: 1.8em;
    }

    @media screen and (max-width: 480px) {
        .stylelink {
            font-size: 12px;
            padding: 10px 20px;
        }
        .stylelink.active {
            font-size: 12px;
            /*            padding: 10px 20px;*/
            padding: 10px 0px;
        }
        .sub_menu {
            font-size: 10px;
        }
        .sub_menu.active {
            font-size: 10px;
        }
        .ml {
            padding-left: 0px;
        }
        .ml1 {
            margin-left: -5%;
            margin-bottom: 25px;
        }
        .sell {
            position: relative;
            width: 100%;
        }
    }

    @media screen and (max-width:350px) {
        .ml {
            padding-left: 0px;
        }
        .ml1 {
            margin-left: -7%;
            margin-bottom: 25px;
        }
    }

    @media screen and (max-width:376px) and (min-width:355px) {
        .ml {
            padding-left: 0px;
        }
        .ml1 {
            margin-left: -7%;
            margin-bottom: 25px;
        }
    }

    @media screen and (min-width:700px) and (max-width:769px) {
        .left {
            padding-left: 30px!important;
        }
    }

    @media screen and (max-width:1024px) and (min-width:1000px) {
        .ml1 {
            margin-left: -2%;
        }
        .sell {
            position: relative;
            width: 45px;
        }
    }

</style>

<!-- Horizontal Form -->
<div class="box box-info" style="min-height:450px;border-top:none;">
    <div id="wrapper">
        <div class="stylelink active box-header with-border">
            <h3 class="box-title" style="font-weight:bold;">Work Flow </h3>
        </div>
    </div>

    <div class="box-body">
        <!--<div align="left">
            <a data-ng-href="/surveyquestionmlanguage/create" class="btn btn-primary btn-sm " role="button" data-ng-hide="hideCreateButton()">Add New </a>
        </div>-->
        <br/>

        <div class="row padding">
            <div class="col-sm-0 col-md-5"></div>
            <div class="col-sm-12 col-md-7">
                <div class="col-sm-0 col-md-2"></div>
                <div data-ng-hide="showForm()" class="col-xs-12 col-sm-2 col-md-1 left" style="text-align:left;padding-left:0px;padding-right:0px;">
                    <label class="showlabel">Show</label>
                    <div class="sell entry">
                        <select ng-model="pageSize" data-placeholder="Show Entries" ng-change="pageFunction(pageSize)">
                        <option value="25">25</option>
                        <option value="50">50</option>
                        <option value="100">100</option>
                    </select>
                        <!--					<span>Entries</span>-->
                    </div>
                </div>
                <div data-ng-hide="showForm()" class="col-xs-12 col-sm-6 col-md-5 top ml" style="padding-right: 0px;">
                    <form role="form">
                        <div class="input-group">
                            <span class="input-group-btn">
                     <button class="btn btn-default" type="button" style="border-top-left-radius: 4px;border-bottom-left-radius: 4px;border-color:#d5d7df;background:none;border-right:none;"><span class="glyphicon glyphicon-search"></span></button>
                            </span>
                            <input type="text" class="form-control ng-pristine ng-valid" placeholder="Search" style="z-index:0;border-radius:2px;border-left:none;border-color:#d5d7df;border-top-right-radius:4px;border-bottom-right-radius: 4px;" data-ng-model="searchZone">

                        </div>
                    </form>
                </div>
                <div class="col-xs-12 col-sm-3 col-md-2 top ml1">
                    <a data-ng-href="/workflows/create" class="btn btn-primary btn-sm  " role="button" data-ng-hide="hideCreateButton()" style="padding:5px 20px;">Add New </a>&nbsp;&nbsp;&nbsp;
                </div>

            </div>
        </div>
<!--        <br/>-->

        <form class=" " role="form" data-ng-show="showForm()">
            <p align="center" style="color:#ec0b6d">All fields in <sup>*</sup> are mandatory</p>
            <br/>
            <div class="row padding">
                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="sales-area">{{workflowlanguage.member}}<sup>*</sup> </label>
                        <div>
                            <select ui-select2 id="member" ng-model="workflow.memberid" data-placeholder="Pick a Member" style="width:100%">
                                <option value=""></option>
                                <option data-ng-repeat="member in members" value="{{member.id}}">{{member.fullname + ' - ' + member.memberId }}</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="sales-area">{{workflowlanguage.workflowLabel}}<sup>*</sup></label>
                        <div>
                            <select ui-select2 id="workflow" ng-model="workflow.workflowid" data-placeholder="Pick a Workflow" style="width:100%">
                                <option value=""></option>
                                 <option ng-if="workflow.parentFlag==true" data-ng-repeat="workflow in workflows" value="{{workflow.id}}">{{workflow.name}}</option>
                                <option ng-if="workflow.parentFlag==false" data-ng-repeat="workflow in workflows" value="{{workflow.parentId}}">{{workflow.name}}</option>
<!--
                                <option ng-if="languageId==7" data-ng-repeat="workflow in workflows" value="{{workflow.id}}">{{workflow.lang3}}</option>
                                <option ng-if="languageId==8" data-ng-repeat="workflow in workflows" value="{{workflow.id}}">{{workflow.lang4}}</option>
                                <option ng-if="languageId==10" data-ng-repeat="workflow in workflows" value="{{workflow.id}}">{{workflow.lang5}}</option>
                                <option ng-if="languageId==18" data-ng-repeat="workflow in workflows" value="{{workflow.id}}">{{workflow.lang6}}</option>
                                <option ng-if="languageId==19" data-ng-repeat="workflow in workflows" value="{{workflow.id}}">{{workflow.lang7}}</option>
-->
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="sales-area">{{workflowlanguage.category}}<sup>*</sup> </label>
                        <div>
                            <select ui-select2 id="gender" ng-model="workflow.workflowcategoryid" data-placeholder="Pick a Status" style="width:100%">
                                <option value=""></option>
                                <option ng-if="category.parentFlag==true" data-ng-repeat="category in workflowcategories" value="{{category.id}}">{{category.name}}</option>
                                <option ng-if="category.parentFlag==false" data-ng-repeat="category in workflowcategories" value="{{category.parentId}}">{{category.name}}</option>
<!--
                                <option ng-if="languageId==7" data-ng-repeat="category in workflowcategories" value="{{category.id}}">{{category.lang3}}</option>
                                <option ng-if="languageId==8" data-ng-repeat="category in workflowcategories" value="{{category.id}}">{{category.lang4}}</option>
                                <option ng-if="languageId==10" data-ng-repeat="category in workflowcategories" value="{{category.id}}">{{category.lang5}}</option>
                                <option ng-if="languageId==18" data-ng-repeat="category in workflowcategories" value="{{category.id}}">{{category.lang6}}</option>
                                <option ng-if="languageId==19" data-ng-repeat="category in workflowcategories" value="{{category.id}}">{{category.lang7}}</option>
-->
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="name">{{workflowlanguage.followup}}<sup>*</sup>
                        </label>
                        <div>
                            <td style="width: 100%">
                                <p class="input-group" style="width: 100%">
                                    <input type="text" id="{{'datepickerdob' + $index}}" class="form-control" datepicker-popup="{{format}}" ng-model="workflow.followupdate" is-open="picker.dobopened" min="minDate" max="'2015-06-22'" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" close-text="Close" min-date="dtmax"> <span class="input-group-btn"><button type="button" class="btn btn-default nobodr" ng-click="opendob($event, $index)"><img src="images/piclinks/calender-copy-3.png" class="calddate"></button>
                                </span> </p>
                            </td>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="employee-id">{{workflowlanguage.comments}}<sup>*</sup> </label>
                        <div>
                            <textarea rows="3" class="form-control" id="comments" ng-model="workflow.comments" placeholder="Comments" style="width:100%"></textarea>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="sales-area">{{workflowlanguage.assignedTo}}<sup>*</sup> </label>
                        <div>
                            <select ui-select2 id="gender" ng-model="workflow.assignedto" data-placeholder="Pick a Assigned To" style="width:100%">
                                <option value=""></option>
                                <option data-ng-repeat="user in users" value="{{user.id}}">{{user.username}}</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="sales-area">{{workflowlanguage.status}}<sup>*</sup> </label>
                        <div>
                            <select ui-select2 id="gender" ng-model="workflow.workflowstatusid" data-placeholder="Pick a Status" style="width:100%">
                                <option value=""></option>
                                <option ng-if="status.parentFlag==true" data-ng-repeat="status in workflowstatuses" value="{{status.id}}">{{status.name}}</option>
                                <option ng-if="status.parentFlag==false" data-ng-repeat="status in workflowstatuses" value="{{status.parentId}}">{{status.name}}</option>
<!--
                                <option ng-if="languageId==7" data-ng-repeat="status in workflowstatuses" value="{{status.id}}">{{status.lang3}}</option>
                                <option ng-if="languageId==8" data-ng-repeat="status in workflowstatuses" value="{{status.id}}">{{status.lang4}}</option>
                                <option ng-if="languageId==10" data-ng-repeat="status in workflowstatuses" value="{{status.id}}">{{status.lang5}}</option>
                                <option ng-if="languageId==18" data-ng-repeat="status in workflowstatuses" value="{{status.id}}">{{status.lang6}}</option>
                                <option ng-if="languageId==19" data-ng-repeat="status in workflowstatuses" value="{{status.id}}">{{status.lang7}}</option>
-->
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">

                    <div class="form-group">
                        <label for="sales-area">{{workflowlanguage.priority}}<sup>*</sup> </label>
                        <div>
                            <select ui-select2 id="gender" ng-model="workflow.workflowpriorityid" data-placeholder="Pick a Priority" style="width:100%">
                                <option value=""></option>
                                <option ng-if="priority.parentFlag==true" data-ng-repeat="priority in workflowpriorities" value="{{priority.id}}">{{priority.name}}</option>
                                <option ng-if="priority.parentFlag==false" data-ng-repeat="priority in workflowpriorities" value="{{priority.parentId}}">{{priority.name}}</option>
<!--
                                <option ng-if="languageId==7" data-ng-repeat="priority in workflowpriorities" value="{{priority.id}}">{{priority.lang3}}</option>
                                <option ng-if="languageId==8" data-ng-repeat="priority in workflowpriorities" value="{{priority.id}}">{{priority.lang4}}</option>
                                <option ng-if="languageId==10" data-ng-repeat="priority in workflowpriorities" value="{{priority.id}}">{{priority.lang5}}</option>
                                <option ng-if="languageId==18" data-ng-repeat="priority in workflowpriorities" value="{{priority.id}}">{{priority.lang6}}</option>
                                <option ng-if="languageId==19" data-ng-repeat="priority in workflowpriorities" value="{{priority.id}}">{{priority.lang7}}</option>
-->
                            </select>
                        </div>
                    </div>
                </div>


            </div>
            <br>
            <div align="right">
                <div>
                    <a data-ng-href="/workflows" class="btn btn-danger btn-sm " role="button" style="padding:5px 20px;margin-right:10px;">{{workflowlanguage.cancelLabel}}</a>
                    
                    <a class="btn btn-info btn-sm " type="submit" role="button" data-ng-click="Save()" data-ng-show="isCreateView()" ng-disabled="submitDisable" style="padding:5px 20px;margin-right:30px;">{{workflowlanguage.saveLabel}} </a>

                    <a class="btn btn-info btn-sm " type="submit" role="button" data-ng-click="Update()" data-ng-hide="isCreateView()" ng-disabled="submitDisable" style="padding:5px 20px;margin-right:30px;">{{workflowlanguage.updateLabel}} </a>
                </div>
            </div>
            <br>
        </form>

<!--        <br>-->
        <div data-ng-hide="showForm()" class="table-responsive">
            <table class="table">
                <thead>
                    <tr style="border-bottom:1px solid #ccc;">
                        <th>S NO.</th>

                        <th ng-click="changeSorting('memberid')">Member<span style="margin-left:10px;"><i class="fa fa-sort-desc" ng-class="getIcon('memberid')"></i></span></th>

                        <th ng-click="changeSorting('workflowid')">Work Flow<span style="margin-left:10px;"><i class="fa fa-sort-desc" ng-class="getIcon('workflowid')"></i></span></th>

                        <th ng-click="changeSorting('workflowcategoryid')">Category<span style="margin-left:10px;"><i class="fa fa-sort-desc" ng-class="getIcon('workflowcategoryid')"></i></span></th>

                        <th ng-click="changeSorting('workflowstatusid')">Status<span style="margin-left:10px;"><i class="fa fa-sort-desc" ng-class="getIcon('workflowstatusid')"></i></span></th>

                        <th style="width:100px;">ACTION</th>
                    </tr>
                </thead>

                <tbody>

                    <tr dir-paginate="wflow in TotalData  = ( workflowheaders | filter:searchZone ) |itemsPerPage:pageSize" pagination-id="zonesid" current-page="currentPage">
                        <td>{{ wflow.index }}</td>
                        <td data-ng-init="member = getmember(wflow.memberid)">{{ member.fullname + ' - ' + member.memberId }}</td>
                        <td data-ng-init="workflow = getworkflow(wflow.workflowid)">{{ workflow.name }}</td>
                        <td data-ng-init="category = getcategory(wflow.workflowcategoryid)">{{ category.name }}</td>
                        <td data-ng-init="status = getstatus(wflow.workflowstatusid)">{{ status.name }}</td>
                        <td>
                            <a data-ng-href="/workflows/edit/{{wflow.id}}"><img src="images/piclinks/edit.png" width="16px" title="Edit"></a>&nbsp;&nbsp;&nbsp;
                            <!--                            <a style="color:#b7b8c8;">|</a>&nbsp;&nbsp;-->
                            <a confirm-button="Delete(wflow.id)" message="Are you sure? you want to delete?">
                                <img src="images/piclinks/cross.png" style="cursor:pointer;" width="16px" title="Bin">
                            </a>&nbsp;
                        </td>
                    </tr>
                </tbody>
            </table>
            <br/>
            <div class="pading" align="right">
                <dir-pagination-controls max-size="25" direction-links="true" boundary-links="true" pagination-id="zonesid" on-page-change="PageChanged(newPageNumber, oldPageNumber)">
                </dir-pagination-controls>
            </div>
        </div>
        <br/>

        <!-- /.box-body -->
        <div class="box-footer">

        </div>
        <!-- /.box-footer -->
    </div>
    <!-- /.box -->

    <!---  <style>
        .nav-tabs-custom > .nav-tabs > li.active {
            border-top-color: #b71c1c;
        }
    </style>--->

    <modal2 title1="{{modalTitle}}" visible="stakeholderdataModal">
        <p>{{message}}</p>
    </modal2>

    <validationmodal title1="Alert!!!" visible="showValidation">
        {{validatestring1}}
    </validationmodal>

    <mapmodal visible="mapdataModal">
        <div class="modal-header" style="color:#ffffff;padding:0px;">
            <div class="pull-right" style='padding:15px;'></div>
            <h4 class="stylelink active modal-title">Select Location </h4>
        </div>
        <div style="width:100%; height:auto; min-height:300px;  border: 1px solid #ffffff;padding:5px" id="savemodals">
            <br>
            <form class="form-horizontal" role="form" style="padding-top:20px;">
                <div class="row" style="margin:0;padding:0;font-size: 12px;">
                    <div class="col-sm-19" style="padding:5px;">
                        <div id='mapCanvas' style="display:block;height:850px:width:550px;">
                        </div>
                        <div class="col-sm-4">
                            <br>
                            <div id="infoPanel">
                                <b style="color:blue;">Marker Status:</b>
                                <div id="markerStatus"><i>Click Drag</i>
                                </div>
                                <b style="color:blue;">Current Position</b>
                                <div id="info"></div>
                                <b style="color:blue;">Closest Address</b>
                                <div id="mapaddress"></div>
                            </div>
                        </div>
                    </div>
                </div>

                <br>
                <div class="form-group">
                    <div align="center">
                        <div align="center">
                            <a data-ng-click="CLOSEBUTTON()" data-dismiss="modal" class="btn btn-primary btn-sm " role="button" style="border-color:#db4242;padding:5px 20px;font-weight:bold;">Ok</a>&nbsp;

                            <a data-ng-click="CLOSEBUTTON()" data-dismiss="modal" class="btn btn-danger btn-sm " role="button" style="padding:5px 20px;">Cancel </a>
                        </div>
                    </div>
                </div>
            </form>
            <br/>
        </div>

        <style>
            div.scroll {
                width: 100%;
                height: 100px;
                overflow: scroll;
            }

            .toggle.android {
                border-radius: 0px;
            }

            .toggle.android .toggle-handle {
                border-radius: 0px;
            }

            #mapCanvas {
                width: 800px;
                height: 500px;
                float: center;
            }

            #infoPanel {
                margin-left: 100px;
            }

            #infoPanel div {
                margin-bottom: 5px;
            }

        </style>
    </mapmodal>
