<style>
    .stylelink {
        /*		padding: 3px 10px;*/
        background: transparent;
        color: #9d9eb3;
        font-weight: bold;
        /*		border-radius: 50px;*/
        text-decoration: none;
        font-size: 14px;
        display: inline-flex;
        flex-flow: row nowrap;
        max-width: 100%;
        padding: 20px 40px;
    }

    .stylelink.active {
        /*		padding: 3px 10px;*/
        /*		background: #b71c1c;*/
        color: #4a4d72;
        font-weight: bold;
        /*		border-radius: 50px;*/
        text-decoration: none;
        font-size: 14px;
        /*		font-weight: 600;*/
        display: inline-flex;
        flex-flow: row nowrap;
        max-width: 100%;
        padding: 20px 40px;
        padding-left: 0px;
        /*        border-bottom: 4px solid #e72e5a;*/
    }

    .sub_menu {
        display: inline-flex;
        flex-flow: row nowrap;
        max-width: 100%;
        padding: 10px 10px;
        border-bottom: 2px solid transparent;
        color: #333;
    }

    .sub_menu.active {
        display: inline-flex;
        flex-flow: row nowrap;
        max-width: 100%;
        padding: 10px 10px;
        color: #000;
        font-weight: bold;
        /*		border-bottom: 2px solid #01adfb;*/
    }

    #wrapper {
        display: table;
        table-layout: fixed;
        width: 100%;
        height: auto;
        /*        border-bottom: 1px solid #e6e6e6;*/
        /*		background-color: #fff;*/
    }

    #wrapper div {
        display: table-cell;
        height: auto;
    }

    .nav-tabs-custom>.nav-tabs>li {
        width: 16%;
    }


    @media screen and (max-width: 480px) {
        .stylelink {
            font-size: 12px;
            padding: 10px 20px;
        }

        .stylelink.active {
            font-size: 12px;
            /*            padding: 10px 20px;*/
            padding: 10px 0px;
        }

        .sub_menu {
            font-size: 10px;
        }

        .sub_menu.active {
            font-size: 10px;
        }
    }

</style>

<!-- Horizontal Form -->
<div class="box box-info" style="min-height:450px;border-top:none;">
    <div id="wrapper">
        <div class="stylelink active box-header with-border">
            <h3 class="box-title" style="font-weight:bold;">Ticket </h3>
        </div>
    </div>

    <div class="box-body">
        <!--<div align="left">
            <a data-ng-href="/surveyquestionmlanguage/create" class="btn btn-primary btn-sm " role="button" data-ng-hide="hideCreateButton()">Add New </a>
        </div>-->
        <br />

        <form class=" " role="form">
            <p align="center" style="color:#ec0b6d">All fields in <sup>*</sup> are mandatory</p>
            <!--            <br/>-->
            <div style="border: 1px solid #eee;margin:2%;">
                <br />
                <div class="row padding">
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="name">{{memberlanguage.fullname}}<sup>*</sup>
                            </label>
                            <div>
                                <input type="text" class="form-control" id="name" data-ng-model="member.serno" placeholder="Full Name" ng-disabled="disableLocation">
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="name">Customer<sup>*</sup>
                            </label>
                            <div>
                                <!-- <select ui-select2 id="customer" data-ng-model="member.customerId" data-placeholder="Pick a Customer" style="width:100%" ng-disabled="disableLocation">
                                                <option value=""></option>
                                                <option data-ng-repeat="customer in customers" value="{{customer.id}}">{{ customer.name }}</option>
                                            </select> -->
                                <input type="text" class="form-control" id="customername" data-ng-model="member.customername" placeholder="Full Name" ng-disabled="disableLocation">
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="name">Category<sup>*</sup>
                            </label>
                            <div>
                                <select ui-select2 id="category" data-ng-model="member.categoryId" data-placeholder="Pick a Category" style="width:100%" ng-disabled="disableLocation">
                                    <option value=""></option>
                                    <option data-ng-repeat="category in categories" value="{{category.id}}">{{ category.name }}</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="name">SubCategory<sup>*</sup>
                            </label>
                            <div>
                                <select ui-select2 id="subcategory" data-ng-model="member.subcategoryId" data-placeholder="Pick a SubCategory" style="width:100%" ng-disabled="disableLocation">
                                    <option value=""></option>
                                    <option data-ng-repeat="subcategory in subcategories" value="{{subcategory.id}}">{{ subcategory.name }}</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3" ng-repeat="organisationlevel in organisationlevels">
                        <div class="form-group">
                            <label for="sales-area">{{organisationlevel.name}}<sup>*</sup> </label>
                            <div>
                                <!-- <select ui-select2 id="organisationlevel+{{$index}}" ng-model="organisationlevel.locationid" data-placeholder="Select {{organisationlevel.name}}" style="width:100%" ng-change="orgLevelChange($index+1,organisationlevel.locationid,organisationlevel.index)" ng-disabled="disableLocation"> -->
                                <select ui-select2 id="organisationlevel+{{$index}}" ng-model="organisationlevel.locationid" data-placeholder="Select {{organisationlevel.name}}" style="width:100%" ng-change="orgLevelChange($index+1,organisationlevel.locationid)" ng-disabled="disableLocation">
                                    <option value=""></option>
                                    <option data-ng-repeat="levelone in organisationlevel.organisationlocations" value="{{levelone.id}}">{{levelone.name}}</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="employee-id">{{memberlanguage.address}}<sup>*</sup> </label>
                            <div>
                                <textarea rows="3" class="form-control" id="address" ng-model="member.customeraddress" placeholder="Address" style="width:100%" ng-disabled="disableLocation"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="phone">Phone<sup>*</sup> </label>
                            <div>
                                <input type="text" class="form-control" id="phone" ng-model="member.contactno" maxlength="10" numbers-only="numbers-only" placeholder="Phone" style="width:100%" ng-disabled="disableLocation">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row padding">

                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="starttime">Start Time<sup>*</sup> </label>
                            <div>
                                <input type="text" class="form-control" id="starttime" ng-model="member.starttime" placeholder="Phone" style="width:100%" ng-disabled="disableLocation">
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="endtime">End Time<sup>*</sup> </label>
                            <div>
                                <input type="text" class="form-control" id="endtime" ng-model="member.endtime" placeholder="Phone" style="width:100%" ng-disabled="disableLocation">
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">

                            <label for="user">User<sup>*</sup> </label>
                            <div>
                                <input type="text" class="form-control" id="user" ng-model="user" placeholder="Phone" style="width:100%" ng-disabled="disableLocation">
                            </div>
                        </div>
                    </div>

                </div>
                <br />
            </div>
            <div class="row padding">
                <div class="col-sm-12">
                    <div class="form-group">
                        <h4>Ticket Activity</h4>
                    </div>
                </div>

                <div class="col-sm-12">
                    <div class="form-group table-responsive">
                    <table class="table table-hover" style="table-layout:fixed;">
                        <thead>
                            <tr>
                                <th style="width:50px;">#</th>
                                <!-- <th>Ticket Name</th> -->
                                <th style="width:300px;">Service Question</th>
                                <th style="width:150px;">RC Code</th>
                                <th style="width:300px;">Service Answer</th>
                                <th style="width:300px;">Uploaded Files</th>
                                <th style="width:270px;">Remarks</th>
                                <!-- <th style="width:270px;">Rollback Remarks</th> -->
                                <th style="width:120px;">User</th>
                                <th style="width:180px;">Last Action</th>

                            </tr>
                        </thead>
                        <tbody>
                            <!-- <tr ng-repeat="tktqstn in ticketquestions">
                                <td>{{ tktqstn.index }}</td>
                                <td>{{ ticketname }}</td>
                                <td>{{ tktqstn.question}}</td>
                                <td>{{ tktqstn.rcCode }}</td>
                                <td ng-if="tktqstn.questiontype == 9" >
                                        <a target="_blank" ng-href="http://idcamp-api.herokuapp.com/api/v1/containers/converbiz/download/{{tktqstn.answername}}">
                                            <img ng-src="http://idcamp-api.herokuapp.com/api/v1/containers/converbiz/download/{{tktqstn.answername}}" alt="Avatar" class="img-rounded" width="80" height="80">    
                                             </a>
                                </td>
                                <td ng-if="tktqstn.questiontype != 9" >{{ tktqstn.answername }}</td>
                                <td>{{ tktqstn.ansremarks }}</td>
                                <td >{{ tktqstn.lastuser }}</td>
                                <td>{{ tktqstn.datentime | date:'dd-MMM-yyyy hh:mm:ss a'}}</td>
                            </tr> -->
                            <tr dir-paginate="hlthans in HealthAnswers | orderBy: '+QuestionSlNo' | filter: searchHlthAns |itemsPerPage:pageSize" pagination-id="healthans">
                                <!-- <tr dir-paginate="hlthans in HealthAnswers"> -->
                                <td style="width:50px;">{{ hlthans.index }}</td>
                                <td data-ng-init="question = getQuestion(hlthans.questionid)" style="width:300px;">
                                    <a style="color:black;">
                                        {{question.question}}
                                    </a> </td>
                                <td data-ng-init="question = getQuestion(hlthans.questionid)" style="width:150px;">{{question.rcCode}} </td>
                                <td style="width:300px;">{{ hlthans.answer | uppercase }}</td>
                                <!-- <td style="width:270px;word-break: break-all;word-wrap: break-word;white-space: normal;">
                                    <a target="_blank" ng-href="http://idcamp-api.herokuapp.com/api/v1/containers/converbiz/download/{{hlthans.uploadedfiles}}">
                                        {{hlthans.uploadedfiles}} </a>
                                </td> -->
                                <td style="width:300px;word-break: break-all;word-wrap: break-word;white-space: normal;">
                                    <ul>
                                        <li ng-repeat="file in hlthans.uploadedfilesList">
                                            <a target="_blank" ng-href="//idcamp-api.herokuapp.com/api/v1/containers/converbiz/download/{{file}}">
                                                    {{ file }} 
                                                </a>
                                        </li>
                                    </ul>
                                </td>
                                <td style="width:270px;">{{ hlthans.remark }}</td>
                                <!-- <td style="width:270px;">{{ hlthans.rollbackRemark }}</td> -->
                                <td data-ng-init="usernm = getUser(hlthans.createdby)" style="width:120px;">{{ usernm.username }}</td>
                                <td style="width:180px;">{{hlthans.createdtime| date:'dd-MMM-yyyy hh:mm:ss a'}}</td>
                            </tr>

                        </tbody>
                    </table>
                    </div>

                </div>
            </div>




            <br>
            <br />

            <br>
            <div class="pleft" align="right">
                <div>
                    <a data-ng-href="/approvetickets-list" class="btn btn-danger btn-sm " role="button" style="padding:5px 20px;margin-right:30px;">{{memberlanguage.cancelLabel}}</a>

                    <button type="button" class="btn btn-info btn-sm" data-ng-click="Approve()" data-ng-if="member.approvalFlag == false && member.completedFlag == true" style="padding:5px 20px;margin-right:30px;">Approve</button>

                </div>
            </div>
            <br>
        </form>
    </div>

    <!-- /.box-body -->
    <div class="box-footer">

    </div>
    <!-- /.box-footer -->

</div>
<!-- /.box -->

<!---  <style>
        .nav-tabs-custom > .nav-tabs > li.active {
            border-top-color: #b71c1c;
        }
    </style>--->

<modal2 title1="Congrats!!!" visible="stakeholderdataModal">

    <strong>{{message}}</strong>

</modal2>


<validationmodal title1="Alert!!!" visible="showValidation">
    {{validatestring1}}
</validationmodal>

<mapmodal visible="mapdataModal">
    <div class="modal-header" style="color:#ffffff;padding:0px;">
        <div class="pull-right" style='padding:15px;'></div>
        <h4 class="stylelink active modal-title">Select Location </h4>
    </div>
    <div style="width:100%; height:auto; min-height:300px;  border: 1px solid #ffffff;padding:5px" id="savemodals">
        <br>
        <form class="form-horizontal" role="form" style="padding-top:20px;">
            <div class="row" style="margin:0;padding:0;font-size: 12px;">
                <div class="col-sm-19" style="padding:5px;">
                    <div id='mapCanvas' style="display:block;height:850px:width:550px;">
                    </div>
                    <div class="col-sm-4">
                        <br>
                        <div id="infoPanel">
                            <b style="color:blue;">Marker Status:</b>
                            <div id="markerStatus"><i>Click Drag</i>
                            </div>
                            <b style="color:blue;">Current Position</b>
                            <div id="info"></div>
                            <b style="color:blue;">Closest Address</b>
                            <div id="mapaddress"></div>
                        </div>
                    </div>
                </div>
            </div>

            <br>
            <div class="form-group">
                <div align="center">
                    <div align="center">
                        <a data-ng-click="CLOSEBUTTON()" data-dismiss="modal" class="btn btn-primary btn-sm " role="button" style="border-color:#db4242;padding:5px 20px;font-weight:bold;">Ok</a>&nbsp;

                        <a data-ng-click="CLOSEBUTTON()" data-dismiss="modal" class="btn btn-danger btn-sm " role="button" style="padding:5px 20px;">Cancel </a>
                    </div>
                </div>
            </div>
        </form>
        <br />
    </div>

    <style>
        div.scroll {
            width: 100%;
            height: 100px;
            overflow: scroll;
        }

        .toggle.android {
            border-radius: 0px;
        }

        .toggle.android .toggle-handle {
            border-radius: 0px;
        }

        #mapCanvas {
            width: 800px;
            height: 500px;
            float: center;
        }

        #infoPanel {
            margin-left: 100px;
        }

        #infoPanel div {
            margin-bottom: 5px;
        }

    </style>
</mapmodal>
