<div class="form-group">
	<label for="{{cbFormElementModel.id}}" class="col-sm-2 control-label">{{ cbFormElementModel.label }}</label>
	<div class="col-sm-6">
		<input type="{{cbFormElementModel.type}}" class="form-control" id="{{cbFormElementModel.id}}" placeholder="{{cbFormElementModel.label}}">
	</div>
</div>