<style>
  /*	.stylelink {
                padding: 3px 10px;
                background: transparent;
                color: #333;
                border-radius: 50px;
                text-decoration: none;
                font-size: 14px;
                display: inline-flex;
                flex-flow: row nowrap;
                max-width: 100%;
            }

            .stylelink.active {
                padding: 3px 10px;
                background: #b71c1c;
                color: #fff;
                border-radius: 50px;
                text-decoration: none;
                font-size: 14px;
                font-weight: 600;
                display: inline-flex;
                flex-flow: row nowrap;
                max-width: 100%;
            }*/

 .stylelink {
    /*		padding: 3px 10px;*/
    background: transparent;
    /*        color: #9d9eb3;*/
    color: #262d57;
    font-weight: bold;
    /*		border-radius: 50px;*/
    text-decoration: none;
    font-size: 14px;
    display: inline-flex;
    flex-flow: row nowrap;
    max-width: 100%;
    padding: 20px 10px!important;
    margin-left: 33%;

  }

  .stylelink.active {
    /*		padding: 3px 10px;*/
    /*		background: #b71c1c;*/
    color: #4a4d72;
    font-weight: bold;
    /*		border-radius: 50px;*/
    text-decoration: none;
    font-size: 14px;
    /*		font-weight: 600;*/
    display: inline-flex;
    flex-flow: row nowrap;
    max-width: 100%;
    padding: 20px 10px!important;
    border-bottom: 4px solid #e72e5a;
    margin-left: 33%;
  }


  .sub_menu {
    display: inline-flex;
    flex-flow: row nowrap;
    max-width: 100%;
    padding: 10px 10px;
    border-bottom: 2px solid transparent;
    color: #333;
  }

  .sub_menu.active {
    display: inline-flex;
    flex-flow: row nowrap;
    max-width: 100%;
    padding: 10px 10px;
    color: #000;
    font-weight: bold;
    /*		border-bottom: 2px solid #01adfb;*/
  }

  #wrapper {
    display: table;
    table-layout: fixed;
    width: 100%;
    height: auto;
    border-bottom: 4px solid #f4f4f4;
    background-color: #fff;
    margin-top: 12px;
  }

  #wrapper div {
    display: table-cell;
    height: auto;
  }

  .sell {
    position: relative;
    min-width: 45px;
  }

  .sell:after {
    content: url(images/piclinks/down-arrow.png);
    font: 17px "Consolas", monospace;
    color: #333;
    top: 5px;
    margin-left: -22px;
    padding: 0 0 2px;
    position: absolute;
    pointer-events: none;
  }

  .sell select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    display: block;
    width: 100%;
    /*        max-width: 320px;*/
    height: 32px;
    float: left;
    padding: 0px 7px;
    font-size: 14px;
    line-height: 1.75;
    color: #878993;
    border-radius: 4px;
    background-color: #ffffff;
    background-image: none;
    border: 1px solid #d5d7df;
    -ms-word-break: normal;
    word-break: normal;
  }

  .top {
    padding-top: 1.8em;
  }

  table,
  th,
  td {
    fill: #262d57;
    font-size: 14px;
  }

  th {
    background-color: #d5d7df;
    font-weight: normal;
  }

  tr {
    background-color: White;
    color: #262d57;
    font-size: 10px;
  }

  @media screen and (max-width: 480px) {
    .stylelink {
      font-size: 12px;
      padding: 10px 20px;
    }

    .stylelink.active {
      font-size: 12px;
      /*            padding: 10px 20px;*/
      padding: 10px 0px;
    }

    .sub_menu {
      font-size: 10px;
    }

    .sub_menu.active {
      font-size: 10px;
    }

    .ml {
      padding-left: 0px;
    }

    .ml1 {
      margin-left: -5%;
      margin-bottom: 25px;
    }
  }

  @media screen and (max-width:350px) {
    .ml {
      padding-left: 0px;
    }

    .ml1 {
      margin-left: -7%;
      margin-bottom: 25px;
    }
  }

  @media screen and (max-width:376px) and (min-width:355px) {
    .ml {
      padding-left: 0px;
    }

    .ml1 {
      margin-left: -7%;
      margin-bottom: 25px;
    }
  }

  @media screen and (max-width:1024px) and (min-width:1000px) {
    .ml1 {
      margin-left: -2%;
    }
  }

  .inactive {
    color: #dddddd;
    pointer-events: none;
    cursor: default;
  }

</style>

<div style="width:100%;height:auto;background:#ffffff;">
  <div id="wrapper">
    <div style="display: table-cell;">
      <a class="stylelink" href="/main"><span
          style="flex:1;white-space:pre;overflow: hidden;text-overflow: ellipsis;">DASHBOARD</span></a>
    </div>

    <div style="display: table-cell;">
      <a class="stylelink active" href="/dashboard"><span
          style="flex:1;white-space:pre;overflow: hidden;text-overflow: ellipsis;">REPORT</span></a>
    </div>

    <div style="display: table-cell;">
      <a class="stylelink" href="/serviceorder"><span
          style="flex:1;white-space:pre;overflow: hidden;text-overflow: ellipsis;">SERVICE ORDER</span></a>
    </div>


  </div>
</div>

<!--<div id="tabsradius">-->
    <div id="wrapper" >
        <div style="display: table-cell;">
            <a href="/dashboard" class="stylelink active" style="margin-left:22em;"><span style="flex:1;white-space:pre;overflow: hidden;text-overflow: ellipsis;">REPORT</span></a>
        </div>
        <div style="display: table-cell;">
            <a href="/dashboardnew" class="stylelink" style="margin-left:8em;"><span style="flex:1;white-space:pre;overflow: hidden;text-overflow: ellipsis;">CUSTOMER REPORT</span></a>
        </div>
    </div>

<!--</div>-->


  
<!-- Horizontal Form -->

<div class="box box-info" style="min-height:450px;border-top:none;">
  <div class="box-body">
    <div class="row" style="margin:0;padding:20px;">
        <div class="col-sm-12">
          <!-- <p id="pie"> -->
            <div class="panel panel-primary" style="min-height:550px;border-color:#4CAF50;">
    <br />
    <form role="form">
      <!-- <div class="row" style="margin: 0px;padding-top: 20px">
              <div class="col-sm-4  col-md-4   col-xs-12">
            <div class="card card-1">
              <div id="pie-chart" ></div>
              <footer style="text-align: center;color:#ffffff;background: #8d6e63;padding:4px;">Status
              </footer>
            </div>
          </div>

           </div>
      -->

      <div class="row" style="margin: 0px;">
        <div class="col-sm-4"></div>
        <div class="col-sm-4"></div>
        <div class="col-sm-4">
          <!-- <div class="form-group"> -->
            <!-- <label for="subcategory-area">City<sup>*</sup></label> -->
            <label for="subcategory-area"><a id="demo"></a><sup>*</sup></label>
            <div>
              <select ui-select2 id="subcategory-area" data-ng-model="dashboard.city" data-placeholder="All"
                style="width:90%">
                <option></option>
                <option value="all">All</option>
                <option data-ng-repeat="city in cities" value="{{city.id}}">{{ city.name }}</option>
              </select>
            </div>
          <!-- </div> -->
        </div>
      </div>

      <div>

        <div id="pie-chart">

        </div>

      </div>



    </form>
    </div>
    </div>
    </div>
  </div>
</div>
