<style>
  .stylelink {
    background: transparent;
    color: #9d9eb3;
    font-weight: bold;
    text-decoration: none;
    font-size: 14px;
    display: inline-flex;
    flex-flow: row nowrap;
    max-width: 100%;
    padding: 20px 10px;
  }

  .stylelink.active {
    color: #4a4d72;
    font-weight: bold;
    text-decoration: none;
    font-size: 14px;
    display: inline-flex;
    flex-flow: row nowrap;
    max-width: 100%;
    padding: 20px 0px;
    border-bottom: 4px solid #ec0b6d;
  }

  .sub_menu {
    display: inline-flex;
    flex-flow: row nowrap;
    max-width: 100%;
    padding: 10px 10px;
    border-bottom: 2px solid transparent;
    color: #333;
  }

  .sub_menu.active {
    display: inline-flex;
    flex-flow: row nowrap;
    max-width: 100%;
    padding: 10px 10px;
    color: #000;
    font-weight: bold;
    /*		border-bottom: 2px solid #01adfb;*/
  }

  #wrapper {
    display: table;
    table-layout: fixed;
    width: 100%;
    height: auto;
    border-bottom: 4px solid #f4f4f4;
    background-color: #fff;
    margin-top: 12px;
  }

  #wrapper div {
    display: table-cell;
    height: auto;
  }

  .sell {
    position: relative;
    min-width: 45px;
  }

  .sell:after {
    content: url(images/piclinks/down-arrow.png);
    font: 17px "Consolas", monospace;
    color: #333;
    top: 5px;
    margin-left: -22px;
    padding: 0 0 2px;
    position: absolute;
    pointer-events: none;
  }

  .sell select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    display: block;
    width: 55px;
    /*        max-width: 320px;*/
    height: 32px;
    float: left;
    padding: 0px 7px;
    font-size: 14px;
    line-height: 1.75;
    color: #878993;
    border-radius: 4px;
    background-color: #ffffff;
    background-image: none;
    border: 1px solid #d5d7df;
    -ms-word-break: normal;
    word-break: normal;
  }

  .top {
    padding-top: 1.8em;
  }

  table,
  th,
  td {
    fill: #262d57;
    font-size: 14px;
  }

  th {
    background-color: #d5d7df;
    font-weight: normal;
  }

  tr {
    background-color: White;
    color: #262d57;
    font-size: 10px;
  }

  .nav-tabs-custom>.nav-tabs>li {
    width: 16%;
  }

  /*.main_text {
            width: 100%;
            height: auto;
            position: relative;
            text-align: center;
            color: #333;
            padding: 10px 0;
            display: block;
        }
        .main_text.active {
            color: #000;
            font-weight: 600;
        }

        .main_text.active:after {
            content: '';
            position: absolute;
            left: 0;
            right: 0;
            top: 100%;
            margin: 0px auto;
            width: 90px;
            height: 2px;
            background: #01adfb;
        }*/

  @media screen and (max-width: 480px) {
    .stylelink {
      font-size: 12px;
      padding: 10px 20px;
    }

    .stylelink.active {
      font-size: 12px;
      padding: 10px 20px;
    }

    .sub_menu {
      font-size: 10px;
    }

    .sub_menu.active {
      font-size: 10px;
    }
  }

</style>

<div style="width:100%;height:auto;background:#ffffff;">
  <div id="wrapper">

    <div style="text-align:center;">
      <a class="stylelink active" href="/formlevel-backend"><span
          style="flex:1;white-space:pre;overflow: hidden;text-overflow: ellipsis;">BACKEND</span></a>
    </div>
    <div style="text-align:center;">
      <a class="stylelink" href="/formlevel-frontend"><span
          style="flex:1;white-space:pre;overflow: hidden;text-overflow: ellipsis;">FRONTEND</span></a>
    </div>

  </div>
</div>

<!-- Horizontal Form -->
<div class="box box-info" style="min-height:450px;border-top:none;">

        <div class="box-body">
          <br />

          <form role="form">
            <p align="center">All fields in <sup>*</sup> are mandatory</p>
            <br />
            <!-- <br /> -->
            <!-- <div class="row" style="margin:0;padding:0;">
                <div class="col-sm-3"></div>
                <div class="col-sm-6">
                           <label for="title" id="language" class="col-sm-4 fontsize" style=" margin-top:7px;">Language<span style="color:red"> * </span></label>
                           <div class="col-sm-7">
                                    <select ui-select2 class="arrow " id="language" data-ng-model="langrcdetail.language" data-placeholder="Pick a Language" style="width:100%;">
                                   <option value="" disabled >Pick a Language</option>
                                   <option data-ng-repeat="language in languagedefinitions" value="{{language.id}}">{{ language.name }}</option>
                               </select>
                           </div>
                       </div>
           </div> -->
           <!-- <br /> -->
           <br />
           <div class="row padding" align="left">
            <div class="col-sm-3" >
                <label for="customer-area">Customer<sup>*</sup></label>
            </div>
            <div class="col-sm-3">
                <select ui-select2 id="customer-area" ng-model="langrcdetail.customerId" data-placeholder="Pick a Customer" style="width:100%">
                    <option value=""></option>
                    <option data-ng-repeat="customer in customers" value="{{customer.id}}">{{ customer.name }}</option>
                </select>
            </div>
            <div class="col-sm-3">
                <label for="category-area">Category<sup>*</sup></label>
            </div>
            <div class="col-sm-3">
                <select ui-select2 id="category-area" ng-model="langrcdetail.categoryId" data-placeholder="Pick a category" style="width:100%">
                    <option value=""></option>
                    <option data-ng-repeat="category in categories" value="{{category.id}}">{{ category.name }}</option>
                </select>
            </div>
          </div>

          <div class="row padding" align="left" style="padding-top: 5px;">
              <div class="col-sm-3" >
                  <label for="subcategory-area">Sub Category<sup>*</sup></label>
              </div>
              <div class="col-sm-3">
                  <select ui-select2 id="subcategory-area" ng-model="langrcdetail.subcategoryId" data-placeholder="Pick a subcategory" style="width:100%">
                      <option value=""></option>
                      <option data-ng-repeat="subcategory in subcategories" value="{{subcategory.id}}">{{ subcategory.name }}</option>
                  </select>
              </div>
              <div class="col-sm-3">

              </div>
              <div class="col-sm-3">

              </div>
            </div>
         <div class="row padding" align="left" style="padding-top: 5px;">
          <div class="col-sm-3" >
            <label for="name">{{ rcdetailLang.serno }}<sup>*</sup></label>
          </div>
          <div class="col-sm-3">
            <input type="text" class="form-control" id="ser" data-ng-model="langrcdetail.serno" placeholder="{{ rcdetailLang.serno }}">
          </div>
          <div class="col-sm-3">
            <label for="name">{{ rcdetailLang.modeldescription }}</label>
          </div>
          <div class="col-sm-3">
            <input type="text" class="form-control" id="modeldescription" data-ng-model="langrcdetail.modeldescription" placeholder="{{ rcdetailLang.modeldescription }}">
          </div>
        </div>


        <div class="row padding" align="left">
            <div class="col-sm-3" >
              <label for="name">{{ rcdetailLang.rcstatus }}<sup>*</sup></label>
            </div>
            <div class="col-sm-3">
              <!-- <input type="text" class="form-control" id="rcstatus" data-ng-model="langrcdetail.rcstatus" placeholder="RC Status"> -->
              <select ui-select2 id="rcstatus" ng-model="langrcdetail.rcstatus" data-placeholder="{{ rcdetailLang.rcstatus }}"
              style="width:100%" >
              <option value=""></option>
              <option value="OPEN">OPEN</option>
              <!-- <option data-ng-repeat="rcstatus in rcstatuses" value="{{rcstatus.id}}">{{ rcstatus.question }} - {{ rcstatus.rcCode }}</option> -->
              </select>
            </div>
            <div class="col-sm-3">
              <label for="name">{{ rcdetailLang.serialnoservicetag }}</label>
            </div>
            <div class="col-sm-3">
              <input type="text" class="form-control" id="slno" data-ng-model="langrcdetail.serialnoservicetag" placeholder="{{ rcdetailLang.serialnoservicetag }}">
            </div>

          </div>


          <div class="row padding" align="left">
            <div class="col-sm-3" >
              <label for="name">{{ rcdetailLang.customername }}<sup>*</sup></label>
            </div>
            <div class="col-sm-3">
              <input type="text" class="form-control" id="customer_name" data-ng-model="langrcdetail.customername" placeholder="{{ rcdetailLang.customername }}">
            </div>
            <div class="col-sm-3">
              <label for="name">{{ rcdetailLang.sla }}</label>
            </div>
            <div class="col-sm-3">
              <input type="text" class="form-control" id="sla" data-ng-model="langrcdetail.sla" placeholder="{{ rcdetailLang.sla }}">
            </div>

          </div>


          <div class="row padding" align="left">
            <div class="col-sm-3" >
              <label for="name">{{ rcdetailLang.customermiddlename }}</label>
            </div>
            <div class="col-sm-3">
              <input type="text" class="form-control" id="customermiddle_name" data-ng-model="langrcdetail.customermiddlename" placeholder="{{ rcdetailLang.customermiddlename }}">
            </div>
            <div class="col-sm-3">
              <!-- <label for="name">{{ rcdetailLang.state }}</label> -->
            </div>
            <div class="col-sm-3">
              <!-- <input type="text" class="form-control" id="state" data-ng-model="langrcdetail.state" placeholder="{{ rcdetailLang.state }}"> -->
            </div>

          </div>


          <div class="row padding" align="left">
            <div class="col-sm-3" >
              <label for="name">{{ rcdetailLang.customerlastname }}</label>
            </div>
            <div class="col-sm-3">
              <input type="text" class="form-control" id="customerlast_name" data-ng-model="langrcdetail.customerlastname" placeholder="{{ rcdetailLang.customerlastname }}">
            </div>
            <div class="col-sm-3">
              <label for="name">{{ rcdetailLang.dellremarks }}</label>
            </div>
            <div class="col-sm-3">
              <input type="text" class="form-control" id="remarks" data-ng-model="langrcdetail.dellremarks" placeholder="{{ rcdetailLang.dellremarks }}">
            </div>

          </div>


          <div class="row padding" align="left">
            <div class="col-sm-3" >
              <label for="name">{{ rcdetailLang.customeraddress }}</label>
            </div>
            <div class="col-sm-3">
              <textarea rows="2" class="form-control" id="customer_address" data-ng-model="langrcdetail.customeraddress" placeholder="{{ rcdetailLang.customeraddress }}"></textarea>
            </div>
            <div class="col-sm-3">
              <label for="name">{{ rcdetailLang.summary }}</label>
            </div>
            <div class="col-sm-3">
              <input type="text" class="form-control" id="summary" data-ng-model="langrcdetail.summary" placeholder="{{ rcdetailLang.summary }}">
            </div>

          </div>

          <div class="row padding" align="left">
            <div class="col-sm-3" >
              <label for="typology">Lattitude / Longitude  </label>
            </div>
            <div class="col-sm-3">
              <div class="col-sm-5" style="padding-left: 0px;">
                <input type="text" class="form-control" id="latitude" data-ng-model="langrcdetail.latitude" placeholder="Latitude">
            </div>
            <div class="col-sm-5" style="padding-left: 0px;">
                <input type="text" class="form-control" id="longitude" data-ng-model="langrcdetail.longitude" placeholder="Longitude">
            </div>
            <div class="col-sm-2" style="font-size:22px;color:#f55c51;padding-left:0px;">
                <span class="glyphicon glyphicon-map-marker" aria-hidden="true" ng-click="LocateMe()" href="">
            </span>
            </div>
            </div>
            <div class="col-sm-3">
              <label for="name">{{ rcdetailLang.worklocation }}</label>
            </div>
            <div class="col-sm-3">
                <!-- <select ui-select2 id="worklocation" data-ng-model="worklocation" data-placeholder="Please Select" style="width:100%">
                    <option value=""></option>
                    <option value="bangalore">Bangalore</option>
                </select> -->
                <input type="text" class="form-control" data-ng-model="langrcdetail.worklocation"  placeholder="{{ rcdetailLang.worklocation }}">
            </div>


          </div>

          <div class="row padding" align="left">
            <div class="col-sm-3">
              <label for="country">Country</label>
            </div>
            <div class="col-sm-3">
              <select ui-select2 id="organisationCountry" ng-model="langrcdetail.countryId" data-placeholder="Select Country" style="width:100%">
                <option value=""></option>
                <option data-ng-repeat="country in countries" value="{{country.id}}">{{country.name}}</option>
            </select>
            </div>

            <div class="col-sm-3">
              <label for="state">State</label>
            </div>
            <div class="col-sm-3">
              <select ui-select2 id="organisationState" ng-model="langrcdetail.stateId" data-placeholder="Select State" style="width:100%">
                <option value=""></option>
                <option data-ng-repeat="state in states" value="{{state.id}}">{{state.name}}</option>
            </select>
            </div>
          </div>

          <div class="row padding" align="left" style="padding-top: 5px;padding-bottom: 5px;">
            <div class="col-sm-3" >
              <label for="name">{{ rcdetailLang.city }}</label>
            </div>
            <div class="col-sm-3">
              <!-- <input type="text" class="form-control" id="city" data-ng-model="langrcdetail.city" placeholder="{{ rcdetailLang.city }}"> -->
              <select ui-select2 id="organisationCity" ng-model="langrcdetail.cityId" data-placeholder="Select {{ rcdetailLang.city }}" style="width:100%">
                <option value=""></option>
                <option data-ng-repeat="city in cities" value="{{city.id}}">{{city.name}}</option>
            </select>
            </div>
            <div class="col-sm-3" >
              <label for="name">{{ rcdetailLang.pincode }}</label>
            </div>
            <div class="col-sm-3">
              <!-- <input type="text" class="form-control" id="pincode" data-ng-model="langrcdetail.pincode" placeholder="{{ rcdetailLang.pincode }}"> -->
              <select ui-select2 id="organisationPincode" ng-model="langrcdetail.pincodeId" data-placeholder="Select {{ rcdetailLang.pincode }}" style="width:100%">
                <option value=""></option>
                <option data-ng-repeat="pincode in pincodes" value="{{pincode.id}}">{{pincode.name}}</option>
            </select>
            </div>


          </div>


          <div class="row padding" align="left">
            <div class="col-sm-3" >
              <label for="name">{{ rcdetailLang.contactno }}</label>
            </div>
            <div class="col-sm-3">
              <input type="text" class="form-control" id="contactno" data-ng-model="langrcdetail.contactno" placeholder="{{ rcdetailLang.contactno }}">
            </div>
            <div class="col-sm-3">
                <label for="name">{{ rcdetailLang.etatime }}</label>
            </div>
            <div class="col-sm-3">
                <input type="text" class="form-control" id="etatime" data-ng-model="langrcdetail.etatime" placeholder="{{ rcdetailLang.etatime }}">
            </div>

          </div>


          <div class="row padding" align="left">
            <div class="col-sm-3" >
              <label for="name">{{ rcdetailLang.contactpersonname }}</label>
            </div>
            <div class="col-sm-3">
              <input type="text" class="form-control" id="contactname" data-ng-model="langrcdetail.contactpersonname" placeholder="{{ rcdetailLang.contactpersonname }}">
            </div>
            <div class="col-sm-3">
              <label for="name">{{ rcdetailLang.engineer }}</label>
            </div>
            <div class="col-sm-3">
            <!-- <select ui-select2 id="engineer" data-ng-model="engineer" data-placeholder="Please Select" style="width:100%">
                <option value=""></option>
                <option value="bangalore">IT Engineer</option>
            </select> -->
            <input type="text" class="form-control"   placeholder="{{ rcdetailLang.engineer }}">
            </div>

          </div>


          <div class="row padding" align="left">
            <div class="col-sm-3" >
              <label for="name">{{ rcdetailLang.casedescription }}</label>
            </div>
            <div class="col-sm-3">
              <textarea rows="2"  class="form-control" id="casedescription" data-ng-model="langrcdetail.casedescription" placeholder="{{ rcdetailLang.casedescription }}"></textarea>
            </div>
            <div class="col-sm-3">
                <label for="name">{{ rcdetailLang.appointmentdatetime }}</label>
            </div>
            <div class="col-sm-3">
                <input type="text" class="form-control" id="apdttm" data-ng-model="langrcdetail.appointmentdatetime" placeholder="{{ rcdetailLang.appointmentdatetime }}">
            </div>

          </div>


          <div class="row padding" align="left">
            <div class="col-sm-3" >
              <label for="name">{{ rcdetailLang.customerrefnumber }}</label>
            </div>
            <div class="col-sm-3">
              <input type="text" class="form-control" id="refno" data-ng-model="langrcdetail.customerrefnumber" placeholder="{{ rcdetailLang.customerrefnumber }}">
            </div>
            <div class="col-sm-3">
                <label for="name">{{ rcdetailLang.callduration }}</label>
            </div>
            <div class="col-sm-3">
                <!-- <select ui-select2 id="callduration" data-ng-model="callduration" data-placeholder="Please Select" style="width:100%">
                    <option value=""></option>
                    <option value="bangalore">1 hour</option>
                </select> -->
                <input type="text" class="form-control"   placeholder="{{ rcdetailLang.callduration }}">
            </div>

          </div>


          <div class="row padding" align="left">
            <div class="col-sm-3" >
              <label for="name">{{ rcdetailLang.casenumber }}</label>
            </div>
            <div class="col-sm-3">
              <input type="text" class="form-control" id="caseno" data-ng-model="langrcdetail.casenumber" placeholder="{{ rcdetailLang.casenumber }}">
            </div>
            <div class="col-sm-3">
                <label for="name">{{ rcdetailLang.lob }}</label>
            </div>
            <div class="col-sm-3">
                <textarea rows="2" class="form-control" id="lob" data-ng-model="langrcdetail.lob" placeholder="{{ rcdetailLang.lob }}"></textarea>
            </div>

          </div>


          <div class="row padding" align="left">
            <div class="col-sm-3" >
              <label for="name">{{ rcdetailLang.dlpname }}</label>
            </div>
            <div class="col-sm-3">
              <input type="text" class="form-control" id="dlpname" data-ng-model="langrcdetail.dlpname" placeholder="{{ rcdetailLang.dlpname }}">
            </div>
            <div class="col-sm-3">
                <label for="name">{{ rcdetailLang.hdcontactname }}</label>
            </div>
            <div class="col-sm-3">
                <input type="text" class="form-control" id="hdcontactname" data-ng-model="langrcdetail.hdcontactname" placeholder="{{ rcdetailLang.hdcontactname }}">
            </div>

          </div>


          <div class="row padding" align="left">
            <div class="col-sm-3" >
              <label for="name">{{ rcdetailLang.serreceivedate }}</label>
            </div>
            <div class="col-sm-3">
              <input type="text" class="form-control" id="serrecdt" data-ng-model="langrcdetail.serreceivedate" placeholder="{{ rcdetailLang.serreceivedate }}">
            </div>
            <div class="col-sm-3">
                <label for="name">{{ rcdetailLang.hdcontactno }}</label>
            </div>
            <div class="col-sm-3">
                <input type="text" class="form-control" id="hdcontactno" data-ng-model="langrcdetail.hdcontactno" placeholder="{{ rcdetailLang.hdcontactno }}">
            </div>
          </div>


          <div class="row padding" align="left">
            <div class="col-sm-3" >
              <label for="name">{{ rcdetailLang.serreceivetime }}</label>
            </div>
            <div class="col-sm-3">
              <input type="text" class="form-control" id="serrectime" data-ng-model="langrcdetail.serreceivetime" placeholder="{{ rcdetailLang.serreceivetime }}">
            </div>
            <div class="col-sm-3">
                <label for="name">{{ rcdetailLang.orderno }}</label>
            </div>
            <div class="col-sm-3">
                <input type="text" class="form-control" id="orderno" data-ng-model="langrcdetail.orderno" placeholder="{{ rcdetailLang.orderno }}">
            </div>

          </div>


          <div class="row padding" align="left">
            <div class="col-sm-3" >
              <label for="name">{{ rcdetailLang.modelno }}</label>
            </div>
            <div class="col-sm-3">
              <input type="text" class="form-control" id="modelno" data-ng-model="langrcdetail.modelno" placeholder="{{ rcdetailLang.modelno }}">
            </div>
            <div class="col-sm-3">
                <label for="name">{{ rcdetailLang.displayname }}</label>
            </div>
            <div class="col-sm-3">
                <input type="text" class="form-control" id="displayname" data-ng-model="langrcdetail.displayname" placeholder="{{ rcdetailLang.displayname }}">
            </div>

          </div>


          <div class="row padding" align="left">
            <div class="col-sm-3" >
              <label for="name">{{ rcdetailLang.countryzone }}</label>
            </div>
            <div class="col-sm-3">
              <input type="text" class="form-control" id="countryzone" data-ng-model="langrcdetail.countryzone" placeholder="{{ rcdetailLang.countryzone }}">
            </div>
            <div class="col-sm-3">
                <label for="name">{{ rcdetailLang.partstatusatscm }}</label>
            </div>
            <div class="col-sm-3">
                <input type="text" class="form-control" id="partstatusscm" data-ng-model="langrcdetail.partstatusatscm" placeholder="{{ rcdetailLang.partstatusatscm }}">
            </div>

          </div>


          <div class="row padding" align="left">
            <div class="col-sm-3" >
              <label for="name">{{ rcdetailLang.faxnocontactperson }}</label>
            </div>
            <div class="col-sm-3">
              <input type="text" class="form-control" id="faxno" data-ng-model="faxnocontactperson" placeholder="{{ rcdetailLang.faxnocontactperson }}">
            </div>
            <div class="col-sm-3">
                <label for="name">{{ rcdetailLang.parthclintermediatedrpoint }}</label>
            </div>
            <div class="col-sm-3">
                <input type="text" class="form-control" id="partathcl" data-ng-model="langrcdetail.parthclintermediatedrpoint" placeholder="{{ rcdetailLang.parthclintermediatedrpoint }}">
            </div>

          </div>


          <div class="row padding" align="left">
            <div class="col-sm-3" >
              <label for="name">{{ rcdetailLang.fsd }}</label>
            </div>
            <div class="col-sm-3">
              <input type="text" class="form-control" id="fsd" data-ng-model="langrcdetail.fsd" placeholder="{{ rcdetailLang.fsd }}">
            </div>
            <div class="col-sm-3">
              <label for="name">{{ rcdetailLang.partstatusatscm }}</label>
            </div>
            <div class="col-sm-3">
                <input type="text" class="form-control" id="partstatuscspl" data-ng-model="langrcdetail.partstatuscustomerplace" placeholder="{{ rcdetailLang.partstatusatscm }}">
            </div>

          </div>


          <div class="row padding" align="left">
            <div class="col-sm-3" >
              <label for="name">{{ rcdetailLang.deferflag }}</label>
            </div>
            <div class="col-sm-3">
              <input type="text" class="form-control" id="deferflag" data-ng-model="langrcdetail.deferflag" placeholder="{{ rcdetailLang.deferflag }}">
            </div>
            <div class="col-sm-3">
              <label for="name">{{ rcdetailLang.defectivepartreceived }}</label>
            </div>
            <div class="col-sm-3">
              <input type="text" class="form-control" id="defpartrec" data-ng-model="langrcdetail.defectivepartreceived" placeholder="{{ rcdetailLang.defectivepartreceived }}">
            </div>

          </div>

          <div class="row padding" align="left">
            <div class="col-sm-3" >
              <label for="name">{{ rcdetailLang.prosupport }}</label>
            </div>
            <div class="col-sm-3">
              <input type="text" class="form-control" id="prosupport" data-ng-model="langrcdetail.prosupport" placeholder="{{ rcdetailLang.prosupport }}">
            </div>
            <div class="col-sm-3">
              <label for="name">{{ rcdetailLang.alternativetelephoneno }}</label>
            </div>
            <div class="col-sm-3">
              <input type="text" class="form-control" id="alttelphoneno" data-ng-model="langrcdetail.alternativetelephoneno" placeholder="{{ rcdetailLang.alternativetelephoneno }}">
            </div>
          </div>


          <div class="row padding" align="left">
            <div class="col-sm-3" >
              <label for="name">{{ rcdetailLang.keepyourharddrive }}</label>
            </div>
            <div class="col-sm-3">
              <input type="text" class="form-control" id="kyhd" data-ng-model="langrcdetail.keepyourharddrive" placeholder="{{ rcdetailLang.keepyourharddrive }}">
            </div>
            <div class="col-sm-3">
              <label for="name">{{ rcdetailLang.customeremialaddress }}</label>
            </div>
            <div class="col-sm-3">
              <input type="email" class="form-control" id="custemail" data-ng-model="langrcdetail.customeremialaddress" placeholder="{{ rcdetailLang.customeremialaddress }}">
            </div>
          </div>


          <div class="row padding" align="left">
            <div class="col-sm-3" >
              <label for="name">{{ rcdetailLang.accidentaldamage }}</label>
            </div>
            <div class="col-sm-3">
              <input type="text" class="form-control" id="ad" data-ng-model="langrcdetail.accidentaldamage" placeholder="{{ rcdetailLang.accidentaldamage }}">
            </div>
            <div class="col-sm-3">
              <label for="name">{{ rcdetailLang.alternatecontactno }}</label>
            </div>
            <div class="col-sm-3">
              <input type="text" class="form-control" id="altcontactname" data-ng-model="langrcdetail.alternatecontactno" placeholder="{{ rcdetailLang.alternatecontactno }}">

            </div>
          </div>

          <!-- <div class="row padding" align="left">
            <div class="col-sm-2" >

            </div>
            <div class="col-sm-4">

            </div>
            <div class="col-sm-2">

            </div>
            <div class="col-sm-4">
            </div>
          </div> -->


          <div class="row padding" align="left">
            <div class="col-sm-3">
              <label for="name">{{ rcdetailLang.controlcode }}</label>
          </div>
          <div class="col-sm-3">
              <textarea rows="2" type="text" class="form-control" id="controlecode" data-ng-model="langrcdetail.controlcode" placeholder="{{ rcdetailLang.controlcode }}"> </textarea>
          </div>
          <div class="col-sm-3">
            <label for="name">{{ rcdetailLang.controlcodedesc }}</label>
        </div>
        <div class="col-sm-3">
            <textarea rows="2" type="text" class="form-control" id="controlecodedesc" data-ng-model="langrcdetail.controlcodedesc" placeholder="{{ rcdetailLang.controlcodedesc }}"> </textarea>
        </div>

          </div>

          <div class="row padding" align="left" >
            <div class="col-sm-3" >
                <label for="name">{{ rcdetailLang.attachfile }}</label>
            </div>
            <div class="col-sm-3">
                <!-- <input type = "text" class="form-control" placeholder="Attach File" file-model = "myFile"/> -->
                <input type="file" class="form-control" id="attachfile" data-ng-model="langrcdetail.attachfile" placeholder="{{ rcdetailLang.attachfile }}">
            </div>


          </div>
          <div class="row padding" align="left">
            <div class="col-sm-3" >
              <label for="name">{{ rcdetailLang.filedescription }}</label>
          </div>
          <div class="col-sm-3">
              <input type="text" class="form-control" id="filename" data-ng-model="langrcdetail.filedescription" placeholder="{{ rcdetailLang.filedescription }}">
          </div>
            </div>




            <br />

            <br />
            <br />
            <div align="left" style="margin-left: 24px;">
              <div>

                <button type="button" class="btn btn-info btn-sm " data-ng-click="Save()" data-ng-hide="isCreateView()"
                  style="padding:5px 20px;margin-right:10px;">Save</button>

                <!-- <button type="button" class="btn btn-info btn-sm " data-ng-click="Update()" data-ng-hide="isCreateView()"
                  style="padding:5px 20px;margin-right:10px;">Update</button> -->

                <a href="/formleveldetailslist" class="btn btn-danger btn-sm " role="button"
                  style="padding:5px 20px;margin-right:10px;">Cancel</a>


              </div>
            </div>
            <br>
          </form>


          <modal2 title1="Congrats!!!" visible="stakeholderdataModal">

            <strong>{{message}}</strong>

          </modal2>


        <validationmodal title1="Alert!!!" visible="showValidation">
            {{validatestring1}}
        </validationmodal>
        </div>
      </div>
