<style>
    .stylelink {
        background: transparent;
        color: #9d9eb3;
        font-weight: bold;
        text-decoration: none;
        font-size: 14px;
        display: inline-flex;
        flex-flow: row nowrap;
        max-width: 100%;
        padding: 20px 10px;
    }
    
    .stylelink.active {
        color: #4a4d72;
        font-weight: bold;
        text-decoration: none;
        font-size: 14px;
        display: inline-flex;
        flex-flow: row nowrap;
        max-width: 100%;
        padding: 20px 0px;
        padding-left: 0px;
/*        border-bottom: 4px solid #ec0b6d;*/
    }

    .tht:hover {
        color: blue;
    }

        #wrapper {
        display: table;
        table-layout: fixed;
        width: 100%;
        height: auto;
        border-bottom: 4px solid #f4f4f4;
/*        background-color: #fff;*/
        margin-top:12px;
    }
    
    #wrapper div {
        display: table-cell;
        height: auto;
    }
    
     .sell {
        position: relative;
        min-width: 45px;
    }
    
    .sell:after {
        content: url(images/piclinks/down-arrow.png) ;
        font: 17px "Consolas", monospace;
        color: #333;
        top: 5px;
        margin-left: -22px;
        padding: 0 0 2px;
        position: absolute;
        pointer-events: none;
    }
    
    .sell select {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        display: block;
        width: 100%;
        /*        max-width: 320px;*/
        height: 32px;
        float: left;
        padding: 0px 7px;
        font-size: 14px;
        line-height: 1.75;
        color: #878993;
        border-radius: 4px;
        background-color: #ffffff;
        background-image: none;
        border: 1px solid #d5d7df;
        -ms-word-break: normal;
        word-break: normal;
    }

    .top{
        padding-top: 1.8em;
    }
    
    table,
th,
td {
    fill: #262d57;
    font-size: 14px;
}
th {
    background-color: #d5d7df;
    font-weight: normal;
}
tr {
    background-color: White;
    color: #262d57;
    font-size: 10px;
}
    .iccon {
    width: 22%;
}

</style>

<style>
    th {
        cursor: pointer;
    }

        {
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        -o-user-select: none;
        user-select: none;
    }
@media screen and (max-width: 480px) {
        .stylelink {
            font-size: 12px;
            padding: 10px 20px;
        }
        .stylelink.active {
            font-size: 12px;
/*            padding: 10px 20px;*/
            padding: 10px 0px;
        }
        .sub_menu {
            font-size: 10px;
        }
        .sub_menu.active {
            font-size: 10px;
        }
        .ml{
            padding-left: 0px;
        }
        .ml1{
            margin-left: -5%;
             margin-bottom: 25px;
        }
    }
    
    @media screen and (max-width:350px) {
        .ml{
            padding-left: 0px;
        }
        .ml1{
            margin-left: -7%;
             margin-bottom: 25px;
        }
    }
    
    @media screen and (max-width:376px) and (min-width:355px){
        .ml{
            padding-left: 0px;
        }
        .ml1{
            margin-left: -7%;
             margin-bottom: 25px;
        }
    }
     @media screen and (max-width:1024px) and (min-width:1000px){
        .ml1{
            margin-left: -2%; 
        }
    }
</style>
<!--
<script>
table th.active {color: blue;}
$(document).ready(function(){
    $("#rowClick > th").click(function(){
        $(this).toggleClass("active");
    });
});
</script>
-->
<!--
<script type="text/javascript">
    var sortingOrder = 'name';
</script>
-->

<!-- Horizontal Form -->
<div class="box box-info" style="min-height:450px;border-top:none;">
    <div id="wrapper">
        <div class="stylelink active box-header with-border">
            <h3 class="box-title" style="font-weight:bold;">Member Languages </h3>
        </div>
    </div>
    <!-- /.box-header -->
    <!-- form start -->

    <div class="box-body">
        <!--
        <div align="left">
            <a data-ng-href="/members/create" class="btn btn-primary btn-sm " role="button">{{addnew}} </a>
        </div>
-->
        <br/>

        <div data-ng-hide="hideSearchFilter()">

            <div class="row padding">
                <div class="col-sm-0 col-md-5"></div>
                <div class="col-sm-12 col-md-7">
                    <div class="col-sm-0 col-md-2"></div>
                    <div data-ng-hide="hideSearchFilter()" class="col-xs-12 col-sm-2 col-md-1" style="text-align:left;padding-left:0px;padding-right:0px;border-color:#d5d7df">
                    <label>Show</label>
                        <div class="sell">
                    <select ng-model="pageSize" data-placeholder="Show Entries" ng-change="pageFunction(pageSize)">
                        <option value="25">25</option>
                        <option value="50">50</option>
                        <option value="100">100</option>
                    </select>
                    </div>
                    <!--					<span>Entries</span>-->
                </div>
                <div data-ng-hide="hideSearchFilter()" class="col-xs-12 col-sm-6 col-md-5 top ml" style="padding-right:0px;">

                    <div class="input-group">
                        <span class="input-group-btn">
                     <button class="btn btn-default" type="button" style="border-top-left-radius:4px;border-bottom-left-radius: 4px;background:none;border-right:none;"><span class="glyphicon glyphicon-search"></span></button>
                        </span>
                        <input type="text" id="Search" class="form-control ng-pristine ng-valid" placeholder="Search" style="z-index:0;border-left:none;border-top-right-radius:4px;border-bottom-right-radius: 4px;" data-ng-model="searchPart">  
                    </div>
                </div>
                <div class="col-xs-12 col-sm-3 col-md-2 top ml1">
                    <a data-ng-href="/memberlanguage/create" class="btn btn-primary btn-sm " role="button" data-ng-hide="hideCreateButton(); hideSearchFilter()" style="padding:5px 20px;margin-right:10px;">Add New </a>

                </div>
                </div>
            </div>
        </div>
        <br />


        <div data-ng-hide="showForm()" class="table-responsive">
            <table class="table table-hover">
                <thead>
                    <tr id="rowClick">
                        <th>S NO.</th>
                        <th ng-click="changeSorting('language')">LANGUAGE<span style="margin-left:10px;"><i class="fa fa-sort-desc" ng-class="getIcon('language')"></i></span></th>

                        <th ng-click="changeSorting('fullname')">FULL NAME<span style="margin-left:10px;"><i class="fa fa-sort-desc" ng-class="getIcon('fullname')"></i></span></th>

                        <th ng-click="changeSorting('memberId')">MEMBER ID<span style="margin-left:10px;"><i class="fa fa-sort-desc" ng-class="getIcon('memberId')"></i></span></th>

                        <th ng-click="changeSorting('address')">ADDRESS<span style="margin-left:10px;"><i class="fa fa-sort-desc" ng-class="getIcon('address')"></i></span></th>

                        <th ng-click="changeSorting('dob')">DOB<span style="margin-left:10px;"><i class="fa fa-sort-desc" ng-class="getIcon('dob')"></i></span></th>

                        <th style="width:75px;">ACTION</th>
                    </tr>
                </thead>
                <tbody id="bnbody">
                    <tr dir-paginate="member in TotalData  = ( memberlanguages | filter:searchPart ) | orderBy:sort.active:sort.descending  | itemsPerPage:pageSize" current-page="currentPage" ng-style="{color:beneficiary.backgroundColor}">
                        <td>{{ member.index }}</td>
                        <td data-ng-init="language = getLanguage(member.language)">{{ language.name }}</td>
                        <td>{{ member.fullname }}</td>
                        <td>{{ member.memberId }}</td>
                        <td>{{ member.address }}</td>
                        <td>{{ member.dob }}</td>
                        <td>
                            <a data-ng-href="/memberlanguage/{{member.id}}">
<!--                                <span class="glyphicon glyphicon-pencil" title="Edit" ></span>-->
                             <img class="iccon" src="images/piclinks/edit.png" title="Edit">
                            </a>&nbsp;&nbsp;
<!--                            <a style="color:#b7b8c8;">|</a>&nbsp;&nbsp;-->
                            <a confirm-button="Delete(member.id)" message="Are you sure? you want to delete?">
<!--                                    <span class="glyphicon glyphicon-remove" style="cursor:pointer;border-left:1px solid #" title="Bin"></span>-->
                                 <img class="iccon" src="images/piclinks/cross.png" style="cursor:pointer;" title="Bin">
                            </a>&nbsp;
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="padding" align="right">
                <dir-pagination-controls max-size="25" direction-links="true" boundary-links="true" on-page-change="PageChanged(newPageNumber, oldPageNumber)">
                </dir-pagination-controls>
            </div>
        </div>
    </div>
    <br/>
    <!-- /.box-body -->
    <div class="box-footer">

    </div>
    <!-- /.box-footer -->
</div>
<!-- /.box -->

<validationmodal title1="Alert" visible="showValidation">
    {{validatestring1}}
</validationmodal>
