<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" ng-app="secondarySalesApp">
<!--<![endif]-->

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <base href="/">
  <title page-title></title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width">
  <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
  <!-- build:css(app) styles/vendor.css -->
  <!-- bower:css -->
  <link rel="stylesheet" href="bower_components/select2/select2.css" />
  <link rel="stylesheet" href="bower_components/angular-toggle-switch/angular-toggle-switch.css" />
  <!-- endbower -->
  <!-- endbuild -->
  <!-- build:css({.tmp,app}) styles/main.css -->
  <!-- <link rel="icon" type="image/png" href="../images/piclinks/conserveSM.png"> -->
  <link rel="stylesheet" href="styles/main.css">

  <link rel="stylesheet" href="styles/addButton.css">
  <link rel="stylesheet" href="styles/myButton.css">
  <link rel="stylesheet" href="styles/angucomplete.css">
  <link rel="stylesheet" href="styles/toaster.css">
  <link href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.3.2/css/bootstrap.min.css" rel="stylesheet" />
  <script src="angular.min.js"></script>
  <!-- endbuild -->

  <!-- endbuild -->

  <!-- Bootstrap 3.3.5 -->
  <link rel="stylesheet" href="styles/NewUI/bootstrap/css/bootstrap.min.css">
  <!-- Font Awesome -->
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
  <!-- <link rel='stylesheet' href='//fonts.googleapis.com/css?family=Open+Sans:400,600,700,800,300' type='text/css'> -->
  <link rel='stylesheet' href='//fonts.googleapis.com/css?family=Proxima+Nova' type='text/css'>
  <!-- Ionicons -->
  <link rel="stylesheet" href="//code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
  <!-- <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Proxima+Nova' type='text/css'> -->
  <!-- Theme style -->
  <link rel="stylesheet" href="styles/NewUI/NewUI.css">
  <!-- AdminLTE Skins. Choose a skin from the css/skins
       folder instead of downloading all of them to reduce the load. -->
  <link rel="stylesheet" href="styles/NewUI/skin-blue.css">
  <!--    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">-->
  <!--    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">-->

  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->

  <script src="https://d3js.org/d3.v4.js"></script>

  <script src="https://d3js.org/d3-scale-chromatic.v1.min.js"></script>

  <!--  <script src="//d3js.org/d3.v3.min.js" charset="utf-8"></script> -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/dayjs/1.8.16/dayjs.min.js" crossorigin="anonymous"></script>

</head>

<body>
  <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

  <!-- Add your site or application content here -->
  <div ng-include="'partials/navbar1'" ng-style="style"></div>
  <div class="container" ng-view="" ng-if="showMe" ng-style="style"></div>

  <!--[if lt IE 9]>
    <script src="bower_components/es5-shim/es5-shim.js"></script>
    <script src="bower_components/json3/lib/json3.min.js"></script>
    <![endif]-->

  <!-- build:js(app) scripts/vendor.js -->



  <!-- bower:js -->
  <script src="bower_components/jquery/dist/jquery.js"></script>
  <script src="bower_components/angular/angular.js"></script>
  <script src="bower_components/angular-resource/angular-resource.js"></script>
  <script src="bower_components/angular-cookies/angular-cookies.js"></script>
  <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
  <script src="bower_components/angular-route/angular-route.js"></script>
  <script src="bower_components/lodash/dist/lodash.compat.js"></script>
  <script src="bower_components/restangular/dist/restangular.js"></script>
  <script src="bower_components/select2/select2.js"></script>
  <script src="bower_components/angular-ui-select2/src/select2.js"></script>
  <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
  <script src="bower_components/angular-ui-utils/ui-utils.js"></script>
  <script src="bower_components/angular-ui-map/ui-map.js"></script>
  <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
  <script src="bower_components/angular-toggle-switch/angular-toggle-switch.js"></script>
  <!-- endbower -->
  <!-- endbuild -->

  <!-- build:js({.tmp,app}) scripts/scripts.js -->
  <script src="scripts/app.js"></script>
  <script src="scripts/services/baseurl.js"></script>
  <script src="scripts/services/toaster.js"></script>
  <script src="scripts/services/angucomplete.js"></script>
  <script src="scripts/services/angucomplete.js"></script>
  <script src="scripts/services/NewUI/angular-breadcrumbs.min.js"></script>
  <script src="scripts/services/xlsx.core.min.js"></script>
  <script src="scripts/controllers/login.js"></script>
  <script src="scripts/controllers/main.js"></script>
  <script src="scripts/controllers/navbar.js"></script>
  <script src="scripts/controllers/roles.js"></script>
  <script src="scripts/directives/cb-grid.js"></script>
  <script src="scripts/directives/cb-button-delete.js"></script>
  <script src="scripts/directives/cb-button-update.js"></script>
  <script src="scripts/directives/cb-form-submit.js"></script>
  <script src="scripts/directives/dirPaginations.js"></script>
  <script src="scripts/directives/ng-page-title.js"></script>
  <script src="scripts/directives/angular-confirm.js"></script>
  <script src="scripts/directives/angular-confirm2.js"></script>
  <script src="scripts/controllers/users.js"></script>
  <script src="scripts/controllers/users-create.js"></script>
  <script src="scripts/controllers/users-edit.js"></script>
  <script src="scripts/controllers/groups.js"></script>
  <script src="scripts/controllers/customfields.js"></script>
  <script src="scripts/controllers/countries.js"></script>
  <script src="scripts/controllers/states.js"></script>
  <script src="scripts/controllers/cities.js"></script>
  <script src="scripts/controllers/zones.js"></script>
  <script src="scripts/controllers/uploadzones.js"></script>
  <script src="scripts/controllers/sales-areas.js"></script>
  <script src="scripts/controllers/uploadsales-areas.js"></script>
  <script src="scripts/controllers/uploadcities.js"></script>
  <script src="scripts/controllers/upload-co-org.js"></script>
  <script src="scripts/controllers/uploadroutes.js"></script>
  <script src="scripts/controllers/distribution-areas.js"></script>
  <script src="scripts/controllers/distribution-subareas.js"></script>
  <script src="scripts/controllers/employees.js"></script>
  <script src="scripts/controllers/employees-create.js"></script>
  <script src="scripts/controllers/employees-edit.js"></script>

  <!-- Configuration's Partners -->
  <script src="scripts/controllers/sdoctypes.js"></script>
  <script src="scripts/controllers/fdoctypes.js"></script>
  <script src="scripts/controllers/scheme.js"></script>
  <script src="scripts/controllers/gender.js"></script>
  <script src="scripts/controllers/updatetype.js"></script>
  <script src="scripts/controllers/serviceevent.js"></script>
  <script src="scripts/controllers/typology.js"></script>
  <script src="scripts/controllers/education.js"></script>
  <script src="scripts/controllers/maritalstatus.js"></script>
  <script src="scripts/controllers/employmentstatus.js"></script>
  <script src="scripts/controllers/emotionalstate.js"></script>
  <script src="scripts/controllers/co-org.js"></script>
  <script src="scripts/controllers/co-org-create.js"></script>
  <script src="scripts/controllers/co-org-edit.js"></script>
  <script src="scripts/controllers/f-work.js"></script>
  <script src="scripts/controllers/f-work-create.js"></script>
  <script src="scripts/controllers/f-work-edit.js"></script>
  <script src="scripts/controllers/beneficiaries.js"></script>
  <script src="scripts/controllers/beneficiaries-create.js"></script>
  <script src="scripts/controllers/beneficiaries-edit.js"></script>
  <script src="scripts/controllers/approveticketslist-view.js"></script>
  <script src="scripts/controllers/approveticket.js"></script>
  <script src="scripts/controllers/routes.js"></script>
  <script src="scripts/controllers/routes-create.js"></script>
  <script src="scripts/controllers/routes-edit.js"></script>
  <script src="scripts/controllers/routelinks.js"></script>
  <script src="scripts/controllers/route_assignment.js"></script>
  <script src="scripts/controllers/route_assignmentdisplays.js"></script>
  <script src="scripts/controllers/route_assignmentupdate.js"></script>
  <script src="scripts/controllers/maps.js"></script>
  <script src="scripts/controllers/tourtypes.js"></script>
  <script src="scripts/controllers/agentroutelinks.js"></script>
  <script src="scripts/controllers/angular-file-upload.js"></script>
  <script src="scripts/controllers/imageupload.js"></script>
  <script src="scripts/controllers/angular-idle.js"></script>
  <script src="scripts/controllers/cocategories.js"></script>
  <script src="scripts/controllers/routesview.js"></script>
  <script src="scripts/controllers/routesviewlist.js"></script>
  <script src="scripts/controllers/coorgedit.js"></script>
  <script src="scripts/controllers/codashboard.js"></script>
  <script src="scripts/controllers/applicationstages.js"></script>
  <script src="scripts/controllers/reportincident.js"></script>
  <script src="scripts/controllers/socialprotection.js"></script>
  <script src="scripts/controllers/health.js"></script>
  <script src="scripts/controllers/outreachactivity.js"></script>
  <script src="scripts/controllers/resetpassword.js"></script>
  <script src="scripts/controllers/schemes.js"></script>
  <script src="scripts/controllers/fieldworkerarchieve.js"></script>
  <script src="scripts/controllers/coarchieve.js"></script>
  <script src="scripts/controllers/fieldworkersites.js"></script>
  <script src="scripts/controllers/groupmeeting.js"></script>
  <script src="scripts/controllers/events.js"></script>
  <script src="scripts/controllers/applyforscheme.js"></script>
  <script src="scripts/controllers/applyfordocument.js"></script>
  <script src="scripts/controllers/onetoone.js"></script>
  <!--    <script src="scripts/controllers/surveyquestions.js"></script>-->
  <script src="scripts/controllers/pillars.js"></script>
  <script src="scripts/controllers/stakeholder.js"></script>
  <script src="scripts/controllers/groupmeetingtopic.js"></script>
  <script src="scripts/controllers/groupmeetingevent.js"></script>
  <script src="scripts/controllers/eventtypes.js"></script>
  <script src="scripts/controllers/followuptypes.js"></script>
  <script src="scripts/controllers/bulkupdate.js"></script>
  <script src="scripts/controllers/todotype.js"></script>
  <script src="scripts/controllers/fieldexecutiveslist-view.js"></script>
  <script src="scripts/controllers/todostatuses.js"></script>
  <script src="scripts/controllers/workflow.js"></script>
  <script src="scripts/controllers/trackapplications.js"></script>
  <script src="scripts/controllers/stakeholdertype.js"></script>
  <script src="scripts/controllers/followupstack.js"></script>
  <script src="scripts/controllers/followupbulkupdate.js"></script>
  <script src="scripts/controllers/purposeofmeeting.js"></script>
  <script src="scripts/controllers/followupgroup.js"></script>
  <script src="scripts/controllers/editschemes.js"></script>
  <script src="scripts/controllers/editdocuments.js"></script>
  <script src="scripts/controllers/reportincidentedit.js"></script>
  <script src="scripts/controllers/editgroupmeetings.js"></script>
  <script src="scripts/controllers/editbulkupdate.js"></script>
  <script src="scripts/controllers/editstakeholder.js"></script>
  <script src="scripts/controllers/editevent.js"></script>
  <script src="scripts/controllers/fwdashboard.js"></script>
  <script src="scripts/controllers/memberdatamigration.js"></script>
  <script src="scripts/controllers/uploadfacility.js"></script>
  <script src="scripts/controllers/uploadscheme.js"></script>
  <script src="scripts/controllers/f-work-profile-edit.js"></script>
  <script src="scripts/controllers/facilityprofileedit.js"></script>
  <script src="scripts/controllers/mentor.js"></script>
  <script src="scripts/controllers/mentor-create.js"></script>
  <script src="scripts/controllers/mentorassign.js"></script>
  <script src="scripts/controllers/schemedepartments.js"></script>
  <script src="scripts/controllers/agegroups.js"></script>
  <script src="scripts/controllers/healthstatuses.js"></script>
  <script src="scripts/controllers/minoritystatuses.js"></script>
  <script src="scripts/controllers/socialstatuses.js"></script>
  <script src="scripts/controllers/occupationstatuses.js"></script>
  <script src="scripts/controllers/locationtypes.js"></script>
  <script src="scripts/controllers/incomestatuses.js"></script>
  <script src="scripts/controllers/schemecategories.js"></script>
  <script src="scripts/controllers/responsereceive.js"></script>
  <script src="scripts/controllers/reasonforrejection.js"></script>
  <script src="scripts/controllers/reasonfordelay.js"></script>
  <script src="scripts/controllers/servityofincident.js"></script>
  <script src="scripts/controllers/currentstatusofcase.js"></script>
  <script src="scripts/controllers/organisebystakeholder.js"></script>
  <script src="scripts/controllers/followupreportincident.js"></script>
  <script src="scripts/controllers/documenttype.js"></script>
  <script src="scripts/controllers/language-english.js"></script>
  <script src="scripts/controllers/language-hindi.js"></script>
  <script src="scripts/controllers/language-tamil.js"></script>
  <script src="scripts/controllers/language-malyalam.js"></script>
  <script src="scripts/controllers/language-kannda.js"></script>
  <script src="scripts/controllers/language-telagu.js"></script>
  <script src="scripts/controllers/language-marathi.js"></script>
  <script src="scripts/controllers/surveyquestion-mlanguage.js"></script>
  <script src="scripts/controllers/schemestage.js"></script>
  <script src="scripts/controllers/mytodostatuses.js"></script>
  <script src="scripts/controllers/syncoutdata.js"></script>
  <script src="scripts/controllers/phonetypes.js"></script>
  <script src="scripts/controllers/noofterms.js"></script>
  <script src="scripts/controllers/archivemember.js"></script>
  <script src="scripts/controllers/financialPlaning.js"></script>
  <script src="scripts/controllers/financialgoal.js"></script>
  <script src="scripts/controllers/timeinyear.js"></script>
  <script src="scripts/controllers/budgetyear.js"></script>
  <script src="scripts/controllers/facilitytype.js"></script>
  <script src="scripts/controllers/areaofoperation.js"></script>
  <script src="scripts/controllers/12astatus.js"></script>
  <script src="scripts/controllers/tirating.js"></script>
  <script src="scripts/controllers/loantracking.js"></script>
  <script src="scripts/controllers/months.js"></script>
  <script src="scripts/controllers/cobudgetsView1.js"></script>
  <script src="scripts/controllers/cobudgetView2.js"></script>
  <script src="scripts/controllers/80gstatus.js"></script>
  <script src="scripts/controllers/fcrastaus.js"></script>
  <script src="scripts/controllers/spmbudgets.js"></script>
  <script src="scripts/controllers/spmbudgetsView.js"></script>
  <script src="scripts/controllers/cobudgetView.js"></script>
  <script src="scripts/controllers/nobudgets.js"></script>
  <script src="scripts/controllers/learning.js"></script>
  <script src="scripts/controllers/learningtype.js"></script>
  <script src="scripts/controllers/dynamicfields.js"></script>
  <script src="scripts/controllers/financialproduct.js"></script>
  <script src="scripts/controllers/chartdropdown.js"></script>
  <script src="scripts/controllers/transfer.js"></script>
  <script src="scripts/controllers/transfer_form.js"></script>
  <script src="scripts/controllers/transfer_member_data.js"></script>

  <script src="scripts/controllers/levels.js"></script>
  <script src="scripts/controllers/languages.js"></script>
  <script src="scripts/controllers/define-languages.js"></script>
  <script src="scripts/controllers/define-levels.js"></script>
  <script src="scripts/controllers/level1.js"></script>
  <script src="scripts/controllers/level2.js"></script>
  <script src="scripts/controllers/level3.js"></script>
  <script src="scripts/controllers/level4.js"></script>
  <script src="scripts/controllers/level5.js"></script>
  <script src="scripts/controllers/workflow-status.js"></script>
  <script src="scripts/controllers/workflow-category.js"></script>
  <script src="scripts/controllers/workflow-priority.js"></script>
  <script src="scripts/controllers/customerslist-view.js"></script>
  <script src="scripts/controllers/customers.js"></script>
  <script src="scripts/controllers/categorylist-view.js"></script>
  <script src="scripts/controllers/category.js"></script>
  <script src="scripts/controllers/subcategorylist-view.js"></script>
  <script src="scripts/controllers/subcategory.js"></script>
  <script src="scripts/controllers/onetoonetype.js"></script>
  <script src="scripts/controllers/onetoonelist.js"></script>
  <script src="scripts/controllers/onetoonelist-view.js"></script>
  <script src="scripts/controllers/servicedetail-frontend.js"></script>
  <script src="scripts/controllers/servicedetail-backend.js"></script>
  <script src="scripts/controllers/formlevel-frontend.js"></script>
  <script src="scripts/controllers/formlevel-backend.js"></script>
  <script src="scripts/controllers/serviceorder.js"></script>

  <script src="scripts/controllers/occupation.js"></script>
  <script src="scripts/controllers/workflow-create.js"></script>
  <script src="scripts/controllers/todos-create.js"></script>
  <script src="scripts/controllers/workflowlanguage.js"></script>
  <script src="scripts/controllers/todolanguage.js"></script>
  <script src="scripts/controllers/onetoonelnguage.js"></script>
  <script src="scripts/controllers/memberlanguage.js"></script>
  <script src="scripts/controllers/memberlanguage-create.js"></script>
  <script src="scripts/controllers/memberlanguage-edit.js"></script>
  <script src="scripts/controllers/assigntodo.js"></script>
  <script src="scripts/controllers/assignmemberslist-view.js"></script>
  <script src="scripts/controllers/assignmember.js"></script>
  <script src="scripts/controllers/uploaduser.js"></script>
  <script src="scripts/controllers/uploadequipment.js"></script>

  <script src="scripts/controllers/organisationlevels.js"></script>
  <script src="scripts/controllers/formlevels.js"></script>
  <script src="scripts/controllers/formdetailslist.js"></script>
  <script src="scripts/controllers/formlevelsummary.js"></script>
  <script src="scripts/controllers/multilanguagelist.js"></script>
  <!-- <script src="scripts/controllers/multilanguage.js"></script> -->
  <script src="scripts/controllers/multilanguagenew.js"></script>
  <script src="scripts/controllers/uploadxls.js"></script>
  <script src="scripts/controllers/organisationlocations.js"></script>
  <script src="scripts/controllers/membercustom.js"></script>
  <script src="scripts/controllers/configcustomreport.js"></script>

  <script src="scripts/controllers/dashboard.js"></script>
  <script src="scripts/controllers/dashboardnew.js"></script>
  <script src="scripts/controllers/dashboardmap.js"></script>
  <script src="scripts/controllers/both.js"></script>
  <script src="scripts/controllers/roll-back.js"></script>
  <script src="scripts/controllers/rollback-view.js"></script>
  <script src="scripts/controllers/export-details.js"></script>
  <script src="scripts/controllers/inventories.js"></script>
  <script src="scripts/controllers/inventorycreate.js"></script>
  <script src="scripts/controllers/bom.js"></script>
  <script src="scripts/controllers/purchaseorder.js"></script>
  <script src="scripts/controllers/purchasecreate.js"></script>
  <script src="scripts/controllers/otherorder.js"></script>
  <script src="scripts/controllers/goodreceipt.js"></script>
  <script src="scripts/controllers/goodscreate.js"></script>
  <script src="scripts/controllers/stock.js"></script>
  <script src="scripts/controllers/stockcreate.js"></script>
  <script src="scripts/controllers/itemtype.js"></script>
  <script src="scripts/controllers/itemtypecreate.js"></script>
  <script src="scripts/controllers/itemcategory.js"></script>
  <script src="scripts/controllers/itemcategorycreate.js"></script>
  <script src="scripts/controllers/itemdefinition.js"></script>
  <script src="scripts/controllers/itemdefinitioncreate.js"></script>
  <script src="scripts/controllers/itemstatus.js"></script>
  <script src="scripts/controllers/itemstatuscreate.js"></script>
  <script src="scripts/controllers/warehousetype.js"></script>
  <script src="scripts/controllers/warehousetypecreate.js"></script>
  <script src="scripts/controllers/warehouse.js"></script>
  <script src="scripts/controllers/warehousecreate.js"></script>
  <script src="scripts/controllers/inventoryuser.js"></script>
  <script src="scripts/controllers/inventoryusercreate.js"></script>
  <script src="scripts/controllers/return.js"></script>
  <script src="scripts/controllers/fieldrequest.js"></script>
  <script src="scripts/controllers/fieldrequestcreate.js"></script>
  <script src="scripts/controllers/recipt.js"></script>
  <script src="scripts/controllers/reciptcreate.js"></script>
  <script src="scripts/controllers/assignitem.js"></script>
  <script src="scripts/controllers/assignitemcreate.js"></script>
  <script src="scripts/controllers/timeslot.js"></script>
  <script src="scripts/controllers/timeslotcreate.js"></script>
  <script src="scripts/controllers/groupcreate-list.js"></script>
  <script src="scripts/controllers/groupcreate.js"></script>
  <script src="scripts/controllers/daily.js"></script>
  <script src="scripts/controllers/hourly.js"></script>
  <!-- endbuild -->
  <script src="scripts/services/spin.js"></script>
  <script src="scripts/services/spin.min.js"></script>
  <script src="scripts/services/alasql.min.js"></script>
  <script src="scripts/services/analytics/crossfilter.js"></script>
  <script src="scripts/services/analytics/dc.js"></script>
  <script src="scripts/services/analytics/dimple.v2.2.0.js"></script>
  <script src="scripts/services/analytics/FileSaver.js"></script>

  <!-- <script src="//maps.google.com/maps/api/js"></script> -->
  <script src="//code.angularjs.org/1.2.0rc1/angular-animate.min.js"></script>
  <script src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.11.2.js"></script>
  <script src="//maps.googleapis.com/maps/api/js?key=AIzaSyCvy7w1NQh0xoa5kMPh7R68Qn6SuWcRbyM"></script>
  <script src="https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/markerclusterer.js">
  </script>
  <!--<script src="http://rawgithub.com/allenhwkim/angularjs-google-maps/master/dist/ng-map.min.js"></script>-->
  <!--    <script src="//google-maps-utility-library-v3.googlecode.com/svn/trunk/markerclusterer/src/markerclusterer_compiled.js"></script>-->

</body>

</html>
