<style>
  .stylelink {
    background: transparent;
    color: #9d9eb3;
    font-weight: bold;
    text-decoration: none;
    font-size: 14px;
    display: inline-flex;
    flex-flow: row nowrap;
    max-width: 100%;
    padding: 20px 10px;
  }

  .stylelink.active {
    color: #4a4d72;
    font-weight: bold;
    text-decoration: none;
    font-size: 14px;
    display: inline-flex;
    flex-flow: row nowrap;
    max-width: 100%;
    padding: 20px 0px;
    /* border-bottom: 4px solid #ec0b6d; */
  }

  .sub_menu {
    display: inline-flex;
    flex-flow: row nowrap;
    max-width: 100%;
    padding: 10px 10px;
    border-bottom: 2px solid transparent;
    color: #333;
  }

  .sub_menu.active {
    display: inline-flex;
    flex-flow: row nowrap;
    max-width: 100%;
    padding: 10px 10px;
    color: #000;
    font-weight: bold;
    /*		border-bottom: 2px solid #01adfb;*/
  }

  #wrapper {
    display: table;
    table-layout: fixed;
    width: 100%;
    height: auto;
    border-bottom: 4px solid #f4f4f4;
    /* background-color: #fff; */
    margin-top: 12px;
  }

  #wrapper div {
    display: table-cell;
    height: auto;
  }

  .sell {
    position: relative;
    min-width: 45px;
  }

  .sell:after {
    content: url(images/piclinks/down-arrow.png);
    font: 17px "Consolas", monospace;
    color: #333;
    top: 5px;
    margin-left: -22px;
    padding: 0 0 2px;
    position: absolute;
    pointer-events: none;
  }

  .sell select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    display: block;
    width: 55px;
    /*        max-width: 320px;*/
    height: 32px;
    float: left;
    padding: 0px 7px;
    font-size: 14px;
    line-height: 1.75;
    color: #878993;
    border-radius: 4px;
    background-color: #ffffff;
    background-image: none;
    border: 1px solid #d5d7df;
    -ms-word-break: normal;
    word-break: normal;
  }

  .top {
    padding-top: 1.8em;
  }

  table,
  th,
  td {
    fill: #262d57;
    font-size: 14px;
  }

  th {
    background-color: #d5d7df;
    font-weight: normal;
  }

  tr {
    background-color: White;
    color: #262d57;
    font-size: 10px;
  }

  .nav-tabs-custom>.nav-tabs>li {
    width: 16%;
  }

  @media screen and (max-width: 480px) {
    .stylelink {
      font-size: 12px;
      padding: 10px 20px;
    }

    .stylelink.active {
      font-size: 12px;
      padding: 10px 20px;
    }

    .sub_menu {
      font-size: 10px;
    }

    .sub_menu.active {
      font-size: 10px;
    }
  }

</style>

<div style="width:100%;height:auto;">
  <div id="wrapper">
    <!-- <div style="text-align:center;">
      <a class="stylelink" href="/assigntodo"><span
          style="flex:1;white-space:pre;overflow: hidden;text-overflow: ellipsis;">Assign Task</span></a>
    </div> -->

    <div style="text-align:left;">
      <a class="stylelink active" href="/assigntickets-list">
        <span
          style="flex:1;white-space:pre;overflow: hidden;text-overflow: ellipsis;font-size:18px;font-weight:bold;">Assign Ticket</span></a>
      <!-- <a class="stylelink active" href="/assignmember"><span
          style="flex:1;white-space:pre;overflow: hidden;text-overflow: ellipsis;">Assign Equipment</span></a> -->
    </div>
  </div>
</div>

<!-- Horizontal Form -->
<div class="box box-info" style="min-height:450px;border-top:none;">

  <div class="box-body">
    <br>
    <div class="row padding">
      <div class="col-sm-0 col-md-5"></div>
      <div class="col-sm-12 col-md-7">
        <div class="col-sm-0 col-md-2"></div>
        <div data-ng-hide="hideSearchFilter()" class="col-xs-12 col-sm-2 col-md-1"
          style="text-align:left;padding-left:0px;;padding-right:0px;border-color:#e1e8ee">
          <label>Show</label>
          <div class="sell">
            <select ng-model="pageSize" data-placeholder="Show Entries" ng-change="pageFunction(pageSize)">
              <option value="25">25</option>
              <option value="50">50</option>
              <option value="100">100</option>
            </select>
          </div>

        </div>
        <div data-ng-hide="hideSearchFilter()" class="col-xs-12 col-sm-6 col-md-5 top ml" style="padding-right:0px;">

          <form role="form">
            <div class="input-group">
              <span class="input-group-btn">
                <button class="btn btn-default" type="button"
                  style="border-top-left-radius:4px;border-bottom-left-radius: 4px;background:none;border-right:none;"><span
                    class="glyphicon glyphicon-search"></span></button>
              </span>
              <input type="text" class="form-control ng-pristine ng-valid" placeholder="Search"
                style="z-index:0;border-left:none;border-top-right-radius:4px;border-bottom-right-radius: 4px;"
                ng-model="searchUser">
            </div>
          </form>

        </div>
        <div class="col-xs-12 col-sm-3 col-md-2 top ml1">
          <a data-ng-href="/assignticket" class="btn btn-primary btn-sm " role="button"
            data-ng-hide="hideCreateButton()" style="padding:5px 20px;margin-right:10px;" ng-disabled="disableAssign">Assign </a>
          <!-- <a data-ng-href="/assignticketnew" class="btn btn-primary btn-sm " role="button"
            data-ng-hide="hideCreateButton()" style="padding:5px 20px;margin-right:10px;">Assign </a> -->
        </div>
      </div>
    </div>
    <div class="row padding">
      <div class="col-sm-6" data-ng-hide="showForm()">

      </div>
    </div>
    <br>

    <div data-ng-hide="showForm()">
      <div>
        <div class="table-responsive">
          <table class="table table-hover" style="table-layout:fixed;">
            <thead>
              <tr>
                <!-- <th style="width:80px;">S NO.</th>
                <th style="width:120px;">CUSTOMER</th>
                <th style="width:120px;">CONTACT NO</th>
                <th style="width:120px;">CATEGORY</th>
                <th style="width:120px;">SUBCATEGORY</th>
                <th style="width:120px;">STATE</th>
                <th style="width:120px;">CITY</th>
                <th style="width:120px;">TICKET</th>
                <th style="width:120px;">USER</th>
                <th style="width:120px;">STATUS</th>
                <th style="width:150px;">ETA</th>
                <th style="width:150px;">LAST ACTION</th>
                <th style="width:150px;">START TIME</th>
                <th style="width:150px;">END TIME</th> -->
                <!-- <th style="width:100px;">ACTION</th> -->
                <th style="width:80px;">S NO.</th>
                <th style="width:120px;">CUSTOMER</th>
                <th style="width:200px;">CUSTOMER CONTACT NAME</th>
                <th style="width:220px;">CUSTOMER CONTACT NUMBER</th>
                <th style="width:150px;">STATE</th>
                <th style="width:150px;">CITY</th>
                <th style="width:180px;">DISPATCH NUMBER</th>
                <th style="width:120px;">ENGINEER</th>
                <th style="width:180px;">DISPATCH STATUS</th>
                <th style="width:200px;">ETA</th>
                <th style="width:200px;">START DATE/TIME</th>
                <th style="width:200px;">END DATE/TIME</th>
                <th style="width:200px;">SERVICE EVENT DATE/TIME</th>
                <th style="width:200px;">ACTION</th>
              </tr>
            </thead>
            <tbody>
              <tr dir-paginate="member in members | filter: searchmember |itemsPerPage:pageSize">
                <!-- <td style="width:80px;">{{member.index}}</td>
                <td style="width:120px;">{{member.customername}}</td>
                <td style="width:120px;">{{member.contactno}}</td>
                <td style="width:120px;">{{member.categoryname}}</td>
                <td style="width:120px;">{{member.subcategoryname}}</td>
                <td style="width:120px;">{{member.statename}}</td>
                <td style="width:120px;">{{member.cityname}}</td>
                <td style="width:120px;">{{member.serno}}</td>
                <td style="width:120px;">{{member.username}}</td>
                <td style="width:120px;">{{member.statusname}}</td>
                <td style="width:150px;">{{member.etatime | date:'dd-MMM-yyyy hh:mm:ss a'}}</td>
                <td style="width:150px;">{{member.lastmodifiedtime | date:'dd-MMM-yyyy hh:mm:ss a'}}</td>
                <td style="width:150px;">{{member.starttime | date:'dd-MMM-yyyy hh:mm:ss a'}}</td>
                <td style="width:150px;">{{member.endtime | date:'dd-MMM-yyyy hh:mm:ss a'}}</td> -->

                <td style="width:80px;">{{member.index}}</td>
                <td style="width:120px;">{{member.customername}}</td>
                <td style="width:120px;">{{member.customercontactname}}</td>
                <td style="width:120px;">{{member.customercontactphno}}</td>
                <td data-ng-init="state = getstate(member.stateId)" style="width:150px;">{{ state.name }}</td>
                <td data-ng-init="city = getcity(member.cityId)" style="width:150px;">{{ city.name }}</td>
                <td style="width:120px;">{{member.dispatchno}}</td>
                <td data-ng-init="engineer = getengineer(member.assignedto)" style="width:150px;">{{engineer.username}}</td>
                <td data-ng-init="status = getstatus(member.statusId)" style="width:100px;">{{status.name}}</td>
                <td style="width:200px;">{{member.etatime | date:'dd-MMM-yyyy hh:mm:ss a'}}</td>
                <td style="width:200px;">{{member.starttime | date:'dd-MMM-yyyy hh:mm:ss a'}}</td>
                <td style="width:200px;">{{member.endtime | date:'dd-MMM-yyyy hh:mm:ss a'}}</td>
                <td style="width:200px;">{{member.lastmodifiedtime | date:'dd-MMM-yyyy hh:mm:ss a'}}</td>
                <td style="width:200px;"><a data-ng-href="">
                  <!--                        <span class="glyphicon glyphicon-pencil" title="Edit" ></span>-->
                                           <img class="iccon" src="images/piclinks/edit.png" title="Edit" style="width: 10%">
                                          </a>&nbsp;&nbsp;</td>
                <!-- <td>
                  <a data-ng-href="/customers/edit/{{customer.id}}" role="button">
                    <img class="iccon" src="images/piclinks/edit.png">
                  </a>
                </td> -->
              </tr>
            </tbody>
          </table>
          <br />

        </div>

      </div>
    </div>

  </div>
</div>
