<style>
    .stylelink {
        background: transparent;
        color: #9d9eb3;
        font-weight: bold;
        text-decoration: none;
        font-size: 14px;
        display: inline-flex;
        flex-flow: row nowrap;
        max-width: 100%;
        padding: 20px 10px;
    }
    
    .stylelink.active {
        color: #4a4d72;
        font-weight: bold;
        text-decoration: none;
        font-size: 14px;
        display: inline-flex;
        flex-flow: row nowrap;
        max-width: 100%;
        padding: 20px 0px;
      /*  border-bottom: 4px solid #ec0b6d; */
    }
    
    .sub_menu {
        display: inline-flex;
        flex-flow: row nowrap;
        max-width: 100%;
        padding: 10px 10px;
        border-bottom: 2px solid transparent;
        color: #333;
    }
    
    .sub_menu.active {
        display: inline-flex;
        flex-flow: row nowrap;
        max-width: 100%;
        padding: 10px 10px;
        color: #000;
        font-weight: bold;
        /*		border-bottom: 2px solid #01adfb;*/
    }
    
    #wrapper {
        display: table;
        table-layout: fixed;
        width: 100%;
        height: auto;
        border-bottom: 4px solid #f4f4f4;
       /* background-color: #fff; */
        margin-top: 12px;
    }
    
    #wrapper div {
        display: table-cell;
        height: auto;
    }
    
    .sell {
        position: relative;
        min-width: 45px;
    }
    
    .sell:after {
        content: url(images/piclinks/down-arrow.png);
        font: 17px "Consolas", monospace;
        color: #333;
        top: 5px;
        margin-left: -22px;
        padding: 0 0 2px;
        position: absolute;
        pointer-events: none;
    }
    
    .sell select {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        display: block;
        width: 55px;
        /*        max-width: 320px;*/
        height: 32px;
        float: left;
        padding: 0px 7px;
        font-size: 14px;
        line-height: 1.75;
        color: #878993;
        border-radius: 4px;
        background-color: #ffffff;
        background-image: none;
        border: 1px solid #d5d7df;
        -ms-word-break: normal;
        word-break: normal;
    }
    
    .top {
        padding-top: 1.8em;
    }
    
    table,
    th,
    td {
        fill: #262d57;
        font-size: 14px;
    }
    
    th {
        background-color: #d5d7df;
        font-weight: normal;
    }
    
    tr {
        background-color: White;
        color: #262d57;
        font-size: 10px;
    }
    
    .nav-tabs-custom>.nav-tabs>li {
        width: 16%;
    }
    
    @media screen and (max-width: 480px) {
        .stylelink {
            font-size: 12px;
            padding: 10px 20px;
        }
        .stylelink.active {
            font-size: 12px;
            padding: 10px 20px;
        }
        .sub_menu {
            font-size: 10px;
        }
        .sub_menu.active {
            font-size: 10px;
        }
    }
</style>

<div style="width:100%;height:auto;">
    <div id="wrapper">
       <!-- <div style="text-align:center;">
            <a class="stylelink" href="/assigntodo"><span style="flex:1;white-space:pre;overflow: hidden;text-overflow: ellipsis;">Assign Task</span></a>
        </div> -->

        <!-- <div style="text-align:center;">
            <a class="stylelink active" href="/assignmember"><span style="flex:1;white-space:pre;overflow: hidden;text-overflow: ellipsis;">Assign Equipment</span></a>
        </div> -->

        <div style="text-align:left;">
            <a class="stylelink active" href="/assignmemberslist-view"><span style="flex:1;white-space:pre;overflow: hidden;text-overflow: ellipsis;font-size: 16px;">Assign Ticket</span></a>
        </div>
    </div>
</div>

<!-- Horizontal Form -->
<div class="box box-info" style="min-height:450px;border-top:none;">
    <!--    <div class="box-header with-border">-->
    <!--		<h3 class="box-title">State</h3>-->
    <!--    </div>-->

    <div class="box-body">
        <!--<div align="left">
            <a data-ng-href="/surveyquestionmlanguage/create" class="btn btn-primary btn-sm " role="button" data-ng-hide="hideCreateButton()">Add New </a>
        </div>-->
        <br/>

        <form role="form">
            <p align="center">All fields in <sup>*</sup> are mandatory</p>
            <br/>
            <br/>

            <div class="row padding">
                <div class="col-sm-6">
                  <div class="form-group">
                    <label class="col-sm-4" for="sales-area">City<sup></sup></label>
                    <div class="col-sm-8">
                      <select ui-select2 id="city" ng-model="city" data-placeholder="Pick a City" style="width:100%">
                        <option value=""></option>
                        <option data-ng-repeat="city in cities" value="{{city.id}}">{{ city.name }}</option>
                      </select>
                    </div>
                  </div>
                </div>
              </div>
              <br/>
            <br/>
            <div class="row padding">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label class="col-sm-4" for="sales-area">Ticket<sup>*</sup></label>
                        <div class="col-sm-8">
                            <select ui-select2 id="equipment" ng-model="equipment" data-placeholder="Pick a Ticket" style="width:100%">
                                <option value=""></option>
                                <option data-ng-repeat="member in members" value="{{member.id}}">{{ member.serno }}</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label class="col-sm-4" for="sales-area">User <sup>*</sup></label>
                        <div class="col-sm-8">
                            <select ui-select2 id="user" ng-model="user" data-placeholder="Pick an User" style="width:100%">
                                <option value=""></option>
                                <option data-ng-repeat="user in users" value="{{user.id}}">{{ user.username|uppercase }}</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <br/>
            <br/>
            <div class="row padding">
                <div class="col-sm-6">
                    <label class="col-sm-4" for="startdate">Start Date | Time<sup>*</sup>
                    </label>
                    <div class="col-sm-7">
                        <td style="width: 100%">
                            <p class="input-group " style="width: 100%">
                                    <!-- <input type="text" id="{{'datepickerstartdate' + $index}}" class="form-control" datepicker-popup="{{format}}" ng-model="startdate" is-open="picker.startdateopened" min="minDate" max="'2015-06-22'" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" close-text="Close" max-date="dtmax"> <span class="input-group-btn"><button type="button" class="btn btn-default nobodr" ng-click="openstartdate($event, $index)"><img src="images/piclinks/calender-copy-3.png" class="calddate"></button> -->
<!--
                                        <input type="text" id="{{'datepickerstartdate' + $index}}" class="form-control" datepicker-popup="{{format}}" data-ng-model="$parent.startdate" is-open="picker.startdateopened" min-date="minDate" max="'2015-06-22'" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" close-text="Close" > <span class="input-group-btn"><button type="button" class="btn btn-default nobodr" ng-click="openstartdate($event, $index)"><img src="images/piclinks/calender-copy-3.png" class="calddate"></button>
                                    </span>
-->
                                <!-- <input id="datepickerstartdate" type="datetime-local" class="form-control" data-ng-model="$parent.startdate" style="border-radius: 4px;">                                 -->
                                <input id="datepickerstartdate" type="datetime-local" onkeydown="return false" class="form-control" min={{mindate}} data-ng-model="$parent.startdate" style="border-radius: 4px;">
                            </p>
                        </td>
                    </div>
                    <div class="col-sm-1">
                        <img src="images/piclinks/Calendar-new.png" style="width:40px;margin-left:-22px;">
                    </div>
                </div>
                <div class="col-sm-6">
                    <label class="col-sm-4" for="enddate">End Date | Time<sup>*</sup>
                    </label>
                    <div class="col-sm-7">
                        <td style="width: 100%">
                            <p class="input-group" style="width: 100%">
                                    <!-- <input type="text" id="{{'datepickerenddate' + $index}}" class="form-control" datepicker-popup="{{format}}" ng-model="enddate" is-open="picker.enddateopened" min="minDate" max="'2015-06-22'" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" close-text="Close" max-date="dtmax"> <span class="input-group-btn"><button type="button" class="btn btn-default nobodr" ng-click="openenddate($event, $index)"><img src="images/piclinks/calender-copy-3.png" class="calddate"></button> -->
<!--
                                        <input type="text" id="{{'datepickerenddate' + $index}}" class="form-control" datepicker-popup="{{format}}" ng-model="$parent.enddate" is-open="picker.enddateopened" min-date="minDate" max="'2015-06-22'" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" close-text="Close" > <span class="input-group-btn"><button type="button" class="btn btn-default nobodr" ng-click="openenddate($event, $index)"><img src="images/piclinks/calender-copy-3.png" class="calddate"></button>
                            </span>
-->
                                <input id="datepickerenddate" type="datetime-local" class="form-control" data-ng-model="$parent.enddate" style="border-radius: 4px;">
                            </p>
                        </td>
                    </div>
                    <div class="col-sm-1">
                        <img src="images/piclinks/Calendar-new.png" style="width:40px;margin-left:-22px;">
                    </div>
                </div>
            </div>
            <br/>
<!--
            <div class="row padding">
                <div class="col-sm-3">
                    <label for="starttime">Start Time<sup>*</sup>
                    </label>
                    <div>
                        <td style="width: 100%">
                            <div class="col-sm-4 col-lg-4">
                                <div class="input-group">
-->
                                        <!-- <timepicker ng-model="startdate" hour-step="hstep"
                                        minute-step="mstep" show-meridian="ismeridian"
                                        style="height: 25px; width:98px"></timepicker> -->
<!--
                                    <timepicker data-ng-model="$parent.startdate" hour-step="hstep"
                                        minute-step="mstep" show-meridian="ismeridian"
                                        style="height: 25px; width:98px"></timepicker>
                                </div>
                            </div>
                        </td>
                    </div>
                </div>
                <div class="col-sm-3">
                    <label for="endtime">End Time<sup>*</sup>
                    </label>
                    <div class="input-group">
                        <timepicker data-ng-model="$parent.enddate" hour-step="hstep"
                            minute-step="mstep" show-meridian="ismeridian"
                            style="height: 25px; width:98px"></timepicker>
                    </div>
                </div>
            </div>
-->
            <br/>
            <br/>
            <br/>
            <br/>
            <div align="right">
                <div>
                    <!-- <a data-ng-href="/todos" class="btn btn-danger btn-sm " role="button" style="padding:5px 20px;margin-right:10px;">Cancel</a> -->
                    <a data-ng-href="/assigntickets-list" class="btn btn-danger btn-sm " role="button" style="padding:5px 20px;margin-right:20px;">Cancel</a>

                    <!-- <button type="button" class="btn btn-info btn-sm " data-ng-click="updateTodo()" ng-if="equipment.length>0&&user.length>0" style="padding:5px 20px;margin-right:10px;">Save</button> -->
                    <button type="button" class="btn btn-info btn-sm " data-ng-click="updateTodo()" ng-if="equipment.length>0&&user.length>0" style="padding:5px 20px;margin-right:30px;">Save</button>
                </div>
            </div>
            <br>
        </form>


        <!-- /.box-body -->
        <div class="box-footer">

        </div>
        <!-- /.box-footer -->
    </div>
    <!-- /.box -->

    <!---  <style>
        .nav-tabs-custom > .nav-tabs > li.active {
            border-top-color: #b71c1c;
        }
    </style>--->

    <modal2 title1="{{modalTitle}}" visible="stakeholderdataModal">
        <p>{{message}}</p>
    </modal2>

    <validationmodal title1="Alert!!!" visible="showValidation">
        {{validatestring1}}
    </validationmodal>

    <langmodal visible="langModel">
        <div class="modal-header" style="color:#ffffff;padding:0px;">
            <!--            <div class="pull-right" style='padding:15px;'></div>-->
            <h4 class="stylelink modal-title" style="color:#262d57;padding-left:26px;">Language </h4>
        </div>
        <div style="width:100%; height:auto; min-height:400px;  border: 1px solid #ffffff;" id="savemodals">
            <br>
            <form role="form">
                <!--                <div class="col-sm-12">-->
                <div class="table-responsive">
                    <table class="table ">
                        <thead>
                            <tr>
                                <th style="width:150px;">S NO.</th>
                                <th style="width:250px;">Language</th>
                                <th style="width:160px;">Question</th>
                                <th style="width:160px;" ng-if="onetoone.questiontype==6 || onetoone.questiontype==2">Values</th>
                            </tr>
                        </thead>
                        <tbody>
                            <!--current-page="currentpage"-->
                            <tr ng-repeat="lang in languages">
                                <td>{{ $index + 1 }}</td>
                                <td>{{ lang.name }}</td>
                                <td style="width:260px;">
                                    <input type="text" class="form-control" id="name" data-ng-model="lang.question" placeholder="Question" style="width:60%;">
                                </td>
                                <td style="width:260px;" ng-if="onetoone.questiontype==6 || onetoone.questiontype==2">
                                    <input type="text" class="form-control" id="name" data-ng-model="lang.answeroptions" placeholder="Values" style="width:60%;">
                                </td>
                            </tr>
                        </tbody>
                    </table>

                </div>
                <!--                </div>-->
                <br>
                <br>
                <div class="form-group">
                    <div align="right">
                        <a data-ng-click="cancleQucikAdd()" data-dismiss="modal" class="btn btn-danger btn-sm " role="button" style="padding:5px 20px;margin-right:10px;">Cancel  </a>

                        <a class="btn btn-info btn-sm " type="submit" role="button" data-ng-click="SaveLang()" style="padding:5px 20px;margin-right:30px;" data-ng-show="isCreateView()">Add  </a>&nbsp;

                        <a class="btn btn-info btn-sm " type="submit" role="button" data-ng-click="SaveLang()" style="padding:5px 20px;margin-right:30px;" data-ng-hide="isCreateView()">Update  </a>&nbsp;
                    </div>
                </div>

            </form>
        </div>

        <style>
            div.scroll {
                width: 100%;
                height: 100px;
                overflow: scroll;
            }
            
            .toggle.android {
                border-radius: 0px;
            }
            
            .toggle.android .toggle-handle {
                border-radius: 0px;
            }
            
            #mapCanvas {
                width: 500px;
                height: 400px;
                float: left;
            }
            
            #infoPanel {
                margin-left: 100px;
            }
            
            #infoPanel div {
                margin-bottom: 5px;
            }
        </style>

    </langmodal>