<style>
    .stylelink {
        background: transparent;
        color: #fff;
        font-weight: bold;
        text-decoration: none;
        font-size: 14px;
        display: inline-flex;
        flex-flow: row nowrap;
        max-width: 100%;
        padding: 20px 10px;
    }
    
    .stylelink.active {
        color: #fff;
        font-weight: bold;
        text-decoration: none;
        font-size: 14px;
        font-weight: 600;
        display: inline-flex;
        flex-flow: row nowrap;
        max-width: 100%;
        padding: 20px 10px;
        border-bottom: 4px solid #cc3535;
    }
    
    .tht:hover {
        color: blue;
    }
    
    a {
        color: #333;
    }
    
    .table-striped {
        background-color: #ed7878;
    }
</style>
<!-- Horizontal Form -->
<div class="box box-info" style="min-height:450px;border-top:none;">
    <div class="box-header with-border" style="background:#e85a5a;padding:20px 10px;">
        <h3 class="box-title" style="color:#ffffff;">CO BUDGET</h3> </div>
    <!-- /.box-header -->
    <!-- form start -->
    <div class="box-body">
        <div align="left"> </div>
        <br/>
        <div class="table-responsive">
            <table class="table  table-striped table-bordered" style="height:420px;">
                <tbody>
                    <tr>
                        <th colspan="5" style="text-align:center;">CO BUDGET ENTRY FORM</th>
                    </tr>
                    <tr>
                        <th> SELECT YEAR </th>
                        <th>
                            <select ui-select2 id="year" data-ng-model="cobudget.year" data-placeholder="Select Budget Year" style="width:100%;" ng-change="YearFunction(cobudget.year)">
                                <option value=""></option>           
                                <option ng-repeat="spmbudget in spmbudgetyears" value="{{spmbudget.id}}">{{spmbudget.name}}</option>
                                    </select>
                        </th>
<!--                        <th ng-click="Add_Year()" style="cursor:pointer;">+</th>-->
                    </tr>
                    
                    <tr style="color:#FFFFFF;">
                        <th>BUDGET HEAD</th>
                        <th>AMOUNT</th>
                    </tr>
                    <tr>
                        <td id="test1">
                            <a ng-click="BudgetView()" style="cursor:pointer;">
                                <center style="font-weight:bold;">APRIL</center>
                                <br/><a>EXPENCE AMOUNT &nbsp;&nbsp; {{Total_CO_HumanResource_April}}</a>
                                <br/>BALANCE AMOUNT &nbsp;&nbsp; {{Balance_amount}}</a>
                        </td>
                        <td id="test2">
                            <a ng-click="BudgetView2()" style="cursor:pointer;">
                                <center style="font-weight:bold;">MAY {{}}</center>
                                <br/><a>EXPENCE AMOUNT &nbsp;&nbsp; {{Total_CO_HumanResource_May}}</a>
                                <br/>BALANCE AMOUNT {{Balance_amount}}</a>
                        </td>
                    </tr>
                    <tr>
                        <td id="test3">
                            <a ng-click="BudgetView3()" style="cursor:pointer;">
                                <center style="font-weight:bold;">JUNE</center>
                                 <br/><a>EXPENCE AMOUNT &nbsp;&nbsp; {{Total_CO_HumanResource_June}}</a>
                                <br/>(BALANCE AMOUNT= BUDGET-ACTUALS TOTAL TILL DATE)</a>
                        </td>
                        <td id="test4">
                            <a ng-click="BudgetView4()" style="cursor:pointer;">
                                <center style="font-weight:bold;">JULY</center>
                                 <br/><a>EXPENCE AMOUNT &nbsp;&nbsp; {{Total_CO_HumanResource_July}}</a>
                                <br/>(BALANCE AMOUNT= BUDGET-ACTUALS TOTAL TILL DATE)</a>
                        </td>
                    </tr>
                    <tr>
                        <td id="test5">
                            <a ng-click="BudgetView5()" style="cursor:pointer;">
                                <center style="font-weight:bold;">AUGUST</center>
                                 <br/><a>EXPENCE AMOUNT &nbsp;&nbsp; {{Total_CO_HumanResource_August}}</a>
                                <br/>(BALANCE AMOUNT= BUDGET-ACTUALS TOTAL TILL DATE)</a>
                        </td>
                        <td id="test6">
                            <a ng-click="BudgetView6()" style="cursor:pointer;">
                                <center style="font-weight:bold;">SEPTEMBER</center>
                                 <br/><a>EXPENCE AMOUNT &nbsp;&nbsp; {{Total_CO_HumanResource_September}}</a>
                                <br/>(BALANCE AMOUNT= BUDGET-ACTUALS TOTAL TILL DATE)</a>
                        </td>
                    </tr>
                    <tr>
                        <td id="test7">
                            <a ng-click="BudgetView7()" style="cursor:pointer;">
                                <center style="font-weight:bold;">OCTOBER</center>
                                <br/><a>EXPENCE AMOUNT &nbsp;&nbsp; {{Total_CO_HumanResource_October}}</a>
                                <br/>(BALANCE AMOUNT= BUDGET-ACTUALS TOTAL TILL DATE)</a>
                        </td>
                        <td id="test8">
                            <a ng-click="BudgetView8()" style="cursor:pointer;">
                                <center style="font-weight:bold;">NOVEMBER</center>
                                <br/><a>EXPENCE AMOUNT &nbsp;&nbsp; {{Total_CO_HumanResource_Nov}}</a>
                                <br/>(BALANCE AMOUNT= BUDGET-ACTUALS TOTAL TILL DATE)</a>
                        </td>
                    </tr>
                    <tr>
                        <td id="test9">
                            <a ng-click="BudgetView9()" style="cursor:pointer;">
                                <center style="font-weight:bold;">DECEMBER</center>
                                <br/><a>EXPENCE AMOUNT &nbsp;&nbsp; {{Total_CO_HumanResource_Dec}}</a>
                                <br/>(BALANCE AMOUNT= BUDGET-ACTUALS TOTAL TILL DATE)</a>
                        </td>
                        <td id="test10">
                            <a ng-click="BudgetView10()" style="cursor:pointer;">
                                <center style="font-weight:bold;">JANURARY</center>
                                <br/><a>EXPENCE AMOUNT &nbsp;&nbsp; {{Total_CO_HumanResource_Jan}}</a>
                                <br/>(BALANCE AMOUNT= BUDGET-ACTUALS TOTAL TILL DATE)</a>
                        </td>
                    </tr>
                    <tr>
                        <td id="test11">
                            <a ng-click="BudgetView11()" style="cursor:pointer;">
                                <center style="font-weight:bold;">FEBRUARY</center>
                                <br/><a>EXPENCE AMOUNT &nbsp;&nbsp; {{Total_CO_HumanResource_Feb}}</a>
                                <br/>(BALANCE AMOUNT= BUDGET-ACTUALS TOTAL TILL DATE)</a>
                        </td>
                        <td id="test12">
                            <a ng-click="BudgetView12()" style="cursor:pointer;">
                                <center style="font-weight:bold;">MARCH</center>
                                <br/><a>EXPENCE AMOUNT &nbsp;&nbsp; {{Total_CO_HumanResource_March}}</a>
                                <br/>(BALANCE AMOUNT= BUDGET-ACTUALS TOTAL TILL DATE)</a>
                        </td>
                    </tr>
                    <tr>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <!-- /.box-body -->
    <div class="box-footer"> </div>
    <!-- /.box-footer -->
</div>
<!-- /.box -->
<script type="text/ng-template" id="template/spmbudgetView.html">
    <div class="modal-header" style="background:#e85a5a;padding-bottom:22px;color:#ffffff;">
        <h4 class="modal-title">CO ACTUAL MONTHLY FORM</h4> </div>
    <div class="modal-body">
       <a style="padding-left:40%;color:red;">All Fields are Mandatory</a> 
        <div>
            <div>
                <br>
                <div> <span>
						<table class="table table-bordered table-striped">
							<thead>
                                <tr style="background:none;">
    <th></th>
                                    <th>{{Current_Year}}</th>
                                    <th>{{DisplayMonth}}</th>
                                    <th></th>
    </tr>
								<tr>
								
									<th>BUDGET NAME</th>
									<th>SWASTI</th>
									<th>CO</th>
									<th>TOTAL</th>
								</tr>
							</thead>
							<tbody>
                            <td>
							<div class="row " style="margin:0px;line-height:2.8;">			
							<label for="state"  style="font-weight:600;color:red;">Human Resources</label> </div>	  
                                <br/>
                                <div class="row " style="margin:0px;line-height:2.5;">	
                                    <label for="state"  style="font-weight:600;color:red;">Travel and Communication</label></div>
                                <br/>
                                <div class="row" style="margin:0px;line-height:2.6">	
                                    <label for="state"  style="font-weight:600;color:red;">Generic Activities</label> 	</div>
                                <div class="row"  style="margin:0px;line-height:4">	
                                    <label for="state"  style="font-weight:600;color:red;">Specific Activities</label>   </div>
                                <div class="row"  style="margin:0px;line-height:3.4">	
                                    <label for="state" style="font-weight:600;color:red;">MSM/TG - Activities</label> 	</div>
                                <div class="row"  style="margin:0px;line-height:3.6">	
						    <label for="state"  style="font-weight:600;color:red;">Administrative expenses</label> 	        
                            </div>	
                        <div class="row"  style="margin:0px;line-height:3.6">	
						    <label for="state"  style="font-weight:600;color:red;">Monitoring, Evaluation and Learning (MEAL)</label> 	        
                        </div>
                            </td>
                               
				            <td>
                               
				                <input type="text" class="form-control" id="swastihumanresources" data-ng-model="cobudget.swastihumanresources" placeholder="Human Resources" ng-change="HumanresourceTotal1(cobudget.swastihumanresources);SwastiSum1(cobudget.swastihumanresources)"><br />
                                
                                <input type="text" class="form-control" id="swastitravelandcommunication" data-ng-model="cobudget.swastitravelandcommunication" placeholder="Travel and Communication" ng-change="TravelandCommunication1(cobudget.swastitravelandcommunication);SwastiSum2(cobudget.swastitravelandcommunication);SwastiSum1()"><br />   
                                
                                <input type="text" class="form-control" id="swastigenericactivity" data-ng-model="cobudget.swastigenericactivity" placeholder="Generic Activities" ng-change="Genericactivity1(cobudget.swastigenericactivity);SwastiSum3(cobudget.swastigenericactivity);SwastiSum2();SwastiSum1()"><br />
                                
                                <input type="text" class="form-control" id="swastispecificactivity" data-ng-model="cobudget.swastispecificactivity" placeholder="Specific Activities" ng-change="Specificactivity1(cobudget.swastispecificactivity);SwastiSum4(cobudget.swastispecificactivity);SwastiSum3();SwastiSum2();SwastiSum1()"><br />
                                
                                <input type="text" class="form-control" id="swastimsgtgactivity" data-ng-model="cobudget.swastimsgtgactivity" placeholder="MSM/TG - Activities" ng-change="Msgtgactivity1(cobudget.swastimsgtgactivity);SwastiSum5(cobudget.swastimsgtgactivity);SwastiSum4();SwastiSum3();SwastiSum2();SwastiSum1()"><br />
                                
                                <input type="text" class="form-control" id="swastiadministrativeexpense" data-ng-model="cobudget.swastiadministrativeexpense" placeholder="Administrative Expenses" ng-change="Administrativeexpense1(cobudget.swastiadministrativeexpense);SwastiSum6(cobudget.swastiadministrativeexpense);SwastiSum5();SwastiSum4();SwastiSum3();SwastiSum2();SwastiSum1()"><br />
                                
                                <input type="text" class="form-control" id="swastimonitoringevaluation" data-ng-model="cobudget.swastimonitoringevaluation" placeholder="Monitoring, Evaluation and Learning (MEAL)" ng-change="Monitoringevaluation1(cobudget.swastimonitoringevaluation);SwastiSum7(cobudget.swastimsgtgactivity);SwastiSum6();SwastiSum5();SwastiSum4();SwastiSum3();SwastiSum2();SwastiSum1()"><br />
                    				
                            </td>
				            <td>		
								<input type="text" class="form-control" id="cohumanresources" data-ng-model="cobudget.cohumanresources" placeholder="Human Resources" ng-change="HumanresourceTotal(cobudget.cohumanresources);HumanresourceTotal1();COSum1(cobudget.cohumanresources)"><br />
                                
                                <input type="text" class="form-control" id="cotravelandcommunication" data-ng-model="cobudget.cotravelandcommunication" placeholder="Travel and Communication" ng-change="TravelandCommunication(cobudget.cotravelandcommunication);TravelandCommunication1();COSum2(cobudget.cotravelandcommunication);COSum1()"><br />   
                                
                                <input type="text" class="form-control" id="cogenericactivity" data-ng-model="cobudget.cogenericactivity" placeholder="Generic Activities" ng-change="Genericactivity(cobudget.cogenericactivity);Genericactivity1();COSum3(cobudget.cogenericactivity);COSum2();COSum1()"><br />
                                
                                <input type="text" class="form-control" id="cospecificactivity" data-ng-model="cobudget.cospecificactivity" placeholder="Specific Activities" ng-change="Specificactivity(cobudget.cospecificactivity);Specificactivity1();COSum4(cobudget.cospecificactivity);COSum3();COSum2();COSum1()"><br />
                                
                                <input type="text" class="form-control" id="comsgtgactivity" data-ng-model="cobudget.comsgtgactivity" placeholder="MSM/TG - Activities"    ng-change="Msgtgactivity(cobudget.comsgtgactivity);Msgtgactivity1();COSum4(cobudget.comsgtgactivity);COSum4();COSum3();COSum2();COSum1()"><br />
                                
                                <input type="text" class="form-control" id="coadministrativeexpense" data-ng-model="cobudget.coadministrativeexpense" placeholder="Administrative Expenses" ng-change="Administrativeexpense(cobudget.coadministrativeexpense);Administrativeexpense1();COSum6(cobudget.comsgtgactivity);COSum5();COSum4();COSum3();COSum2();COSum1()"><br />
                                
                                <input type="text" class="form-control" id="comonitoringevaluation" data-ng-model="cobudget.comonitoringevaluation" placeholder="Monitoring, Evaluation and Learning (MEAL)" ng-change="Monitoringevaluation(cobudget.comonitoringevaluation);Monitoringevaluation1();COSum7(cobudget.comsgtgactivity);COSum6();COSum5();COSum4();COSum3();COSum2();COSum1()"><br />
                            </td>
                                   
                            <td>
                         <input type="text" class="form-control" id="name" data-ng-model="cobudget.humanresources" placeholder="Human Resources" disabled><br />{{totalhumanresource}}
                                <input type="text" class="form-control" id="name" data-ng-model="cobudget.travelandcommunication" placeholder="Travel and Communication" disabled><br />    
                                <input type="text" class="form-control" id="name" data-ng-model="cobudget.genericactivity" placeholder="Generic Activities"  disabled><br />
                                <input type="text" class="form-control" id="name" data-ng-model="cobudget.specificactivity" placeholder="Specific Activities" disabled><br />
                                <input type="text" class="form-control" id="name" data-ng-model="cobudget.msgtgactivity" placeholder="MSM/TG - Activities" disabled><br />
                                <input type="text" class="form-control" id="name" data-ng-model="cobudget.administrativeexpense" placeholder="Administrative Expenses" disabled><br />
                                <input type="text" class="form-control" id="name" data-ng-model="cobudget.monitoringevaluation" placeholder="Monitoring, Evaluation and Learning (MEAL)" disabled><br />
						
                            </td>
                                <tr>
                                    <th>Total</th>
                                    <th>SWASTI TOTAL: {{Swasti_Total}}</th>
                                    <th>CO TOTAL: {{CO_Total}}</th>
                                   <th>TOTAL SUM: {{Total_Sum}}</th>
                                    </tr>
                                
                          
                       
<!--                        </tr>-->
                        </tbody>
                        </table>
                    <br/>
			<br/>
			<br/>

			<div align="left">
				<div>

					<a class="btn btn-success btn-sm btn-flat" type="submit" role="button" data-ng-click="Save()" ng-disabled="saveDisable">Save </a>

<!--					<a class="btn btn-success btn-sm btn-flat" type="submit" role="button" data-ng-click="Update()" data-ng-hide="isCreateView()">{{update}} </a>-->

					<a class="btn btn-danger btn-sm btn-flat" role="button" data-ng-click="Cancel()">{{cancel}}</a>

				</div>
			</div>
                        </span> </div>
            </div>
        </div>
    </div>
</script>



<modal2 title1="{{modalTitle}}" visible="submitdataModal">
	<p>{{message}}</p>
</modal2>


<script type="text/ng-template" id="template/validation.html">
	<style>
		p {
			white-space: pre;
		}

	</style>
	<div class="modal-header" style="background:#e85a5a;padding-bottom:22px;color:#ffffff;">
		<h4 class="modal-title" style="color:#fff;font-weight:bold;">Alert<a data-ng-click="OkValidation()" data-dismiss="modal" class="btn btn-info btn-flat pull-right" role="button" style="background:#db4242;border-color:#db4242;">OK</a></h4>	
    </div>
	<div class="modal-body">
      {{validatestring1}}
      </div>   
</script>

<script type="text/ng-template" id="template/AddYear.html">
	<style>
		p {
			white-space: pre;
		}

	</style>
	<div class="modal-header" style="background:#e85a5a;padding-bottom:22px;color:#ffffff;">
		<h4 class="modal-title" style="color:#fff;font-weight:bold;">BUDGET YEAR</h4>	
    </div>
	<div class="modal-body">
     <form class="form-horizontal" role="form">
				<p align="center" style="color:red">Field is Mandatory</p>
			<br />
			<div class="row" style="margin:0;padding:0;">
				<div class="col-sm-8">
					<div class="form-group">
						<label for="name" class="col-sm-4" style="font-weight:600;margin-top:7px;color:red;">Budget Year </label>
						<div class="col-sm-8">
							<input type="text" class="form-control" id="name" data-ng-model="spmbudgetyear.name" placeholder="Budget Year" pattern='[A-Za-z\\s]*'>
						</div>

					</div>
				</div>
				<div class="col-sm-4"></div>
			</div>
			<br/>
			<br/>
			<br/>

			<div align="left">
				<div>
					<a class="btn btn-success btn-sm btn-flat" type="submit" role="button" data-ng-click="Budget()" ng-disabled="budgetDisable" style="padding:5px 20px;margin-right:10px;">Create </a>
					<a data-ng-click="OkValidation()" class="btn btn-danger btn-sm btn-flat" role="button" style="padding:5px 20px;">Cancel</a>
				</div>
			</div>
		</form>
      </div>   
</script>