<style>
    /*	.stylelink {
		padding: 3px 10px;
		background: transparent;
		color: #333;
		border-radius: 50px;
		text-decoration: none;
		font-size: 14px;
		display: inline-flex;
		flex-flow: row nowrap;
		max-width: 100%;
	}
	
	.stylelink.active {
		padding: 3px 10px;
		background: #b71c1c;
		color: #fff;
		border-radius: 50px;
		text-decoration: none;
		font-size: 14px;
		font-weight: 600;
		display: inline-flex;
		flex-flow: row nowrap;
		max-width: 100%;
	}*/

    .stylelink {
        /*		padding: 3px 10px;*/
        background: transparent;
        color: #9d9eb3;
        font-weight: bold;
        /*		border-radius: 50px;*/
        text-decoration: none;
        font-size: 14px;
        display: inline-flex;
        flex-flow: row nowrap;
        max-width: 100%;
        padding: 20px 40px;
    }

    .stylelink.active {
        /*		padding: 3px 10px;*/
        /*		background: #b71c1c;*/
        color: #4a4d72;
        font-weight: bold;
        /*		border-radius: 50px;*/
        text-decoration: none;
        font-size: 14px;
        /*		font-weight: 600;*/
        display: inline-flex;
        flex-flow: row nowrap;
        max-width: 100%;
        padding: 20px 40px;
        border-bottom: 4px solid #e72e5a;
    }

    .sub_menu {
        display: inline-flex;
        flex-flow: row nowrap;
        max-width: 100%;
        padding: 10px 10px;
        border-bottom: 2px solid transparent;
        color: #333;
    }

    .sub_menu.active {
        display: inline-flex;
        flex-flow: row nowrap;
        max-width: 100%;
        padding: 10px 10px;
        color: #000;
        font-weight: bold;
        /*		border-bottom: 2px solid #01adfb;*/
    }

    #wrapper {
        display: table;
        table-layout: fixed;
        width: 100%;
        height: auto;
        border-bottom: 1px solid #e6e6e6;
        /*		background-color: #fff;*/
    }

    #wrapper div {
        display: table-cell;
        height: auto;
    }

    /*.main_text {
        width: 100%;
        height: auto;
        position: relative;
        text-align: center;
        color: #333;
        padding: 10px 0;
        display: block;
    }
    .main_text.active {
        color: #000;
        font-weight: 600;
    }
    
    .main_text.active:after {
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        top: 100%;
        margin: 0px auto;
        width: 90px;
        height: 2px;
        background: #01adfb;
    }*/

    @media screen and (max-width: 480px) {
        .stylelink {
            font-size: 12px;
            padding: 10px 20px;
        }
        .stylelink.active {
            font-size: 12px;
            padding: 10px 20px;
        }
        .sub_menu {
            font-size: 10px;
        }
        .sub_menu.active {
            font-size: 10px;
        }
    }

    .inactive {
        color: #dddddd;
        pointer-events: none;
        cursor: default;
    }

</style>


<!-- Horizontal Form -->
<div class="box box-info" style="min-height:450px;border-top:none;">
    <div style=" border-bottom: 1px solid #e6e6e6;">
        <div class="stylelink active box-header with-border " style="padding:20px 10px;">
            <h3 class="box-title" style="font-weight:600;">DEFINE LEVELS</h3>
        </div>
    </div>

    <div class="box-body" style="padding:20px;">
        <div class="row">
            <div class="col-sm-4"></div>
            <div data-ng-hide="hideSearchFilter()" class="col-sm-2" style="text-align:right;padding-right:0px;border-color:#e1e8ee">
                <span>Show</span>
                <select ng-model="pageSize" data-placeholder="Show Entries" ng-change="pageFunction(pageSize)">
						<option value="25">25</option>
						<option value="50">50</option>
						<option value="100">100</option>
					</select>
                <!--					<span>Entries</span>-->
            </div>
            <div data-ng-hide="hideSearchFilter()" class="col-sm-3" style="padding-right:0px;">
                <!--
                    <div class="row" style="margin:0;padding:0;">
                        <div class="col-sm-5"></div>
                        <div class="col-sm-7">
-->
                <form role="form">
                    <div class="input-group">
                        <input type="text" class="form-control  ng-pristine ng-valid" placeholder="Search" style="z-index:0;border-right:none;border-color:#e1e8ee;border-top-left-radius: 4px;border-bottom-left-radius:4px;" data-ng-model="searchCity">
                        <span class="input-group-btn">
                     <button class="btn btn-default" type="button" style="border-top-right-radius:4px;border-bottom-right-radius: 4px;border-color:#e1e8ee;background:none;border-left:none;"><span class="glyphicon glyphicon-search"></span></button>
                        </span>
                    </div>
                </form>
                <!--

                        </div>
                    </div>
-->
            </div>
            <div class="col-sm-3">
                <a data-ng-href="/define-level/create" class="btn btn-primary btn-sm " role="button" data-ng-hide="hideCreateButton(); hideSearchFilter()" style="padding:5px 20px;">Add New </a>&nbsp;&nbsp;&nbsp;
            </div>
            <div class="col-sm-6">

            </div>

        </div>
        <br/>

        <form class="form-horizontal" role="form" data-ng-show="showForm()">
            <toaster-container toaster-options="{'position-class': 'toast-container-custo','time-out': 3000,'body-output-type': 'template'}"></toaster-container>
            <br/>
            <div class="row" style="margin:0;padding:0;" data-ng-show="isCreateView()">
                <div class="col-sm-12">
                    <div class="table-responsive">
                        <table class="table ">
                            <thead>
                                <tr>
                                    <th style="width:150px;">#</th>
                                    <th style="width:250px;">LEVEL</th>
                                    <th style="width:260px;">NAME</th>
                                    <th style="width:160px;">ACTION</th>
                                </tr>
                            </thead>
                            <tbody>
                                <!--current-page="currentpage"-->
                                <tr dir-paginate="level in DisplayDefineLevels| filter:searchCity |itemsPerPage:pageSize" pagination-id="townid" current-page=currentpage>
                                    <td>{{ $index + 1 }}</td>
                                    <td>{{ level.level }}</td>
                                    <td style="width:260px;">
                                        <input type="text" class="form-control" id="name" data-ng-model="level.name" placeholder="Name" style="width:60%;" ng-change="levelChange($index, level.name)">
                                    </td>
                                    <td>
                                        <a data-ng-click="Lang($index, level.name)" href="" title="Language" ng-class="level.disableLang ? '' : 'inactive'"><img src="{{level.langdark}}" style="margin-bottom: 6px;" title="Language" /></a>&nbsp;&nbsp;

                                        <a data-ng-click="Add($index)" ng-if="$last" ng-class="level.disableAdd ? '' : 'inactive'"><span class="glyphicon glyphicon-plus" style="cursor:pointer;" title="Add"></span></a>&nbsp;&nbsp;

                                        <a data-ng-click="Remove($index)" ng-if="$last&&!$first" ng-class="level.disableRemove ? '' : 'inactive'"><span class="glyphicon glyphicon-remove" style="cursor:pointer;" title="Remove"></span></a>&nbsp;
                                    </td>
                                </tr>
                            </tbody>
                        </table>

                    </div>
                </div>
            </div>
            
            <div class="row" style="margin:0;padding:0" data-ng-hide="isCreateView()">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="name" class="col-sm-4" style="font-weight:600;margin-top:7px;color:red;">Level Name </label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" id="name" data-ng-model="leveldefinition.name" placeholder="Level Name" pattern='[A-Za-z\\s]*'>
                        </div>
                        <div class="col-sm-1">
                            <a href="" data-ng-click="EditLang()" href="" title="Language"><img src="images/Ldark.png" style="margin-bottom: 19px;" title="Language" /></a>
                        </div>
                    </div>
                </div>
            </div>
            <br/>
            <br/>
            <br/>

            <div align="left">
                <div>
                    <a class="btn btn-primary btn-sm " type="submit" role="button" data-ng-click="Save()" data-ng-show="isCreateView()" ng-disabled="submitDisable" style="padding:5px 20px;margin-right:10px;">Create </a>

                    <a class="btn btn-success btn-sm " type="submit" role="button" data-ng-click="Update()" data-ng-hide="isCreateView()" ng-disabled="submitDisable" style="padding:5px 20px;margin-right:10px;">Update </a>
                    <a data-ng-href="/define-levels-list" class="btn btn-danger btn-sm " role="button" style="padding:5px 20px;">Cancel</a>
                </div>
            </div>

        </form>

        <div data-ng-hide="hideSearchFilter()">
        </div>
        <br />


        <div data-ng-hide="showForm()">
            <div class="table-responsive">
                <table class="table ">
                    <thead>
                        <tr>
                            <th style="width:50px;">#</th>
                            <th>LEVEL</th>
                            <th>NAME</th>
                            <th style="width:100px;">ACTION</th>
                        </tr>
                    </thead>
                    <tbody>
                        <!--current-page="currentpage"-->
                        <tr dir-paginate="leveldefinition in leveldefinitions| filter:searchCity |itemsPerPage:pageSize" pagination-id="townid" current-page=currentpage>
                            <td>{{ leveldefinition.index }}</td>
                            <td data-ng-init="level = getLevel(leveldefinition.levelid)">{{ level.name }}</td>
                            <td>{{ leveldefinition.name }}</td>
                            <td><a data-ng-href="/define-level/edit/{{leveldefinition.id}}"><span class="glyphicon glyphicon-pencil" ></span></a>&nbsp;&nbsp;
                                <a style="color:#b7b8c8;">|</a>&nbsp;&nbsp;
                                <a confirm-button="Delete(leveldefinition.id)" ng-if="$last" message="Are you sure? you want to delete?"><span class="glyphicon glyphicon-remove" style="cursor:pointer;" title="Bin"></span></a>&nbsp;
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div align="right">
                    <dir-pagination-controls max-size="25" direction-links="true" boundary-links="true" pagination-id="townid" on-page-change="PageChanged(newPageNumber, oldPageNumber)">
                    </dir-pagination-controls>
                </div>
            </div>
        </div>

    </div>
    <!-- /.box-body -->
    <div class="box-footer">

    </div>
    <!-- /.box-footer -->
</div>
<!-- /.box -->


<modal2 title1="{{modalTitle}}" visible="stakeholderdataModal">
    <p>{{message}}</p>
</modal2>

<validationmodal title1="Alert!!!" visible="showValidation">
    {{validatestring1}}
</validationmodal>


<langmodal visible="langModel">
    <div class="modal-header" style="color:#ffffff;padding:0px;">
        <div class="pull-right" style='padding:15px;'></div>
        <h4 class="stylelink active modal-title">Language </h4>
    </div>
    <div style="width:100%; height:auto; min-height:400px;  border: 1px solid #ffffff;padding:5px" id="savemodals">
        <br>
        <form class="form-horizontal" role="form" style="padding-left:2em;">

            <div class="row" style="margin:0px;" ng-repeat="language in languages">
                <div class="form-group">
                    <label for="state" class="col-sm-4" style="font-weight:600;margin-top: 8px;color:red;margin-left:20px;">{{language.name}} </label>
                    <div class="col-sm-5">
                        <input type="text" class="form-control" id="name" data-ng-model="language.lang" placeholder="{{language.name}}" ng-blur="Validname($event, member.name)"> </div>
                </div>
            </div>
            <br>
            <br>
            <div class="form-group">
                <div align="center">
                    <div align="center">
                        <a class="btn btn-primary btn-sm " type="submit" role="button" data-ng-click="SaveLang()" style="padding:5px 20px;" data-ng-show="isCreateView()">Add  </a>&nbsp;
                        
                        <a class="btn btn-primary btn-sm " type="submit" role="button" data-ng-click="UpdateLang()" style="padding:5px 20px;" data-ng-hide="isCreateView()">Update  </a>&nbsp;

                        <a data-ng-click="cancleQucikAdd()" data-dismiss="modal" class="btn btn-danger btn-sm " role="button" style="padding:5px 20px;">Cancel  </a>
                    </div>
                </div>
            </div>

        </form>
    </div>

    <style>
        div.scroll {
            width: 100%;
            height: 100px;
            overflow: scroll;
        }

        .toggle.android {
            border-radius: 0px;
        }

        .toggle.android .toggle-handle {
            border-radius: 0px;
        }

        #mapCanvas {
            width: 500px;
            height: 400px;
            float: left;
        }

        #infoPanel {
            margin-left: 100px;
        }

        #infoPanel div {
            margin-bottom: 5px;
        }

    </style>

</langmodal>
