<style>

    .stylelink {
      background: transparent;
      color: #9d9eb3;
      font-weight: bold;
      text-decoration: none;
      font-size: 14px;
      display: inline-flex;
      flex-flow: row nowrap;
      max-width: 100%;
      padding: 20px 10px;
    }

    .stylelink.active {
      color: #4a4d72;
    font-weight: bold;
    text-decoration: none;
    font-size: 14px;
    display: inline-flex;
    flex-flow: row nowrap;
    max-width: 100%;
    padding: 20px 0px;
    border-bottom: 4px solid #ec0b6d;
    margin-left: 56px;
    }

    .sub_menu {
      display: inline-flex;
      flex-flow: row nowrap;
      max-width: 100%;
      padding: 10px 10px;
      border-bottom: 2px solid transparent;
      color: #333;
    }

    .sub_menu.active {
      display: inline-flex;
      flex-flow: row nowrap;
      max-width: 100%;
      padding: 10px 10px;
      color: #000;
      font-weight: bold;
      /*		border-bottom: 2px solid #01adfb;*/
    }

    #wrapper {
      display: table;
      table-layout: fixed;
      width: 100%;
      height: auto;
      border-bottom: 4px solid #f4f4f4;
      background-color: #fff;
      margin-top: 12px;
    }

    #wrapper div {
      display: table-cell;
      height: auto;
    }

    .sell {
      position: relative;
      min-width: 45px;
    }

    .sell:after {
      content: url(images/piclinks/down-arrow.png);
      font: 17px "Consolas", monospace;
      color: #333;
      top: 5px;
      margin-left: -22px;
      padding: 0 0 2px;
      position: absolute;
      pointer-events: none;
    }

    .sell select {
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      display: block;
      width: 100%;
      /*        max-width: 320px;*/
      height: 32px;
      float: left;
      padding: 0px 7px;
      font-size: 14px;
      line-height: 1.75;
      color: #878993;
      border-radius: 4px;
      background-color: #ffffff;
      background-image: none;
      border: 1px solid #d5d7df;
      -ms-word-break: normal;
      word-break: normal;
    }

    .top {
      padding-top: 1.8em;
    }

    table,
    th,
    td {
      fill: #262d57;
      font-size: 14px;
    }

    th {
      background-color: #d5d7df;
      font-weight: normal;
    }

    tr {
      background-color: White;
      color: #262d57;
      font-size: 10px;
    }

    @media screen and (max-width: 480px) {
      .stylelink {
        font-size: 12px;
        padding: 10px 20px;
      }

      .stylelink.active {
        font-size: 12px;
        /*            padding: 10px 20px;*/
        padding: 10px 0px;
      }

      .sub_menu {
        font-size: 10px;
      }

      .sub_menu.active {
        font-size: 10px;
      }

      .ml {
        padding-left: 0px;
      }

      .ml1 {
        margin-left: -5%;
        margin-bottom: 25px;
      }
    }

    @media screen and (max-width:350px) {
      .ml {
        padding-left: 0px;
      }

      .ml1 {
        margin-left: -7%;
        margin-bottom: 25px;
      }
    }

    @media screen and (max-width:376px) and (min-width:355px) {
      .ml {
        padding-left: 0px;
      }

      .ml1 {
        margin-left: -7%;
        margin-bottom: 25px;
      }
    }

    @media screen and (max-width:1024px) and (min-width:1000px) {
      .ml1 {
        margin-left: -2%;
      }
    }

    .inactive {
      color: #dddddd;
      pointer-events: none;
      cursor: default;
    }

  </style>
  <!-- <div style="width:100%;height:auto;background:#ffffff;">
    <div id="wrapper">
      <div style="text-align:left;">
        <a class="stylelink active" href="/formlevel"><span
            style="flex:1;white-space:pre;overflow: hidden;text-overflow: ellipsis;">Details</span></a>
      </div>

    </div>
  </div> -->
  <div style="width:100%;height:auto;background:#ffffff;">
      <div id="wrapper">
        <div style="text-align:left;">
          <a class="stylelink active" href="/multilanguagelist"><span
              style="flex:1;white-space:pre;overflow: hidden;text-overflow: ellipsis;">MULTILANGUAGE LIST</span></a>
        </div>
        <div style="text-align:left;">
          <a class="stylelink" href="/formleveldetailslist"><span
              style="flex:1;white-space:pre;overflow: hidden;text-overflow: ellipsis;">TICKET LIST</span></a>
        </div>
        <div style="text-align:left;">
          <a class="stylelink" href="/formlevelactivitieslist"><span
              style="flex:1;white-space:pre;overflow: hidden;text-overflow: ellipsis;">ACTIVITIES LIST</span></a>
        </div>
        <div style="text-align:left;">
          <a class="stylelink" href="/formlevellineitemlist"><span
              style="flex:1;white-space:pre;overflow: hidden;text-overflow: ellipsis;">LINE ITEM LIST</span></a>
        </div>
        <div style="text-align:left;">
          <a class="stylelink" href="/formlevelschedulehistorylist"><span
              style="flex:1;white-space:pre;overflow: hidden;text-overflow: ellipsis;">SCHEDULE HISTORY LIST</span></a>
        </div>
    
      </div>
    </div>

  <!-- Horizontal Form -->
  <div class="box box-info" style="min-height:450px;border-top:none;">

    <div class="box-body">
      <br />

      <form role="form">
        <p align="center">All fields in <sup>*</sup> are mandatory</p>
        <br />
        <!-- <br /> -->
        <!-- <div class="row" style="margin:0;padding:0;">
            <div class="col-sm-3"></div>
            <div class="col-sm-6">
                       <label for="title" id="language" class="col-sm-4 fontsize" style=" margin-top:7px;">Language<span style="color:red"> * </span></label>
                       <div class="col-sm-7">
                                <select ui-select2 class="arrow " id="language" data-ng-model="langrcdetail.language" data-placeholder="Pick a Language" style="width:100%;">
                               <option value="" disabled >Pick a Language</option>
                               <option data-ng-repeat="language in languagedefinitions" value="{{language.id}}">{{ language.name }}</option>
                           </select>
                       </div>
                   </div>
       </div> -->
       <!-- <br /> -->
       <br />
        <div class="row padding" align="left">
          <div class="col-sm-3" >
            <label for="name">SER<sup>*</sup></label>
          </div>
          <div class="col-sm-3">
            <input type="text" class="form-control" id="ser" data-ng-model="langrcdetail.serno" placeholder="SER">
          </div>
          <div class="col-sm-3">
            <label for="name">Model Description</label>
          </div>
          <div class="col-sm-3">
            <input type="text" class="form-control" id="modeldescription" data-ng-model="langrcdetail.modeldescription" placeholder="Model Description">
          </div>
        </div>


        <div class="row padding" align="left">
            <div class="col-sm-3" >
              <label for="name">RC Status<sup>*</sup></label>
            </div>
            <div class="col-sm-3">
              <input type="text" class="form-control" id="rcstatus" data-ng-model="langrcdetail.rcstatus" placeholder="RC Status">
            </div>
            <div class="col-sm-3">
              <label for="name">Serial No / Service Tag</label>
            </div>
            <div class="col-sm-3">
              <input type="text" class="form-control" id="slno" data-ng-model="langrcdetail.serialnoservicetag" placeholder="Serial No / Service Tag">
            </div>

          </div>


          <div class="row padding" align="left">
            <div class="col-sm-3" >
              <label for="name">Customer Name<sup>*</sup></label>
            </div>
            <div class="col-sm-3">
              <input type="text" class="form-control" id="customer_name" data-ng-model="langrcdetail.customername" placeholder="Customer Name">
            </div>
            <div class="col-sm-3">
              <label for="name">SLA</label>
            </div>
            <div class="col-sm-3">
              <input type="text" class="form-control" id="sla" data-ng-model="langrcdetail.sla" placeholder="SLA">
            </div>

          </div>


          <div class="row padding" align="left">
            <div class="col-sm-3" >
              <label for="name">Customer Middle Name</label>
            </div>
            <div class="col-sm-3">
              <input type="text" class="form-control" id="customermiddle_name" data-ng-model="langrcdetail.customermiddlename" placeholder="Customer Middle Name">
            </div>
            <div class="col-sm-3">
              <label for="name">State</label>
            </div>
            <div class="col-sm-3">
              <input type="text" class="form-control" id="state" data-ng-model="langrcdetail.state" placeholder="State">
            </div>

          </div>


          <div class="row padding" align="left">
            <div class="col-sm-3" >
              <label for="name">Customer Last Name</label>
            </div>
            <div class="col-sm-3">
              <input type="text" class="form-control" id="customerlast_name" data-ng-model="langrcdetail.customerlastname" placeholder="Customer Last Name">
            </div>
            <div class="col-sm-3">
              <label for="name">Remarks</label>
            </div>
            <div class="col-sm-3">
              <input type="text" class="form-control" id="remarks" data-ng-model="langrcdetail.dellremarks" placeholder="Remarks">
            </div>

          </div>


          <div class="row padding" align="left">
            <div class="col-sm-3" >
              <label for="name">Customer Address</label>
            </div>
            <div class="col-sm-3">
              <textarea rows="2" class="form-control" id="customer_address" data-ng-model="langrcdetail.customeraddress" placeholder="Customer Address"></textarea>
            </div>
            <div class="col-sm-3">
              <label for="name">Summary</label>
            </div>
            <div class="col-sm-3">
              <input type="text" class="form-control" id="summary" data-ng-model="langrcdetail.summary" placeholder="Summary">
            </div>

          </div>
          <div class="row padding" align="left">
            <div class="col-sm-3" >
              <label for="name">City</label>
            </div>
            <div class="col-sm-3">
              <input type="text" class="form-control" id="city" data-ng-model="langrcdetail.city" placeholder="City">
            </div>
            <div class="col-sm-3"></div>
            <div class="col-sm-3"></div>
          </div>

          <div class="row padding" align="left">
            <div class="col-sm-3" >
              <label for="name">Pincode</label>
            </div>
            <div class="col-sm-3">
              <input type="text" class="form-control" id="pincode" data-ng-model="langrcdetail.pincode" placeholder="Pincode">
            </div>
            <div class="col-sm-3">
              <label for="name">Work Location</label>
            </div>
            <div class="col-sm-3">
                <!-- <select ui-select2 id="worklocation" data-ng-model="worklocation" data-placeholder="Please Select" style="width:100%">
                    <option value=""></option>
                    <option value="bangalore">Bangalore</option>
                </select> -->
                <input type="text" class="form-control" data-ng-model="langrcdetail.worklocation" placeholder="Work Location">
            </div>

          </div>


          <div class="row padding" align="left">
            <div class="col-sm-3" >
              <label for="name">Contact No</label>
            </div>
            <div class="col-sm-3">
              <input type="text" class="form-control" id="contactno" data-ng-model="langrcdetail.contactno" placeholder="Contact No">
            </div>
            <div class="col-sm-3">
                <label for="name">ETA Time</label>
            </div>
            <div class="col-sm-3">
                <input type="text" class="form-control" id="etatime" data-ng-model="langrcdetail.etatime" placeholder="ETA Time">
            </div>

          </div>


          <div class="row padding" align="left">
            <div class="col-sm-3" >
              <label for="name">Contact Person Name</label>
            </div>
            <div class="col-sm-3">
              <input type="text" class="form-control" id="contactname" data-ng-model="langrcdetail.contactpersonname" placeholder="Contact Person Name">
            </div>
            <div class="col-sm-3">
              <label for="name">Engineer</label>
            </div>
            <div class="col-sm-3">
            <!-- <select ui-select2 id="engineer" data-ng-model="engineer" data-placeholder="Please Select" style="width:100%">
                <option value=""></option>
                <option value="bangalore">IT Engineer</option>
            </select> -->
            <input type="text" class="form-control" data-ng-model="langrcdetail.engineer" placeholder="Engineer">
            </div>

          </div>


          <div class="row padding" align="left">
            <div class="col-sm-3" >
              <label for="name">Case Description</label>
            </div>
            <div class="col-sm-3">
              <textarea rows="2"  class="form-control" id="casedescription" data-ng-model="langrcdetail.casedescription" placeholder="Case Description"></textarea>
            </div>
            <div class="col-sm-3">
                <label for="name">Appointment Date & Time</label>
            </div>
            <div class="col-sm-3">
                <input type="text" class="form-control" id="apdttm" data-ng-model="langrcdetail.appointmentdatetime" placeholder="Appointment Date & Time">
            </div>

          </div>


          <div class="row padding" align="left">
            <div class="col-sm-3" >
              <label for="name">Customer Reference No</label>
            </div>
            <div class="col-sm-3">
              <input type="text" class="form-control" id="refno" data-ng-model="langrcdetail.customerrefnumber" placeholder="Customer Reference No">
            </div>
            <div class="col-sm-3">
                <label for="name">Call Duration</label>
            </div>
            <div class="col-sm-3">
                <!-- <select ui-select2 id="callduration" data-ng-model="callduration" data-placeholder="Please Select" style="width:100%">
                    <option value=""></option>
                    <option value="bangalore">1 hour</option>
                </select> -->
                <input type="text" class="form-control" data-ng-model="langrcdetail.callduration" placeholder="Call Duration">
            </div>

          </div>


          <div class="row padding" align="left">
            <div class="col-sm-3" >
              <label for="name">Case No</label>
            </div>
            <div class="col-sm-3">
              <input type="text" class="form-control" id="caseno" data-ng-model="langrcdetail.casenumber" placeholder="Case No">
            </div>
            <div class="col-sm-3">
                <label for="name">LOB</label>
            </div>
            <div class="col-sm-3">
                <textarea rows="2" class="form-control" id="lob" data-ng-model="langrcdetail.lob" placeholder="LOB"></textarea>
            </div>

          </div>


          <div class="row padding" align="left">
            <div class="col-sm-3" >
              <label for="name">DLP Name</label>
            </div>
            <div class="col-sm-3">
              <input type="text" class="form-control" id="dlpname" data-ng-model="langrcdetail.dlpname" placeholder="DLP Name">
            </div>
            <div class="col-sm-3">
                <label for="name">HD Contact Name</label>
            </div>
            <div class="col-sm-3">
                <input type="text" class="form-control" id="hdcontactname" data-ng-model="langrcdetail.hdcontactname" placeholder="HD Contact Name">
            </div>

          </div>


          <div class="row padding" align="left">
            <div class="col-sm-3" >
              <label for="name">SER Recived Date</label>
            </div>
            <div class="col-sm-3">
              <input type="text" class="form-control" id="serrecdt" data-ng-model="langrcdetail.serreceivedate" placeholder="SER Recived Date">
            </div>
            <div class="col-sm-3">
                <label for="name">HD Contact No</label>
            </div>
            <div class="col-sm-3">
                <input type="text" class="form-control" id="hdcontactno" data-ng-model="langrcdetail.hdcontactno" placeholder="HD Contact No">
            </div>
          </div>


          <div class="row padding" align="left">
            <div class="col-sm-3" >
              <label for="name">SER Recived Time</label>
            </div>
            <div class="col-sm-3">
              <input type="text" class="form-control" id="serrectime" data-ng-model="langrcdetail.serreceivetime" placeholder="SER Recived Time">
            </div>
            <div class="col-sm-3">
                <label for="name">Order No</label>
            </div>
            <div class="col-sm-3">
                <input type="text" class="form-control" id="orderno" data-ng-model="langrcdetail.orderno" placeholder="Order No">
            </div>

          </div>


          <div class="row padding" align="left">
            <div class="col-sm-3" >
              <label for="name">Model No.</label>
            </div>
            <div class="col-sm-3">
              <input type="text" class="form-control" id="modelno" data-ng-model="langrcdetail.modelno" placeholder="Model No.">
            </div>
            <div class="col-sm-3">
                <label for="name">Display Name</label>
            </div>
            <div class="col-sm-3">
                <input type="text" class="form-control" id="displayname" data-ng-model="langrcdetail.displayname" placeholder="Display Name">
            </div>

          </div>


          <div class="row padding" align="left">
            <div class="col-sm-3" >
              <label for="name">Country Zone</label>
            </div>
            <div class="col-sm-3">
              <input type="text" class="form-control" id="countryzone" data-ng-model="langrcdetail.countryzone" placeholder="Country Zone">
            </div>
            <div class="col-sm-3">
                <label for="name">Part Status at SCM</label>
            </div>
            <div class="col-sm-3">
                <input type="text" class="form-control" id="partstatusscm" data-ng-model="langrcdetail.partstatusatscm" placeholder="Part Status at SCM">
            </div>

          </div>


          <div class="row padding" align="left">
            <div class="col-sm-3" >
              <label for="name">Fax No. of Contact Person</label>
            </div>
            <div class="col-sm-3">
              <input type="text" class="form-control" id="faxno" data-ng-model="langrcdetail.faxnocontactperson" placeholder="Fax No. of Contact Person">
            </div>
            <div class="col-sm-3">
                <label for="name">Part at HCL Intermediate Drop Point</label>
            </div>
            <div class="col-sm-3">
                <input type="text" class="form-control" id="partathcl" data-ng-model="langrcdetail.parthclintermediatedrpoint" placeholder="Part at HCL Intermediate Drop Point">
            </div>

          </div>


          <div class="row padding" align="left">
            <div class="col-sm-3" >
              <label for="name">FSD</label>
            </div>
            <div class="col-sm-3">
              <input type="text" class="form-control" id="fsd" data-ng-model="langrcdetail.fsd" placeholder="FSD">
            </div>
            <div class="col-sm-3">
              <label for="name">Part Status at Customer Place</label>
            </div>
            <div class="col-sm-3">
                <input type="text" class="form-control" id="partstatuscspl" data-ng-model="langrcdetail.partstatuscustomerplace" placeholder="Part Status at Customer Place">
            </div>

          </div>


          <div class="row padding" align="left">
            <div class="col-sm-3" >
              <label for="name">Defer Flag (Customer Request)</label>
            </div>
            <div class="col-sm-3">
              <input type="text" class="form-control" id="deferflag" data-ng-model="langrcdetail.deferflag" placeholder="Defer Flag">
            </div>
            <div class="col-sm-3">
              <label for="name">Defective Part Recieved</label>
            </div>
            <div class="col-sm-3">
              <input type="text" class="form-control" id="defpartrec" data-ng-model="langrcdetail.defectivepartreceived" placeholder="Defective Part Recieved">
            </div>

          </div>

          <div class="row padding" align="left">
            <div class="col-sm-3" >
              <label for="name">Pro_Support</label>
            </div>
            <div class="col-sm-3">
              <input type="text" class="form-control" id="prosupport" data-ng-model="langrcdetail.prosupport" placeholder="Pro_support">
            </div>
            <div class="col-sm-3">
              <label for="name">Alternative Telephone No</label>
            </div>
            <div class="col-sm-3">
              <input type="text" class="form-control" id="alttelphoneno" data-ng-model="langrcdetail.alternativetelephoneno" placeholder="Alternative Telephone No">
            </div>
          </div>


          <div class="row padding" align="left">
            <div class="col-sm-3" >
              <label for="name">Keep Your Hard Drive</label>
            </div>
            <div class="col-sm-3">
              <input type="text" class="form-control" id="kyhd" data-ng-model="langrcdetail.keepyourharddrive" placeholder="Keep Your Hard Drive">
            </div>
            <div class="col-sm-3">
              <label for="name">Customer Email Address</label>
            </div>
            <div class="col-sm-3">
              <input type="text" class="form-control" id="custemail" data-ng-model="langrcdetail.customeremialaddress" placeholder="Customer Email Address">
            </div>
          </div>


          <div class="row padding" align="left">
            <div class="col-sm-3" >
              <label for="name">Accidental Damage</label>
            </div>
            <div class="col-sm-3">
              <input type="text" class="form-control" id="ad" data-ng-model="langrcdetail.accidentaldamage" placeholder="Accidental Damage">
            </div>
            <div class="col-sm-3">
              <label for="name">Alternate Contact Name</label>
            </div>
            <div class="col-sm-3">
              <input type="text" class="form-control" id="altcontactname" data-ng-model="langrcdetail.alternatecontactno" placeholder="Alternate Contact Name">

            </div>
          </div>

          <!-- <div class="row padding" align="left">
            <div class="col-sm-2" >

            </div>
            <div class="col-sm-4">

            </div>
            <div class="col-sm-2">

            </div>
            <div class="col-sm-4">
            </div>
          </div> -->


          <div class="row padding" align="left">
            <div class="col-sm-3">
              <label for="name">Control Code</label>
          </div>
          <div class="col-sm-3">
              <textarea rows="2" type="text" class="form-control" id="controlecode" data-ng-model="langrcdetail.controlcode" placeholder="Control Code"> </textarea>
          </div>
          <div class="col-sm-3">
            <label for="name">Control Code Description</label>
        </div>
        <div class="col-sm-3">
            <textarea rows="2" type="text" class="form-control" id="controlecodedesc" data-ng-model="langrcdetail.controlcodedesc" placeholder="Control Code Description"> </textarea>
        </div>

          </div>

          <div class="row padding" align="left">
            <div class="col-sm-3" >
                <label for="name">Attatch File</label>
            </div>
            <div class="col-sm-3">
                <!-- <input type = "text" class="form-control" placeholder="Attach File" file-model = "myFile"/> -->
                <input type="text" class="form-control" id="attachfile" data-ng-model="langrcdetail.attachfile" placeholder="Attach File">
            </div>
            <div class="col-sm-3" >
              <label for="name">File Description</label>
          </div>
          <div class="col-sm-3">
              <input type="text" class="form-control" id="filename" data-ng-model="langrcdetail.filedescription" placeholder="File Description">
          </div>

          </div>




        <br />

        <br />
        <br />
        <div align="left" style="margin-left: 24px;">
          <div>

            <button type="button" class="btn btn-info btn-sm " data-ng-click="Save()" data-ng-show="isCreateView()"
              style="padding:5px 20px;margin-right:10px;">Create</button>

            <button type="button" class="btn btn-info btn-sm " data-ng-click="Update()" data-ng-hide="isCreateView()"
              style="padding:5px 20px;margin-right:10px;">Update</button>

            <a href="/multilanguagelist" class="btn btn-danger btn-sm " role="button"
              style="padding:5px 20px;margin-right:10px;">Cancel</a>


          </div>
        </div>
        <br>
      </form>


      <modal2 title1="Congrats!!!" visible="stakeholderdataModal">
        
        <strong>{{message}}</strong>
        
      </modal2>
    
    
    <validationmodal title1="Alert!!!" visible="showValidation">
        {{validatestring1}}
    </validationmodal>
    </div>
  </div>
