<style>
    .stylelink {
        background: transparent;
        color: #9d9eb3;
        font-weight: bold;
        text-decoration: none;
        font-size: 14px;
        display: inline-flex;
        flex-flow: row nowrap;
        max-width: 100%;
        padding: 20px 10px;
    }
    
    .stylelink.active {
        color: #4a4d72;
        font-weight: bold;
        text-decoration: none;
        font-size: 14px;
        display: inline-flex;
        flex-flow: row nowrap;
        max-width: 100%;
        padding: 20px 0px;
        border-bottom: 4px solid #ec0b6d;
    }

    .sub_menu {
        display: inline-flex;
        flex-flow: row nowrap;
        max-width: 100%;
        padding: 10px 10px;
        border-bottom: 2px solid transparent;
        color: #333;
    }

    .sub_menu.active {
        display: inline-flex;
        flex-flow: row nowrap;
        max-width: 100%;
        padding: 10px 10px;
        color: #000;
        font-weight: bold;
        border-bottom: 2px solid #01adfb;
    }

       #wrapper {
        display: table;
        table-layout: fixed;
        width: 100%;
        height: auto;
        border-bottom: 4px solid #f4f4f4;
        background-color: #fff;
        margin-top:12px;
    }
    
    #wrapper div {
        display: table-cell;
        height: auto;
    }
    
     .sell {
        position: relative;
        min-width: 45px;
    }
    
    .sell:after {
        content: url(images/piclinks/down-arrow.png) ;
        font: 17px "Consolas", monospace;
        color: #333;
        top: 5px;
        margin-left: -22px;
        padding: 0 0 2px;
        position: absolute;
        pointer-events: none;
    }
    
    .sell select {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        display: block;
        width: 100%;
        /*        max-width: 320px;*/
        height: 32px;
        float: left;
        padding: 0px 7px;
        font-size: 14px;
        line-height: 1.75;
        color: #878993;
        border-radius: 4px;
        background-color: #ffffff;
        background-image: none;
        border: 1px solid #d5d7df;
        -ms-word-break: normal;
        word-break: normal;
    }

    .top{
        padding-top: 1.8em;
    }
    
    table,
th,
td {
    fill: #262d57;
    font-size: 14px;
}
th {
    background-color: #d5d7df;
    font-weight: normal;
}
tr {
    background-color: White;
    color: #262d57;
    font-size: 10px;
}

    /*.main_text {
        width: 100%;
        height: auto;
        position: relative;
        text-align: center;
        color: #333;
        padding: 10px 0;
        display: block;
    }
    .main_text.active {
        color: #000;
        font-weight: 600;
    }
    
    .main_text.active:after {
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        top: 100%;
        margin: 0px auto;
        width: 90px;
        height: 2px;
        background: #01adfb;
    }*/

    /*
    tbody tr td {
        color:#9d9eb3;
        
    }
*/

    thead tr th {
        color: #4a4d72;
    }

     @media screen and (max-width: 480px) {
        .stylelink {
            font-size: 12px;
            padding: 10px 20px;
        }
        .stylelink.active {
            font-size: 12px;
/*            padding: 10px 20px;*/
            padding: 10px 0px;
        }
        .sub_menu {
            font-size: 10px;
        }
        .sub_menu.active {
            font-size: 10px;
        }
        .ml{
            padding-left: 0px;
        }
        .ml1{
            margin-left: -5%;
             margin-bottom: 25px;
        }
     .margin1{
         margin-left: -15px;
         margin-right: -15px;
     }
    }
    
    @media screen and (max-width:350px) {
        .ml{
            padding-left: 0px;
        }
        .ml1{
            margin-left: -7%;
             margin-bottom: 25px;
        }
        
    }
    
    @media screen and (max-width:376px) and (min-width:355px){
        .ml{
            padding-left: 0px;
        }
        .ml1{
            margin-left: -7%;
             margin-bottom: 25px;
        }
    }
     @media screen and (max-width:1024px) and (min-width:1000px){
        .ml1{
            margin-left: -2%; 
        }
         .margin1{
             margin: 0;
         }
    }
    @media screen and(max-width:769px){
        .margin1{
            margin: 0px;
        }
    }

    .inactive {
        color: #dddddd;
        pointer-events: none;
        cursor: default;
    }

</style>

<div style="width:100%;height:auto;background:#ffffff;">
    <div id="wrapper">
        <div style="text-align:center;">
            <a class="stylelink active" href="/uploaduser"><span style="flex:1;white-space:pre;overflow: hidden;text-overflow: ellipsis;">UPLOAD USER</span></a>
        </div>
        
        <div style="text-align:center;">
            <a class="stylelink" href="/uploadequipment"><span style="flex:1;white-space:pre;overflow: hidden;text-overflow: ellipsis;">UPLOAD EQUIPMENT</span></a>
        </div>

    </div>
</div>
<!-- Horizontal Form -->
<div class="box box-info" style="min-height:450px;border-top:none;">
	<div class="box-header with-border">
		<!--        <h3 class="box-title">Scheme</h3>-->
	</div>
	<!-- /.box-header -->
	<!-- form start -->

	<div class="box-body" style="padding:20px;">
		<div align="center">
			<h4>XLS file should be in the following format.</h4>
			<img src="images/xlsusers.png" style="width:100%;height:auto;">
			<br/>
			<br/>
			<a href="/xlssheets/xlsusers.xlsx" target="_blank">Click here to download sample xls file</a><br><br><br>
            <p style="color:red">For the fields marked in Green in the sample XLS file, please find the appropriate values in the Admin configuration backend. For e.g. Role IDs are available under Login as Admin > Roles &amp; Users > Roles > ID is the number before the Name as in "1" for "<strong>1</strong>-Admin".</p><br>
		</div>

		<div>
			<br/>
			<p>
				<input type="file" name="xlfile" id="xlf" /> ... click here to select a file
			</p>
		</div>
		<br/>

		<div class="table-responsive">
			<table class="table table-striped table-hover">
				<thead>
					<tr>
						<th style="width:50px;">#</th>
						<th ng-style="style">FULL NAME</th>
						<th ng-style="style">MOBILE</th>
						<th ng-style="style">EMAIL</th>
						<th ng-style="style">USERNAME</th>
						<th ng-style="style">ROLE</th>
						<th ng-style="style">SSA</th>
					</tr>
				</thead>
				<tbody>
					<tr dir-paginate="prospect in xlsentries |itemsPerPage:5">
						<td>{{ prospect.index+1 }}</td>
						<td>{{ prospect.fullname }}</td>
						<td>{{ prospect.mobile }}</td>
						<td>{{ prospect.email }}</td>
						<td>{{ prospect.username }}</td>
						<td>{{ prospect.roleId }}</td>
						<td>{{ prospect.ssa }}</td>
					</tr>
				</tbody>
			</table>
			<br/>
			<div align="right">
				<dir-pagination-controls max-size="5" direction-links="true" boundary-links="false">
				</dir-pagination-controls>
			</div>
		</div>

		<br/>
		<br/>
		<br/>
		<div align="left">
			<button ng-click="Save()" class="btn btn-success btn-sm btn-flat" ng-hide="hideSubmit" style="padding:5px 20px;margin-right:10px;">Submit</button>
			<button ng-click="Validate()" class="btn btn-success btn-sm btn-flat" ng-hide="hideValidate" ng-disabled="DisableValidate" style="padding:5px 20px;margin-right:10px;">Validate</button>
			<a href="/schemes">
				<button class="btn btn-danger btn-sm btn-flat" style="padding:5px 20px;">Cancel</button>
			</a>
		</div>
		<a download="errorlog.txt" id="downloadlink" style="display: none" align="center">Download Error Text</a>

	</div>
</div>


<modal2 title1="{{modalTitle}}" visible="sitedataModal">
	<p>{{message}}</p>
</modal2>


<modal2 title1="{{ValidationmessageTitle}}" visible="sheetValidation">
	<p>{{Validationmessage}}</p>
</modal2>

<validationmodal title1="Alert!!!" visible="showValidation">
	{{validatestring1}}
</validationmodal>


<validationmodal title1="Alert!!!" visible="xlsValidation">
	{{validatestringxls}}
</validationmodal>
