<style>
  /*
    .stylelink {
        padding: 3px 10px;
        background: transparent;
        color: #333;
        border-radius: 50px;
        text-decoration: none;
        font-size: 14px;
        display: inline-flex;
        flex-flow: row nowrap;
        max-width: 100%;
    }
    
    .stylelink.active {
        padding: 3px 10px;
        background: #b71c1c;
        color: #fff;
        border-radius: 50px;
        text-decoration: none;
        font-size: 14px;
        font-weight: 600;
        display: inline-flex;
        flex-flow: row nowrap;
        max-width: 100%;
    }
    */

  .stylelink {
    background: transparent;
    color: #9d9eb3;
    font-weight: bold;
    text-decoration: none;
    font-size: 14px;
    display: inline-flex;
    flex-flow: row nowrap;
    max-width: 100%;
    padding: 20px 10px;
  }

  .stylelink.active {
    color: #4a4d72;
    font-weight: bold;
    text-decoration: none;
    font-size: 14px;
    display: inline-flex;
    flex-flow: row nowrap;
    max-width: 100%;
    padding: 20px 0px;
    /*        border-bottom: 4px solid #ec0b6d;*/
  }

  .sub_menu {
    display: inline-flex;
    flex-flow: row nowrap;
    max-width: 100%;
    padding: 10px 10px;
    border-bottom: 2px solid transparent;
    color: #333;
  }

  .sub_menu.active {
    display: inline-flex;
    flex-flow: row nowrap;
    max-width: 100%;
    padding: 10px 10px;
    color: #000;
    font-weight: bold;
    border-bottom: 2px solid #01adfb;
  }

  #wrapper {
    display: table;
    table-layout: fixed;
    width: 100%;
    height: auto;
    border-bottom: 4px solid #f4f4f4;
    /*        background-color: #fff;*/
    margin-top: 12px;
  }

  #wrapper div {
    display: table-cell;
    height: auto;
  }

  .sell {
    position: relative;
    min-width: 45px;
  }

  .sell:after {
    content: url(images/piclinks/down-arrow.png);
    font: 17px "Consolas", monospace;
    color: #333;
    top: 5px;
    margin-left: -22px;
    padding: 0 0 2px;
    position: absolute;
    pointer-events: none;
  }

  .sell select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    display: block;
    width: 100%;
    /*        max-width: 320px;*/
    height: 32px;
    float: left;
    padding: 0px 7px;
    font-size: 14px;
    line-height: 1.75;
    color: #878993;
    border-radius: 4px;
    background-color: #ffffff;
    background-image: none;
    border: 1px solid #d5d7df;
    -ms-word-break: normal;
    word-break: normal;
  }

  .top {
    padding-top: 1.8em;
  }

  table,
  th,
  td {
    fill: #262d57;
    font-size: 14px;
  }

  th {
    background-color: #d5d7df;
    font-weight: normal;
  }

  tr {
    background-color: White;
    color: #262d57;
    font-size: 10px;
  }

  /*.main_text {
        width: 100%;
        height: auto;
        position: relative;
        text-align: center;
        color: #333;
        padding: 10px 0;
        display: block;
    }
    .main_text.active {
        color: #000;
        font-weight: 600;
    }
    
    .main_text.active:after {
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        top: 100%;
        margin: 0px auto;
        width: 90px;
        height: 2px;
        background: #01adfb;
    }*/

  .nav-tabs-custom>.nav-tabs>li {
    width: 19%;
  }

  @media screen and (max-width: 480px) {
    .stylelink {
      font-size: 12px;
      padding: 10px 20px;
    }

    .stylelink.active {
      font-size: 12px;
      /*            padding: 10px 20px;*/
      padding: 10px 0px;
    }

    .sub_menu {
      font-size: 10px;
    }

    .sub_menu.active {
      font-size: 10px;
    }

    .ml {
      padding-left: 0px;
    }

    .ml1 {
      margin-left: -5%;
      margin-bottom: 25px;
    }
  }

  @media screen and (max-width:350px) {
    .ml {
      padding-left: 0px;
    }

    .ml1 {
      margin-left: -7%;
      margin-bottom: 25px;
    }
  }

  @media screen and (max-width:376px) and (min-width:355px) {
    .ml {
      padding-left: 0px;
    }

    .ml1 {
      margin-left: -7%;
      margin-bottom: 25px;
    }
  }

  @media screen and (max-width:1024px) and (min-width:1000px) {
    .ml1 {
      margin-left: -2%;
    }
  }

</style>

<div style="width:100%;height:auto;background:#ffffff;">
  <div id="wrapper">
    <!--
        <div style="text-align:center; ">
            <a class="stylelink" href="/facilitymanager"><span style="flex:1;white-space:pre;overflow: hidden;text-overflow: ellipsis;">FACILITY MANAGER/HDF</span></a>
        </div>
        <div style="text-align:center; ">
            <a class="stylelink" href="/otherroles"><span style="flex:1;white-space:pre;overflow: hidden;text-overflow: ellipsis;">OTHER ROLES</span></a>
        </div>
        <div style="text-align:center; ">
            <a class="stylelink" href="/roles"><span style="flex:1;white-space:pre;overflow: hidden;text-overflow: ellipsis;">ROLES</span></a>
        </div>
-->
    <div style="text-align:left; ">
      <a class="stylelink active" href="/users"><span
          style="flex:1;white-space:pre;overflow: hidden;text-overflow: ellipsis;font-size:18px;font-weight:bold;">USERS</span></a>
    </div>
    <!--
<div style="text-align:center; ">
    <a class="stylelink" href="/facilityassign"><span style="flex:1;white-space:pre;overflow: hidden;text-overflow: ellipsis;">FACILITY ASSIGN</span></a>
</div>
-->
  </div>
</div>

<!-- Horizontal Form -->
<div class="box box-info" style="min-height:450px;border-top:none;">
  <!--    <div class="box-header with-border">-->
  <!--        <h3 class="box-title">User List</h3>-->
  <!--    </div>-->
  <!-- /.box-header -->
  <!-- form start -->

  <div class="box-body">
    <br />
    <div class="row padding">
      <div class="col-sm-0 col-md-5"></div>
      <div class="col-sm-12 col-md-7">
        <div class="col-sm-0 col-md-2"></div>
        <div data-ng-hide="hideSearchFilter()" class="col-xs-12 col-sm-2 col-md-1"
          style="text-align:left;padding-left:0px;;padding-right:0px;border-color:#e1e8ee">
          <label>Show</label>
          <div class="sell">
            <select ng-model="pageSize" data-placeholder="Show Entries" ng-change="pageFunction(pageSize)">
              <option value="25">25</option>
              <option value="50">50</option>
              <option value="100">100</option>
            </select>
          </div>
          <!--					<span>Entries</span>-->
        </div>
        <div data-ng-hide="hideSearchFilter()" class="col-xs-12 col-sm-6 col-md-5 top ml" style="padding-right:0px;">
          <!--
            <div class="row" style="margin:0;padding:0;">
						<div class="col-sm-5"></div>
						<div class="col-sm-7">
-->
          <form role="form">
            <div class="input-group">
              <span class="input-group-btn">
                <button class="btn btn-default" type="button"
                  style="border-top-left-radius:4px;border-bottom-left-radius: 4px;background:none;border-right:none;"><span
                    class="glyphicon glyphicon-search"></span></button>
              </span>
              <input type="text" class="form-control ng-pristine ng-valid" placeholder="Search"
                style="z-index:0;border-left:none;border-top-right-radius:4px;border-bottom-right-radius: 4px;"
                ng-model="searchUser">
            </div>
          </form>

          <!--
						</div>
					</div>
-->
        </div>
        <div class="col-xs-12 col-sm-3 col-md-2 top ml1">
          <a data-ng-href="/users/create" class="btn btn-primary btn-sm " role="button"
            data-ng-hide="hideCreateButton(); hideSearchFilter()" style="padding:5px 20px;margin-right:10px;">Add New
          </a>
        </div>
      </div>

    </div>
    <!--        <br/>-->

    <div data-ng-hide="hideSearchFilter()">

      <!--
            <div class="row" style="margin:0;padding:0;">
                <div class="col-sm-6" style="padding-top:5px;">
                    <span>Show</span>
                    <select ng-model="pageSize" data-placeholder="Show Entries" ng-change="pageFunction(pageSize)">
                        <option value="25">25</option>
                        <option value="50">50</option>
                        <option value="100">100</option>
                    </select>
                    <span>Entries</span>
                </div>
                <div class="col-sm-6">
                    <div class="row" style="margin:0;padding:0;">
                        <div class="col-sm-4"></div>
                        <div class="col-sm-8">
                            <form role="form">
                                <div class="input-group">
                                    <input type="text" class="form-control  ng-pristine ng-valid" placeholder="Search" style="z-index:0;border-radius:20px;width:140%;" ng-model="searchUser">

                                </div>
                            </form>

                        </div>
                    </div>
                </div>

            </div>
-->
    </div>
    <br />




    <div data-ng-hide="showForm()" class="table-responsive">
      <!--
<form class="form-horizontal" role="form">
    <div class="row" style="margin:0;padding:0;">
        <div class="col-sm-6">
            <label for="zone" class="col-sm-4" style="font-weight:600; margin-top: 5px;padding-left:0px;">State</label>
            <div class="col-sm-6">
                <select ui-select2 id="country" ng-model="countryId" data-placeholder="Pick a State" style="width: 180px;">
                                <option value=""></option>
                                <option data-ng-repeat="zone  in zones" value="{{zone.id}}">{{ zone.name }}</option>
                            </select>
            </div>
        </div>

        <div class="col-sm-6">
            <label for="salesarea" class="col-sm-4" style="font-weight:600; margin-top: 5px;">Facility</label>
            <div class="col-sm-6">
                <select ui-select2 id="state" ng-model="failityId" data-placeholder="Pick a Facility" style="width: 180px;">
                                <option value=""></option>
                                <option data-ng-repeat="fas  in facilities" value="{{fas.id}}">{{ fas.firstName }}</option>
                            </select>
            </div>
        </div>
    </div>
    <br/>
</form>
-->
      <table class="table table-hover">
        <thead>
          <tr>
            <th style="width: 80px;">S NO.</th>
            <th style="width: 120px;">USER NAME</th>
            <th style="width: 140px;">USER ROLE</th>
            <th style="width: 100px;">LEVEL</th>
            <th style="width: 100px;">CUSTOMER</th>
            <!-- <th>ENTITY</th> -->
            <!-- <th style="width: 100px;">ZONE</th>
            <th style="width: 100px;">STATE</th>
            <th style="width: 100px;">CITY</th>
            <th style="width: 100px;">PINCODE</th> -->
            <th style="width: 100px;">STATE</th>
            <th style="width: 100px;">CITY</th>
            <th style="width: 100px;">PINCODE</th>
            <th style="width: 130px;">ON MOBILE</th>
            <th style="width: 130px;">LANGUAGE</th>

            <th style="width:100px;">ACTION</th>
          </tr>
        </thead>
        <tbody>
          <tr dir-paginate="user in users| filter: searchUser |itemsPerPage:pageSize" pagination-id="fstable"
            current-page=currentpage ng-style="{color:user.backgroundColor}">
            <td>{{user.index}}</td>
            <td>{{user.username}}</td>
            <!-- <td data-ng-init="rolename = getRole(user.roleId)">{{rolename.name}}</td> -->
            <td>{{user.userrole}}</td>
            <!-- <td data-ng-init="level = getLevel(user.level)">{{level.name}}</td> -->
            <td>{{user.level}}</td>
            <!-- <td data-ng-init="customer = getCustomer(user.customerId)">{{customer.name}}</td> -->
            <td>{{user.customer}}</td>
            <td style="width:300px;word-break: break-all;word-wrap: break-word;white-space: normal;">
              <ul>
                <li ng-repeat="zone in user.zoneList">
                  {{zone}}
                </li>
              </ul>
            </td>
            <td style="width:300px;word-break: break-all;word-wrap: break-word;white-space: normal;">
              <ul>
                <li ng-repeat="state in user.stateList">
                  {{state}}
                </li>
              </ul>
            </td>
            <td style="width:300px;word-break: break-all;word-wrap: break-word;white-space: normal;">
              <ul>
                <li ng-repeat="city in user.cityList">
                  {{city}}
                </li>
              </ul>
            </td>
            <!-- <td style="width:70px;word-break: break-all;word-wrap: break-word;white-space: normal;">
              <ul>
                <li ng-repeat="pin in user.pinList">
                  {{pin}}
                </li>
              </ul>
            </td> -->
            <!-- <td>{{user.locationnamestate}}</td> -->
            <!-- <td data-ng-init="location = getLocation(user.location)">{{location.name}}</td> -->
            <!-- <td>{{user.locationname}}</td>
            <td>{{user.locationnamepincode}}</td> -->
            <td>{{user.onmobile}}</td>
            <!-- <td data-ng-init="language = getLanguage(user.language)">{{language.name}}</td> -->
            <td>{{user.language}}</td>

            <td>
              <a ng-if="user.deleteflag!='true'" data-ng-href="/users/{{user.id}}" style="color: black;" role="button">
                <!--                                <span class="glyphicon glyphicon-pencil" title="Edit"></span>-->
                <img class="iccon" src="images/piclinks/edit.png" title="Edit">
              </a>&nbsp;&nbsp;
              <!--                            <a ng-if="user.deleteflag!='true'" style="color:#b7b8c8;">|</a>&nbsp;&nbsp;-->
              <!--                            <a data-ng-href="/users" data-ng-click="updateUsrFlag(user.id)"><span class="glyphicon glyphicon-remove-circle" style="color: red;" title="Bin"></span></a>&nbsp;-->
              <a ng-if="user.deleteflag!='true'" confirm-button="updateUsrFlag(user.id)"
                message="You Need to archive this member..">
                <!--                                <span class="glyphicon glyphicon-remove" style="cursor:pointer;" title="Bin"></span>-->
                <img class="iccon" src="images/piclinks/cross.png" style="cursor:pointer;" title="Bin">
              </a>&nbsp;
              <a ng-if="user.deleteflag=='true'" confirm-button="unArchive(user.id)"
                message="Are you sure, you want to unarchive this member?">
                <span class="glyphicon fa fa-eject" style="cursor:pointer;" title="Bin"></span>

              </a>&nbsp;
            </td>
          </tr>
        </tbody>
      </table>
      <br />
      <div class="padding" align="right">
        <dir-pagination-controls max-size="25" direction-links="true" boundary-links="true" pagination-id="fstable"
          on-page-change="PageChanged(newPageNumber, oldPageNumber)">
        </dir-pagination-controls>
      </div>
    </div>
  </div>
  <br />
  <!-- /.box-body -->
  <div class="box-footer">

  </div>
  <!-- /.box-footer -->
</div>
<!-- /.box -->
